[2020-07-03 22:34] joerexlo commented on #283
any help?

[2020-07-04 21:02] beckern commented on #280
PS: Maybe nice to know, only the Xiaomi roborock appear in HomeKit. It is configured as Accessoires in config.json, all other devices are configured in platforms.

[2020-07-05 06:16] nicoduj commented on #280
Sorry to hear that it is spreading. I don’t have the issue and using a lot of accessories so I can’t figure out what is happening. Could you try downgrading the plugin maybe to the one that was not causing the issue ? Are you all on external accessory mode or bridge mode ? All platform accessories are affected ? Is it an upgrade of harmony or an upgrade of homebridge that made it happen ? Is it ha

[2020-07-05 10:53] beckern commented on #280
I don't use your plugin before, so I can't say it is caused by an upgrade/downgrade.
- Are you all on external accessory mode or bridge mode ? I don´t know.
All platform accessories effected. The homebridge is fresh installed this week.

[2020-07-05 11:47] nicoduj commented on #280
@beckern can you share your config please ?

[2020-07-05 15:10] #278 closed, assigned to nobody

[2020-07-05 15:24] nicoduj commented on #283
Hi,

there is no mute button as far as I know. You can create one through a switch config.
Concerning home button, It is not in IOS remote either.

[2020-07-05 15:24] #283 closed, assigned to nicoduj

[2020-07-05 15:29] nicoduj commented on #284
Maybe it is a case sensitive issues depending on the OS. Or maybe some functions where not found on some macro, then triggering a duplicate.

[2020-07-05 15:29] #284 closed, assigned to nicoduj

[2020-07-05 15:32] nicoduj commented on #279
Need more info to investigate, please check your sequence is only defined Once in hamrony and does not collide with any other device. Closing, feel free to reopen if you can give more info

[2020-07-05 15:32] #279 closed, assigned to nicoduj

[2020-07-05 15:32] #264 closed, assigned to nicoduj

[2020-07-05 15:33] nicoduj commented on #262
@joerexlo : did you publish as external accessories all of your remotes ? IT seems more reliable this way.

[2020-07-05 15:33] #262 closed, assigned to nicoduj

[2020-07-05 15:35] nicoduj commented on #281
Thanks for reporting. It is a socket issues on the underlying lib, can't do much about it. It is however strange since I have no such issue when I do such things, If you go on IP (fixed) config might be more reliable I think.

[2020-07-05 15:35] #281 closed, assigned to nicoduj

[2020-07-05 16:39] nicoduj commented on #280
@all Try latest version, I removed AccessControl on TV accessories to see if it helps, not sur however ...

And for those who have an old IOS Device (IOS 10 or prior) in your home, please try to remove it from homekit (disable homekit on that device through settings) . Since TV Accessory was not available, it seems to mess things up.

[2020-07-05 17:17] joerexlo commented on #283
Hey thanks for the reply. There is a i button. Is there a way to override that as home?

[2020-07-05 17:19] joerexlo commented on #262
Thanks @nicoduj  I tried this and it worked. published as external and then added them manually.

[2020-07-05 18:46] beckern commented on #280
Hello,

sorry, it doesn`t work. I installed the latest version. Still only the accessory XiamoiRoborock is in homekit. Other accessories disappaer.

This is my config.json

{

    "bridge": {

        "name": "Homebridge",

        "username": "CC:22:3D:E3:CE:30",

        "port": 51826,

        "pin": "031-45-154"

    },

    "accessories": [

        {

            "name": "Staubi",

[2020-07-05 19:19] nicoduj commented on #280
@beckern which  version your iOS device are on ? iOS 11 at least ?

[2020-07-05 19:57] beckern commented on #280
Version 13.5.1

[2020-07-05 20:13] nicoduj commented on #280
Ok, but do you have any device in your home on iOS 10 or lower ? I saw on one of your config that you set ios10 mode for a plugin

[2020-07-06 08:14] beckern commented on #280
No, there is no device with ios 10 or lower.

https://github.com/thkl/homebridge-homematic#programs

Von: Nicolas Dujardin [mailto:notifications@github.com]
Gesendet: Sonntag, 5. Juli 2020 22:14
An: nicoduj/homebridge-harmony
Cc: beckern; Mention
Betreff: Re: [nicoduj/homebridge-harmony] [BUG] All Homebridge accessories disappear form Homekit after 30seconds (#280)

Version 13.5.1

Am 05.07.2020 u

[2020-07-06 12:48] beckern commented on #280
Today I have had unistall all plugins and install the harmony plugin first.
With enableing "TV Accessory in homekit" the accessory disappear after 30 seconds. No other plugin was installed.
With disableing "TV Accessory in homekit" and enableing "Switch accessory in homkit" the switches don't disappear.
Now I have installed the other plugins and all accessorys (homematic/harmony/Roborock) no more

[2020-07-06 20:21] joerexlo commented on #283
@nicoduj can the override help?

[2020-07-07 15:56] joerexlo commented on #283
I was able to fix this by override the information icon in the ios TV widget. thanks

[2020-07-08 19:48] nicoduj commented on #282
Seems ok in beta 2 of iOS 14, and integration in shortcut seems possible again

[2020-07-13 13:21] colethorsen opened #285 "Disconnected Harmony causes error on restart"
**Describe the bug**
When the Harmony Hub goes down and loses its network connection, it takes down the entire homebridge setup, as homebridge is unable to start due to an undefined variable.

**To Reproduce**
Disconnect Harmony Hub from network, reboot homebridge.

**Expected behavior**
The application shouldn't take down the entire homebridge boot, if it can't find the Harmony Hub.

**IOS (pleas

[2020-07-20 22:27] SSutherland94 opened #286 "TurnOffActivity for Devices, not just Activities [FEATURE]"
**Is your feature request related to a problem? Please describe.**
So I've been trying to find more and more ways to streamline my Harmony setup with regard to HomeKit/HomeBridge to make it a tad less clunky, and I was finally onto something! Use activities as this plugin was generally intended. So that was going well, until I found out that 2 activities cannot run in tandem. Namely, when I turn o

[2020-07-31 08:45] clintbillton opened #287 "Harmony activities as scènes in Homekit"
Hi guys,
Is there a way the activities on the Harmony Hub can be published to Homekit as scènes?
I'm able to create scènes manually but I'm getting conflicts because I want them to have the same name in Homekit as they are named on the Hub.
Thanks

[2020-07-31 08:51] nicoduj commented on #287
Hi,

I don't think it can be done plugin side but you can always rename inputs in the device and then create scenes I think with the names .

[2020-08-02 19:00] maisun opened #288 "[FEATURE] remoteOverrideCommandsList allow command sequence"
**Is your feature request related to a problem? Please describe.**
I'd like to request the possibility to define a command sequence for remoteOverrideCommandsList
The intention behind it is when switch internet radio channels, I need to press up/down and then select. It would be nice just to click up/down

**Describe the solution you'd like**
Instead of only one command, define a sequence of comma

[2020-08-08 07:08] nicoduj commented on #288
Hi, Noticed, I am putting this in the backlog !

[2020-08-08 07:09] #287 closed, assigned to nobody

[2020-08-08 07:11] nicoduj commented on #286
You have the option in harmony to specifically say that a device should not be turned off for some activities, would it not be what you need ?

[2020-08-08 07:14] nicoduj commented on #280
Hi all, I am curious about this one, Is it still occuring for some of you ? (with Tv accessories) ?

[2020-08-08 09:25] nicoduj commented on #282
Seems ok for me in beta4

[2020-08-08 09:25] #282 closed, assigned to nobody

[2020-08-10 18:01] maisun commented on #288
Thank you!

[2020-08-12 03:11] abb0r opened #289 "[BUG] Main Activity not found"
**Describe the bug**
I set my mainActivity to the activity which starts my Nvidia Shield. But the plugin switches to my "Fernsehen" activity when it starts.

**Expected behavior**
When activating my device with Siri or the Home App it should start my "SHIELD TV" activity and not my "Fernsehen" activity.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**IOS (please co

[2020-08-12 03:34] nicoduj commented on #289
Hi, the nap is probably incorrect . Be careful il is case sensitive. Double check the log that create the input

[2020-08-12 10:59] abb0r commented on #289
Ok, I somehow fixed the problem. I had to change the name of my "SHIELD TV" activity to "Shield TV" and cleaned the cached accessories. But still doesn't know why I didn't work in the first place. The name of the activity and the created input were the same, maybe it had something to do with the name beeing all in uppercase.

[2020-08-12 11:20] nicoduj commented on #289
Yes, like I said you must respect upper / lower cases letters .

[2020-08-13 11:27] beckern commented on #280
It only works with this configuration:

https://github.com/nicoduj/homebridge-harmony/issues/280#issuecomment-640780107

[2020-08-14 10:57] ViGuru opened #290 "npm install throwing EHOSTUNREACH"
**Describe the bug**
I was trying to deploy my project using Dockerfile.When I am running my dockerfile,it is failing while trying to run npm install.
It shows Connect:EHOSTUNREACH with a ip

**To Reproduce**
To reproduce needs to add following commands in Docker file
FROM Node:12.18.2
WORKDIR src/app
COPY package*.json ./
RUN node -v
RUN npm -v
RUN npm install

**Expected behavior**
It should ins

[2020-08-17 15:24] SSutherland94 commented on #286
Not quite. What I'm looking for is more of a visible, and accurate (depending on individual responsibility of course) stateful power toggle for devices, so for example, I can say "Hey Siri, turn off the monitor", or "Hey Siri, turn the AC off" without having to set up a convoluted scene in the Home app, where if you switch up two words, nothing happens, because the power toggles as we know them no

[2020-08-19 20:03] rheid opened #291 "[BUG] Harmony activityCommand not working anymore"
**Describe the bug**
crazy story. since a few days my harmony commands are not executed anymore when i execute them from homkit. the command is displayed briefly but then reset to the command from before.

via the logitech remote control everything runs normal. now the crazy thing: when i hold the logitech remote control in my hand and execute the homebride-harmony actions, they are executed.

i'm

[2020-08-20 14:55] wveilleux commented on #291
Hi, I have the same issue since a few days. I found in my Harmony Hub setup that the XMMP was disabled. Have you check that ? For me, I enabled it but I still can't execute activityCommand using my Home app with my iPhone. The Harmony app is still working perfectly. Very weird. I don't have any log from that plugin, is there a way to enable a debug mode ?

[2020-08-20 15:07] nicoduj commented on #291
Hi, xmpp does not need to be enabled for this plugin. Could you telle me hub firmware revision please ? What does not work : commands through remote control widget or activities switch or tv accessory in home app?
please also share your config and try fix ip mode if you are on auto discover

[2020-08-20 16:01] rheid commented on #291
@nicoduj  thanks for inquiry. I'm glad you've decided to look at this topic.

Could you telle me hub firmware revision please ?
4.15.264

commands through remote control widget or activities switch or tv accessory in home app?

**commands through remote control widget**
work without problems

**activities switch**
not work anymore - only if logitech remote is active

**tv accessory in home app**
n

[2020-08-20 16:26] nicoduj commented on #291
Thanks, have the same hub version. Since you talk about a remote "on", I think you have one with a lcd screen right ? And when you say on, it means screen activated ?

I also see from your config that you don't have any switch, can try publish them and tell me if they work (I think you were talking about inputs on tv accessory) . Concerning tv accessory, does it show the correct input ?
Also, are

[2020-08-20 16:49] rheid commented on #291
@nicoduj
**Thanks, have the same hub version. Since you talk about a remote "on", I think you have one with a lcd screen right ? And when you say on, it means screen activated ?**

I understand that this sounds relatively **crazy** but that's how it is. When the lcd display is on the command runs through. I also see in the display of the remote that this command is now also executed. if off, the c

[2020-08-20 16:54] rheid commented on #291
@nicoduj SUPER !!!!! Okay, thats it... i have never changed this setting but only the remote setting is entered here. i have now set up all devices. now everything is as it always was. So no bugs in your software at all. thanks for the great help.

[2020-08-20 16:54] #291 closed, assigned to nicoduj

[2020-08-20 17:32] nicoduj commented on #291
Nice if it works ! Was not aware of this capacity (I have a very simple remote with no screen)

[2020-08-27 15:27] zelik888 opened #292 "Main hub missing from control center remote"
I have two hubs and both their activities work and can be started/stopped from Home app. The problem is, I can only see one remote in control center, the second one listed in my config. Is there something I should try? I’ve deleted the platform and reinstalled it but same situation.

[2020-08-27 15:32] nicoduj commented on #292
Hi, can you share your config ? Did you had them both as external accessories ? Some network / homebridge configurations seems to have problems for tv accessory discovery through bonjour protocol . Hope next version of homebridge will fix that, not on the plugin side unfortunately

[2020-08-28 02:56] zelik888 commented on #292
Here's the harmony part:
[code]
Looking at doc again, am I not supposed to have both hubname and hubIP?

[2020-08-31 14:46] wratran opened #293 "Hub intermittent not responding"
here is the log:

[8/31/2020, 9:44:06 AM] [harmony hub] (harmony hub)INFO - Loading activities...
[8/31/2020, 9:44:09 AM] [harmony hub] (harmony hub)Error - Error retrieving info from hub : Error: connect EHOSTUNREACH 192.168.86.59:8088-(50)

Its not responding from homekit from time to time

[2020-08-31 19:01] nicoduj commented on #293
Hi, could you share your config ? Seems like a network issue, does your hub light changes to red sometime ? Prefer using static I'm from both your router and plugin config to limit such issues.

[2020-08-31 19:33] wratran commented on #293
"name": "harmony hub",
            "hubIP": "192.168.86.59",
            "hubName": "harmony hub",
            "TVAccessory": false,
            "switchAccessories": true,
            "publishGeneralMuteSwitch": false,
            "publishSwitchActivitiesAsIndividualAccessories": true,
            "otherPlatforms": [
                {
                    "name": "harmony hub 2",

[2020-09-06 23:32] SSutherland94 commented on #293
I've been having this issue all day today. Worked just fine yesterday though
`        {
            "name": "Harmony",
            "hubIP": "192.168.1.10",
            "hubName": "Harmony Hub",
            "cleanCache": false,
            "TVAccessory": false,
            "switchAccessories": true,
            "showTurnOffActivity": "true",
            "publishSwitchActivitiesAsIndividualAccessori

[2020-09-07 04:01] nicoduj commented on #293
Hi, did something update at all ? Like homebridge (or hoobs ?) . Can you check network connectivity with a ping inside the docker / homebridge env ? Can you give me the exact log?

[2020-09-10 20:48] maisun opened #294 "Option devicesToPublishAsAccessoriesSwitch - The plugin doesn't detect PowerOn/PowerOff"
Hi,
I'm trying to map the LED candles as a device to HomeKit. It's been added to Harmony with PowerOn and PowerOff commands working perfectly fine.
I read the description of **devicesToPublishAsAccessoriesSwitch** says:
If you do not specify any specific command, the plugin will add either powerToggle if found in Power command group, or PowerOn and/or PowerOff if there is no powerToggle feature.
B

[2020-09-11 05:03] nicoduj commented on #294
Hi, i think your commands are not in the power control section of the device in harmony (since probably you learned them ?) could you try setting them explicitly ?

[2020-09-11 05:04] nicoduj commented on #290
This issue is not plugin related, from the error I see npm registry is not reachable

[2020-09-11 05:04] #290 closed, assigned to nicoduj

[2020-09-11 05:05] #289 closed, assigned to nicoduj

[2020-09-11 05:06] nicoduj commented on #292
No, specify hub name for autodiscovery or hupip (preferable) if you have fixed ip . Are you wifi device on the same subnet ?

[2020-09-11 05:08] maisun commented on #294
Hi, thanks for replying! You’re right the device is not in harmony database so it learned the commands from the original remote. I just tried to add the command PowerOn to configuration and it works. However I’d like the switch to send PowerOff when it’s tuned off. Is there a way to allow that?

[2020-09-11 05:36] nicoduj commented on #294
You must use 2 switches to do that. Harmony hub does not handle device state, so I can't make a reliable on / off switch. If you have a device with power  On / Off "real" commands (not powerToggle), it will also publish two switch. In other words, device switches are always stateless.

[2020-09-11 05:42] ViGuru commented on #290
Thanks,but when I pinged the registry separately.It is sending and receiving packets and doesn't have any issue of unreachability.
While running npm install only it is failing.

Is there any other way to do node install through Dockerfile in centos?

[2020-09-11 06:20] nicoduj commented on #290
Did you try to ping inside your docker file ?

[2020-09-11 06:22] maisun commented on #294
Hi Nico, would it be possible to trigger PowerOn when the switch is turned on in HomeKit and PowerOff when the switch is turned off in HomeKit? I know it's difficult to sync state but the logic described above doesn't require to keep track of the state (I believe HomeKit will callback if the action is on or off). And for devices with separate poweron/poweroff buttons, it is definitely Ok to send t

[2020-09-11 06:24] zelik888 commented on #292
yes same. The thing is, both hubs can be controlled via Home app. They both can start activities. BUT only the second hub shows up in the remote from control center. This is the part I can't figure out

[2020-09-11 06:29] nicoduj commented on #294
in this case sometimes you would have to power off then power on (if the device is allready off and the switch not in sync).
Will think of this however if this drawback is acceptable, but I fear to hae a lot of issues from users who will sync it should be in sync ...

[2020-09-11 06:44] ViGuru commented on #290
No

[2020-09-11 07:44] maisun commented on #294
Hi Nico,

Thank you for considering it! I agree the best way would be to configure the device in Harmony with PowerOn/Off so that Harmony keeps the state of the device. Do you know if there is a way to add the self-learned commands to the power control section? I have downloaded MyHarmony desktop and there is a setting for the custom device to choose between:
1. I press the same button for on and

[2020-09-11 11:15] nicoduj commented on #294
No, sorry, don't think it is possible. You can post your hub config (in debug mode) if you want me to take a look however, like I said, it will produce 2 buttons so not the behavior you want.

[2020-09-11 11:17] nicoduj commented on #292
Like I said, remote in control center does not use Homekit for discovery but bonjour protocol. You would have to use some wireshark on your network to see if it is correctly advertised at first, but I fear that there are some issues with homebridge on some network on thie part.

You can try by setting publishAllTVAsExternalAccessory at true, and see if it hemps, but you will have to add both remot

[2020-09-11 12:14] zelik888 commented on #292
I understand and will do wireshark soon.

What I wanted to clarify that boggles my mind is if I swap the order of the two hubs via config-ui, the situation reverses, now missing hub shows and the one that used to show becomes missing. Still trying to debug this. I’ve also deleted the plugin and also cleared cache etc

[2020-09-11 12:14] zelik888 commented on #292
I understand and will do wireshark soon.

What I wanted to clarify that boggles my mind is if I swap the order of the two hubs via config-ui, the situation reverses, now missing hub shows and the one that used to show becomes missing. Still trying to debug this. I’ve also deleted the plugin and also cleared cache etc

[2020-09-11 12:44] maisun commented on #294
Hi Nico, ok understood. Strange Logitech doesn't allow custom devices to be powered on/off standard way.
Any chance to include a configuration to allow PowerOn PowerOff commands being sent depending on the state in HomeKit? I know if won't be in sync with Harmony but at least I can toggle on/off multiple times to make them in sync, and for users who only use Harmony it's easier. To make the change

[2020-09-17 07:07] genfersee commented on #282
Hello, just updated from iOS13.7 to iOS14 this morning and I have the issue. Small house icon is displayed for my main Harmony Hub.

[2020-09-17 07:13] nicoduj commented on #282
You have to publish as external accessory, they reverted the changes in final version, nothing I can do about

[2020-09-17 07:16] genfersee commented on #282
Hi Nico,
do you mean as "otherPlatforms"?

 "platforms": [
        {
            "platform": "HarmonyHubWebSocket",
            "name": "Harmony",
            "hubIP": "XXX",
            "TVPlatformMode": true,
            "mainActivity": "Apple TV Salon",
            "switchAccessories": false,
            "devicesToPublishAsAccessoriesSwitch": [
                "Apple TV|PlayPause;Play"

[2020-09-17 07:21] nicoduj commented on #282
Every tv published through a bridge won’t have the correct icon. You must use publishaszxternalacczssories option

[2020-09-17 07:48] genfersee commented on #282
Now working, many thanks Nico!

[2020-09-17 14:13] h0mesmart opened #295 "[BUG]"
**Describe the bug**
Since iOS 14, the icon for the TV is set to a  generic Home icon instead of a TV icon. It looks like that the harmony plugin do not specify the category so HomeKit could not recognise it as TV

**To Reproduce**
Update iOS to version 14

**Expected behavior**
A TV icon for the TV accessory.

**IOS (please complete the following information):**
- Version 14
- Device: iPhone X

*

[2020-09-17 14:38] nicoduj commented on #295
Category is specified (will double check but quite sure) but if it is bridged it does not work . You have to publish as external accessory . During the beta it w s not working , then worked again, and sees to be broken un final ...

[2020-09-17 16:33] h0mesmart commented on #295
Do you mean I have to change my config ? FIY other plugin : https://github.com/homebridge/homebridge/issues/2683#issuecomment-694142561 did have the same issue but they sorted out and now everything is back to normal. May be it's help

[2020-09-17 17:12] nicoduj commented on #295
Like I said my plugin already use the correct way for external accessories . Like they said on the other post, accessories exposed through the bridge does not use the type . You have to publish as external accessory in your config if you want the icon to be set . The behavior has changed one way and another during the beta (see #282 ) so I will wait for 14.1 and decide if I go to default publishin

[2020-09-17 17:30] jplwoodward opened #296 "[FEATURE] General Volume Up and Down Accessories"
The GeneralVolumeControl is buggy.  If you leave the number of commands to send blank, it defaults to -26, not 1 as stated in the plugin.  Furthermore, it is difficult to control how much the volume goes up or down given the slider.  I always turn it up too much and then down too much to compensate.

It would be great to have the option for individual general VolumeUp and VolumeDown accessory swit

[2020-09-17 19:36] h0mesmart commented on #295
gotcha! thank you

[2020-09-17 19:36] #295 closed, assigned to nicoduj

[2020-09-17 21:16] adavison007 opened #297 "IOS 14 Tile image issue"
Hi, since updating to IOS 14, the TV picture on the tile has gone and now shows as a house? the functionality still works though, is this an issue with the code?

![IMG_2524](https://user-images.githubusercontent.com/47482260/93529194-69173b80-f933-11ea-8e5a-717c4ced60e3.jpeg)

[2020-09-18 01:21] iandronowicz commented on #297
Exactly same problem here, one out of three shows up with that house image instead the tv one
![0C0363A3-9F44-4426-979F-77A423A599CE](https://user-images.githubusercontent.com/250746/93544311-21dd7a80-f934-11ea-9b24-999a105f97ff.jpeg)

[2020-09-18 05:25] nicoduj opened #298 "IOS 14 - notice about TV Icon"
Hi all,

Since GM / Final of IOS 14, it seems that **first** TV accessory does not have a TV icon anymore, if it is published through the bridge and **not** as an external accessory.

The beahvior changed during the beta one way and another, so I **won't do anything until 14.1 at least** .

Meanwhile, if you really want the icon, you can publish all TV accessories as external accessories (use corr

[2020-09-18 05:27] nicoduj commented on #297
See #298

[2020-09-18 05:27] #297 closed, assigned to nobody

[2020-09-18 05:33] nicoduj commented on #296
First of all, "**Hello**" ...

Secondly, sharing your config and logs in debug would be a good way to start if you seek any help and see if there is a bug for your config there.

Finall, Adding a switch for up / down would not be really usable since it would involve some delay for the switch to go back off before behing pushed again.

I encourage you to use TV accessory with remote control and phy

[2020-09-18 05:37] nicoduj commented on #294
Hi, can think of it, but just to be sure, can you post your hub config ?  (running homebridge in debug mode) ?

[2020-09-18 07:18] maisun commented on #294
Hi @nicoduj , please see the hub config that contains the section for "LED Candles" below:
      {
        "label": "LED Candles",
        "deviceAddedDate": "/Date(1599764487467+0000)/",
        "ControlPort": 7,
        "contentProfileKey": 71258615,
        "deviceProfileUri": "svcs.myharmony.com/res/device/71258615-P49rBjSd2JaZaotQ3AvALxT7R/BOoCPyHfckqLa+3E0=",
        "manufacturer": "Lights4

[2020-09-18 07:22] maisun commented on #294
The whole config json is also attached below:
[hubconfig.log](https://github.com/nicoduj/homebridge-harmony/files/5243999/hubconfig.log)

[2020-09-18 17:34] adavison007 commented on #297
Thanks, sorted, I had to clear the cache manually to remove the original accessories, but then it worked, thanks.

Adam Davison
adavison@me.com <mailto:adavison@me.com>
01276 63145
07748 761448

On 18 Sep 2020, at 06:27, Nicolas Dujardin <notifications@github.com> wrote:

See #298 <https://github.com/nicoduj/homebridge-harmony/issues/298>
—
You are receiving this because you authored the thread.
R

[2020-09-18 18:23] jplwoodward commented on #296
Hi!  Thanks for your prompt reply.  Oddly, I cannot repeat the -26 behavior, though it happened once in each of my 2 Homebridge instances.  However, both instances were upgraded between the -26 going into the config and my trying to repeat it.  On the subject of the Volume Up/Down accessories, I guess my experience is different that yours.  I created individual accessories for my Receiver:

"AV Re

[2020-09-18 19:29] leoneleone commented on #298
@nicoduj
iOS 14 has a new “Set Top Box” accessory category, which might be useful for the plug-in.

https://appleinsider.com/articles/20/09/16/apple-quietly-adds-new-streaming-device-categories-to-homekit-in-ios-14

[2020-09-18 21:10] roberkane212 opened #299 "Other TVs"
I’m not sure what I am doing wrong, but I can’t get any more then one tv to come up in HomeKit. The main tv I put into the config file. I have publishalltvs ect however none of my other TVs show up here is my config

"name": "28\" Sanyo TV",
            "hubIP": "192.168.1.54",
            "hubName": "Harmony hub",
            "cleanCache": true,
            "publishAllTVAsExternalAccessory": true

[2020-09-19 06:06] henf commented on #299
What is your name of your harmony hub? Have you tried to exchange the "name" of your TV to the name of your hub?

E.g. in the first line my json is:

"name": "Hub WZ"
"hubIP": ...
Etc-

Whereas "Hub WZ" is the exact name of my hub I gave it in my harmony app.

Hope that helps

[2020-09-19 19:40] jplwoodward commented on #296
You code was so very clear that I was to easily add an option for general volume up/down switches.  Here is a link to the 4 files that I changed:

http://thewoodwards.us/WoodwardChanges.zip

Here is a summary of the changes I mde:

harmonyBase.js:
Added getGeneralVolumeSwitchesAccessories, which checks publishGeneralVolumeSwitches in the config
Added code in setSwitchOnCharacteristic that performs

[2020-09-19 23:06] jplwoodward commented on #298
This issue is still there in IOS 14.2 Beta.

[2020-09-19 23:12] homeconnector opened #300 "Harmony offline from Wifi - homebridge crashes"
**Describe the bug**
Harmony was offline, however, the entire homebridge crashed upon start up - see logs

**To Reproduce**
Disconnect Harmony Hub from Wifi

**Expected behavior**
Error handling would have detected this, but allowed the rest of the homebridge to proceed

**Screenshots**
See Logs above

**IOS (please complete the following information):**
IOS 14

**Logs**
[9/19/2020, 4:51:05 PM] Ty

[2020-09-20 06:29] nicoduj commented on #300
Hi, thanks for reporting . Can you share your config please (autodiscovery mode especially)

[2020-09-20 06:33] nicoduj commented on #299
Hi, not sureI understand your issue, but some things first about your config :

Name is not good since there is a «  in the name
You have to choose between hubip and hubname (use ip only if your hub has got a fixed one by your network)
Cleancache must be removed / set to false (only use if you have trouble with cached accessories but won’t have any effect on tv accessory especially if you publish

[2020-09-20 07:09] nicoduj commented on #296
Thank you, will add this in a next release (maybe with some changes !)

[2020-09-20 07:11] nicoduj commented on #293
Closing , feel free to reopen if you have more info

[2020-09-20 07:11] #293 closed, assigned to nicoduj

[2020-09-20 07:12] nicoduj commented on #292
Any news on this especially with homebridge 1.2 and external accessories ?

[2020-09-20 07:13] nicoduj commented on #285
#300 seems to be the same. Closing to have only one issue

[2020-09-20 07:13] #285 closed, assigned to nicoduj

[2020-09-20 10:51] roberkane212 commented on #299
@nicoduj no I have  TV’s through another plugin. These TVs are also added to my harmony hub. I read that others TVs would be exposed by harmony as separate accessory. I was just wondering how this is possible as I have tried to add them, but not working for me

[2020-09-20 11:20] nicoduj commented on #299
My plugin only expose activities as a tv accessory with multiple inputs , not devices (devices can be added as switches manually)

[2020-09-20 11:56] roberkane212 commented on #299
@nicoduj so what I need to do is add the other tv’s in activities in harmony to be able to expose them in HomeKit?

[2020-09-21 04:13] zelik888 commented on #292
My issue has been resolved but not sure of why. I created a new secondary homebridge instance and moved my harmony there but at the same time I also upgraded to IOS14. Thank you for this plugin!

[2020-09-21 04:13] #292 closed, assigned to nobody

[2020-09-21 16:55] jplwoodward commented on #296
Thank you!

[2020-09-21 21:33] homeconnector commented on #300
how do i enable the autodiscovery mode?  what setting? or is there a special harmony file?

i changed the wifi password, so the harmony wasn't connecting.   when restarting up the homebridge - it was crashing.

[2020-09-21 21:37] homeconnector commented on #300
this is the only setting i have for harmony

Config
{
"platform": "HarmonyHubWebSocket",
"name": "Bridge"
},

[2020-09-21 21:44] homeconnector commented on #300
**_Note - i was recently having this issue - after fixing the wifi password on the harmony, but was having stability issues.  **
[9/22/2020, 5:10:41 AM] Error [ERR_SOCKET_DGRAM_NOT_RUNNING]: Not running
    at healthCheck (dgram.js:888:11)
    at Socket.send (dgram.js:613:3)
    at Ping.emit (/usr/local/lib/node_modules/homebridge-harmony/node_modules/harmonyhubjs-discover/lib/ping.js:25:15)
    a

[2020-09-21 23:19] homeconnector commented on #300
Seems to be constantly crashing with IOS 14.2, Homebridge 1.2.3 and homebridge-harmony@1.3.12.   I've removed the HarmonyWebSocket configuration and it is working ok

[2020-09-24 12:46] Nastras opened #301 "Devices view in the eve app"
Hello @nicoduj,

I have displayed my Harmony Hub as a device in the Home app. When I select the device, my Harmony Actions are displayed as subordinate buttons.

When I use the Eve app, the Harmony Hub is not shown as a device but the Actions are shown one by one.

So I wanted to ask you if you have an idea how I can show my Harmony Hub as a device in the Eve app?

Here is my config:
{
"platform":

[2020-09-24 12:49] Nastras commented on #301
Note:

When I select one of the Actions in the eve app, the Harmony Hub is displayed correctly as TV Living Room with all Actions as subordinated switches.

![IMG_5B11DF3D92AD-1](https://user-images.githubusercontent.com/27686185/94147074-1975ca00-fe75-11ea-86b6-ddb3965fb3be.jpeg)

[2020-09-24 15:19] tacoma69 opened #302 "Install error 1.3.12 -"
Hi,

Homebridge v1.2.3 on rpi

Previously working perfectly - upon running  install to update following errors

![D10C6597-FD26-489D-83E3-AFB7467D7BF6](https://user-images.githubusercontent.com/47449832/94163558-e7b63080-fe7f-11ea-9ec5-b7b79f4c7b41.jpeg)

Upon starting homebridge - errors on starting platform

![30C13ECE-5AAC-49F7-ABED-75AA451CF3DE](https://user-images.githubusercontent.com/474498

[2020-09-28 17:21] tacoma69 commented on #302
As I’ve seen a number of people around the web hitting this issue I’ll share the root cause.

Running the npm update via sudo screwed the permissions on the file path. Setting the permissions back to the user under which the nom installs are done and re-running the module install fixed the issue.

[2020-09-28 17:21] #302 closed, assigned to nobody

[2020-09-30 11:26] Christian-CFP opened #303 "Socket Loss/Close"
`[TV] (TV)ERROR (1)- refreshCurrentActivity TimeoutError: Can't open WebSocket within allowed timeout: 10000 ms. - Stack : TimeoutError: Can't open WebSocket within allowed timeout: 10000 ms.
    at PromiseController._handleTimeout (/home/hoobs/.hoobs/node_modules/promise-controller/src/index.js:172:19)
    at Timeout.<anonymous> (/home/hoobs/.hoobs/node_modules/promise-controller/src/index.js:178

[2020-09-30 11:30] Christian-CFP commented on #303
EDIT:
`[TV] (TV)WARNING - refreshCurrentActivity : NO refresh done since too much socket errors - will retry later
30.9.2020, 13:22:53 [TV] (TV)WARNING - refreshCurrentActivity : Resetting counter after network loss, trying to refresh
30.9.2020, 13:23:03 [TV] (TV)ERROR (1)- refreshCurrentActivity TimeoutError: Can't open WebSocket within allowed timeout: 10000 ms. - Stack : TimeoutError: Can't ope

[2020-09-30 22:00] raygan commented on #298
Thanks, glad to have my icon back. If this situation doesn't change it might be nice for this information to be spelled out in the Config UI X settings screen for the plugin.

[2020-10-01 05:49] nicoduj commented on #303
Hello,

can you share your config please ? I see you are on hoobs, there might be some conflicts there also, did you check with hoobs suppor tfirst ?

[2020-10-01 06:04] nicoduj commented on #301
Hi,
Home app can split or group services of an accessory. By default it groups them, so that is why you have this result since you are not publishing your switches as individual accessories.

I have no control on how the eve app is working, It seems that it shows each services separately (except in accessoreis section in settings which seems logic),and not grouped by accessories (which is not the

[2020-10-01 06:04] #301 closed, assigned to nicoduj

[2020-10-01 06:06] nicoduj commented on #300
Hi,

sorry for my late answer.

Can you try with fixed ip ? When you say constantly crash, what do you mean ?

[2020-10-01 06:08] nicoduj commented on #299
Hi,
I am not quite sure tounderstand your setup, but If you have multiple TVs handled by one harmony hub / remote, You indeed have to setup an activity for each TV so that remote switch from one to another (and you can decide what "switch off" behavior you want on the harmony side - pleas erefer to their documentation).

[2020-10-01 06:08] #299 closed, assigned to nicoduj

[2020-10-01 06:11] nicoduj commented on #294
Thnak you, so power on / off function are on 3Home" group in harmony config, that is why it does not work. will think of being less "strict" on the group in a next version.

[2020-10-01 06:16] nicoduj opened #304 "add github Sponsor"
https://github.com/sponsors/nicoduj

[2020-10-01 07:08] Christian-CFP commented on #303
I did, but they have no clue. Here my config.

`{
            "platform": "HarmonyHubWebSocket",
            "plugin_map": {
                "plugin_name": "homebridge-harmony"
            },
            "name": "TV",
            "hubName": "Harmony Hub",
            "hubIP": "192.168.100.221",
            "cleanCache": false,
            "mainActivity": "Fernseher",
            "playPauseBehavior

[2020-10-01 07:17] maisun commented on #294
Hi Nico, thank you very much for looking into it! Look forward to version 1.4!

[2020-10-01 08:19] nicoduj commented on #303
Are you sure your hub is on a fixed IP by your network ?

[2020-10-01 09:22] Christian-CFP commented on #303
Yes.

[2020-10-02 08:40] stavrop opened #305 "[BUG] Failed to install on RPi3+"
Trying to install with
`npm install -g homebridge-harmony`

Getting error:
npm WARN deprecated request@2.88.2: request has been deprecated, see https://github.com/request/request/issues/3142
npm WARN deprecated request-promise@4.2.6: request-promise has been deprecated because it extends the now deprecated request package, see https://github.com/request/request/issues/3142
npm WARN deprecated har-

[2020-10-04 07:49] nicoduj commented on #305
Hi,

Maybe see : https://stackoverflow.com/questions/44633419/no-access-permission-error-with-npm-global-install-on-docker-image and https://github.com/npm/npm/issues/3849.

Maybe try setting npm user to anything else (maybe not root however) :

`npm -g config set user root`

[2020-10-04 09:30] #294 closed, assigned to nicoduj

[2020-10-04 09:30] #296 closed, assigned to nicoduj

[2020-10-04 09:30] #298 closed, assigned to nobody

[2020-10-04 09:30] #300 closed, assigned to nicoduj

[2020-10-04 09:30] #304 closed, assigned to nicoduj

[2020-10-04 10:32] maisun commented on #294
Hi Nico, thank you for the new version 1.4. I can confirm it now detects PowerOn/Off commands:
.[37m[10/4/2020, 9:44:25 AM] .[39m.[36m[Logitech Harmony] .[39m(Logitech Harmony)INFO - Adding Accessory : Logitech Harmony-LED Candles-PowerOff
.[37m[10/4/2020, 9:44:25 AM] .[39m.[36m[Logitech Harmony] .[39m(Logitech Harmony)INFO - Creating Switch Service LED Candles/LED Candles-PowerOff
.[37m[10/4/2020

[2020-10-04 10:34] nicoduj commented on #294
Hi, indeed I agreed only at first for detecting outside of power functions :)

The other request is more complicated and involves potential out of sync issues ... I a m stll thinking of it but please fill another feature request.

[2020-10-04 10:35] maisun commented on #294
Sure thanks! Will create a new feature request.

[2020-10-04 10:52] maisun opened #308 "[FEATURE] devicesToPublishAsAccessoriesSwitch allow single switch to control devices with only PowerOn/PowerOff commands"
**Is your feature request related to a problem? Please describe.**
Currently for devices with only PowerOn/PowerOff commands, the option devicesToPublishAsAccessoriesSwitch will create two separate switches, one for PowerOn and the other for PowerOff. This can break scenes relying on the status of switches. For example a scene used to turn off all lights need to set the PowerOff switch On, but aft

[2020-10-04 18:10] Kohle81 opened #309 "Update doesn‘t insall correctly"
Hi,

I wanted to update this plugin to the latest version abd I retrieved this failure:

pi@raspberrypi:~ $ sudo npm install -g homebridge-harmony

gyp WARN EACCES current user ("nobody") does not have permission to access the dev dir "/root/.cache/node-gyp/12.18.3"
gyp WARN EACCES attempting to reinstall using temporary dev dir "/usr/local/lib/node_modules/homebridge-harmony/node_modules/bufferut

[2020-10-04 18:23] Kohle81 commented on #309
Sorry,
I could myself solve the problem with

sudo npm install -g --unsafe-perm pluginname -g

[2020-10-04 18:23] #309 closed, assigned to nobody

[2020-10-04 19:39] Kohle81 commented on #305
I had the same problem, see here #309

https://github.com/nicoduj/homebridge-harmony/issues/309

[2020-10-05 07:29] stavrop commented on #305
Worked just fine!
Thanks a lot!

[2020-10-05 07:29] #305 closed, assigned to nobody

[2020-10-05 12:41] m4d-maNu opened #310 "[FIX?] Is the TV ICON fix in 1.4.0?"
Hello,
I see the same threads are closed and the last one indicated milestone 1.4.0.

Has the problem now been resolved or were only preparations for fixxen built in with 1.4.0?

[2020-10-07 05:43] tooh opened #311 "[BUG]"
**Describe the bug**
A clear and concise description of what the bug is.
Possibly missing mainActivity option in settings page
**To Reproduce**
Steps to reproduce the behavior

**Expected behavior**
A clear and concise description of what you expected to happen.
Expected entry field for setting mainActivity.

Adding it manually in config works.

**Screenshots**
If applicable, add screenshots to he

[2020-10-08 11:40] Christian-CFP commented on #303
Something new?

[2020-10-08 13:03] nicoduj commented on #303
Hi, like I said I can't reproduce and fear it is hoobs related / or network related . When it happens, what color is the hub ? Does the harmony app works ? Could you try without hoobs ?

[2020-10-08 14:05] Christian-CFP commented on #303
On the Harmony site everything works normal Remote & App. Color green.
Cant try without hoobs. Sry.

[2020-10-08 14:07] Christian-CFP commented on #303
This is what I get:

[TV] (TV)INFO - Loading activities...
8.10.2020, 16:06:16 [TV] (TV)Error - Error retrieving info from hub : network timeout at: http://192.168.100.221:8088/-(470)

It seems that the port 8088 is closed like the log tells me with Socket closed.

[2020-10-08 14:08] Christian-CFP commented on #303
But the hub works just fine

[2020-10-08 14:10] Christian-CFP commented on #303
In this case I have to disconnect the hub from power and reconnect. Than HB gets the activities...

[2020-10-08 14:13] nicoduj commented on #303
If you restart hoobs without restarting the hub ?

[2020-10-08 15:04] Christian-CFP commented on #303
No, I have to disconnect the hub.

[2020-10-09 11:41] Christian-CFP commented on #303
This is what I mentioned:

9.10.2020, 12:58:33 [TV] (TV)WARNING - socket closed
9.10.2020, 12:58:53 [TV] (TV)ERROR (1)- refreshCurrentActivity TimeoutError: Can't open WebSocket within allowed timeout: 10000 ms. - Stack : TimeoutError: Can't open WebSocket within allowed timeout: 10000 ms.
    at PromiseController._handleTimeout (/home/hoobs/.hoobs/node_modules/promise-controller/src/index.js:172:

[2020-10-09 11:48] nicoduj commented on #303
As I said the error is not in the plugin but on the socket lib, can't do anything about it without installing hoobs to debug (which I won't do since Indo not officially support this environment). Moreover it might be related to your config since there is not much report of such a problem....

[2020-10-09 11:51] Christian-CFP commented on #303
Of cause you do not debug :) I will include the hoobs guys in this case. TX a lot! @BobbySlope

[2020-10-09 14:30] BobbySlope commented on #303
Thanks for tagging, this will be solved in the next update of hoobs.

[2020-10-09 15:51] Christian-CFP commented on #303
Awesome, thank you! Cant wait...

[2020-10-09 15:51] #303 closed, assigned to nicoduj

[2020-10-22 23:41] Jbb08 opened #312 "Error retrieving info from hub"
Ever since the last update I seem to be getting this error? I do not think it affects my home app, but odd that it appears, any way to fix it?

[Harmony Hub] (Harmony Hub)Error - Error retrieving info from hub : request to http://10.0.1.3:8088/ failed, reason: connect ENETUNREACH 10.0.1.3:8088 - Local (0.0.0.0:0)-(1)

My config

"platforms": [
        {
            "platform": "HarmonyHubWebSocket

[2020-10-23 14:38] RockerKadi opened #313 "[BUG] - Renaming mute/volumeup/volumedown does not persist even if not linked to tv accessory"
Hi..I brought this issue to your attention yesterday.  Basically I am having an issue with the General mute/volumeup/volumedown switches.  Every time I rename  them  in HomeKit to a custom name,  they always go back to default names when Homebridge restarts.

[2020-10-23 14:49] nicoduj commented on #313
Can you just try with linkVolumeControlToTV set to false please ?
Might be linked to the fact thatif you link them to an external accessory, they are not persisted in cache so renamed each time they are exposed.

[2020-10-24 11:39] RockerKadi commented on #313
Setting  linkVolumeControlToTV To false  stopped the switches from reverting to default names when Homebridge restarts.

But now every time I leave the Home app and come back,the volume switches are shown as being On, and you have to press on them once before they start working properly...is this normal?

[2020-10-27 20:35] MirkoKas opened #314 "[BUG] Accessories get re-added on every Homebridge start"
**Describe the bug**
I have some automations that trigger the General Mute Switch in HomeKit. Today I noticed that this switch gets removed from my automations on ever restart of Homebridge. Therefore my automations show no devices configured in the Home app. The only thing I changed lately was activating the publishAllTVAsExternalAccessory and therefore deleting the cache. After that I deactivate

[2020-10-28 07:35] nicoduj commented on #314
Hi, I think it has the same cause than #313 : those are services of the accessory which is external so not cached. Will try to see if it can ba handled but meanwhile you can unlink them from tvaccessory by setting option linkVolumeControlToTV to false

[2020-10-28 12:10] MirkoKas commented on #314
Thanks for the heads up. For the time being I turned the publishAllTVAsExternalAccessory option off again and I'm working with the bridged devices. Is the icon really the only difference from an user perspective?

Will be happy if you find a way to handle the "not caching"

[2020-10-28 12:22] nicoduj commented on #314
As far as I know, yes. Some users are also reporting better discovery of remote app while in external accessory.

[2020-10-29 15:59] dVIAN13 opened #315 "[Potential Bug with Homebridge Beta 1.3.0] - Don't use activity id as identifier for input source since it only allow UINT32"
Hello,

I am not sure if this can be addressed or not, however, on the latest version of Homebridge beta, I receive the following 'warning' a lot during startup.

`Received warning for the plugin 'homebridge-harmony' from the characteristic 'Active Identifier': characteristic was supplied illegal value: number -1 exceeded minimum of 0.`

Installation Details:
homebridge-harmony(v1.4.0)
home bridge

[2020-11-01 09:00] nicoduj commented on #310
the problem cannot be resolved, but 1.4 defaults to external accessory which is ok : IOS 1.4.0 does not support icons on bridged TV .

[2020-11-01 09:00] #310 closed, assigned to nicoduj

[2020-11-01 09:03] nicoduj commented on #312
Seems to be network related on discoveryhowever, I suggest you remove hubName in your config since you seem to have a fixed IP

[2020-11-01 09:04] nicoduj commented on #280
Can you try with latest version and TV accessory as an external accessory ?

[2020-11-01 11:24] nicoduj commented on #311
Hi, Can you elaborate please ?

![Capture d’écran 2020-11-01 à 12 23 47](https://user-images.githubusercontent.com/19813688/97801444-1a043c00-1c3d-11eb-946e-136352b5b1d1.png)

[2020-11-01 11:26] nicoduj commented on #308
Hi, Like you said the main issue with this kind of behavior is the out of sync possibility. Harmony does not handled device state in API (only activities).
I have multiple request of such a feature, but still considering to do or not because of this sync issue (and potential feedback from users who do not understand)

[2020-11-01 11:47] nicoduj opened #316 "[BUG] when adding an activity in harmony app, external accessory needs to be removed / added again"
**Describe the bug**
when adding an activity in harmony app, external accessory needs to be removed / added again
otherwise, new activity will be seen outside of inputs, as a service.

**To Reproduce**
Add an activity in harmony ap and restart homebridge

**Expected behavior**
should be added to input list without need to remove

**IOS (please complete the following information):**
- Version 14.1

[2020-11-01 12:37] maisun commented on #308
Hi @nicoduj , thank you for your reply! I think IR is not meant for synchronisation anyways, and even with Harmony app sometimes some devices can be out of sync. Can this be implemented as non-default option (maybe with disclaimer) for ones who need it like my use-case?

[2020-11-01 13:10] nicoduj commented on #308
Yes, I am considering it as an option indeed. but need to find some time to do this, and I have other more "urgent" problems to handle (bugs ;p, especially with external accessories )

[2020-11-01 13:36] maisun commented on #308
Sure, thanks for considering it!

[2020-11-01 13:37] maisun commented on #316
I experienced this issue twice in the past but most recently I added an activity "Game" and it works out of box with a restart.

[2020-11-01 14:49] nicoduj commented on #316
Can I ask which version you were on (iOS / plugin) and if you are set as an external accessory or not ?

[2020-11-01 20:08] maisun commented on #316
Hi, please see the info below:
1) iOS: version 14.0.1
2) Plugin: version 1.4.0
3) Yes external always (I have another plugin only supports internal)

As I wrote I have seen this issue twice in the past (I think before I upgraded to iOS 14 but not sure if it's due to that), a few days ago when I added "Game" activity I was surprised it worked out of box by just restarting HB.

[2020-11-01 20:21] nicoduj commented on #316
Thx.
What version of hb are you on please ?

[2020-11-01 21:59] maisun commented on #316
It is version 1.2.3.

[2020-11-10 20:42] Phoenix-DH commented on #314
Hey,

I was just right now experiencing the same behaviour:
I only have general Mute/Volume swirtch enabled.

Each restart will rename the devices back to default in home app.
And in the accessories page of config-ui-x they will be recreated as it seems.
Because when I move them to a different room, they are back in the default room after restart.

If I got it right, I got also this config:
[code]

[2020-11-10 21:03] MirkoKas commented on #314
You only have to set "publishAllTVAsExternalAccessory": false.

Maybe you have to clean the cache once, but besides that this works very well for me.

[2020-11-10 21:31] Phoenix-DH commented on #314
I tried, yes you are right, but I lost the icon.
Better have the icon, because the other things In only would realize when having a look to the webpage.

[2020-11-10 21:46] MirkoKas commented on #314
Yeah, you loose the icon as @nicoduj stated. For me it’s still the better solution as I have automations that silent the the TV when I get a call on my telephone. These automations won’t work when the Mute button resets itself on every restart.

[2020-11-11 11:16] nicoduj commented on #280
@beckern If you can, I would like you to test with 1.4.1 if possible. I had no other reports of this, but I played with some serialization and external accessories, so maybe it will help Please note that as an external accessory you need to add the TV manually from home app.

[2020-11-11 11:19] #313 closed, assigned to nicoduj

[2020-11-11 11:19] #314 closed, assigned to nicoduj

[2020-11-11 11:48] nicoduj commented on #316
to be tested in version > 1.1.6

[2020-11-11 13:39] tooh opened #317 "devicesToPublishAsAccessoriesSwitch not working as expected"
**Describe the bug**

I get two switch buttons. Both default in state Powered Off.

One of them can only power off and the other can only power on.

Both have the same description (the correct name of the device).

State of the switch is not persisted.

**To Reproduce**
Steps to reproduce the behavior
"devicesToPublishAsAccessoriesSwitch": [
                "Harman Kardon AV-ontvanger"

[2020-11-11 13:41] nicoduj commented on #317
Please could you be more explicit and fill in correctly the bug report template ? I d'ont understand what is the problem there

[2020-11-11 14:28] tooh commented on #317
@nicoduj I tried to clarify the description and added screen dump. Hope this helps.
I use your plugin for some time in basic config and I'm now trying some of the advanced features.
I apologize if I'm misunderstanding the feature.

[2020-11-11 14:33] nicoduj commented on #317
Device switches are always stateless, since harmony does not provide device state.  I t will publish a powertoggle or poweron / off switches depending of the device in harmony app.
The fact that you have 2 switches with same name suggest your config is exposing 2 powertoggle, would need your whole harmony setting (launch in debug and retrieve the json) to investigate.

[2020-11-11 15:19] dVIAN13 commented on #315
Thanks @nicoduj . FYI, after update, I still receive the error/warning:

[code]

[2020-11-11 15:35] nicoduj commented on #315
thank you, will have to test with homebridge beta so, since I removed the -1 I was setting explicitely but seems to have other problems.

[2020-11-11 15:41] nicoduj commented on #315
Need to store a map betwwen activityids and input source identifiers as Uint32 (or do some hash magic)

[2020-11-11 15:54] dVIAN13 commented on #315
Thank you for continuing to look into this @nicoduj. Is this something you can/are willing to implement? Noticed it went to closed. Thanks, again!

[2020-11-13 04:04] adrianguanipa opened #318 "The plugin stopped working"
I'm getting this error, already tried uninstalling and installing it again:

`(HarmonyHub)Error - Error retrieving info from hub : request to http://192.168.1.17:8088/ failed, reason: connect ECONNREFUSED 192.168.1.17:8088-(25)`

Also tried restarting my Harmony Hub, but no luck. The hub and remote are working with no issues.

[2020-11-13 06:31] nicoduj commented on #317
Did you manage to check / get your hub config please ?

[2020-11-13 06:35] nicoduj commented on #318
Hi, it is a network error .

Did you change anything (upgrade of homebridge, network ..) ? What platform are you on ? What version of homebridge ? Did you update to big sur if you are on a mac ?
Did you put a fixed IP on your hub ? Is it still the same on the network ?

Please provide some background :) However, like I said, it is a network error : homebridge plugin from its location can't connect

[2020-11-13 07:11] tooh commented on #317
I manually updated the labels of the buttons , so now it is clear what the button does.

The AV device has a PowerOn and PowerOff but not a PowerToggle.

It would help if the plugin can differentiate so that the generated buttons have dfiferent labels.

I understand that Harmony does not provide state.

Buttons are working as labeled.

![afbeelding](https://user-images.githubusercontent.com/429386

[2020-11-13 07:50] nicoduj commented on #317
thank, that was what was expected but there must be a bug there, will check. But at first you had allready renamed them no ?

they did not have Harman Kardon in their name, they should at least take the name of the device ...

[2020-11-13 07:55] tooh commented on #317
I only added Aan and out.

I notice that in the tiles on the home screen Harmon Kardon is in the name and in the Room this is missing.

When I click on the tile to look at the details in both home and room Harman Kardon is missing. Strange.

[2020-11-13 07:57] nicoduj commented on #317
Will try to reproduce, not really sure what happened there.

[2020-11-13 14:38] adrianguanipa commented on #318
Hi @nicoduj ,

Thanks for your reply, I found the problem, the harmony mobile app says the hub's IP address is .17 but that changed to .25, as it is not fixed, found it on my router' list of wifi clients.

All good now, thanks again.

[2020-11-13 14:38] #318 closed, assigned to nobody

[2020-11-14 23:24] MirkoKas commented on #314
So with the new release I wanted to go back to enable publishAllTVAsExternalAccessory to get my TV icon back, but I'm unable to achieve that.
I just switched the publishAllTVAsExternalAccessory to true in my config an then cleared the cache of the plugin and also from homebridge itself. In the log it's also showing my that it created the accessory.

But when I try to add the accessory in the home

[2020-11-15 07:47] nicoduj commented on #314
@MirkoKas since you probably add it before and deleted it in home app, you won't be able to add it again if you don't delete it in homebridge . It is not cached since it is external, but there is a dedicated file in persist folder for each external accessory.

Best way is to use config ui I think to delete it and then restart homebridge, and add it again in home app

![image](https://user-images.g

[2020-11-15 13:42] MirkoKas commented on #314
OMG - thx. It was probably to late yesterday. I was looking for that option but couldn't find it.
No it works as an accessory again (with the right icon) and also my problem with reconfiguring the devices on startup is fixed.
Thx!

[2020-11-24 01:44] carlosgamezvillegas opened #319 "[FEATURE] custom set characteristics in config file"
Hello guys, thank you so much for this plug in, I love it having it in my Home.

I have one request regarding the characteristics set on the plug-in. Could you add “Model”, “Manufacturer” and “Serial Number”  to the settings so we can change them manually? Right now when you try to see the details of the vacuum in HomeKit it says “harmony” for model and a long serial number. I have tried to change

[2020-11-25 11:45] sxc731 commented on #298
In my case (homebridge-harmony v1.4.1 and iOS 14.2), I had to add: `"publishAllTVAsExternalAccessory": true` to my HB `config.json` (this can also be accomplished from the WebUI under "General").  The documentation suggests this defaults to true but it doesn't appear to be the case.  After doing this, I had to re-add the TV accessory to HomeKit and the "TV" icon is back.

[2020-11-25 12:01] nicoduj commented on #298
Hi, It defaults to true for new installs. Existing install which have a cached accessory will still retrieve it from cache . If you remove it from cache, at next start it will publish as an external accessory

[2020-11-28 20:01] carsten19 opened #320 "[BUG] Activtities don't react after some time"
I have connected one Harmony Hub and control it via the Google Home homebridge plugin.
This works without an issue after the start of homebridge. After some time (hours, sometimes days) the activities are triggered according to the plugin (I can see in the homebridge UI that the device is switched on) but the hub doesn't do anything. The activity is not marked as started in the hub remote control

[2020-11-28 23:48] patrickhere opened #321 "[BUG]on fresh install of plugin/manual device addon will not show."
On a fresh install of the plugin, the log tells me to manually add the device. It does not show up and even when using the manual mode it never finds the TV to add.

1. Install the plugin.
2. Attempt to find TV according to log.
3. Unable to find it.

I expected to find the TV on search.

- Version [IOS 14.3 Beta 2]
- Device: [iPhone XR]

 {
            "name": "....",
            "hubIP": "....",

[2020-11-29 08:05] nicoduj commented on #321
Hi, di you try in home app, going to add an accessory (top right), "don't have a code or can't scan it" ? It should show there.
If not, either you are not on the same network, either it was previously added. If so, remove the accessory from homebridge (inside config UI X, the easiest way, in Homebrdige Settings / unpair hub,cameras,tvs,external accessories) and try again.

[2020-11-29 08:07] nicoduj commented on #320
Hi, could you provide some logs ? In debug mode if possible. Your config would be helpfull also to try to help.

[2020-11-29 08:09] nicoduj commented on #319
Hi, could you explain why it would be important ? Currently version is the plugin version, modèle is the name set in your config, and serial is auto generated so that it is unique for each device (since many can be published).

I think such option would confuse and can't see why it would be important ?

[2020-11-29 10:04] carsten19 commented on #320
OK, I have enabled debug mode and will come back when the error happens again.
Here is the config:

`        {
            "platform": "HarmonyHubWebSocket",
            "name": "Wohnzimmer",
            "hubName": "Wohnzimmer",
            "TVAccessory": false,
            "switchAccessories": true
        }`

[2020-11-29 17:06] patrickhere commented on #321
it seems it was messing up due to the accessories still being in the homebridge UI. I removed it and was able to rediscover my TV. thank you!

[2020-11-29 18:01] #321 closed, assigned to nicoduj

[2020-12-01 23:57] carlosgamezvillegas commented on #319
Hello Nicoduj,

Thank you so much for taking the time to answer. I think having this option adds an extra level of polish to the plug-in. As you know, it does not affect the way it runs, it is more for aesthetic purposes. See the image below, I was finally able to do implement the change, for some reason I had to reinstall the plug-in to apply the changes. I modified the config.schema and the Harm

[2020-12-03 19:49] carsten19 commented on #320
I had to wait a few days and then the problem surfaced again. I wanted to switch on the device via Google and nothing happened. I had a look at the log in debug mode and nothing was logged at all. Then I tried to switch the devices via Homebridge UI and it the same story: nothing in the log.
I see a report being send to Google but no reaction whatsoever from the Harmony plugin.
The device config l

[2020-12-03 22:11] nicoduj commented on #320
Hi, don't you have any error in homebridge logs like connection lost ? Did you try with a fixed il instead of network discovery ?

[2020-12-04 19:58] carsten19 commented on #320
I don't know if there was an error when the connection was lost as the log was already rotated due to many debug messages. At least from what I could see for the past hours there was no log entry from harmony at all.
I will try with a fixed IP.
I also noticed that the harmony-websocket dependency has an updated version (1.5.3) which has a timeout fix. Maybe related?

[2020-12-08 04:45] donavanbecker opened #322 "[BUG] 1.4.1 Install Issue"
**Describe the bug**
When installing 1.4.1, I get the following error:
[code]

**To Reproduce**
Try install 1.4.1 from 1.4.0

**Expected behavior**
Update to 1.4.1

**Screenshots**
If applicable, add screenshots to help explain your problem.

**IOS (please complete the following information):**
- Version: 14.0
- Device: iPhone Xr

Installed on Docker for Unraid.

[2020-12-10 03:17] walksonair opened #323 "[BUG] No Volume Controls As Expected"
**Describe the bug**
Volume Controls Do Not Show Up On Accessory Screen nor Do Volume Buttons Work

**To Reproduce**
Added the following to my JSON:

[code]

Added both hubs in Homekit and they show up as expected as TVs with the correct Harmony activities as inputs. No Volume switches show up in the Homekit device screen and pushing physical iPhone volume buttons has no effect.

**Expected behavi

[2020-12-10 06:39] #323 closed, assigned to nicoduj

[2020-12-10 06:39] walksonair commented on #323
They appeared after some time...not exactly as expected but they did show up.

[2020-12-14 12:47] barronhough opened #324 "Help needed...."
Hi Guys

Sorry I am very new to this, and slowly getting there... but need some advice please.

I have installed this plugin and got it to work in a very basic way using HomeBridge.

I have 2x Harmony Hubs that obviously service 2x rooms.. Bedroom and Living room. I have got the TVs to show up and turn on and off in both rooms... But I am struggling to get anymore functionality.. Such as select, n

[2020-12-15 19:50] mwhaley99 opened #325 "Does not see my 3rd hub via Hoobs [BUG]"
{
            "platform": "HarmonyHubWebSocket",
            "plugin_map": {
                "plugin_name": "homebridge-harmony"
            },
            "name": "Harmony LR",
            "hubName": "Harmony LV",
            "otherPlatforms": [
                {
                    "name": "Harmony OFF",
                    "hubName": "Harmony Office",
                    "otherPlatforms": [

[2020-12-15 19:52] nicoduj commented on #325
Should be like this :

{
"platform": "HarmonyHubWebSocket",
"plugin_map": {
"plugin_name": "homebridge-harmony"
},
"name": "Harmony LR",
"hubName": "Harmony LV",
"otherPlatforms": [
{
"name": "Harmony OFF",
"hubName": "Harmony Office",
},
{
"name": "Harmony GB",
"hubName": "Harmony GB"
}
]

[2020-12-15 19:58] mwhaley99 commented on #325
That fixed it, many thanks.

[2020-12-16 03:54] scottsimon1979 opened #326 "[BUG]"
**Describe the bug**
A clear and concise description of what the bug is.
Having an issue with second hub.  I am sure its got something to do with how I am putting in the config file, but I've tried several different ways and still have the same issue.  The issue is that the first hub (The Skylark Living Room) shows up fine just as I want it and works great! The  second hub (Harmony Hub 3) does sho

[2020-12-16 04:00] scottsimon1979 opened #327 "[FEATURE]"
**Is your feature request related to a problem? Please describe.**
Adding a second or third hub

**Describe the solution you'd like**
Was wondering if there was a way to use an "Add Accessory" button in HOOBS or Homebridge UI like some other plugins I've seen, rather than having to add the other platforms manually.  I think it would greatly enhance and simplify that process.

**Describe alternativ

[2020-12-16 15:19] #325 closed, assigned to nicoduj

[2020-12-16 15:20] nicoduj commented on #324
You can only expose commands through switches, or use control center widget in ios . But definitely, it won't replace a full remote :) See Readme, let me know if you want further info.

[2020-12-16 15:24] nicoduj commented on #326
try this :

{
"platform": "HarmonyHubWebSocket",
"plugin_map": {
"plugin_name": "homebridge-harmony"
},
"hubIP": "192.168.1.22",
"name": "Skylark Living Room",
"otherPlatforms": [
{
"name": "Harmony Hub 3",
"hubIP": "192.168.1.14",
"playPauseBehavior": true,
"publishGeneralMuteSwitch": true,
"publishGeneralVolumeSlider": true,
"linkVolumeControlToTV": true
}
],
"cleanCache": false,
"publishAllTVAs

[2020-12-16 15:25] nicoduj commented on #327
TV are external accessories, it is not possible if I correctly understand. But through configUI in homebridge you can add other platforms in the config.

[2020-12-16 15:25] #327 closed, assigned to nobody

[2020-12-16 15:26] nicoduj commented on #322
Hi, sorry can't reproduce. Seems more a npm problem to me, what version of npm are you using ?

[2020-12-16 15:37] scottsimon1979 commented on #326
Thank you so much;  that worked perfectly.   Loving the plugin - thanks again!!

[2020-12-16 15:37] #326 closed, assigned to nicoduj

[2020-12-20 11:06] #322 closed, assigned to nicoduj

[2020-12-20 22:17] clipse2004 opened #328 "[BUG]"
**Describe the bug**
Sometimes after restarting Homebrige (to install Updates) i get this error:

(Harmony Hub 1)Error - Error retrieving info from hub : WebSocket closed with reason: Socket Error: read ECONNRESET (1006).-(1)
[20.12.2020, 22:47:39] [Harmony Hub 1] (Harmony Hub 1)WARNING - socket closed

**To Reproduce**
Only When i restart HomeBridge with Configurator-zu-x. After i got this Error,

[2020-12-21 16:47] nicoduj commented on #328
Hi, It is a network error. I would suggest you check the following :
- IP are fixed on your router
- remove hubName (it is used only in case of auto discovery without fixed ips)

Are you on regular homebridge or hoobs ?

[2020-12-21 16:48] nicoduj commented on #324
Did you try the remote widget ?

[2020-12-21 16:49] nicoduj commented on #320
Hi, do you have any news ? You can still update dep to see if it helps .

[2020-12-21 17:03] carsten19 commented on #320
I had to restart homebridge a few times so it is not completely representative but it looks like the IP works better. I will still watch it over the next days.

[2020-12-21 20:17] barronhough commented on #324
Hi Nicolas

I did but there is such limited functionality

Best
On 21 Dec 2020, 16:49 +0000, Nicolas Dujardin <notifications@github.com>, wrote:

[2020-12-21 21:10] nicoduj commented on #324
Can't do anything on that by my side. on the plugin side you can add one switch per command (or a sequence if you want), but you will end up with a lot of switch.

[2020-12-21 21:14] barronhough commented on #324
Thank you so much for your support and guidance

Now trying to figure out lightwave plugin 🤦🏻‍♂️

Alex Barron-Hough
m. (+44) (0) 7752-167-861  e. barronhough@me.com
w. www.barronhough.com

On 21 Dec 2020, 21:11 +0000, Nicolas Dujardin <notifications@github.com>, wrote:

[2020-12-21 21:27] #324 closed, assigned to nobody

[2020-12-22 11:17] sddgit opened #329 "Use cases"
Forgive me - newbie here. If there's a better place to discuss these issues, please let me know!

I am interested to know how people use this plugin. For me, I think the most exciting use would be using Siri to turn on a TV, switch inputs, adjust volume, mute etc. I'm struggling to figure out the best way to do this. Publishing as a TV accessory gives you the nice TV button in a room in the Home a

[2020-12-22 11:51] nicoduj commented on #329
You can publish both switches and the tv accessory. With correct naming, you will be able to turn off its Siri and hangs inputs through switches . Unfortunately Siri does not understand inputs as far as I know of the tv accessory

[2020-12-22 12:07] sddgit commented on #329
Thank you for the quick reply! Ah yes, if I publish both I could turn the TV accessory on/off easily using Siri, and switch inputs using the switches. Is there a way to set the default activity when I use the TV accessory? Any thoughts on volume control/mute/channel changing?

I also keep reading about some sort of remote app/screen on an iPhone that could control activities. For example "Buttons

[2020-12-22 12:25] nicoduj commented on #329
You have an option called mainActivity for the default activity on tv accessory.

Controls are available through remote control widgets on your phone (in control center) while the widget is open, you can use volume up / down (never found mute even if it is exposed in HomeKit)

[2020-12-22 23:18] sddgit commented on #329
Thank you very much. I presume you mean the “Apple TV” remote control app in Control Centre? I just realised that when you use that you can then change the TV being controlled. I have so many Apple TV’s that the Harmony ones were scrolled off the bottom of the list. Apologies, I should have seen the mainActivity option. I will now play with all this and see how I go. I’m thinking I could use some

[2020-12-23 14:23] JoshCash opened #330 "Warning Socket Closed"
Not sure what could be causing this issue, but I seem to keep getting warnings for closed web sockets. I am running home bridge on a hardwired Mac mini.

**Terminal Activity**
[2020-12-22, 10:43:12 p.m.] Homebridge is running on port 50003.
[2020-12-22, 10:43:12 p.m.] [Security system] Saved state (Found)
[2020-12-22, 10:43:12 p.m.] [Security system] Current mode (Home)
[2020-12-22, 10:43:12 p.m.]

[2020-12-24 09:24] nicoduj commented on #330
Hi, are you using static ip for your hubs ? If yes, I would suggest removing the hubName properties (they are to be used if you don't have static ip for hub discovery).

The problem however is network related : the connection (socket) is closed , might be related to some network setting or mac network setting. It should reconnect, but definitely will put some delays in refeshing or might even be a

[2020-12-28 12:44] b3nnyk22 opened #331 "“Stateful” Accessory Switches"
Hello

I’m not sure if what I want to achieve is already possible but I use my Harmony Hub to control my Media Centre with a couple of activities which is working in HomeKit as expected.

I also use the Harmony Hub to control a “Dumb” Fan which just has a power toggle. Currently I have an Accessory Switch which toggles the power when the switch is turned on in HomeKit. I would love for this switch

[2020-12-28 12:52] nicoduj commented on #331
hi,

no it is not, device switches are stateless since there is no way to retrieve the state of a device in the harmony hub (only activities). I did not implement that since it will lead to out of sync states and could be a problem mostly. But it is a question that is asked very often ;)

[2020-12-28 12:52] #331 closed, assigned to nobody

[2020-12-28 13:49] nicoduj commented on #329
Hi, the error is network related, what version of homebridge are you running / in what environment ? I saw same error in homebridge itself with new CIAO lib .... And since you have a lot of hubs maybe it is related.

[2020-12-29 02:39] sddgit commented on #329
I'm running V1.1.7 on a Mac, with Node V14.15.3. I uninstalled this plugin a few days ago, and haven't seen any errors since, but am about to re-install it to try again. Is there any resolution to the problem? Might it help to not add so many Harmony hubs?

Thanks for the help...

[2020-12-29 07:33] nicoduj commented on #329
Hi,

I would suggest trying at first with one hub, and with a fixed ip configuration and see if the error occurs. If not, add one more and wait a few days.

[2020-12-29 10:48] sddgit commented on #329
Will do. Is this possible bug documented/talked about somewhere, or is it something you’ve observed yourself?

[2020-12-31 13:31] nicoduj commented on #329
Hi, I have not observed this problem but I have only one hub. Many users have 2, but very few have more, so it is just a guess and a step by step procedure to analyse your situation :)

[2021-01-03 03:24] SlowCar999 opened #332 "[BUG]Can't see switch accessories in Homekit"
**Describe the bug**
TV, volume and switch accessories all show up and work fine in Homebridge's accessory tab, but only TV accessory show up in Apple Home.

**Logs**
[1/3/2021, 1:19:00 PM] [HB Supervisor] Restarting Homebridge...
[1/3/2021, 1:19:00 PM] [HB Supervisor] Starting Homebridge with extra flags: -I -P /homebridge/node_modules
[1/3/2021, 1:19:00 PM] [HB Supervisor] Started Homebridge v1.

[2021-01-03 15:03] nicoduj commented on #332
Hi, did you hah both homebridge bridge and TV accessory in home app ? Switchs are bridged accessories, wher etv accessory is an external one, so you have to add all (they will use the same code).

[2021-01-04 03:42] #332 closed, assigned to nicoduj

[2021-01-04 03:43] SlowCar999 commented on #332
Thanks for the tip, had to rename and change mac address of homebridge for it to show up.

[2021-01-07 05:56] sddgit commented on #329
I have recently spent a lot more time on this, with considerable success. I now have 5 Harmony hubs running flawlessly since I switched to static IP addresses. I thought I'd document what I set out to do and what I've ended up with, in case anyone else is interested. There is also a request, and a problem report...

**What I wanted to do**
This is, of course, personal preference, but the main thin

[2021-01-07 16:00] nicoduj commented on #329
Hi,

many thanks for the detail feedback .

Concerning your problem, I suggest you fill a bug report for that. I should generate a unique id for sequences and not rely on their name since it is indeed not unique.

Concerning your remarks / suggestions :
1/  I don't use tv channels (apple tv based only) , but since alexa can do it I think it is also possible. I will try to see if I can use them and

[2021-01-07 23:00] sddgit commented on #329
OK, I will raise a bug report.

1. I guess you could set up a dummy activity and some favourite channels to test. Apart from actually controlling any equipment it should work fine.
4. Are you using the bluetooth version of the Apple TV device (https://support.myharmony.com/en-us/harmony-experience-with-apple-tv#appleTVBT)? It's much better, because it supports the "TV" button and can sleep the App

[2021-01-07 23:48] sddgit opened #333 "[BUG] Duplicate sequence names not handled"
**Describe the bug**
If you have multiple Harmony activities with the same sequence names, errors are thrown and not all the sequences are added.

**To Reproduce**
Have sequences with the same names in more than one Harmony activity.

**Expected behavior**
All the sequences to be added, perhaps with something like (2) or (3) at the end of the duplicate names.

**IOS (please complete the following

[2021-01-09 15:37] jplwoodward opened #334 "Other accesories in Rooms"
Homekit allows accessories to be assigned to rooms other than "Default Room", and you can also specify whether the accessory should be included in Favorites and Status.  Can there be a way--when specifying an accessory in you configuration--to specify the room and whether to include in favorites and status?

Maybe something like:

Device|Name;Commands|Room|Favorites or NoFavorites|Status or NoStat

[2021-01-10 19:21] skir0cket opened #335 "Errors in log"
Hi seem to be getting constant errors in log ( Received warning for the plugin 'homebridge-harmony' from the characteristic 'Active Identifier': characteristic was supplied illegal value: string instead of number. Supplying illegal values will throw errors in the future!)

using the latest release plus beta 1.30 42 homebridge.
any ideas?

[2021-01-13 11:40] #328 closed, assigned to nicoduj

[2021-01-13 17:51] GMarty93 commented on #118
Hi how does this feature work now? I haven it turned on but my the hue devices I have set under the home control buttons don’t appear in homekit. Do I have to specify the Home Controls To Publish As Accessories Switch? If so what info does it need?

[2021-01-19 19:16] UncleJerm76 commented on #286
Hi, new member here. I achieved this by combining the Harmony plug-in with the "Homebridge Dummy" plugin. I recently set this up with my Fireplace after having had the same problem as the OP — that is, if I made the Fireplace an Activity in Harmony it would end the current Activity and vise-versa. And I also didn't want yet another scene.

1. First in the Homebridge Harmony plug-in I added my Fire

[2021-01-19 19:26] nicoduj commented on #286
Hi, great trick ! As I said it will only works if you don't use any other device to power it off or on : if you do so it will be out of sync . But in fact it could be a workaround for those who are aware of this !  Thanks for sharing :)

[2021-01-19 19:29] SSutherland94 commented on #286
Oh that's brilliant! I didn't know there was such a plug-in. I'll definitely be re-visiting this in the summer when it's needed again!

[2021-01-24 13:03] nicoduj commented on #335
Hi, known potential issue, linked to #315

[2021-01-24 13:03] #335 closed, assigned to nicoduj

[2021-01-24 13:05] nicoduj commented on #334
Hi,
as far as I known, there is not but I might be mistaken. this is handled while adding accessories in home app, but since this plugin is a bridged one, it only happens when adding the bridge OR the TV accessory (which is an external accessory).

[2021-01-24 13:05] #334 closed, assigned to nobody

[2021-01-24 13:06] nicoduj commented on #330
Closing since mostly network related and no news. Feel free to reopen if you have new informations

[2021-01-24 13:06] #330 closed, assigned to nobody

[2021-01-24 13:06] nicoduj commented on #329
Closing this one since the bug issue is opened #333

[2021-01-24 13:06] #329 closed, assigned to nobody

[2021-01-24 13:07] nicoduj commented on #320
Closing, since it seems to be solved. Feel free to reopen if you have any new information / issue

[2021-01-24 13:07] #320 closed, assigned to nicoduj

[2021-01-24 13:10] nicoduj commented on #311
No new information and can't reproduce, please feel free to reopen if you have steps to reproduce.

[2021-01-24 13:10] #311 closed, assigned to nobody

[2021-01-24 13:11] nicoduj commented on #312
Closing since I have no news, feel free to reopen if you have more information / if fixed ip do not work.

[2021-01-24 13:11] #312 closed, assigned to nobody

[2021-01-24 13:11] #270 closed, assigned to nobody

[2021-01-24 13:25] nicoduj commented on #280
no other feedback, closing since it seems not widespread. Feel free to reopen if you have new informations.

[2021-01-24 13:25] #280 closed, assigned to nicoduj

[2021-01-24 13:28] nicoduj commented on #317
can't reproduce, not sure to have the whole info however. Having harmony hub config would help to understand the devices / controls since I d'ont really understand the names provided (seems to be 2 different deivces/ or maybe renamed in home app)

[2021-01-24 13:28] #317 closed, assigned to nicoduj

[2021-01-24 13:31] nicoduj commented on #319
Hi,

As I said I won't do that since the plugin can publish many accessories, and this would need to be able to put a name in the config for each one (which would be painful).
Model is already done through config. I will change Harmony to logitech, since it is indeed better. Serial number will remain auto generated since it must be different for each accessory to avoid issues with other apps like

[2021-01-24 13:31] #319 closed, assigned to nobody

[2021-01-24 17:06] carlosgamezvillegas commented on #319
Hello,

Actually, the process is not painful since it only changes the AccessoryInformation and not the unique ID for the accessory.
These are the only lines I had to change to make it work  in the createAccessory section:

    let myHarmonyAccessory = new Accessory(fullName, uuid);
    myHarmonyAccessory.name = fullName;
    myHarmonyAccessory.model = platform.model || 'Harmony Hub';
    myHarmon

[2021-01-24 18:04] nicoduj commented on #319
Hi,

createAccessory is called for each accessory, so it will result with all accessories to have the same serial number (which **in the past** resulted in some trouble in eve - fixed now indeed but not sure it won't come back since for a single platform, it is not really "epected" to have same serial number for all accessories.

Model is allready reflected through the config, where you can put wh

[2021-01-28 14:41] imroue commented on #312
Hi @nicoduj ,
I seem to have the same issue and I also removed the hubName:

Error - Error retrieving info from hub : request to http://192.168.0.120:8088/ failed, reason: connect EHOSTUNREACH 192.168.0.120:8088-

{
            "name": "MroueHarmony",
            "hubIP": "192.168.0.120",
            "cleanCache": false,
            "TVAccessory": false,
            "configureAccesscontrol": false

[2021-01-28 14:49] nicoduj commented on #312
Is the IP the correct one ? Please verify on your network, not in harmony app it is not always up to date. You need to have a fixed IP for the hub

[2021-01-31 14:05] TechRemarker opened #336 "Controlling Insteon ISY Devices or at least Homekit Scenes with Companion Remote?"
This plugin appears to expose Harmony activities in Homekit, but is it able to do the reverse?

That is on the Harmony Remote there are light switch buttons, outlet buttons and a dimmer toggle. When using the actual Insteon Hub it natively integrates with Insteon which would be amazing, except that when I used that years ago it was horrible and had 1 star reviews, and seems the company abandoned t

[2021-01-31 19:24] acresp opened #337 "iOS 14.4 TV remote through AppleTV Remote "pane""
Hello,

First of all: thanks a lot for your great job ! This is an awesome plugin!

I don't know if it's a bug or something new in iOS 14.4, but since the last update I can't control my harmony scene through the Remote panel in the control center. I only see my Apple TV. I don't use it often, but it was very useful sometimes 🙂

Before the update i was seeing my Apple TV "Salon" and also my "Salon

[2021-01-31 19:29] #337 closed, assigned to nobody

[2021-01-31 19:33] nicoduj commented on #337
Hi, it happens sometimes, more an issue with iOS . Did you add it as an external accessory ? Since you closed it solved by itself ?

[2021-01-31 19:43] acresp commented on #337
I wanted to edit my post with some screenshot, because I checked on my wife's iPhone (she didn't updated) and everything was ok on it. Then I took my phone (iOS 14.4) and now I can control everything !

Totally crazy because since few days I don't see anything more than the Apple TV in the remote panel x)

Thanks for your help 🙂

[2021-02-02 15:56] Mattapoisett opened #338 "Not seeing Z-Wave/Zigbee devices via Harmony Extender in Homebridge"
Hi,

I'm trying to find work around the the major issues Wink is currently having. I bought the Harmony Hub Extender which adds Zigbee/Z-Wave functionality to the hub.  I was able to connect devices to it, like a Samsung SmartThings plug and can control them through the Harmony app. I don't see new devices show up in Homebridge however.  I may be overlooking something really obvious and would be g

[2021-02-06 14:22] brummbaer opened #339 "[FEATURE] polling interval"
Problem:
We use a switchable socket to deactivate our TV setup. Homebridge throws an error every few seconds when the "Harmony Bridge" is switched off.

Solution:
It would be great if Homebridge did not poll the "Harmony Hub" so often when it goes offline. Only poll again when it goes online.

[2021-02-06 14:35] nicoduj commented on #339
Hi, can you share your config ? If you are in discovery mode / name mode did you try with a fixed ip ?

[2021-02-07 08:38] sddgit opened #340 "New, possibly benign, error with Homebridge beta"
I seem to be getting a new error message regularly from the plugin since I installed Homebridge beta v1.3.0-beta.53:

[2/7/2021, 7:35:47 PM] Received warning for the plugin 'homebridge-harmony' from the characteristic 'Active Identifier': characteristic was supplied illegal value: number -1 exceeded minimum of 0.
[2/7/2021, 7:35:47 PM] Received warning for the plugin 'homebridge-harmony' from the

[2021-02-07 09:39] nicoduj commented on #340
Hi, it is a known issue #315 :)

[2021-02-07 09:39] #340 closed, assigned to nobody

[2021-02-07 09:46] nicoduj commented on #338
Hi,

Did you try homeControlsToPublishAsAccessoriesSwitch ? You can check previous reports like this one #131 to have a better understanding of it and see if it is what you want.

[2021-02-07 09:46] #338 closed, assigned to nobody

[2021-02-07 09:49] nicoduj commented on #336
Hi,

not  it is not. If I correctly understand, you want to use a physical harmony remote to handle some homekit exposed devices ? D'ont know if it is possible at all, maybe IFTTT ?

[2021-02-07 09:49] #336 closed, assigned to nobody

[2021-02-07 10:23] sddgit commented on #340
Apologies - I should have seen that. Are there any ramifications to the problem?

[2021-02-08 21:14] vcdx71 commented on #315
I'm seeing this is beta 53

08/02/2021, 15:02:55] The plugin 'homebridge-harmony' slows down requests made to homebridge! The read handler for the characteristic 'Active' was slow to respond!
[08/02/2021, 15:03:02] The plugin 'homebridge-harmony' slows down requests made to homebridge! The read handler for the characteristic 'Active' didn't respond at all!. Please check that you properly call the

[2021-02-08 21:24] genfersee commented on #315
Yes, same errors for me with 1.3.0beta47.

[2021-02-14 16:07] blssed opened #341 "[BUG] Socket closes and can't be reopened, which results in a sigint for homebridge"
(Harmony Hub)WARNING - socket closed is

the first thing that comes up followed by

(Harmony Hub)ERROR (1)- refreshCurrentActivity TimeoutError: Can't open WebSocket within allowed timeout: 10000 ms. - Stack : TimeoutError: Can't open WebSocket within allowed timeout: 10000 ms.
    at PromiseController._handleTimeout (/usr/local/lib/node_modules/homebridge-harmony/node_modules/promise-controller/s

[2021-02-14 18:13] nicoduj commented on #341
Hi, are you sure your harmony hub has got a fixed IP on your router / dhcp server  ?

[2021-02-14 18:54] blssed commented on #341
Yes I just checked, its fixed to .75, when I restart the homebridge process it instantly works again too.
It always seems to happen after 24-36 hours(rarely in the first 24 hours of hb running) and gets my homebridge process crashed.

netstat -a also shows a working connection to harmony hub, if that's relevant.

[2021-02-16 08:37] nicoduj commented on #341
Another question : are you on Hoobs or Classic Homebridge ? Other users that reported this issue, it was network related, on dhcp renewal.

[2021-02-16 09:10] blssed commented on #341
Because I had to google what Hoobs is, I guess im on classic homebridge. :)
DHCP renewal shouldn't happen when there is a fixed IP address, right?

[2021-02-16 10:22] nicoduj commented on #341
It should not, but it depends if it is a prefered ip or reserved one I think. What dhcp are you using ? Like I said, the problem is network related, and the fact that it happens every 24 hours or so is likely to be linked.

Di you try putting your hub offline and online again and see if it is doing the same ?

I am also interested into your exact conf (node version, homebridge version, npm depende

[2021-02-16 10:36] blssed commented on #341
My router(FRITZ!Box 7590) is acting as the DHCP. There is a checkmark "Always assign the same IPv4 address to this network device." which is activated, so that should be reserved, not preferred I think.

Im not in the house where this problem is happening, but I'll ask someone to try this behaviour with me by shutting the hub off and turning it back on.

Node Version: 14.15.4
Npm Version: 7.5.2
Ho

[2021-02-18 17:57] maisun opened #342 "Need some help on how to identify root cause of a strange issue"
Hi,
In my current setup from time to time I experience “no response” from all TV accessories including Harmony. It’s less likely an issue with Harmony plugin but I’d like to get some advice on how to find the root cause. I currently have 3 TV accessories exposed via HomeBridge, 2 of them are external accessories (HomeBridge-Harmony, homebridge-samsung-tizen) and one internal (homebridge-bravia-tvo

[2021-02-20 02:19] knedd opened #343 "[BUG] Constant Warning with Homebridge v1.3.0"
Within Homebridge v1.3.0

The plugin constantly generates the following warning:

"This plugin generated a warning from the characteristic 'Active Identifier': characteristic was supplied illegal value: number -1 exceeded minimum of 0. See https://git.io/JtMGR for more info."

[2021-02-20 08:43] nicoduj commented on #343
Hi .

duplicate of #315

[2021-02-20 08:43] #343 closed, assigned to nicoduj

[2021-02-20 09:04] nicoduj commented on #316
Can't reproduce, closing

[2021-02-20 09:04] #316 closed, assigned to nicoduj

[2021-02-20 12:47] DJay-X opened #344 "[BUG]Homebridge 1.3.x warning from the characteristic 'Active Identifier': characteristic was supplied illegal value"
@nicoduj I hope you are well.

With latest public Homebridge v1.3.0 I have this error/message in the log.
Plugin seems to work but to as reliable and correct for some reason.
I have to investigate more and I'm sure other user can also contribute with some of their similar issues.

Thanks for your work.

**Describe the bug**
[20.2.2021, 13:41:42] [homebridge-harmony] This plugin generated a warning

[2021-02-20 12:52] DJay-X commented on #344
Duplicate. Sorry.
https://github.com/nicoduj/homebridge-harmony/issues/315
https://github.com/nicoduj/homebridge-harmony/issues/343

[2021-02-20 12:52] #344 closed, assigned to nicoduj

[2021-02-20 15:13] knedd commented on #315
Now that Homebridge 1.3.0 is public, will this warning be addressed soon in a updated release? The error messages are quite frequent.

Thanks.

[2021-02-20 15:24] blssed commented on #341
I've just checked, pulling the plug, leaving it out for 30 sec and putting it back on will result in:

[Harmony Hub] (Harmony Hub)WARNING - socket closed

But it doesn't crash the bridge and no further errors/warnings.
I guess the connection reestablishes itself.

[2021-02-20 17:16] nicoduj commented on #341
Hi, Did you try to refresh home app while it was plugged off ?

[2021-02-20 17:20] blssed commented on #341
We had home app active while it was plugged off. It showed "reagiert nicht" for harmony hub, saying it doesnt react, and after a few seconds it responded again.

[2021-02-20 17:22] nicoduj commented on #341
Could you please post the full log when the crash is happening (if possible with homebridge running in DEBUG mode). The log in my plugin is in a catch, so it must crash somewhere else

[2021-02-20 17:24] blssed commented on #341
Ok, I will setup homebridge in debug mode and turn harmony-hub back on(turned off for usability reasons, didnt want crashes every other day).
I will report back when it crashed again, may take some time.

[2021-02-20 17:25] nicoduj commented on #341
ok, thx

[2021-02-20 17:32] nicoduj commented on #315
Working on it, still need to do more tests ...

[2021-02-20 17:46] blssed commented on #341
I hope this question is not too stupid, but I just started homebridge with:
sudo DEBUG=* homebridge -D -U /root/.homebridge (i hope this is the correct way to start it in debug?)

Now it doesnt write to the log anymore.

Could you point me in the right direction here?
I cant find anything on google

[2021-02-20 18:20] nicoduj commented on #339
the polling intervall is 10 seconds . Will add some setting to override it.

[2021-02-20 18:23] blssed commented on #341
Even without DEBUG=* it doesnt write to the log file at /var/log/homebridge.log anymore

[2021-02-20 18:37] nicoduj commented on #341
Sorry, I d'ont understand, the fact that ther is no more log is not plugin related. I have done some test, can reproduce the socket close when i turn off my hub, but as soon as it goes back online it is ok, and homebridge does not crash meanwhile ...

[2021-02-20 18:44] #286 closed, assigned to nicoduj

[2021-02-20 18:44] #288 closed, assigned to nicoduj

[2021-02-20 18:44] #308 closed, assigned to nobody

[2021-02-20 18:44] #315 closed, assigned to nicoduj

[2021-02-20 18:44] #333 closed, assigned to nicoduj

[2021-02-20 18:44] #339 closed, assigned to nobody

[2021-02-20 18:51] blssed commented on #341
Okay, thanks anyways. I will find out why there is no log written when started with debug by myself then! :)

[2021-02-20 19:04] nicoduj commented on #341
If you are using config ui, you can use it to enable the debug mode .

If you don't manage to have the debug log, I am still interested into the whole log with time stamps before and after the error

[2021-02-20 19:06] blssed commented on #341
I actually just found out about that. Works now. I'll get back as soon as I have new information!

[2021-02-20 19:57] h0mesmart opened #345 "[BUG] - Cannot add a bridged Accessory with the same UUID as another bridged Accessory"
**Describe the bug**
After installing the latest release I do have an error Cannot add a bridged Accessory with the same UUID as another bridged Accessory

**To Reproduce**
Install the latest update

**Logs**
lease add [Salon TV-TV BB5D] manually in Home app. Setup Code: 031-45-154
(node:19047) UnhandledPromiseRejectionWarning: Error: Cannot add a bridged Accessory with the same UUID as another br

[2021-02-20 20:46] nicoduj commented on #345
Hi, sorry for that, it seems that there is a conflict with your cache.
could you get the log in debug and /or try to remove devicesToPublishAsAccessoriesSwitch ?
Moreover your conf is strange since you don't publish any activity switch, options "switchAccessories" should not be to true

[2021-02-20 20:58] nicoduj commented on #345
(it would also help if you use configUI-X, and find the accessory in cahce that has an issue : 50052ece-d6c4-4b8d-8ad6-ccd5914b27ce )

[2021-02-20 21:03] h0mesmart commented on #345
I changed the config as recommended

 "name": "Salon TV",
            "hubIP": “10.0.0.x",
            "hubName": "Harmony Hub",
            "cleanCache": false,
            "publishAllTVAsExternalAccessory": true,
            "mainActivity": "Regarder Apple TV",
            "activitiesToPublishAsInputForTVMode": [
                "Regarder Apple TV",
                "Regarder la TV"
            ]

[2021-02-20 21:09] h0mesmart commented on #345
Here are the log.

I don’t have any issue about cache in v 1.4.1

On 20 Feb 2021 at 21:47:15, Nicolas Dujardin <notifications@github.com>
wrote:

[20/02/2021, 21:51:31] [Salon TV] (Salon TV)INFO - Hub config : {"cmd":"vnd.logitech.harmony/vnd.logitech.harmony.engine?config","code":200,"id":"0.9219156192176121","msg":"OK","data":{"dataConsent":false,"sequence":[],"global":{"timeStampHash":"ed021e33

[2021-02-20 21:11] h0mesmart commented on #345
[logharmony.txt](https://github.com/nicoduj/homebridge-harmony/files/6016446/logharmony.txt)

[2021-02-20 21:12] nicoduj commented on #345
Thx, i think it might be related to multiple devices to publish. Try cleaning your cache and restart with only one. Will try to reproduce tomorrow sorry for that

[2021-02-21 08:43] nicoduj commented on #345
Fixed in 1.5.1

[2021-02-21 08:43] #345 closed, assigned to nicoduj

[2021-02-21 08:44] nicoduj commented on #342
Hi,
Did you try setting "ports" in homebridge config, to define the port rzange for external accessories ?

[2021-02-21 08:50] nicoduj opened #346 "[BUG] ConfigUI config shcema is not up to date"
Review layout and add missing settings :
- timeoutout options
- new device options (text and format)
-

[2021-02-21 09:34] m-a-r-c-u-s opened #347 "[BUG] "name"-tag conflicts with Child Bridge name on Homebridge 1.3.0"
**Describe the bug**
When running more than one HarmonyHub the "name" tag conflicts with the Child Bridge name. Multiple gateways/hubs with the same name show up in "add new" in Homekit.

![IMG_FD73D70AFC4C-1](https://user-images.githubusercontent.com/68680472/108620977-0836e680-7430-11eb-8cd2-e66f067bdfbf.jpeg)

**To Reproduce**
Steps to reproduce the behavior:
Add more than one HamonyHub in sett

[2021-02-21 09:50] nicoduj commented on #347
Hi,

First of all, I suggest you modify your config .
-cleancache should not be let to true
-if you use hubIP (meaning you have fixed IP), you should not use hubName (use only in discovery mode)

Then, you have to add each TV device separately.

What you see I think  is the homebridge platform itself (no TV icon) and The TV device I think . (+ 2 others homekit device that seems not related). Did y

[2021-02-21 10:23] m-a-r-c-u-s commented on #347
**Now set to false.**

**They are fixed IPs. I removed the "hubName" on both of the Harmony hubs.**

**This is the "I do not have a code" screen. The other two devices are my luminarie plugins.**

After these mods of the config the add screen looks like this:
![IMG_3A5C7BB329F8-1](https://user-images.githubusercontent.com/68680472/108621891-cad55780-7435-11eb-9812-7557a52ffd7a.jpeg)

Adding the Ha

[2021-02-21 11:37] nicoduj commented on #347
Thank you, that is what I thought.
TV devices are not birdged accessories, so they have ot be added separately and can't be with the hub : can't be added with the bridged accessory.
Will check for the bridge Accessory, indeed since you don't have any switch exposed (which handle them), exposing it is useless (but not sure I can prevent this, will check).

[2021-02-21 11:44] nicoduj commented on #347
Hi juste tried to reproduce, and can't. Are you sure it is not the homebridge hub itself ? Or that at any point you did not have some cached accesory ? What does configUI-X show in cached and external accessories ?

[2021-02-21 11:59] DaveM8686 commented on #298
This actually doesn’t seem to work for me. If I delete the plug-in and then reinstall with the publish as external set to true, the tv just doesn’t appear.

[2021-02-21 12:02] m-a-r-c-u-s commented on #347
These are my cached bridges and TVs. As you see "Vardagsrum HarmonyHub" is exposed as both TV and Bridge when I run the plugin as "Child Bridge".

![Linked](https://user-images.githubusercontent.com/68680472/108624344-a92f9c80-7444-11eb-814e-189e10d89c7e.png)

[2021-02-21 12:09] m-a-r-c-u-s commented on #347
Noticed that I'd left out the Child Bridge part of the previously posted configs. Don't know if it's of any help but here it is at the bottom:

        {
            "name": "Vardagsrum HarmonyHub",
            "hubIP": "10.0.20.5",
            "cleanCache": false,
            "TVAccessory": true,
            "mainActivity": "TV",
            "switchAccessories": false,
            "publishGeneral

[2021-02-21 12:18] nicoduj commented on #298
You have to add it manually it won't' be linked to the hub

[2021-02-21 12:21] nicoduj commented on #347
Hum are you talking about this new option of homebridge that can isolate each platform as a bridge ? If yes I think you don't have to do that if you only expose tv accessories since they are external one and not bridge . This I think it is not really my plugin that is exposing this but homebridge itself .

[2021-02-21 14:14] m-a-r-c-u-s commented on #347
Yes it's caused by isolating the plugin as "child bridge" in Homebridge 1.3.0. I'll just run the plugin without isolation for the time being. It might help others if you mention not to run the plugin as a "child bridge" under Homebridge 1.3.0 in the readme file.

[2021-02-21 14:32] nicoduj commented on #347
Ok, thx. I think running as an isolated one might still make sense if you expose switches , but indeed with only a tv accessory it does not make sense

[2021-02-21 15:07] maisun commented on #342
Not yet, will give a try, thanks for the hint!

[2021-02-21 20:49] Phoenix-DH opened #348 "[How-To] devicesToPublishAsAccessoriesSwitch with seperate On Off"
Hey,

I like the new behaviour of devicesToPublishAsAccessoriesSwitch when there is a combined OnOff Button, because you now see the real state.

Is something also possible for example for a light bar behind a TV which I added in Harmony and has a spererate
PowerOn and PowerOff switch?

Actually I got it in this way, means 2 buttons in Home where you cannot see the actual state because toggle is a

[2021-02-21 21:59] DaveM8686 commented on #298
Oh, I see.  That worked now, thank you!  Sorry about that.

[2021-02-22 08:11] nicoduj commented on #348
Hi,

Try "Beleuchtung TV;/"

It should combine in one switch power on and off if found.

Beleuchtung "TV;PowerOn/PowerOff" should also work

[2021-02-22 08:26] Phoenix-DH commented on #348
Can you give me a recommendation how to do it ;)
I already tried.
I removed the single one for PowerOff and changed the one for on with
`"Beleuchtung TV;/",`

Result:
[code]

The result was that the homebridge won't come up anymore.
Message was something related to a duplicated UUID.

I also tried to set the cleancache, but no change.
Did a restore of the PI and all good.

[2021-02-22 08:50] nicoduj commented on #348
hum, did you update to 1.5.1 ? I need the full log in debug mode if possible. Did you try this also with the same result ? :
[code]

[2021-02-22 09:05] Phoenix-DH commented on #348
Yes, I got already 1.5.1
As mentioned, only tried the / only.

Will try your proposal without cleaning the cache ...

Will let you know. But first this afternoon after work, if I have to reset again, because I was not able to solve it without restore of a valid backup.

[2021-02-22 09:14] nicoduj commented on #348
You can still use config ui to clear the cached accessory and change the conf , no need to reset

[2021-02-22 09:15] Phoenix-DH commented on #348
Yes I know, but this had no effect.

[2021-02-22 13:27] Phoenix-DH commented on #348
Strange....

Now it is working.... did nearly the same than yesterday....
Removed one "Beleuchtung TV" line and changed the other now to
`"Beleuchtung TV;PowerOn/PowerOff",`

instead of

`"Beleuchtung TV;/",`

... working.

Thank you.

[2021-02-22 13:27] #348 closed, assigned to nicoduj

[2021-02-22 14:05] nicoduj commented on #348
Would you mind removing the line, restart, and then add it like you did with ;/ ? Should do the same .

[2021-02-22 15:05] Phoenix-DH commented on #348
Will give it a try later on.

[2021-02-23 09:33] blssed commented on #341
I just encountered weird behaviour with the harmony hub.
Homebridge crashed again and I before I tried to restart it, I tried pinging to the harmony hub, no answer, netstat -a shows no active connection there. The Webinterface of the router showed a active and working connection tho.
Starting the homebridge results in the WebSocket not being started. 20 mins later it all worked great again.
It see

[2021-02-23 10:18] nicoduj commented on #341
Hi, ok thanks for feedback. Did you enable xmpp on the hub ? It is not necessary so maybe disabling it would improve .

[2021-02-24 13:51] freemanuk opened #349 "[FEATURE] Set Harmony Activities into different tiles in Home App"
Hi, I have installed the Harmony plugin v1.5.1 and I realised that now the activities are grouped into a single tile called Harmony Hub. Is there a way to separate the Harmony Activities into different tiles in Home App like before. That will be helpful, as I have set automation based on different activities. Thank you.

[2021-02-24 15:40] nicoduj commented on #349
It is a feature into home app : you can ask it to separate services (properties of the accessory)

[2021-02-25 05:51] freemanuk commented on #349
Not sure what have I missed out, I can only choose to include or exclude the inputs.

![Screenshot 2021-02-25 at 1 49 01 PM](https://user-images.githubusercontent.com/75915816/109109452-53befc80-7770-11eb-87f3-7ea1593ee75f.png)

[2021-02-25 06:46] freemanuk commented on #349
Managed to solve it by setting "Switches accessories in homekit" to Yes.

[2021-02-25 16:32] nicoduj commented on #349
I though you were already publishing it as switches. The default behaviour is a TV accessory that publish eacu activity as an input. Yu can use both modes if you want.

[2021-02-25 16:32] #349 closed, assigned to nobody

[2021-03-02 05:06] tmurfin opened #350 "[BUG] Device Command with "/" in command name not creating switch"
**Describe the bug**
I have a device that is giving me the command InputDisc/Phono but it says "No function list found on startup when i try to make a switch to be able to select the input, because the "/" is a modifier to make toggle commands, so I can not select this because the "/" is a modifier to make toggle commands, so I can not select this input on my device.

**To Reproduce**
Steps to rep

[2021-03-02 10:18] nicoduj commented on #350
Hi,

thanks for reporting. Will try to sanitise names in order to be compliant. Meanwhile, can't you rename it in harmony app ?

[2021-03-02 14:04] tmurfin commented on #350
I was not able to rename it, I had to create a new command in harmony hub from IR as a work around.

[2021-03-02 14:32] nicoduj commented on #350
Ok right, if it is a pre learned you can't renamed . Will fix that asap

[2021-03-06 16:42] JacVid opened #351 "[BUG] the plugin slows down Homebridge"
**Describe the bug**
[06/03/2021, 16:53:49] [homebridge-harmony] This plugin slows down Homebridge. The read handler for the characteristic 'On' didn't respond at all!. Please check that you properly call the callback! See https://git.io/JtMGR for more info.

**Config**
        {
            "platform": "HarmonyHubWebSocket",
            "name": "Harmony",
            "hubIP": "10.0.1.120",

[2021-03-06 16:44] JacVid opened #352 "[BUG]"
**Describe the bug**
[06/03/2021, 16:56:26] [Harmony] (Harmony)ERROR (1)- refreshCurrentActivity Error: WebSocket closed with reason: undefined (undefined). - Stack : Error: WebSocket closed with reason: undefined (undefined).
    at WebSocketAsPromised._handleClose (/usr/local/lib/node_modules/homebridge-harmony/node_modules/websocket-as-promised/src/index.js:353:19)
    at WebSocket.listener (/u

[2021-03-06 18:03] nicoduj commented on #352
Hi, it is a network issue, nothing I can do about it. The socket was closed, if it reopens and works after it means that  it is correctly handled.
If not, check that your hub ip is fixed and that there is no dhcp renewal (every 24H or around that)

[2021-03-06 18:03] #352 closed, assigned to nicoduj

[2021-03-06 18:04] nicoduj commented on #351
It means that some updates takes time and did not respond in the allowed time . Might be linked to your other issue, probably network related.

[2021-03-06 18:04] #351 closed, assigned to nicoduj

[2021-03-07 13:31] MikeDeltaHH opened #353 "[PROBLEM] An action works no more"
**Describe the problem**
I have a problem with the plugin since yesterday.... have configured 3 actions on my Harmony:

1. cinema - turns on a media player, A/V receiver & TV.
2. Netflix - turns on the TV and launches the Netflix app.
3. eintertain - turns on the TV & Telekom Receiver

Since yesterday action 3 does not work reliably - when I start this action on the Harmony remote control the mess

[2021-03-07 15:56] fiedlerd opened #354 "Hamony causing Homebridge to shut down under Ubuntu Desktop 20.04"
**Describe the bug**
Once Harmony plugin is activated, Homebridge throws the following exception:

Error: Service name is already in use on the network
    at Registry._onProbeComplete (/usr/lib/node_modules/homebridge/node_modules/bonjour-hap/lib/Registry.js:108:27)
    at Prober.done (/usr/lib/node_modules/homebridge/node_modules/bonjour-hap/lib/Prober.js:67:10)
    at Prober.onMDNSresponse (/us

[2021-03-07 16:31] nicoduj commented on #354
Hi, harmony plugin use an external accessory, so it use another port / dns name for discovery . I think the problem is not the plugin, but on mdns stack / homebridge itself . Try to see if it works without tv accessory to confirm please

[2021-03-07 16:34] nicoduj commented on #353
Hi,

Did you change anything in your conf ? harmony plugin only send the activity command to the hub, t is the hub itself which launch each action. Are you sure there is no IR issue between the hub and the device that not always works ? Depending on your remote, it could be sent by it so it won't have the same behavior I think. Try with harmony app on your phone you should have the same erratic be

[2021-03-07 16:51] MikeDeltaHH commented on #353
Hi Nico!

I have not changed anything in the configuration for ages! Have just tested both with the original remote control of the Telekom receiver, the Harmony Elite remote control and the app on my iPhone several times and each time works the action on or off! About the plugin it now unfortunately no longer works, it is only the TV switched but no longer the Telekom receiver!

[2021-03-07 17:09] fiedlerd commented on #354
Ty for your reply.

It's weird but now it works with TV Accessory switched on... But it won't show up the code for manual adding Harmony to HomeKit. But I will try out some things now...

[2021-03-07 17:09] fiedlerd commented on #354
Never mind, I got it.
But I really don't know why it works now, I only installed a vnc package before, but this cannot fix it right?

[2021-03-07 17:51] nicoduj commented on #354
My guess is that you add two homebridge process running or something like that . Rebooting / installing something might have forced the process to quit

[2021-03-07 17:51] #354 closed, assigned to nicoduj

[2021-03-07 17:52] nicoduj commented on #353
You are using an harmony activity right, not a custom sequence or something like that ?

[2021-03-07 17:53] MikeDeltaHH commented on #353
Yes, right!

[2021-03-07 19:34] nicoduj commented on #353
sl like I said it is very strange, since the plugin only activate the activity (not what is inside). Could you run in debug and post any log when activating / turning off ? Did you try with switches (instead of input of TV accessory) or vice-versa ?

[2021-03-07 19:54] MikeDeltaHH commented on #353
The logs i‘ve uploaded in my first post have the needed turn off / activate action with the nom working power on! I use it as switches... indeed, very strange- works perfect in the last years...

[2021-03-07 20:01] nicoduj commented on #353
Sorry, missed the logs . However everything seems fine : [3/7/2021, 2:20:42 PM] [Harmony] (Harmony)INFO : SET on an activty in skippedIfsameState list Entertain
[3/7/2021, 2:20:42 PM] [Harmony] (Harmony)INFO : Activty Entertain is false, wants to set to true
[3/7/2021, 2:20:42 PM] [Harmony] (Harmony)INFO : Activty Entertain will be sent command 29968007
[3/7/2021, 2:20:42 PM] [Harmony] (Harmony)IN

[2021-03-07 20:17] MikeDeltaHH commented on #353
I have three activities on the Harmony hub, the other both are working perfect! Do you mean to delete the activity on the harmony and create a new one with the same settings? I can try this tomorrow when i‘m back home!
And thanks for your help!

[2021-03-08 08:07] MikeDeltaHH commented on #353
Hi @nicoduj
I recreated the action on the hub, uninstalled the plugin, deleted the child bridge and reinstalled the plugin and turned on debug mode! Have then run the action several times, the Telekom receiver has not responded once - I hope you find something in the logs...

[homebridge.log.txt](https://github.com/nicoduj/homebridge-harmony/files/6099784/homebridge.log.txt)

[2021-03-09 14:51] madcat-nl opened #355 "[BUG] homebridge v1.3.2 causes warning in logging about Password Setting set to null"
When updating to homebridge v1.3.2  with homebridge-harmony v1.5.1 it creates the following error in the log:

[homebridge-harmony] This plugin generated a warning from the characteristic 'Password Setting': characteristic was supplied illegal value: null! Home App will reject null for Apple defined characteristics. See https://git.io/JtMGR for more info.

i have not configured any password in the

[2021-03-11 07:51] nicoduj commented on #355
Hi, can you share your config please ?

[2021-03-11 18:30] madcat-nl commented on #355
{
            "name": "Beamer",
            "hubIP": "hubip",
            "cleanCache": false,
            "publishAllTVAsExternalAccessory": false,
            "TVAccessory": true,
            "mainActivity": "Film",
            "activitiesToPublishAsInputForTVMode": [
                "Muziek",
                "Film",
                "Playstation"
            ],
            "playPauseBehavior": t

[2021-03-15 23:48] Mattapoisett commented on #338
Thank you Nicolas.  I have made progress. I have made the devices On/Off switches appear in the Home app, though not what they are named in the Harmony app.  For example, what I have labeled "Floor Lamp", is listed as "zwave4". That's fine.  However I can't seem to get the dimmer to show up  I'm not sure what I am overlooking.

Here's what I think is the relevant log for my example zwave4

[3/15/2

[2021-03-16 17:31] mensa84 opened #356 "Log says "add TV manually" even if it is already added?"
Hello,

is it normal, that the logfile of homebridge says at every start, that one should add the TVs manually, altough they are already added working and can't be added twice??

[code]

Or is that normal and just impossible to hide that message?

[2021-03-16 18:53] madcat-nl commented on #355
anything else you need to look into it?

[2021-03-16 19:06] nicoduj commented on #355
Are you using home sharing in home app ? Might be related , will check did not have the time yet sorry

[2021-03-17 00:06] Mattapoisett opened #357 "[Follow up] Zigbee & ZWave devices Help"
Thank you Nicolas. I have made progress by making devices' "On/Off" switches appear in the Home app, though not what they are named in the Harmony app. For example, what I have labeled "Floor Lamp", is listed as "zwave4" and "Smart Things Outlet 1" is "zigbee0x21B7" That's fine.  However, I can't seem to get the dimmers to show up for the plugs which have them.  I do see the "brightness" function

[2021-03-17 16:57] sleepyarmistice opened #358 "[FEATURE] Other device types?"
First, thanks for this great plug-in. Easily one of the best! One thing I’ve noticed lately that would be nice is to be able to have the hub advertise itself to HomeKit as a device other than a tv, like a receiver or a set top box. Right now, my hub is only controlling a receiver set up as a stereo and I have it configured to reveal the activities as switches. I would like to be able to just have

[2021-03-17 20:08] nicoduj commented on #358
Hi,

Thanks :) If you are talking about audio receiver we can see in home app I think it is not possible since they are mainly airplay 2 device which is not really in HomeKit spec.

If you are talking about the icon itself of the TV device, I think it can be changed indeed but did not do so since most of use case are for tv .

In your case, you can merge on one accessory your switches I think usin

[2021-03-17 20:09] nicoduj commented on #357
Hi, unfortunately I don't support sliders for commands, don't even know if it is possible to detect that the light is a dimmer ... (don't have such device so hard to test !)

[2021-03-17 20:12] nicoduj commented on #356
Hi, Tv  are external accessories, that are retrieved from cache and are published by the plugin at each launch. I can easily change the message, but since there might be added to different home app not sure I can have knowledge it was already added. It is the same as the homebridge itself :)

[2021-03-17 20:22] mensa84 commented on #356
Ok, when I know that this is the normal behavior, it's fine. Thx.

[2021-03-17 21:02] sleepyarmistice commented on #358
Yes, I was talking about the second situation. I was thinking it would be more than just a cosmetic change, though. Would this not enable volume controls for the receiver as well?

[2021-03-19 18:03] madcat-nl commented on #355
yes i do have home sharing enabled, if you need any help just ask

[2021-03-19 18:12] nicoduj commented on #355
Could you please share the conf of your home sharing in home app ? Same network ? users who shares home ?

Did you by any chance ever set this option to true : configureAccesscontrol ?

[2021-03-20 11:42] danielepenguin opened #359 "Activity Switch resets to Default room and automations disappear [BUG]"
I am running HOOBS in Docker.
Every time the docker image gets updated, the Harmony activity switches defined in "Activities To Publish As Accessories Switch", get reset to the default Home room and all related automations disappear. It looks like the switch gets deleted and re-added, and Homekit does not recognise it's the same switch.
The TV accessory and all other plugins do not show this behav

[2021-03-20 11:56] nicoduj commented on #359
Hi,

seems you have clean cache option set to true -> set it to false.

[2021-03-20 11:56] #359 closed, assigned to nicoduj

[2021-03-20 12:36] danielepenguin commented on #359
Yes, it was set to true.
Thanks

[2021-03-21 18:27] JacVid commented on #351
Hello Nicoduj, I still get some red alert in Homebridge logs.

_[21/03/2021, 08:14:29] [homebridge-harmony] This plugin slows down Homebridge. The read handler for the characteristic 'On' was slow to respond! See https://git.io/JtMGR for more info.
[21/03/2021, 08:14:35] [homebridge-harmony] This plugin slows down Homebridge. The read handler for the characteristic 'On' didn't respond at all!. Ple

[2021-03-23 19:26] Grubi93 opened #360 "Accessoires not showing up"
I have an issue with publishing my accessories in the Homebridge app, respectively in the  Home App.
The connection between Homebridge and  Home is working - I am using the Hue plugin and some other features, all are showing up.

I have tried reinstalled the Harmony plugin, cleared the cache, tried several different settings, changed the IP address of the hub and updated every software. The issu

[2021-03-23 20:01] nicoduj commented on #360
Hi, can you share your conf ? Mostly, if you are using basic behavior (tv accessory), it is because you must add it manually in home app with the code provided in the log : it is not a bridged accessory

[2021-03-23 20:03] nicoduj commented on #358
If current activity (input) on tv device controls sound of your receiver with volume up/ down, you will be able to set volume in remote control widget with physical buttons of your phone yes. But nothing to do with the icon itself which is purely cosmetic

[2021-03-25 00:19] jahnkenneth opened #361 "[BUG] Socket closed"
I am getting the following errors.
Am using Hoobs.

25.3.2021, 01:06:34 [Stuehub] (Stuehub)ERROR (1)- refreshCurrentActivity Error: WebSocket closed with reason: undefined (undefined). - Stack : Error: WebSocket closed with reason: undefined (undefined).
    at WebSocketAsPromised._handleClose (/home/hoobs/.hoobs/node_modules/websocket-as-promised/src/index.js:353:19)
    at WebSocket.listener (/h

[2021-03-25 12:43] jahnkenneth commented on #361
25.3.2021, 13:42:05 [Stuehub] (Stuehub)ERROR (3)- refreshCurrentActivity TimeoutError: Can't open WebSocket within allowed timeout: 10000 ms. - Stack : TimeoutError: Can't open WebSocket within allowed timeout: 10000 ms.
    at PromiseController._handleTimeout (/home/hoobs/.hoobs/node_modules/promise-controller/src/index.js:172:19)
    at Timeout.<anonymous> (/home/hoobs/.hoobs/node_modules/promis

[2021-03-27 10:49] SvenKempf commented on #361
I can confirm to have the very same issue.
I was using it with hoobs version 3.3.5
I meanwhile had to remove the module entirely because it caused my hoobs to completely crash at least once a day :-(

[2021-03-27 10:57] nicoduj commented on #361
Hi, Did you check with Hoobs support ? I have no such issue reported on regular homebridge, might be some problem with websockrets / hoobs itself. no error on the plugin side from the error stack I see.

[2021-03-27 11:14] SvenKempf commented on #361
I did not yet contact hoobs support because so far to me it looked obvious that the issue was caused by harmony plugin.
What brings me to this is this log entry:
`Mar 27 08:19:49 hoobs hoobs[12903]: [HarmonyHub] (HarmonyHub)ERROR (2)- refreshC
urrentActivity TimeoutError: Can't open WebSocket within allowed timeout: 600 ms
. - Stack : TimeoutError: Can't open WebSocket within allowed timeout: 600

[2021-03-27 11:26] jahnkenneth commented on #361
I ditched Hoobs and converted to Homebridge. No problems. :-)

[2021-03-27 11:27] nicoduj commented on #361
the plugin can't open a websocket, maybe because ports on the system are blocked or already in use. Can't do anything about that. It is either network related or a conflict with the host.

I have already seen such error on hoobs, but don't really know what thez are doing above homebridge ....

[2021-03-27 11:28] SvenKempf commented on #361
OK - I will open an incident on hoobs as well.
If they can't help as well I will have to keep harmony plugin removed

[2021-03-27 11:31] nicoduj commented on #361
Or move to regular homebridge 😀

[2021-03-27 11:34] SvenKempf commented on #361
Not an option. Way to much manually maintenance required. This installation was rock solid for over a year now.

[2021-03-30 16:42] NorbertM21 commented on #361
Same issue here without Hoobs:

**Several times a day just "socket closed":**
[29.3.2021, 21:11:56] [Harmony] (Harmony)WARNING - socket closed

**Sometimes with the following messages**
[29.3.2021, 21:12:06] [Harmony] (Harmony)ERROR (1)- refreshCurrentActivity Error: WebSocket closed with reason: undefined (undefined). - Stack : Error: WebSocket closed with reason: undefined (undefined).
    at We

[2021-04-13 13:09] MacFlagg opened #362 "[BUG] WARNING - socket closed causing SIGTERM & SIGINT which is crashing HOOBS"
**Describe the bug**

I keep getting the following error:

(Harmony)WARNING - socket closed

then

Got SIGTERM, shutting down Bridge...

Then my HOOBS shuts completely down.

**To Reproduce**

When I install the harmony plugin, I only fill in the following fields:

1. Name of YourHub
2. IP Address of Your Hub (must be fixed)
3. Hub name in Your Harmony App
4. Main Activity

I leave everything else

[2021-04-14 05:46] Grubi93 commented on #360
Hello,
please check the attached log and config files for your reference. It is recognizing all my activities and accessories, but they are not showing up in  Home. The Accessories, added with the Hue plugin, or WoL, are showing up.
The general mute switch, volume switches and power off button are showing up as well

Thanks in advance for your support.

[config-2.pdf](https://github.com/nicoduj/h

[2021-04-14 06:01] nicoduj commented on #360
Hi, like I said you have to add the tv accessory manually (using plus button in home app, don't have a code ...) . Tv accessory is not bridge like the switch are and must be added by itself (like you added the homebridge bridge )

[2021-04-14 06:03] nicoduj commented on #362
Hi,

Like I said to others, I can't reproduce this outside of hoobs in regular homebridge. The crash is network lib related which seems to be shared with hoobs .

Concerning the network problem itself, did you try with a fixed ip on your hub ?

[2021-04-14 06:05] Grubi93 commented on #360
Hi, okay I will do that. It's strange, because it was working since long with this configuration and all accessories were shown - seems that it has changed.
I will let you know, if it has worked - thanks a lot.

[2021-04-14 06:10] #360 closed, assigned to nobody

[2021-04-14 06:24] nicoduj commented on #360
I was supporting bridged mode for tv at the beginning but since iOS 14 change their are defaulted to external otherwise there are some bugs with remote controls . You can still force the first one as bridge accessory, see readme there is an option for that if you want to try .

[2021-04-14 09:57] MacFlagg commented on #362
Hello,

My hub has a fixed IP. It has been 192.168.1.196 for the last 5 years. Also, I do not know of a setting on the Harmony hub to change or alter the setting of the IP address.

About the other issue: I reported the (Harmony)WARNING - socket closed on the HOOBS page and no one responded after weeks of it being up. So, I posted here.

Do you know if any of the other Harmony plug-ins suffer the

[2021-04-14 10:40] nicoduj commented on #362
Did you have the problem before or did it happen after a plugin and/or hoobs update ?
In regular homebridge you can now set independant bridge per plugin, which allow also to have a more stable solution in case of problems with one plugin.

Does your hub loose sometimes connectivity (red light ? )

Do you have xmpp enabled on the hub ?

[2021-04-14 12:43] MacFlagg commented on #362
When I first installed Hoobs and your plugin, maybe 4 years ago now, it was rock solid. But then about a year and a half ago, the issues started, where I’d find the Hoobs Hub had completely shut down. Sometimes it’s only 1-2 times a month and it was easy to ignore. But other times, HOOBS is shutting down daily. I was hoping that an update would take care of the issue. Recently, HOOBS was shutting

[2021-04-14 12:56] nicoduj commented on #362
Did you try reverting to a "stable" version of the plugin as far as you know to see if it is plugin or hoobs related maybe ?

[2021-04-14 14:16] MacFlagg commented on #362
How would I go about finding and installing a previous version of your plug-in?

But that question is likely moot, since I have no idea which previous version was stable.

I know I started finding my HOOBS shut down by SIGTERM roughly 1.5-2 years ago. Wait, now that I think about it, it might be closer to 2-2.5 years ago, because 2020 is like a lost year for me. I’m just not sure about time anymor

[2021-04-19 15:29] ecoen66 commented on #362
Running into the same issue on Homebridge 1.3.4, with plugin v. 1.5.1. This is crashing Homebridge with a SIGTERM:

[4/19/2021, 9:55:28 AM] [Living Room Harmony Hub] (Living Room Harmony Hub)WARNING - socket closed
[4/19/2021, 9:55:38 AM] [Living Room Harmony Hub] INFO - starting hub discovery
[4/19/2021, 9:55:39 AM] Error [ERR_SOCKET_DGRAM_NOT_RUNNING]: Not running
    at healthCheck (dgram.js:89

[2021-04-19 16:38] nicoduj commented on #362
Hi, not the same issue, your error is happening in hub discovery (which is not my lib). Can you try with a fixed ip ?

[2021-04-19 17:53] MacFlagg commented on #362
As far as I know, my Harmony hub has had the same IP for the last 5 years.

[2021-04-20 08:23] #358 closed, assigned to nobody

[2021-04-20 08:23] #357 closed, assigned to nicoduj

[2021-04-20 08:30] nicoduj commented on #353
Hi, did not see anything in the plogs. One idea however : If you have renamed your activties in home app, maybe you can try to delete the file named harmonyPluginNames_XXX in the root directory of your homebridge folder.

Have no other idea for the moment, the activity is fine through harmony app ?

[2021-04-20 08:35] nicoduj commented on #347
will be added in the readme :)

[2021-04-20 08:35] #347 closed, assigned to nicoduj

[2021-04-20 08:37] #356 closed, assigned to nicoduj

[2021-04-20 08:38] nicoduj commented on #342
closed since I have no news, feel free to reopen

[2021-04-20 08:38] #342 closed, assigned to nobody

[2021-04-20 08:39] #341 closed, assigned to nicoduj

[2021-04-20 08:42] nicoduj commented on #362
@MacFlagg sorry was answering to @ecoen66 . I will try to bump some dep and publish a new version, see if it helps but so far this problem is more network related than plugin related i my opinion (or underlying network lib, where I don't have a lot of control)

[2021-04-20 08:48] nicoduj commented on #350
this one involves a lot of changes (probably going to json config instead of string based). Will postpone sorry.

[2021-04-20 08:51] #346 closed, assigned to nicoduj

[2021-04-20 12:29] ecoen66 commented on #362
@nicoduj Thank you.  The change to a static DHCP address fixed this for my Homebridge issue.

[2021-04-24 11:17] MacFlagg commented on #362
Updated to the latest version of the Harmony plug-in and this happened in less than 24 hours:

4/24/2021, 7:15:01 AM [Harmony] DidFinishLaunching
4/24/2021, 7:15:01 AM [Harmony] (Harmony)INFO - Loading activities...
4/24/2021, 7:15:01 AM Preparing Advertiser for 'HOOBS D0C1' using bonjour-hap backend!
4/24/2021, 7:15:03 AM Error: listen EADDRINUSE: address already in use :::51826
    at Server.set

[2021-04-24 11:19] MacFlagg commented on #362
Ok, I’ve had to delete the Harmony plug-in to keep my HOOBS running.

The Harmony plug-in is immediately shutting down the hub.

[2021-04-24 11:32] MacFlagg commented on #362
After I deleted the Harmony plug-in, I get this in my logs.

4/24/2021, 7:26:49 AM [HarmonyHubWebSocket] INFO - stopping hub discovery, hubs found : 192.168.1.196|Theater Room|8588790
4/24/2021, 7:26:49 AM [HarmonyHubWebSocket] (undefined)INFO - received discovered hubs  192.168.1.196|Theater Room|8588790
4/24/2021, 7:26:52 AM [HarmonyHubWebSocket] (undefined)INFO - Adding Accessory : undefined-TV

[2021-04-24 11:55] nicoduj commented on #362
@MacFlagg
Hi, I am not really supporting Hoobs and prefer regular homebridge. From your (last) logs it seems it is not correctly uninstalled.
concerning the initial error, might be because your hoobs was not running correct hap version or there is a problem with cached accessories / port conflict (harmony plugin expose an external accessory).

[2021-04-24 11:55] MacFlagg commented on #362
I shut down my HOOBS hub. Unplugged it. Waited 30 seconds. Plugged it back in. Re-downloaded the Harmony plug-in. As soon as I configured it, it immediately shut my HOOBS hub down. If I try and start service, the Harmony Plug-in immediately shuts HOOBS down again.

The latest update has rendered the Harmony plug-in totally unusable for me.

[2021-04-24 11:58] nicoduj commented on #362
You can try 1.5.1 so to see, underlying lib for hub discovery has changed in 1.5.2. Or you can 1/ share your config (like it is asked in bug report) 2/ try with a fixed IP if you don't have one.

[2021-04-24 12:57] MacFlagg commented on #362
I have no idea how to download an older version of the Harmony plugin. There seems to be no option for that in HOOBS.

I have had a static IP for the last 5 years. Since its been fixed for so long, I know it off the top of my head - 192.168.1.196.

Configuration:

{
            "platform": "HarmonyHubWebSocket",
            "plugin_map": {
                "plugin_name": "homebridge-harmony"

[2021-04-24 12:59] MacFlagg commented on #362
If you’re not really supporting HOOBS, why is your plug-in HOOBS Certified?

[2021-04-25 08:11] nicoduj commented on #362
@MacFlagg they did the certification; not me, and I don't have any Hoobs instance (and don't intend to). If you want some help on this, like it is said on the readme, please ask Hoobs support.

By the way, you should not specify hubName if you have an ip set.

Since the error seems to be linked to some port conflict (I think the tv accessory is published to a port by homebridge used by hoobs), you

[2021-04-25 11:09] MacFlagg commented on #362
Thanks for your help.

I actually contacted the HOOBS team before I contacted you and they said it was your plug-in and to contact you. I re-reached out to them yesterday, after you said you don’t support HOOBS. I’ve not heard back.

One last question. Which hub name do I leave blank? I’ve always been confused as to why there’s

1. Name of YourHub

And

2. Hub name in Your Harmony App

Which one d

[2021-04-25 11:46] nicoduj commented on #362
HubName should be blank . Concerning the config, it is in the json config of homebridge itself, but don't know where / if it will work with hoobs.
The port is not handle by the plugin but by homebridge itself when adding an external accessory .

Regular homebridge does not need any programming skill with latest version / excellent @oznu configUI plugin :)

[2021-04-26 17:21] NorbertM21 commented on #361
Looks like solved.
Just about three messages "socket close" per day (without Hoobs).
Thanks for your support.

[2021-04-26 17:35] nicoduj commented on #361
Thank you for reporting. If you still have socket close, it means your hub becomes unreachable at some point but it can reconnect so that was my main concern.

[2021-05-08 06:50] maisun opened #363 "[BUG]PLAY and PAUSE commands not working"
**Describe the bug**
Not 100% sure if it's a bug but I have overriding PLAY/PAUSE commands in a few of activities, today I found them not working anymore. There was no recent change to configuration file, and I use function not very often so not sure if it was brought by one of recent update, it used to work without issue.

**To Reproduce**
Define configuration to override PLAY and PAUSE commands,

[2021-05-08 08:35] maisun commented on #363
Just want to add I also tried to set "playPauseBehavior" to false and the problem persists.
There were some change in 1.5.0 related to those overrides not sure if anything was broken since then.

[2021-05-15 15:12] nicoduj commented on #363
Hi,

thx for reporting, probably a bug. Will try to reproduce / fix . Just to narrow the issue, other commands are ok ?

[2021-05-15 18:19] maisun commented on #363
Yes, I believe all other commands are not affected. Thanks for looking into it!

[2021-05-18 09:31] Funskes opened #364 "[BUG]"
I get a red message from Homebridge

![Schermafbeelding 2021-05-18 om 11 10 29](https://user-images.githubusercontent.com/58253773/118627833-56a81700-b7cc-11eb-9771-71f4600e6d1e.jpg)

**Logs**
[09/05/2021, 11:18:11] [Harmony Hub] (Harmony Hub)ERROR (1)- refreshCurrentActivity TypeError: Cannot read property 'result' of undefined - Stack : TypeError: Cannot read property 'result' of undefined
    a

[2021-05-19 17:32] jplwoodward opened #365 "Some Harmony Activities are not "Discovered""
When homebridge loads, only 3 of my six Harmony activities are discovered, e.g.:
[5/19/2021, 12:45:15 PM] [Family Room] (Family Room)INFO - Discovered Activity : Watch X1

Why wouldn't all six be discovered?

[2021-05-20 05:36] nicoduj commented on #365
Hi (first things first),

Can you share your conf please and full log ? Did you rename some activities inside harmony after adding the plugin / device in home app ?

[2021-05-20 05:40] nicoduj commented on #364
Hi,

It is network related, the harmony is slow to respond to homebridge / plugin . I see the socket is closed very often. Did you try in a separate bridge in homebridge if not ? Does your hub have some times red light ?

Are you sure your ip is fixed and does  not renew / change sometimes ? You should not use both IP and hubName by the way.

[2021-05-20 10:37] Funskes commented on #364
Now I put it in a separate home bridge, so let's wait and see if it gets better now.

The IP address of all my devices is fixed in my router, in addition I have the IP address of the Homebridge also fixed in the Raspberry.

The Harmony hub gets the fixed IP address from my router, but I don't see any possibility to give the Harmony hub a fixed IP address in the app itself, but in my opinion that's

[2021-05-20 13:41] jplwoodward commented on #365
I was publishing only 3 of my original 6 activities.  Then I deleted one of them which was not published  then I added one with a different name.  Then I added this new activity (“Listen to Music”) to be published  but only the original 3 that I published are discovered.  Here is my current config:

{
            "name": "Family Room",
            "hubIP": "192.168.1.18",
            "hubName": "F

[2021-05-21 11:36] maisun commented on #363
@nicoduj have you been able to re-produce it? Please let me know any more info you need from me :-) Many thanks!

[2021-05-21 12:31] nicoduj commented on #363
@maisun Hi, sorry did not have much time to deal with the plugin :)
tried something by code reading in 1.5.3 that is on its way, hope it works. If not will take some time later to check / try to reproduce.

[2021-05-21 14:25] maisun commented on #363
Hi thanks just want to report version 1.5.3 seems to fix the issue.

[2021-05-21 14:28] #363 closed, assigned to nicoduj

[2021-05-21 14:29] nicoduj commented on #365
Hi, maybe there is some cache issue or the name of the activity is not the right one (it is case sensitiv).

You can try to clean the cache, and/or removing any activity filtering (activitiesToPublishAsAccessoriesSwitch) .

[2021-05-26 08:44] Funskes commented on #364
It looks like the separate bridge in Homebridge solved this problem!
Thank you!!

[2021-06-03 17:20] Cmejia opened #366 "Bug: Hoobs crashing with error in Harmony plugin"
First off, thank you for developing this plugin!

Last night  my standalone hoobs bridge crashed, with this call stack in the log:

6/3/2021, 12:43:13 AM ERROR: uncaughtException: knownHubsArray is not iterable
6/3/2021, 12:43:13 AM TypeError: knownHubsArray is not iterable
6/3/2021, 12:43:13 AM at HarmonyBase.updateHub (/home/hoobs/.hoobs/node_modules/homebridge-harmony/harmonyBase.js:178:21)
6/3

[2021-06-17 08:05] Seexelas opened #367 "[BUG]"
**Describe the bug**
¨Homebridge is sometime slow to respond, I got this error in the logs :

[6/17/2021, 9:18:11 AM] [homebridge-harmony] This plugin slows down Homebridge. The read handler for the characteristic 'On' was slow to respond! See https://git.io/JtMGR for more info.
[6/17/2021, 9:18:17 AM] [homebridge-harmony] This plugin slows down Homebridge. The read handler for the characteristic

[2021-06-17 09:54] Seexelas commented on #367
New error : This plugin slows down Homebridge. The read handler for the characteristic 'On' didn't respond at all!. Please check that you properly call the callback! See https://git.io/JtMGR for more info.

[2021-06-17 10:01] nicoduj commented on #367
Hi,

don't post the same error each times it happens :) . This error is has it said due to a slow response from your hub whil the plugin requests its state.

You first have some things to try :

- check network conectivity of your hub
- Since you are on docker on synology, it might be related to host CPU / network usage also, or ressource available for docker itself and/or node.js ressources alloc

[2021-06-21 08:23] Seexelas commented on #367
Hi,

Sorry for the double post, and thanks for the response.

I have found my issue. It seems that I have an issue with my Apple TV doing the HUB. I turned off the two Apple TV's from doing the HUB, and let my HomePod do the job.

So far, it's working great. I let a day or two and close this topic.

Thanks, take care.

[2021-06-23 09:41] #367 closed, assigned to nicoduj

[2021-07-07 02:41] SSutherland94 commented on #350
Hey all, was just wondering if there were any updates regarding this issue 😊

[2021-07-07 06:27] #364 closed, assigned to nicoduj

[2021-07-07 06:28] nicoduj commented on #350
Hi, like I said it involves a lot of changes in the plugin, and I don't have a lot of time to spend on it sorry.

[2021-07-07 06:28] #362 closed, assigned to nicoduj

[2021-07-07 06:29] nicoduj commented on #362
Not testing on hoobs, but saw that new versions are released that are not anymore based on some cusotm websocket imp, so maybe it will be better.

[2021-07-07 06:31] nicoduj commented on #366
Hi,

thanks. I a m not testing on hoobs, never saw this one, but might not be related to hoobs. Keeping open to take a look as soon as I will have time to work on this plugin.

[2021-07-07 06:31] nicoduj commented on #365
Closing since I had no update on this.

[2021-07-07 06:31] #365 closed, assigned to nobody

[2021-07-07 06:32] nicoduj commented on #353
Closing since I have no update on this.

[2021-07-07 06:32] #353 closed, assigned to nicoduj

[2021-07-07 06:32] nicoduj commented on #355
Closing since I have no update on this.

[2021-07-07 06:32] #355 closed, assigned to nicoduj

[2021-07-07 06:35] #361 closed, assigned to nicoduj

[2021-07-09 12:24] njuart opened #369 "Expose long press action as a switch"
Hi @nicoduj First of all thx for this amazing plugin!

So I have an interesting question, maybe you can assist me with it. As you might know Apple TV can be added to Harmony Hub via bluetooth to expose "real" Home button functionality (like it described [here](https://medium.com/@squarefrog/pairing-a-logitech-harmony-hub-with-apple-tv-4-4k-using-bluetooth-57942f62b1db) for example). As you might a

[2021-07-09 13:00] nicoduj commented on #369
Hi, unfortunatley never found a way to do that. Double press is ok, but long press, if possible never found how !

[2021-07-09 13:04] njuart commented on #369
Thx, anyway 👍

[2021-07-09 13:44] #369 closed, assigned to nobody

[2021-07-24 19:43] maisun opened #370 "Possible to configure two TVs with disjoint sets of activities?"
Ok, just found out I can configure two platforms with the same hub, and it seems to work, I close the feature request.

Hi @nicoduj,
Need some advise here. I use Harmony to control two sets of devices:
1) HIFI: Stereo AMP, Streamer, Radio
2) HT: AV receiver, Bluray, HTPC, Projector
Both can have several activities. For example HIFI have activities (a) listen to Tidal (b) Listen to internet radio,

[2021-07-24 20:13] #370 closed, assigned to nobody

[2021-07-29 19:26] Christian-CFP opened #371 "Warning message"
Hey I get this WARNING Message:

29.7.2021, 21:22:21HOME BridgeSamsung(Samsung)INFO - Loading activities...
29.7.2021, 21:22:21HOME BridgeFEHLER(node:16104) MaxListenersExceededWarning: Possible EventEmitter memory leak detected. 11 state.change listeners added to [Device]. Use emitter.setMaxListeners() to increase limit
29.7.2021, 21:22:21HOME BridgeFEHLER(Use `node --trace-warnings ...` to show

[2021-07-29 19:28] Christian-CFP opened #372 ""Random" Issue"
If the Hub connect to a better WIFI mesh station the connection gets lost and homebridge does not reconnect.
It tries but get only error messages.

[2021-07-30 11:44] nicoduj commented on #371
Hi, could you tell me more about your homebridge config (config file, host, versions ???) ?
Do you have a lot of disconnection also ?

[2021-07-30 11:45] nicoduj commented on #372
Hi, could you provide conf and logs please ? Are you using a static IP for the hub or auto discovery ?

[2021-07-30 13:34] Christian-CFP commented on #371
This is my config for hb-harmony:
{
            "TVAccessory": true,
            "showTurnOffActivity": false,
            "publishSequencesAsIndividualAccessories": true,
            "publishSwitchActivitiesAsIndividualAccessories": true,
            "linkVolumeControlToTV": true,
            "publishDevicesAsIndividualAccessories": true,
            "name": "Samsung",
            "showCommandsAt

[2021-07-30 13:38] Christian-CFP commented on #372
This is my config for hb-harmony:
{
"TVAccessory": true,
"showTurnOffActivity": false,
"publishSequencesAsIndividualAccessories": true,
"publishSwitchActivitiesAsIndividualAccessories": true,
"linkVolumeControlToTV": true,
"publishDevicesAsIndividualAccessories": true,
"name": "Samsung",
"showCommandsAtStartup": false,
"hubName": "Harmony Hub",
"publishGeneralVolumeSlider": false,
"switchAccessori

[2021-07-30 13:57] Christian-CFP commented on #372
Now I switched the Stations manually to provide you some logs, but it seems doing well. So its not the WiFi Mesh.
If it appears ones again I will post the logs here!

[2021-07-31 12:18] Christian-CFP commented on #371
Here the log:
31.7.2021, 14:08:09HOME BridgeSamsung(Samsung)INFO - Loading activities...
31.7.2021, 14:08:09HOME BridgeFEHLER(node:32097) MaxListenersExceededWarning: Possible EventEmitter memory leak detected. 11 state.change listeners added to [Device]. Use emitter.setMaxListeners() to increase limit
31.7.2021, 14:08:09HOME BridgeFEHLER(Use `node --trace-warnings ...` to show where the warning w

[2021-07-31 12:26] Christian-CFP commented on #371
I guess it is maybe the Samsung Tizen Plugin. In debug mode the Tizen plugin is loading before the Warning.
So I guess its related to that plugin not to yours ;)

31.7.2021, 14:20:26HOME BridgePreparing Advertiser for 'Fernseher 1B13' using bonjour-hap backend!
31.7.2021, 14:20:26HOME BridgeWARNING<(node:507) MaxListenersExceededWarning: Possible EventEmitter memory leak detected. 11 state.change

[2021-08-03 10:46] e1l52 opened #373 "Error: Cannot Bridge more than 149 Accessories"
My HomeBridge Installation didn't show up Harmony Switches after last reboot, which worked like a charm for month.

I see this error message :
UnhandledPromiseRejectionWarning: Error: Cannot Bridge more than 149 Accessories

Any idea how to fix that ?

[2021-08-03 11:31] nicoduj commented on #373
It seems your bridge has too many devices . You will have to expose another homebridge or if you use homebridge 1.3 to use separate bridge for some plugins (like harmony) . If you switch to a dedicated bridge please note that all accessories will be seen as new ones (and you will loose related automations )

[2021-08-03 20:24] e1l52 commented on #373
Thanks a lot for your fast reply. I didn't know that there is a limit for devices.
Will try to fix that with a second bridge.

[2021-08-05 09:11] #371 closed, assigned to nicoduj

[2021-08-06 12:52] dfizzo opened #374 "creating two unique device control switches?"
Hi @nicoduj!

Is it possible to create two separate device accessory switches with two unique sets of device commands (in my case, (1) for all volume controls and (2) another for all device input selection? I was able to accomplish this by creating two instances of Homebridge-harmony plugins in the config, but seems that ability been deprecated and will be deleted in next version (and also not ide

[2021-08-09 17:39] maisun opened #375 "Question: what determines the order of activitie?"
Hi,
I’m trying to understanding how does the plug-in determine the order of activities? The order neither follows the configuration, nor the order in Harmony. It’s also not sorted alphabetically, hence the question…

sorry didn’t mean to create a bug.

[2021-08-22 04:03] ericCJessen opened #376 "[BUG] Plugin disabled by homebridge due to inability to reach server?"
**Describe the bug**

A couple days ago I lost the ability to control Govee devices on homebridge. When I dug into the log today, I saw this:

 [Govee] Disabling HTTP client as connect EHOSTUNREACH 54.164.0.155:443 at TCPConnectWrap.afterConnect [as oncomplete] (net.js:1148:16).
[21/08/2021, 20:52:50] [Govee] Disabling API client as connect EHOSTUNREACH 52.45.27.50:443 at TCPConnectWrap.afterConne

[2021-08-22 06:55] nicoduj commented on #376
Hi,

I think there is a mistake there "govee" is not this harmony plugin .

[2021-09-05 14:06] emory opened #377 "[FEATURE] update the discord invite uri 😬"
**Is your feature request related to a problem? Please describe.**

If someone wants to slap my keyboard about this, I'll understand. On the npmjs listing for this plugin it reads:

But the link to the Discord instance has expired or otherwise isn't available anymore.  That's all.

**Describe the solution you'd like**

To be teleported to a bunch of other geeks with this infernal remote control tr

[2021-09-13 05:06] monsieurlatte opened #378 "How to get volume to work?"
Read through the instructions but I'm not clear as to how it works.  Does anyone have a walkthrough explanation on how to get it to work/show up in homekit?

[2021-10-09 10:06] mbac opened #379 "[BUG] Harmony Hub won’t show up"
Hi,

Despite apparently successful setup, accessories presented via my Harmony Hub won’t show up in the Home app…

The Harmony Hub appears correctly between other hubs in the home, but there are no activities or TV. At startup, Homebridge doesn’t report any error. The last few lines are:

[code]

The setup code is the same as the main Homebridge hub–is this expected? When I enter the code manually

[2021-10-09 10:53] nicoduj commented on #379
Could you please share your config ? You indeed have to add it manually through the code provided yes , but i don't understand what you mean by other hubs ?But you should be able to discover it also .

[2021-10-09 12:24] mbac commented on #379
Hi and thanks for your reply. By “other hubs” I actually meant bridges: Philips Hue bridge, a Netatmo bridge, the Homebridge… Sorry about that. The Harmony hub does show up in the list of bridges available in the Home app, but no activity is shown in the relevant room.

Current config is:
[code]

[2021-10-09 12:39] nicoduj commented on #379
Ok, thx.
first of all, remove cleanCacheOption.
Then, did you add homebridge itself to home app first ? Your config will only add one TVAccessory in home app, but you have to add the bridge and the TV accessory.

[2021-10-09 12:50] mbac commented on #379
Yes, Homebridge was added first and there are several other accessories connected through it which work fine.

Could you please explain what you mean by “add the bridge and the TV accessory”?

Thanks!

[2021-10-28 11:29] nicoduj commented on #379
Hi,

sorry for my late answer.

If you have other bridged accssories available, it means you have added the homebridge hub itself. The TV accessory is exposed outside the hub, on its own port. Are you sure this dedicated port is available / open ? From your log, it seems to be 51254 . You can specifiy in homebridge conf the port range to be used for external accessories like the TV accessory the p

[2021-10-28 11:32] nicoduj commented on #378
volume is only available through remote app in ios or through sliders / switch in home app (but not reallu compatible with a siri command).

Use these options :

`publishGeneralMuteSwitch` publish a mute switch, stateless, that will send a mute command to current activity.

`publishGeneralVolumeSlider` publish a volume slider, stateless, that will send a volume commands to current activity. Approx

[2021-10-28 11:32] #376 closed, assigned to nicoduj

[2021-10-28 11:38] nicoduj commented on #375
order retrieved by the discovery. You can try to reorder in the file that is created on homebridge root directory (harmonyPluginNames_*) But not sure it will work.

[2021-10-28 11:40] nicoduj commented on #374
Hi,

not possible at the moment, either each switch is an individual accessory or one global accessory (which trigeer the group beahvior of home app).two instance of the plugin will still be possible with latest homebridge version if you publish them in separate hubs.

[2021-10-28 11:40] #374 closed, assigned to nobody

[2021-10-28 11:41] #373 closed, assigned to nobody

[2021-10-28 11:42] #372 closed, assigned to nicoduj

[2021-11-11 23:53] Gullwingdmc opened #380 "[BUG]"
**Describe the bug**
HomeBridge log repeatedly reports "error retrieving info from hub". I have had 3 Harmony hubs setup in HomeBridge for a while now. In the last 2 months they have started throwing this error over and over:

[11/11/2021, 18:41:41] [Living Room] (Living Room)INFO - Loading activities...
[11/11/2021, 18:41:52] [Living Room] (Living Room)Error - Error retrieving info from hub : net

[2021-11-15 08:30] CHTHSCH opened #381 "[BUG] Perhaps question: HarmonyHub general device not visible in Eve App"
**Describe the bug**
First: All elements, that I configured are correctly displayed in the Home App and functioning as specified and desired. This also includes the general HarmonyHub device with its characteristics/switches (volume, mute etc.)

Second: I am using the Eve App. The general HarmonyHub device is not displayed at all. All other elements are visible as expected. How can the general Har

[2021-11-15 19:49] nicoduj commented on #381
Hi, If you are talking about the TV device (the one with inputs), it won't be visible in any third party app like EVE : those devices are not exposed to them by apple, nothing I can do about it.
Switches however will be (but not switches linked to tv accessory)

[2021-11-15 19:51] nicoduj commented on #380
Hi, I nonly see one hub in your conf : how did you add others ? I suggest using otherplatform with only 1 plugin, or using separate homebridge hubs in homebridge, but don't use multiple instance of the plugin on same hub. See if it helps.

[2021-11-15 19:55] CHTHSCH commented on #381
Understood.

Thanks for the response. Yes, I meant the Tv device.
I like your plugin, works well! Perhaps some more examples would be very usefull for people with limited technical capabilities.

[2021-11-15 19:55] #381 closed, assigned to nicoduj

[2021-11-15 20:06] nicoduj commented on #381
Agree with that for the sample, since the plugin evolved a lot with a lot of options through time. Any contribution to the readme is welcome, I unfortunately don't have a lot of time to work on this those days.

[2021-11-15 21:15] Gullwingdmc commented on #380
Hi, I had removed the other hubs while troubleshooting the problem. It still occurred with just one hub setup so I figured I’d leave the others out until I could figure out the issue. I know it’s not this specific harmony hub either, because the others were having the same problem at different times. I would restart 1 harmony hub that was throwing this error and everything would start working agai

[2021-11-16 09:10] tomlcooper opened #382 "Websocket issue? [Self-resolved]"
My HarmonyHub is reporting 'no response' in the Home app. In the Homebridge logs, I can see errors relating to WebSockets.

**Logs**
[16/11/2021, 09:07:17] [Harmony Hub] (Harmony Hub)ERROR (3)- refreshCurrentActivity Error: WebSocket closed with reason: undefined (undefined). - Stack : Error: WebSocket closed with reason: undefined (undefined).
    at WebSocketAsPromised._handleClose (/usr/lib/nod

[2021-11-20 19:26] tomlcooper commented on #382
This issue seems to have self-resolved. Thank you.

[2021-11-20 19:26] #382 closed, assigned to nicoduj

[2021-11-24 11:10] brummbaer commented on #380
I also have this problem, no matter what I set in the timeouts. Every 10 seconds I get this error message. However, my hub is switched off with the help of a switchable socket. The delays do not work as expected.

[code]

while booting:
[code]

after booting:
[code]

[code]

[2021-11-24 13:05] nicoduj commented on #380
Hi,

Could you check the behavior booting homebridge with the hub online and disconnecting it afterwards ? The hub must be online when homebridge is booting, otherwise it won't be able to discover activities and configure accessories. Timeout are handled only during refresh process (after homebridge boot and plugin init)

[2021-11-24 14:10] brummbaer commented on #380
Hi,
I can do that gladly. Unfortunately, I can't say exactly when it will start sending these messages after the hub is turned off.
They are also repeated every 10 seconds.

I now understood that the hub must be on when homebridge starts. Sorry for that.

[code]
and with resetting counter refresh?:
[code]

[2021-11-24 15:48] Gullwingdmc commented on #380
I tried running the plugin as a Child Bridge and re-adding the other 2 hubs. I have the same problem. The problem rotates between the 3 hubs. Sometimes all 3 work, other times 2 will start throwing this error and the third will still work. In my case the Living Room hub is the primary and the Kitchen and Bedroom are secondary hubs.

[24/11/2021, 10:44:19] [Living Room] (Kitchen)INFO - Loading acti

[2021-11-24 16:30] brummbaer commented on #380
and this is the first message after i switch the hub "hard" off.

[code]

[2021-11-24 16:44] brummbaer commented on #380
@Gullwingdmc are the hubs running continuously or do you also switch off the hubs or deactivate the WLAN? #

[2021-11-24 16:46] Gullwingdmc commented on #380
@brummbaer Continuous. They are always powered and available through the app or Alexa. So I don’t believe it’s a problem with the harmony hubs. However, if I power cycle the harmony hubs that are throwing errors, everything starts working.

[2021-11-24 16:50] nicoduj commented on #380
What homebridge stack are you using (hoobs or something else ?)

[2021-11-24 16:56] Gullwingdmc commented on #380
@nicoduj We’re running the Homebridge Raspberry Pi image, on a Pi Zero W.

[2021-11-24 17:01] nicoduj commented on #380
Hum, ok . In your homebridge conf did you set a range of port of external accessories ? When the problem happens, if you go insiste the container , can you ping / reach the hub ?

[2021-11-25 11:06] brummbaer commented on #380
I think I have solved the initial "harmony hub must be turned on when HomeKit is restarted"-Problem then.
But I have updated my hombridge in docker to Version v1.3.8. and this `refreshCurrentActivity Error` still comes every 10 seconds when the harmony hub is off again after about 10 minutes.

[code]

[2021-11-26 07:46] brummbaer commented on #380
@nicoduj in https://github.com/nicoduj/homebridge-harmony/issues/362 you mentioned that HubName should be blank. I think this resolved the issue with `refreshCurrentActivity Error`. Could you better clarify when it should be blank and when not?

[2021-11-26 09:02] nicoduj commented on #380
Just to clarify hubName property is used for autodiscovery (without fixed ip), so trying without it could help (a dedicated lib is used for that and should not be activated if option is not set, and you have a fixed ip set which is more reliable in my opinion). will try to check this issue, but As I allready mention don't have time to code currently, sorry guys.

[2021-11-26 10:44] brummbaer commented on #380
Ok, absolutely no problem and thank you very much. My workaround for this little problem is to set `DELAY_BEFORE_RETRY_AFTER_NETWORK_LOSS` to a very high value. Then the log is not flooded with the messages. This also has no effect when controlling the restarted HarmonyHub later.

[code]

[2021-11-26 13:24] Gullwingdmc commented on #380
@nicoduj Should we remove the value next to hubName, or remove the line all together? All hubs are fixed IP for me.

[2021-11-26 13:31] nicoduj commented on #380
@Gullwingdmc removing the line is better.

[2021-11-26 13:37] Gullwingdmc commented on #380
@nicoduj Sounds good. Just did a ping from the HomeBridge terminal and it can’t reach my harmony hubs right now. Which I’m guessing is the reason for this problem. This makes no sense though, because I can reach the hubs from the app on my phone, Alexa, IFTTT. Unless those are all reaching it via the web and the hub is just not responding to local commands. I can’t ping it from my iMac either

[2021-11-26 13:42] nicoduj commented on #380
@Gullwingdmc ok, so maybe a local network issue : do you have a mesh network ? could be interesting to see if it happens on a renewal of IP ? just a guess. What kind of wifi / router are you using ?

[2021-11-26 14:11] Gullwingdmc commented on #380
Yeah we do have a mesh. ASUS ZenWIFI AX. That’s not new though. You think changing the fixed IPs could help? Coild explain why restarting the harmony hubs gets them back online briefly.

[2021-12-08 19:46] inspectorgadjet7 commented on #380
I was just coming here to see if anyone else had this same issue.
I do have a mesh network as well using ASUS routers. I’m going to try binding the Logitech hubs to the main router to see if it helps.

[2021-12-08 19:54] Gullwingdmc commented on #380
That’s interesting. I wonder if it’s an ASUS issue. How do you bind a device to a specific node? I’ve been trying to figure that out, but it seems like they don’t make it easy.

[2021-12-08 19:57] inspectorgadjet7 commented on #380
In the router web interface there is a little link icon next to devices in the AI Mesh section, or in the router app, the link icon is in the devices section.

[2021-12-09 05:54] Gullwingdmc commented on #380
Thanks @inspectorgadjet7 ! I’ll give that a try.

[2021-12-09 08:39] inspectorgadjet7 commented on #380
In addition to the symptoms already mentioned in this thread, I have a new one that I’ve only noticed in the logs since yesterday:
[12/9/2021, 8:26:59 AM] [homebridge-harmony] This plugin slows down Homebridge. The read handler for the characteristic 'Active' didn't respond at all!. Please check that you properly call the callback! See https://git.io

[2021-12-16 15:20] ccwillia opened #383 "Warning in HomeBridge Logs"
Is anyone else seeing the following warning in the HomeBridge logs?

[12/15/2021, 7:02:32 PM] [homebridge-harmony] This plugin slows down Homebridge. The read handler for the characteristic 'On' didn't respond at all!. Please check that you properly call the callback! See https://git.io/JtMGR for more info.

[2021-12-16 15:49] nicoduj commented on #383
Hi, it can happen when the harmony hub is not available while processing an update request. Do you get it often ?

[2021-12-21 09:16] cereyanli commented on #377
Any update on this one

[2021-12-21 09:26] nicoduj commented on #377
should be ok I think (not a "pro" on discord :p )

[2021-12-21 09:26] #377 closed, assigned to nobody

[2021-12-21 16:59] ccwillia commented on #383
Nope, i have only seen it a couple times

[2021-12-30 07:01] SilentRage47 opened #385 "Getting a lot of No response from HomeKit app"
Hello,
i configured the plugin with no problem.
In my Home app I have all my activities but they are usually in a 'No Response' state when opening the app, they acctualy start to work after a couple of minutes. This seems to happens everytime I close and re-open the app.

Homebridge log's shows this warning:
`This plugin slows down Homebridge. The read handler for the characteristic 'On' didn't re

[2021-12-30 20:30] nicoduj commented on #385
Hi, generally speaking, this kind of error is due to slow network connection between your homebridge and the harmony hub. Do you have a lot of accessories / devices in your harmony conf ?

[2021-12-31 14:45] nicoduj commented on #380
@inspectorgadjet7  This warning is mainly due to slow response from the bridge, and if you have a lot of activities/ device, can be worst. =i have seen very often that it can be related to mesh wifi configuration.

[2022-01-02 07:04] bsoener opened #387 "This plugin slows down Homebridge / socket closed messages"
[code]

[2022-01-02 21:45] SilentRage47 commented on #385
I have 8 devices and 6 activity. Is that a lot ?

[2022-01-14 16:11] bsoener opened #388 "(Harmony)ERROR"
Hello, I always get this error message:

[code]
[code]

Hope you can help me where the problem is.

[2022-01-16 17:23] onelight17 opened #389 "Question: Is there a way to expose a light to HomeKit not as a simple switch"
Hi, sorry if this isn't the right place for this question but wanted to know if there was a way to control a RGB light in HomeKit as a light. Currently it's just a switch that can turn on and off but Harmony can do other things such as brightness and colors. Has any one tried that?

[2022-01-16 17:51] nicoduj commented on #389
Hi,
no, hermony controls of lights / home accessories is not exposed through the remote functions, it is coded inside app itself.

[2022-01-16 17:51] #389 closed, assigned to nobody

[2022-01-16 17:52] nicoduj commented on #388
Hi,
Are you using hoobs ? you can also check your network, and ensure that ip is fixed. Please do not use both IP and hubname, IP is more reliable.

[2022-01-16 17:53] nicoduj commented on #385
It is not a lot. what kind of network are you using ? IS this a mesh wifi where your hub might switch from one to another access point ? What are the settings of your wifi connection ?

[2022-01-16 18:21] bsoener commented on #388
I do not use hoobs. <--homebridge. The ip is fixed and it is also correct. In the setting I have:
-enter name from your hub.
-in the middle tray the ip
-and in the third tray hub name of my app.
What should I delete now?

[2022-01-23 13:40] schlotz commented on #387
Getting the exact same error here.  Where are we in getting this resolved?

[2022-01-23 15:11] nicoduj commented on #387
This error means the hub is not reachable, network issue probably. You can try to use a dedicated bridge to see if it helps, try to ping the hub while getting the error inside the bridge . Some mesh network can cause issue also . Please ensure to use a fixed up also without HubName set  in the config .

[2022-01-23 16:53] tjbx opened #390 "Two Hubs - One Disappeared"
I have two hubs configured with static IPs and a simple config (like the multiple hub example) and one disappeared from HomeKit in the last couple of days. I can't seem to get it back. I've restarted homebridge multiple times, tried downgrading homebridge-harmony (and upgrading it back to the latest) but nothing has worked. I can see normal log files about the missing hub and it appears and works

[2022-01-26 16:20] mensa84 commented on #387
I am getting the same "slow down" warning although both of my hubs are reachable. I don't have Mesh, I have a perfect WiFi signal at both Harmony Hubs from an UniFi 6 Long Range Access Point.

[2022-01-26 17:39] schlotz commented on #387
This the same for me, nicodju

M. Schlotzhauer  317.874.7674   Photographer Indy Eleven
mschlotz.com  -  IndyElevenPhoto.com

[2022-01-26 19:27] nicoduj commented on #387
Hi all, will try to investigate (don't have it myself) , is it only at startup or periodically ? The config / system you are running homebridge on could be helpful

[2022-01-26 19:38] bsoener commented on #387
So for me, it's daily. Now even this plugin comes slows down homebridge. See above my report.

[2022-01-26 21:24] schlotz commented on #387
Running on an iMac with latest OS-Monterey. Here is the specific config section for the homebridge-harmony plug-in v 1.5.4, followed by an excerpt from the logs.

 "name": "Harmony Hub",
            "hubIP": "192.168.1.175",
            "hubName": "Harmony Hub",
            "DELAY_BEFORE_RETRY_AFTER_NETWORK_LOSS": 60000,
            "HUB_CONNECT_TIMEOUT": 10000,
            "HUB_SEND_TIMEOUT": 300

[2022-01-28 15:48] bsoener commented on #388
[code]

[2022-01-28 16:54] BrianAMartin221 commented on #387
I've been having this issue since the update which kept causing my Homebridge to restart. Once I turned off Child bridge I haven't seen this message in the logs or had a restart since. (24 hours and counting)

[2022-01-28 17:55] nicoduj commented on #387
Hi

Update of ? Homebridge or the plugin ? You were running it in a child bridge and moved it to o the main bridge ?

[2022-01-28 17:57] schlotz commented on #387
Running in main bridge here.

M. Schlotzhauer  317.874.7674   Photographer Indy Eleven
mschlotz.com  -  IndyElevenPhoto.com

[2022-01-28 17:59] BrianAMartin221 commented on #387
Ah sorry I should have been more clear. I had this plugin running as a child bridge. I've used a child bridge ever since they were introduced so over a year I think. (3 harmony hubs connected). Once I removed the child bridge for my Harmony Hubs in the plugin and restarted homebridge. I haven't seen this error message since. I had not seen this error message until recently last 3 weeks or so I am

[2022-01-28 18:21] nicoduj commented on #387
Ok thanks. Last update of homebridge moved from ciao to bonjour again I think, might be related . The issue is tricky, since it is network / underlying lib related and I don't reproduce it myself ....

[2022-01-28 18:25] BrianAMartin221 commented on #387
That the worst when you can't recreate. Let me know if I can help with any logs or beta testing. This plugin has always been rock solid, I've fully moved to Home Assistant over the last 2 years but run homebridge solely for this plugin. Keep up the great work!

[2022-01-29 09:43] nicoduj commented on #390
Hi,
was harmony plugin on a dedicated bridge or the main bridge ? When you say it disapeared from homekit, You mean from home app right ?
What was published  ? only a tv accessory or also switches ? If it is the tv accessory that disapeared, di you try adding it back with its id (external accessory) ?

[2022-01-29 09:45] nicoduj commented on #388
#387 for merging this issue

[2022-01-29 09:45] #388 closed, assigned to nobody

[2022-01-29 09:45] nicoduj commented on #385
#387 for merging this issue

[2022-01-29 09:45] #385 closed, assigned to nobody

[2022-01-29 09:46] nicoduj commented on #383
#387 for merging this issue

[2022-01-29 09:46] #383 closed, assigned to nobody

[2022-01-29 09:54] nicoduj commented on #387
Ok, so Hi everyone.

Will try to take a look at this since there are a lot of reports, and even if I still can't reproduce it.

First, i'd like that everyone who has this issue (slow down / websocket error) removes the following settings in their conf :

            "DELAY_BEFORE_RETRY_AFTER_NETWORK_LOSS": 60000,
            "HUB_CONNECT_TIMEOUT": 10000,
            "HUB_SEND_TIMEOUT": 30000,

I a

[2022-01-29 13:51] nicoduj commented on #387
1.6.0 beta1 has been released, please try it and report feedback. (previous comment still applicable) .

<img width="497" alt="Capture d’écran 2022-01-29 à 14 50 20" src="https://user-images.githubusercontent.com/19813688/151663556-1736bb62-0c95-4b5e-b5e8-168c5fc6ca2c.png">

[2022-01-29 15:44] tjbx commented on #390
I had tried to add it back but it didn't appear. Your answer prompted me to look around more in homebridge and using the "Unpair Bridges/Cameras/TVs/External Accessories" to unpair the problem HarmonyHub allowed me to re-add it. Thanks.

[2022-01-29 15:44] #390 closed, assigned to nobody

[2022-01-29 20:25] scottleestrange opened #391 "Support Sleep - [FEATURE]"
Most harmony remote support sleep timer which will turn off all running activities, choice of 15, 30,60, 90 and 120 minutes

Can this be added?

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happe

[2022-01-30 07:41] bsoener commented on #387
I have now deleted the gweünschten lines from the confugiration. And updated to the latest version. What exactly do you need?

[2022-01-30 07:53] nicoduj commented on #387
@bsoener thx, I need new logs with the beta in debug mode, at start of the bridge and when/if the error / warning of slow response is happening.
List of npm dependencies and other plugins used on the homebridge would be great also.
Finally, I would need your setup (homebridge version and host config)

[2022-01-30 08:15] bsoener commented on #387
[code]

[2022-01-30 08:16] bsoener commented on #387
{
            "name": "Harmony",
            "hubIP": "192.168.178.104",
            "hubName": "xxxxx",
            "cleanCache": false,
            "publishAllTVAsExternalAccessory": false,
            "TVAccessory": true,
            "SortInput": 0,
            "configureAccesscontrol": false,
            "platform": "HarmonyHubWebSocket",
            "_bridge": {
                "username": "x

[2022-01-30 08:19] bsoener commented on #387
plugins:

- Homebridge Camera FFmpeg
- DenonTv
-  Homebridge Fritz Platform
-  Homebridge Harmony
-  Miele@home
-  Homebridge Robonect
-  Homebridge Synology
-  Homebridge TaHoma
-  Panasonic™ Viera™ TVs support
-  Homebridge Warmup4ie
-  Homebridge Xiaomi Roborock Vacuum

[2022-01-30 08:24] nicoduj commented on #387
Thank you, did you have any new notice of slowing down the bridge or a websocket error at all ?

[2022-01-30 08:39] bsoener commented on #387
So I updated it this morning. And deleted the lines. I will watch it and report.

[2022-01-30 21:47] bsoener commented on #387
unfortunately i get this error message all the time now

[code]

[2022-01-31 06:16] nicoduj commented on #387
Hi,

Ok, so if I understand it works for a certain period of time (around 24h ? ) and then you have this message and it doesn't work anymore . If you restart the bridge it works again right ?
When this happens, can you reach the hub Ip inside homebridge (do a ping through a terminal in homebridge ?) .

[2022-01-31 15:56] bsoener commented on #387
reboot I do not get any errors. Only after a certain time comes this error message.
[code]

[2022-01-31 17:39] nicoduj commented on #387
Ok, thx. Just to be sure : you did the ping while having the error ?

[2022-01-31 18:10] bsoener commented on #387
I do not know when exactly this error message occurs. Have tested it now earlier the ping.

[2022-02-01 17:00] bsoener commented on #387
Happened to be on my homebridge and just got the error message socket closed. I get a ping from my Harmony.

[code]

[2022-02-03 00:41] Gotcha182 opened #392 "Not adding to homekit"
![209F195A-62F2-488D-B197-0C2CE64D3EF8](https://user-images.githubusercontent.com/44763527/152261656-e41b010c-36e0-4073-b221-df0c1e319e86.jpeg)
I am having a hard time getting the bridge added as a tv accessory, but adding as a switch is fine. Here is the confit and not sure what else is needed to get this working right. Homebridge is fine otherwise

[2022-02-03 17:47] Coder84619 opened #393 "[BUG] Harmony activities revert back to 'default room'"
**Describe the bug**
In Homekit the Harmony activities keep reverting back to being in the 'default room', after I assign each activity to a specific rooom.

**To Reproduce**
Move Harmony activities into a specific room in the Home app. Wait a few days, and see that the activities ALL get moved back into the 'default room'.

**Expected behavior**
Harmony activities should stay in their assigned ro

[2022-02-04 16:07] iBaird44 opened #394 "2nd Hub activities only show up as a Multi Switch, not individual switches like the 1st Hub"
<img width="375" alt="image" src="https://user-images.githubusercontent.com/97559981/152562207-8a76140d-1ba2-4e0b-a4c2-f01c153ebc9c.png">

It also strangely always starts on the Third item on the list when powered on, not the first

[2022-02-06 10:16] AbeltjeNL opened #395 "Switching activities powers off activity"
**Describe the bug**
When switching activities in the Home app, the accessories are powered off instead off actually switching activities.

**To Reproduce**
It occurs on both hubs when switching from "TV Kijken" to "Apple TV Kijken". So, switching from "Apple TV Kijken" to "TV Kijken" it all goes well but when switching from "TV Kijken" to "Apple TV Kijken" all devices are powered off on both hubs

[2022-02-06 13:38] nicoduj commented on #395
Hi, thx for reporting . Can you try with sortInput to 1 or 2 please ? be aware of the case : sortInout and not SortInput . Will try to reproduce asap by my side

[2022-02-06 13:42] AbeltjeNL commented on #395
Hi, sorry I didn't mention this but I already tried the sortInput 1 and 2. Doesn't make a difference tho.

[2022-02-06 13:44] nicoduj commented on #395
You have corrected the case also ? In your conf I see SortInput and not sortInput

[2022-02-06 13:53] AbeltjeNL commented on #395
Yes I have. The config I posted is the one without trying the sortInput 1 and 2.
I have just tried it again with sortInput 1 and 2 on both hubs. 0 and 2 act the same, 1 flips the problem 180 degrees meaning when switching from "Apple TV Kijken" to "TV Kijken" all devices are powered off.

[2022-02-07 16:53] astralplastic commented on #392
I'm having troubles too. Can't get Harmony Hub to work.

[2022-02-07 17:25] nicoduj commented on #392
Hi, Tv accessory must be added manually since it is an external device . Just add a new device and enter the code listed in the logs

[2022-02-08 14:50] astralplastic commented on #392
Looks like it won't connect to my Harmony Hub. So I can't do anything.

`[2/8/2022, 8:50:22 AM] [Harmony Hub] (Harmony Hub)INFO - Loading activities...
[2/8/2022, 8:50:22 AM] [Harmony Hub] (Harmony Hub)Error - Error retrieving info from hub : request to http://10.0.1.36:8088/ failed, reason: connect ECONNREFUSED 10.0.1.36:8088-(100)`

[2022-02-11 22:22] AbeltjeNL commented on #395
@nicoduj, I don't want to rush you at all and don't let me rush you! 😉 But.. Did you had time to look at this? I would like to help you solve this before a stable release.

[2022-02-12 07:21] nicoduj commented on #395
Hi, sorry, but did not have time to code / test. Will try next week !

[2022-02-12 08:37] nicoduj commented on #394
Hi, please share your conf. It seems your second hub does not have any switch configured, and is an external TV Accessory (default).

[2022-02-12 08:39] nicoduj commented on #393
Hi,

you probably have an incorrect config file with option cleanCache set to true, which re-create all accessories when hub restarts.

If not, it can also be due to some old ipad in old ios version in your home (and can't do anything about that).

[2022-02-12 08:43] nicoduj commented on #392
Hi,

@Gotcha182  : did you manage to add it as an external accessory like I said ? It is probably your issue, you have to add it manually after homebridge itself, not exposed by the hub.
@astralplastic : your ip is strange, what is your lan network ? did you use static ip or discovery. please double check your hub ip and set it static. Do another issue with your conf please if you still have probl

[2022-02-12 08:45] nicoduj commented on #391
Hi,
You can use shortcut / automation for that I think, will be far more powerfull . The timer is handled as far as I know by the harmony app, not the hub itself.

[2022-02-12 08:45] #391 closed, assigned to nobody

[2022-02-12 08:46] nicoduj commented on #387
@bsoener ok, thank you. If I correctly understand, when it is happening, the hub is available, but the socket closed message keeps coming until you restart the bridge, but it does not crash it right ?

[2022-02-12 08:47] #378 closed, assigned to nobody

[2022-02-12 08:58] nicoduj commented on #395
Hi again,

can you give me the lines at start like :
[code]

[2022-02-12 10:23] AbeltjeNL commented on #395
Hi @nicoduj,

Thank you for taking the time on this saturday. These are my lines at start using v1.6.0-beta2:

[code]

[2022-02-12 10:31] AbeltjeNL commented on #395
v1.6.0-beta2 does seem to fix this problem. Just tried switching activities back and forward on both hubs and it works like a charm! 🥳

[2022-02-12 12:44] bsoener commented on #387
`[12/02/2022, 08:16:10] [Harmony] (Harmony)WARNING - socket closed`

Nothing crashes. I just get this error message. Today I got this error message in the log again

[2022-02-12 13:21] nicoduj commented on #387
@bsoener ok, and do you need to restart homebridge for the plugin to work again ? Can you try the beta I published today ? Thanks

[2022-02-12 13:28] bsoener commented on #387
I did not restart the Homebridge after the error message. I have now installed the new beta and will report as soon as an error message appears again. Thanks

[2022-02-12 13:46] nicoduj commented on #387
Thanks, what I really want to know is if when the error occurs, do you need to do something (like restarting hub or bridge), or does it work again by itself without doing anything .

[2022-02-12 15:23] bsoener commented on #387
I will report as soon as something comes

[2022-02-14 17:43] bsoener commented on #387
[code]

[2022-02-15 06:38] astralplastic commented on #392
@nicoduj Do you know how I can set my ip to static for the harmony hub?

[2022-02-15 06:51] astralplastic commented on #392
@nicoduj I figured out how to find the IP in the Harmony app. I added the IP address to the config for the Harmony plugin.

But now I see this:

`[2/15/2022, 12:48:49 AM] Homebridge v1.4.0 (HAP v0.10.0) (Homebridge 0CCD) is running on port 51413.
[2/15/2022, 12:48:49 AM] [DenonTv] Device: 10.0.1.2 AV Receiver, Connect error: Error: connect ECONNREFUSED 10.0.1.2:8080
[2/15/2022, 12:48:50 AM] [Harmo

[2022-02-16 09:31] nicoduj commented on #387
Thanks, I am publishing beta3 in order to fix this loop condition on closed socket. Let me know, thanks for following this issue and reporting results.

[2022-02-19 08:54] nicoduj commented on #392
@astralplastic  Hi, the ip in your log does not match I think. Ip must be also fixed on your router si that it never changes, see doc or your home / internet router or wifi access point . Please share your conf also .

[2022-02-19 09:53] bsoener commented on #387
good morning. Today I got this error message again. Harmony was not in use.

`[19/02/2022, 10:17:20] [Harmony] (Harmony)WARNING - socket closed`

[2022-02-19 10:39] nicoduj commented on #387
@bsoener thanks, could you please tell me :

- if you are in beta3
- if when there is this message, there is another error after or not
- if the plugin still works without restarting anything (homebridge for example)

The message can appear in case of network loss or even too much socket opened / some time out, but the socket remains active always in order to have feedback from the hub and update

[2022-02-19 14:13] bsoener commented on #387
So I have the latest version on it beta 3. Homebridge I have not restarted. The Harmony works but despite this error message.

[2022-02-19 19:09] nicoduj commented on #387
@bsoener ok thanks, that is what I was expecting. if it reconnects without any action from your side it is ok in my opinion (can't prevent the socket closed at all).

[2022-02-22 14:17] mattvw commented on #387
Hello @nicoduj,

Sorry if this should be opened up in a seperate issue, but since it seemed to be related to the 1.6.0 beta version that fixed the above issues, I thought I'd put this here.

I was also experiencing the same issues and updated to your latest beta3. I had also removed the hubName and the 3 options you mentioned earlier in the config.

That fixed the errors I was seeing before but no

[2022-02-22 22:52] jvaleski opened #396 "mainActivity with "Apple TV" or "AppleTV" fails with WARNING"
configuring mainActivity to "Apple TV" or "AppleTV" fails with the following warning during plugin startup.

`No main Activity that match config file found, default to first one`

workaround is to set said activity in Harmony to some other string (e.g. "abc"), and then set the plugin's mainActivity to that.

[2022-02-23 04:59] nicoduj commented on #396
Hi, double check the log and the name of the activity, it is case sensitive

[2022-02-24 21:33] nicoduj commented on #387
@mattvw you should remove the other platform since you seem to have only one hub :

 "otherPlatforms": [
                {
                    "sortInput": 0
                }
            ],

[2022-02-24 22:23] bsoener commented on #387
latest version is on it and i have no more error message so far

[2022-02-25 13:40] mattvw commented on #387
@nicoduj Thanks, I've removed that from my config and restarted Homebridge. I no longer see the discovery messages and error message on startup now.

However, still nothing was working correctly. I was still seeing the same other messages.

However, I decided to try pulling the power on my Harmony Hub and plugging it back in.... And voila, everything started working again! I apologize for the fals

[2022-02-25 16:23] F-Kafka commented on #350
Sure would be nice if this could be fixed. I have a number of devices that suffer from this problem.

[2022-02-26 15:43] beatpaul opened #397 "Switching to activities bevor powering on"
**Is your feature request related to a problem? Please describe.**

I would like to choose the activity BEFORE powering it on  with HarmonyPlugin/Home app. Its because i do have some Activities without Screen --> (like "Music") but in Home app i have to poweron first and then change the Activity so some components like the TV has to be swiched on always.

**Describe the solution you'd like**

In H

[2022-03-04 02:57] wsmeyer90277 opened #398 "General Play / Pause"
Is there something like the general volume and mute that will just do play/pause for whatever activity is active?

[2022-03-05 00:43] jvaleski commented on #396
I double checked many times to no avail. I just used the activity rename workaround and it worked. something about "Apple*" doesn't work.

[2022-03-11 16:32] schlotz commented on #387
Are we ready to issue out a new functioning release yet?

[2022-03-11 16:39] nicoduj commented on #387
Hi,

sorry, but I saw some issue on migration tat I wanted to check, but did not have the time to do so. Will try ion the next few weeks ...

[2022-03-14 07:55] mrxxxxxx opened #399 "Channels direct Buttons like on the Harmony remote control"
Hello,

I would like to have buttons in the home app with which I can switch the TV channels (for TV Device) e.g. Eurosport with Button 1 (Channel 1); MTV with Button 2 (Chanel 2) etc........
How can I realize this?
Thank you very much.

[2022-04-04 12:46] atlienk commented on #379
Has a resolution to this issue been identified? I believe that I'm encountering something similar and could use some assistance.

I'm able to add my Harmony Hub into HomeBridge (it will appear as an Accessory), but not into the HomeKit app itself. What's odd is that HomeBridge reports that it cannot connect to the Harmony Hub over port 8088, despite it being open. HomeBridge then reports that it's

[2022-04-04 16:46] Gotcha182 opened #400 "Individual control"
I currently have the tv activity set up with all of my scenes from harmony working well. I cannot seem to get individual control of certain devices like being able to have my fireplace turn in or off while my watch tv activity is on and not including that fireplace.

Is this a possibility? If so what is needed as I would love to have some extra controls

[2022-04-10 08:05] nicoduj commented on #400
Hi,

you can always use shortcut or automation to do that. You will have to expose a switch for your fireplace, and then a shortcut (or automation).

[2022-04-10 08:07] nicoduj commented on #399
Hi,
I think you could always define switches with custom commands (number of the channel itself) with devicesToPublishAsAccessoriesSwitch . Use a sequence with a small delay for channels numbers > 9 .

[2022-04-10 08:09] nicoduj commented on #398
Hi,

there is not. I will put it as a new feature,. What would be your use of it  ?

[2022-04-10 08:12] nicoduj commented on #397
Hi,

unfortunately, it is a limitation of home app . It was possible in the early beginnings, but they removed this possibility to select an input and thus power on on this input.

the only way to do so now is with a switch per input, not through the TV accessory.

[2022-04-10 08:12] #397 closed, assigned to nobody

[2022-04-10 08:15] nicoduj commented on #396
Hi, it seems strange. Are you tlaking about the name inside harmony app, or Home app ? The name in the plugin config should be the one in Harmony app. You can rename in home app, but config must remains on harmony settings.

Please post startup logs if you want me to check further.

[2022-04-10 08:16] nicoduj commented on #394
I am closing this one, please feel free to reopen if you want more help

[2022-04-10 08:16] #394 closed, assigned to nobody

[2022-04-10 08:17] nicoduj commented on #392
I am closing this one, please feel free to reopen if you have more info / need more help

[2022-04-10 08:17] #392 closed, assigned to nobody

[2022-04-10 08:18] nicoduj commented on #375
There is a new option in latest version to better handle that.

[2022-04-10 08:18] #375 closed, assigned to nicoduj

[2022-04-10 08:19] nicoduj commented on #393
Closing this one, please feel free to reopen if you have more info / need more help

[2022-04-10 08:19] #393 closed, assigned to nicoduj

[2022-04-10 08:20] nicoduj commented on #366
Can't reproduce on homebridge without hoobs, closing.

[2022-04-10 08:20] #366 closed, assigned to nobody

[2022-04-10 08:33] #380 closed, assigned to nicoduj

[2022-04-10 08:33] #387 closed, assigned to nicoduj

[2022-04-10 13:18] maisun commented on #375
Hi @nicoduj
Thanks for the new version, but looks like it doesn't work fully. Setting sortInput=1 works however setting sortInput=3 doesn't seem to work for me. Anything I should check in log to troubleshoot the issue? Thanks!

[2022-04-10 17:34] nicoduj commented on #375
Hi, you can post your log at startup and config .

[2022-04-10 20:10] maisun commented on #375
Hi @nicoduj
Please kindly find the log and configuration below:
**Logs (looks like the sorting order follows Harmony):**

[4/10/2022, 10:05:46 PM] [Living Room Media Center] Restarting Process...
[4/10/2022, 10:05:47 PM] [Living Room Media Center] Launched child bridge with PID 20387
[4/10/2022, 10:05:47 PM] Registering platform 'homebridge-harmony.HarmonyHubWebSocket'
[4/10/2022, 10:05:47 PM] [Li

[2022-04-14 15:33] schlotz opened #401 "1.6 Still getting socket closed errors [BUG]"
Not as many by far, but usually 2-3 per day.  Is this considered normal?

[2022-04-14 15:38] nicoduj commented on #401
Hi,

The error is network related, can't do anything about that . What I tried to resolve in latest update was the fact that it might not reconnect and some slow response time warning on homebridge side .

[2022-04-14 19:45] schlotz commented on #401
Gotta ya, then no worries.  Thanks!

[2022-04-16 07:37] maisun commented on #375
Hi @nicoduj, just want to let you know I tried to remove the accessory and add it again but still the sorting doesn't work for me. I have more activities in Harmony but I only want to include 5 in HomeKit, could that be the cause?

[2022-04-16 08:12] #401 closed, assigned to nicoduj

[2022-04-16 08:15] nicoduj commented on #375
Hi, this should be fixed in 1.6.1 . Sorry for that.

[2022-04-16 08:17] nicoduj commented on #379
Hi, it seems your hub is not reachable from your homekit server. Are you sure you have the correct IP / it is fixed on your router ? Please share your conf maybe there is something wrong in it.

[2022-04-17 00:02] simplytoast1 commented on #395
I’m reopening the issue in the latest update the behavior has returned.

[2022-04-17 06:28] nicoduj commented on #395
Hi @simplytoast1 , can you please post your logs and conf please ? Did ou have the problem in 1.6 or only in 1.6.1 ?

[2022-04-17 16:34] maisun commented on #375
Thanks a lot! I can confirm 1.6.1 works flawlessly, very much appreciated!

[2022-04-17 21:49] AbeltjeNL commented on #395
Problem doesn't occur in my setup with this latest update.

[2022-04-18 02:21] simplytoast1 commented on #395
Th issue turned out to be a configuration issue on my end.  Closing.

[2022-04-19 12:46] atlienk commented on #379
I have a DHCP reservation for the Hub. It hasn't been changed for years. What's even more peculiar is that I'm seeing the accessory defined in HomeBridge, but it simply can't be added to HomeKit.

Sent with [ProtonMail](https://protonmail.com/) secure email.

------- Original Message -------
On Saturday, April 16th, 2022 at 4:17 AM, Nicolas Dujardin ***@***.***> wrote:

[2022-04-30 03:56] landlord11 commented on #395
I'm seeing this issue in 1.6.0 and 1.6.1. My setup works fine in 1.5.4.  My configuration is pretty simple so I'm not sure what I could adjust to fix it.

[code]

[code]

[2022-04-30 06:49] nicoduj commented on #395
Hi,

Could you please turn your log in debug mode and send them while the issue occurs ?

Thanks.

[2022-04-30 20:03] landlord11 commented on #395
[homebridge_harmony.log](https://github.com/nicoduj/homebridge-harmony/files/8597725/homebridge_harmony.log)

Hi, I attached the log.  I restarted homebridge and then asked Siri to switch to the "Watch Apple TV" activity.  Everything powered off/on and it did not switch activities.

[2022-04-30 20:17] nicoduj commented on #395
Thanks, but as far as I know switching activities through Siri does not work ( only on / off or some shortcut trick) Can you check through home app ?

[2022-04-30 20:22] AbeltjeNL commented on #395
@nicoduj, you're right. Switching activities using Siri doesn't work.

[2022-05-01 10:38] nicoduj commented on #395
@landlord11 Thx, I checked your logs and something is strange, the activeIDentifier is set to an activityID and not to an int like it should be since sort Opton was introduce.

[4/30/2022, 3:57:09 PM] [Family Room Hub] (Family Room Hub)INFO - SET Characteristic.ActiveIdentifier 28267809
[4/30/2022, 3:57:09 PM] [Family Room Hub] (Family Room Hub)INFO - sendInputCommand : Activty PowerOff will be ac

[2022-05-02 05:46] landlord11 commented on #395
Hi @nicoduj, I should have explained about Siri.  I setup scenes that set the input, then can ask Siri to set the scene.  I see the same behavior using the Home app and it still does this after setting sortInput to 1.

[2022-05-02 19:24] FreddiH commented on #379
Hi,

I have another problem with my Homebridge, the first two Hubs are added correctly, but the third didnt show up.
Did I messed up somewhere?

My configuration:
   {
   	"bridge": {
   		"name": "Homebridge4Harmony",
   		"username": "CC:22:3D:E3:CE:31",
   		"port": 51832,
   		"pin": "031-45-163",
   		"manufacturer": "@nfarina",
   		"model": "Homebridge",
   		"serialNumber": "Not Specified"

[2022-05-02 19:38] nicoduj commented on #379
Hi, other platforms is an array, your two hubs should be in it, you must not repeat other platforms inside.

"otherPlatforms": [
{
		"name": "Schlafzimmer HarmonyHub",
		"hubIP": "192.168.0.17",
		"TVAccessory": true,
		"mainActivity": "Apple TV Schlafzimmer",
		"activitiesToPublishAsInputForTVMode": [
			"Apple TV Schlafzimmer"
		],
		"switchAccessories": false,
		"publishGeneralMuteSwitch": fals

[2022-05-02 21:00] FreddiH commented on #379
thank you very much for your help.
After the change I could not add the third Hub.
But after deleting the Docker container and a clean reinstall, now everything works fine.

If anybody needs my finished config, here is mine:

   {
   	"bridge": {
   		"name": "Homebridge4Harmony",
   		"username": "CC:22:3E:E3:CE:31",
        "start": 52100,
        "end": 52150,
   		"pin": "031-45-165",
   		"ma

[2022-05-02 21:19] scottleestrange commented on #379
Other Platforms is an array of other platforms
	"otherPlatforms": [{
		"name": "Schlafzimmer HarmonyHub",
		"hubIP": "192.168.0.17",
		"TVAccessory": true,
		"mainActivity": "Apple TV Schlafzimmer",
		"activitiesToPublishAsInputForTVMode": [
			"Apple TV Schlafzimmer"
		],
		"switchAccessories": false,
		"publishGeneralMuteSwitch": false,
		"publishGeneralVolumeSlider": false,
		"linkVolumeControl

[2022-05-03 15:53] Gullwingdmc commented on #380
@nicoduj  This issue seems to have been solved by the latest version of the harmony hub firmware. Version 4.15.307. Released March 2022
https://support.myharmony.com/en-us/release-notes

[2022-05-07 17:13] scottleestrange opened #402 "[BUG] Socket close"
**Describe the bug*
Periodic socket close

**IOS (please complete the following information):**
HOOBS 4.2.5 node 16.15.0

**Logs**
Your log in debug mode (-D option)

5/7/2022, 9:59:31 AMHarmony BridgeLoft(Master)ERROR (1)- refreshCurrentActivity Error: WebSocket closed with reason: undefined (undefined). - Stack : Error: WebSocket closed with reason: undefined (undefined).
    at WebSocketAsPromi

[2022-05-07 17:16] scottleestrange commented on #396
Strange. I have 4 hubs with the main activity “Watch AppleTV” and no issues.  However I did see this error once.  It went away after I simply refreshed the config and restarted the bridge.  But defiantly something

[2022-05-08 23:15] simplytoast1 commented on #402
I am having the same issue on Homebridge 1.4.1

[2022-05-09 13:48] scottleestrange commented on #395
"switchAccessories": true

This makes a separate HomeKit accessory for each activity allowing Siri to find it by name very easily

[2022-05-15 20:02] Monty opened #403 "[BUG]"
**Describe the bug**
Using the web configuration tool creates an "undefined-TV" accessory

**To Reproduce**
Install plugin
configure a "Logitech" Hub using web tool

**Expected behavior**
Only a "Logitech-TV" accessory is created
**Logitech-TV 566C is running on port 51501.**

An "undefined-TV" accessory should not be created
**undefined-TV A53A is running on port 51511.**

`lsof -i -P | grep LIST

[2022-05-15 20:07] nicoduj commented on #403
Thanks for reporting and detail infos . Will try to fix asap

[2022-05-17 15:08] mensa84 opened #404 "[BUG] INFO - stopping hub discovery, hubs found : undefined"
Hello,

I get that errors in my Homebridge log from time to time and then I can't control my Harmonies via HomeKit:

[code]

My config is:
[code]

What is the problem here please?

[2022-06-10 00:06] JSVarga commented on #350
Adding to this request, have the same issue for both zones of my Onkyo Amp.

[2022-06-10 15:33] maisun opened #405 "[FEATURE] Allow to configure AUDIO_RECEIVER accessory"
**Is your feature request related to a problem? Please describe.**
Not related to a problem, but nice to have.

**Describe the solution you'd like**
Allow to display TV as AUDIO_RECEIVER

**Describe alternatives you've considered**
N/A

**Additional context**
Maybe just allow to configure to expose as TV or Audio Receiver, both have the same functionality. In my case I use Harmony to mainly contro

[2022-06-10 15:34] maisun commented on #405
![IMG_0195](https://user-images.githubusercontent.com/5745785/173100434-5e2222d2-7c63-4f88-b82f-4561037a2a78.PNG)
Attached an image of the icon

[2022-06-19 23:15] grelca commented on #379
I'm having this issue running HB on MacOS Monterey. The TV accessory shows up just fine in the Homebridge UI, but is not in the Home app. Other Homebridge accessories appear in the Home app. Configuring the plugin to use switch accessories works fine, but the TV accessory is not working.

Nothing shows up in Home app:
[code]

Switches show up in Home app:
[code]

Another interesting thing is that