[2019-10-30 13:44] jimsmt commented on #201
You should use a hue light emulator to create several fake hue lights, connect them to harmony hub, then you will be able to control these fake switches using the home automation buttons on your harmony remote

[2019-10-30 15:30] mensa84 commented on #201
Thank you, I know about that "workaround". But the big problem is, if I would do that, that then I can not connect my Harmony directly to my real hue bridge. And if I would connect my real hue bridge to the fake bridge, then I would have to maintain everything in two systems, that is not really helpful.

So I am looking for another solution. But thanks again for your help.

[2019-10-30 19:48] nicoduj commented on #201
Hi.

The main problem to achieve what you want is the fact that the hub does not give any feedback on device / commands pressed on the physical remote. We are only notified as far as I know with activities changes. Thus, it is not possible to respond to a button press in the plugin, except for thoses buttons which are linked to a home device in harmony app, only on some remotes and on dedicated bu

[2019-10-30 19:50] mensa84 commented on #201
Ok, understand, thank you!
Are you also not informed if a device is truned on or off? Only activity change gets you informed?

[2019-10-30 19:51] nicoduj commented on #201
Yep, only activity changes, that is also why I have not implemented the "device" mode as a TV accessory I was thinking about :(

[2019-10-30 19:51] #201 closed, assigned to nobody

[2019-10-30 19:55] mensa84 commented on #201
Thanks for your quick replies :)
Maybe anyone else will have a good idea, then please post here :)
But currently it seems impossible, how sad.

[2019-11-16 22:15] JacVid opened #203 "[BUG]"showTurnOffActivity" wrong config via UI X"
**Describe the bug**
No matter the choice in the Show TurnOff activity, the Power Off is still available in Home App when the "Publishswitch activities as indivdual accessories" is set to ON.

**To Reproduce**
When UI X is used for Config "..." is added in the "showTurnOffActivity" => "false",

**Expected behavior**
When set to None or Flase, the Power Off switch should not be visible.

**Screensh

[2019-11-17 08:22] #203 closed, assigned to nicoduj

[2019-11-17 08:24] nicoduj commented on #203
Thanks for reporting, should be fixed in 1.2.1 . I did not changed the config for configUI, I add some logic to better handle this hybrid option (bool / enum).

[2019-11-18 21:28] costispavlou opened #204 "Devices Switch"
I think I’m most definitely doing something wrong but if someone can point me to what, i’d be much obliged.

I’m trying to add a switch for my devices, mainly 2 air conditioners, my PS4, the AVR and an ip-box. All those devices are already added and working great through harmony hub, not to mention that the plugin is also working flawlessly.

However I can’t seem to add the devices as switches. Ca

[2019-11-18 21:47] nicoduj commented on #204
Hi, could you share your config ? Did you try through configUI-X interface ? Did you check the name of your devices in the logs at startup with the corresponding config option ?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-11-18 22:07] costispavlou commented on #204
Um.. i don’t know how to do it via the hoobs plugin. Hope you can help me.

        {
            "name": "HarmonyHub",
            "hubIP": "192.168.0.28",
            "TVAccessory": false,
            "switchAccessories": false,
            "publishGeneralMuteSwitch": true,
            "homeControlsToPublishAsAccessoriesSwitch": [
                "LG Climate Control"
            ],
            "

[2019-11-19 06:01] nicoduj commented on #204
Ok, thanks. Let me try to help you.
First, Hoobst is coming with config ui x I think don’t you have a website where you can connect with a tab for plugins, and on each plugin a configure button ? If so, you can go in there all options can be set and have a brief explanation.

However, from what I understand, you only want to publish some devices as switches right , but not all of them ?

You can a

[2019-11-19 16:49] costispavlou commented on #204
thank you sir.
I did that but..

        {
            "name": "HarmonyHub",
            "hubIP": "192.168.0.28",
            "TVAccessory": false,
            "switchAccessories": false,
            "publishGeneralMuteSwitch": true,
            "devicesToPublishAsAccessoriesSwitch": ["LG Climate Control", "Philips TV", "PS4", "Cablenet", "infomirDVR"]
            "platform": "HarmonyHubWebSocket"

[2019-11-19 17:05] nicoduj commented on #204
You have some errors in your json. Here it is :

[code]

switchAccessories might not be necessary at all from what I remember since you are defining devicesToPublishAsAccessoriesSwitch option but it won’t hurt ;)

You can use online tools to check like https://jsonformatter.curiousconcept.com

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-11-19 22:07] costispavlou commented on #204
thank you !

[2019-11-20 21:35] costispavlou commented on #204
Hi again, sorry for the re-opening of the issue but one device (LG Climate Control) does not want to be added in the list. All of the rest are there. The name is correct, as it is the same in my Devices list in harmony.. any ideas?

[2019-11-23 10:11] nicoduj commented on #204
Hi, sorry for late answer.
Could you please check the name of the device again, with option showCommandsAtStartup if possible ?
Be aware it is Case sensitive as far as I remember.

[2019-11-23 15:34] costispavlou commented on #204
Hey, thanks again,
Nothing happens other than just showing the activities.. i want to add the devices, not the activities.

Also the other devices can be seen but turning their switch on/off does not change their status. Eg. tv is on (shows as off) pressing it turns the tv off, but toggle switch shows as always off.

[2019-11-23 18:30] nicoduj commented on #204
Hi,

showCommandsAtStartup puts in your homebridge log (after a restart) every commands / devices. Please check .

Concerning other devices, did you add custom comands ? Could you share your logs (in debug if possible : launch homebridge with -D option).

[2019-11-23 18:40] costispavlou commented on #204
[11/23/2019, 5:41:15 PM] [HarmonyHub] INFO - Discovered Device : LG Climate
[11/23/2019, 5:41:15 PM] [HarmonyHub] Error - No function found for LG Climate

It does show the activities (commands). But not all of the devices are showing (LG).
And as I mentioned. If the TV is on for example it shows as off. Pressing the toggle switch (to turn on) turns it off, but the toggle switch is still off.

[2019-11-23 18:50] nicoduj commented on #204
Ok, I understand.

First, as mentioned in readme, Devices switches are stateless . I can't get the real state of the device since  harmony hub only gives states for activities, not devices. So basically the switch will always be off. Trigering it will triger the command each time, without knowing the device state.

Concerning your LG Climate, it does not expose any power function, do I can't find

[2019-11-23 19:15] costispavlou commented on #204
[11/23/2019, 9:14:19 PM] [HarmonyHub] (HarmonyHub)INFO - configuring Main TV Service
[11/23/2019, 9:14:19 PM] [HarmonyHub] INFO - Mapping Mute for Netflix
[11/23/2019, 9:14:19 PM] [HarmonyHub] INFO - Mapping VolumeDown for Netflix
[11/23/2019, 9:14:19 PM] [HarmonyHub] INFO - Mapping VolumeUp for Netflix
[11/23/2019, 9:14:19 PM] [HarmonyHub] INFO - Mapping DirectionDown for Netflix
[11/23/2019, 9:1

[2019-11-24 08:23] nicoduj commented on #204
For your LG Climate, you can try to do that, I think powerOn and PowerOff functions are not in the power group of harmony configuration :
"LG Climate;PowerOn","LG Climate;PowerOff" .

Only your Pioneer device and Philips TV seems to have discrete codes for separate powerOn / PowerOff function so you can do the same. It won't be possible for PS4 and informi DVR / Cablenet.

Did you understand my an

[2019-11-24 17:31] costispavlou commented on #204
all of the devices work, since on/off function works fine.
The thing i'd like to have is their on/off status (ofc not PS4), but its bit of clutter to have one for on and another for off. In any case the only one that cannot be seen right now is LG climate.

I do understand your answer and thank you for your time as well!

[2019-11-24 17:35] nicoduj commented on #204
LG climate is not show if you try my latest suggestion in config ? ("LG Climate;PowerOn","LG Climate;PowerOff")

[2019-11-24 17:39] costispavlou commented on #204
No, it does. Can it be like the harmony activities though? Such as a trigger switch for on/off instead of '2 different switches for each device' if that makes any sense?

[2019-11-24 17:43] nicoduj commented on #204
no, it can't, since this device does not have a power toggle, only separate commands for on / off. since the switch is stateless and my plugin can't know the state of device (only of activities), it is not possible .

[2019-11-24 17:43] #204 closed, assigned to nobody

[2019-11-24 22:35] QcVictor opened #206 "Multiple Hubs (3 Hubs)[BUG]"
**Describe the bug**
3 hubs  does not work using this template...

**To Reproduce**
Add 3 hubs doesn't work with config below, if I remove the third hub in the config file everything is ok !
**Expected behavior**
See third hub appear !
**Screenshots**
If applicable, add screenshots to help explain your problem.

**IOS (please complete the following information):**
Latest

**Logs**
Your log in debu

[2019-11-25 09:24] nicoduj commented on #206
Hi,

otherPlatforms is not an inception :) Here is the cofnig that should work :

[code]

[2019-11-25 09:24] #206 closed, assigned to nicoduj

[2019-11-26 00:31] QcVictor commented on #206
Awesome thanks for the quick reply and this great plugin, someday I will learn to code ;-)

[2019-11-26 13:38] Midifreakz commented on #157
Hey Nico,

I am still having this issue in version 1.2.1. Have had it since a long time on iOS13.

[2019-11-26 14:49] nicoduj commented on #157
Hi, some reported this as fixed, I will test again on iOS 13 ASAP if anyone as feedback please tell me. Be aware that since iOS 12.2 I think they removed the ability to launch directly an input ...

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-11-27 02:39] b- opened #207 "[BUG] "View TV Settings" causes HomeBridge crash"
**Describe the bug**
Upon pressing the "View TV Settings" button under the TV object in the Home app, the homebridge-harmony module doesn't handle the event and Homebridge as a whole crashes.

**To Reproduce**
Press the "View TV Settings" button.

**Expected behavior**
Currently: given that this is caused because the button isn't handled in the first place, I'd expect it to log this and continue o

[2019-12-04 20:28] piejanssens commented on #145
Use Siri Shortcuts

[2019-12-05 05:49] nicoduj commented on #145
Yes sir shortcuts does the trick indeed

[2019-12-09 19:54] costispavlou opened #208 "How/Why did this happen?"
Don’t really know how this occurred but heres a screenshot

![1779AB70-707A-4C30-ACA2-7E0D942FA7F0](https://user-images.githubusercontent.com/57916603/70467753-74992480-1ace-11ea-9039-5cb5985e9d17.png)

[2019-12-09 20:20] nicoduj commented on #208
Hi, could you at least share your config ? Your logs? Is it on an external device or main one ? Was there an homebridge reboot ? Hub config change ? Mostly it happened because input services were not published in the right way ... but giving so few context, I can’t help you !

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-12-09 20:22] costispavlou commented on #208
name": "HarmonyHub",
            "hubIP": "192.168.0.28",
            "TVAccessory": true,
            "switchAccessories": true,
            "publishGeneralMuteSwitch": true,
            "devicesToPublishAsAccessoriesSwitch": [
                "LG Climate;PowerOn",
                "LG Climate;PowerOff",
                "Philips TV",
                "PS4",
                "Cablenet",

[2019-12-09 20:24] costispavlou commented on #208
![DC085514-49C0-49F2-BF3B-412E808DD4FA](https://user-images.githubusercontent.com/57916603/70469924-ac09d000-1ad2-11ea-9d16-c3c9277e6693.png)

[2019-12-09 20:31] costispavlou commented on #208
Ip changed to 16. That fixed it, but same issue with the harmony button though

[2019-12-09 20:33] costispavlou commented on #208
Fixed by removing the switch accessories from true to false

[2019-12-09 20:34] #208 closed, assigned to nicoduj

[2019-12-15 09:41] mattangelofdeth opened #209 "Nothing Appearing in Homekit"
Hello, thanks so much for the great plugin.
I appear to be having an issue where home doesn't appear to be showing any harmony devices / activities.

My config is as follows:

  {
    "platform": "HarmonyHubWebSocket",
    "name": "Rumpus",
    "hubIP": "192.168.1.55",
    "publishAllTVAsExternalAccessory" : true,
    "otherPlatforms": [{
      "name": "Main Bedroom",
      "hubIP": "192.168.1.56"

[2019-12-15 10:11] nicoduj commented on #209
Hi, since you set publishAllTVAsExternalAccessory to true, you need to add them manually in home app.

I made a video on twitter : https://twitter.com/dujnic/status/1110644949027041282?s=21

[2019-12-15 10:13] nicoduj commented on #207
Hi, sorry for late answer. I see where the bug is, will fix asap

[2019-12-15 10:47] mattangelofdeth commented on #209
Thanks for the reply.
I’m a little lost though. How do I add them manually? Do you mean add an accessory in HomeKit or specify them manually in the json ?
Is there an easier way to publish all the activities automatically?

________________________________
From: Nicolas Dujardin - notifications@github.com <github.mrees.4f637e54b9.notifications#reply@reply.github.com>
Sent: Sunday, December 15, 201

[2019-12-15 11:38] nicoduj commented on #209
Hi, did you watch the video on Twitter ? With your config, launch homebridge. You will see in the log a setup code for your device . In home app, add a new device, choose enter setup code, your deivce will be listed, add it by entering the code. Repeat for each device (same code) .

Please notice that the option "publishAllTVAsExternalAccessory" in subplatform is not necessary.

[2019-12-15 12:33] mattangelofdeth commented on #209
Thanks again
When entering the homebridge accessory setup code, none of the harmony devices show up.  The code I’m entering is the standard code that’s used when I initially setup homebridge and linked it to HomeKit.
I must be doing something wrong.

[2019-12-15 12:42] nicoduj commented on #209
Ok, so first of all, do you have any other homebridge device exposed on the same hub that is a tv accessory ? If not, remove option publishAllTVAsExternalAccessory (in both platform and subplatform).

This way, your first harmony hub will be added automatically, but you will still need to add second one manually. the setup code is the same indeed, it is expected behavior.

Please share your logs i

[2019-12-15 13:30] mattangelofdeth commented on #209
Thanks Nicholas
No joy unfortunately. I’m running sysmd so logs haven’t really been setup correctly as of yet. I’ll have to sort that and post.

[2019-12-15 13:36] nicoduj commented on #209
Maybe you should try with only one hub at first. Be sure to have static ip set on your hubs.
Let me know once you have your logs.

[2019-12-15 13:41] mattangelofdeth commented on #209
Yep. Removed 2nd hub. Have static’s. Still no joy.
I’ll try and fix logs and post again.

Thanks for your speedy help!

[2019-12-15 14:22] nicoduj commented on #209
Do you have any other plugin that works on this homebridge instance ? Did you try with switch mode ?

[code]

[2019-12-15 15:12] nicoduj commented on #157
Ok, I can reproduce, but order of events with refreshing nfo from hub is a bit tricky, will take some time to fix this and make it as reliable as possible.

[2019-12-16 09:54] mattangelofdeth commented on #209
Thanks so much! I resolved this. For some reason, my homebridge systemd config didn't save and so homebridge wasn't operating in insecure mode!

Once I added the -I argument, it all kicked into gear. Thanks again for your help

[2019-12-16 09:54] #209 closed, assigned to nobody

[2019-12-21 10:17] #157 closed, assigned to nicoduj

[2019-12-21 10:17] #207 closed, assigned to nicoduj

[2019-12-21 14:24] jahnkenneth opened #210 "ECONNREFUSED"
Hello,

after the latest update I'm getting ECONNREFUSED.
I have three Harmony-hubs, and the plugin was working prior to this update.

My set up is as follows:
 "platforms": [
        {
            "name": "Stue",
            "hubIP": "192.168.68.113",
            "otherPlatforms": [
                {
                    "name": "loftstue",
                    "hubIP": "192.168.68.104"

[2019-12-21 14:43] #210 closed, assigned to nobody

[2019-12-21 14:44] jahnkenneth commented on #210
Problem with HOOBS

[2019-12-21 15:17] nicoduj commented on #210
Hi, thanks for reporting,  what was the hoobs problem ? Just for others just in case ;)

[2019-12-21 15:19] jahnkenneth commented on #210
An old platform in the config... I had uninstalled the plugin, but not removed it from the config. :-)

[2019-12-23 14:17] PelagicDev commented on #115
@nicoduj I have your plugin setup and working but can't get volume to work. My scenario though, is that I use an AV Receiver for the audio, so when I'm in the Remote app I don't have an option to select my AV Receiver device. Is this something that is unable to be done with the plugin or is there a configuration that I need to add/change?

Here is my config:
[code]

P.S. Sorry for bringing up an o

[2019-12-23 17:09] nicoduj commented on #115
@PelagicDev Hi, is your activity in harmony set to control volume with your AV Receiver ? Be aware that sound control is done through physical buttons of iPhone / iPad when the remote is displayed . If it does not work I would need logs in debug mode to see if volume are mapped when you change input .

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-12-23 17:14] PelagicDev commented on #115
Yes, the AV receiver is set to control the volume within my "Watch TV" activity. If I use the Harmony app, I can successfully use the volume buttons to control the volume of the AV receiver. I can definitely look into getting the logs for you.

My main question is: Should I be seeing my 'AV Reveiver' in the list of devices within the Remote app?

Thanks for your help!

[2019-12-23 17:19] nicoduj commented on #115
No, you will see the name of the activity in remote control from control center at the top, NOT the remote app . Then you will be able to set volume with physical buttons and control the others function through the widget .

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-12-23 17:32] PelagicDev commented on #115
Okay, yeah, I was meaning the control center 'remote' widget from within Control Center. When I tap the remote icon, all I see in there are my 3 Apple TV devices that I have in the list of devices.

As far as getting the logs, I assume you're just referring to the Homebridge logs? Is there an error or something that I would be looking for in there? I don't mind debugging this myself, just curious

[2019-12-23 17:46] PelagicDev commented on #115
Here are the logs from Homebridge when I restarted it earlier:

[code]
(**Note:** I only included the `homebridge-harmonyHub` related log events)

[2019-12-23 17:52] nicoduj commented on #115
Thank you , I am not sure it can display more than 3 devices . By any chance is there any other plugin that is exposing a tv device ? You should be able to select your HomeKit device which name should be harmonyhub-tv from what I see

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-12-23 17:55] PelagicDev commented on #115
Yeah, I do have the `homebridge-webos-tv` installed as well which is for a TV that isn't on my harmony-hub.

[2019-12-23 17:57] nicoduj commented on #115
Ok so you need to publish as external accessory and add it manually then or run another homebridge. One homebridge can’t expose more than one tv device if not published as external accessory, like it is mentionnés in readme

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-12-23 18:00] PelagicDev commented on #115
Okay, yeah, I just disabled that webos-tv plugin and now I see the harmony hub and volume is working!

I'll play around with the `publishAllTVAsExternalAccessory` config option and see what works best for me. Thank you for all of your help!

[2019-12-23 18:04] nicoduj commented on #115
Great ! From my knowledge webos tv plugin does not support external mode so if you want both you must set this on my plugin, then add the tv device manually through HomeKit by entering the code !

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-12-26 23:08] grizfan opened #211 "ECONNREFUSED - Fresh HOOBS install"
Hi, I recently installed HOOBS on a Raspberry Pi. I then installed and configured the homebridge-harmony plugin. I set up a static IP for my Harmony hub on my Asus router, then configured the plugin to use the assigned name and IP address, but now all I get is the following error repeating:

`[Homebridge] [12/26/2019, 16:02:07] [Living-Room] INFO - Loading activities...[Homebridge] [12/26/2019, 16

[2019-12-26 23:18] grizfan commented on #211
as soon as I post, I find a solution on https://www.reddit.com/r/homebridge/comments/dxweso/help_with_homebridgeharmony_plugin_please/
using the Harmony App, I found that my hub is using a different IP that I saw in my router (must have been a different device). I updated the configuration to use the correct IP address and it works now.
Lesson learned - use the Harmony App to verify the IP address

[2019-12-26 23:18] #211 closed, assigned to nobody

[2020-01-08 04:43] TejasAntani opened #212 "[BUG] 2nd & 3rd Hub in Homebridge Not Converting to Switch Accessory"
**Describe the bug**
Installed 2nd and 3rd hub as TV accessories.  Looking to convert them to switch accessories to get each input as it's own icon.  When I switch the setting from TV to switch accessory in the config UI and save, the accessory in homekit doesn't change for the 2nd and 3rd hubs.  They did change in the first hub.  I ran a clear cache and it still did not help.

**To Reproduce**
Se

[2020-01-08 05:07] TejasAntani commented on #212
UPDATE: I found that I have to select the settings individually for each hub under the "other hubs" section.  Now I see all the accessory switches.  Sorry!

However, even with clean cache turned on I still see the old TV accessories.  Thanks for the help!

[2020-01-08 05:13] nicoduj commented on #212
Hi,

Indeed you do need to specify option for each hub, so they can behave differently.

Concerning your remaining TV accessories, since they were added externally you have to remove them manually in home app (long press them and just remove them).

Enjoy the plugin :)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-01-08 06:09] TejasAntani commented on #212
Fantastic thank you. Question - how does the notion of volume control work when your activities are set up as accessories? Is volume still an option?

[2020-01-08 09:25] nicoduj commented on #212
Volume only works in the remote widget through tv accessory. With switch accessory you can still publish a command switch fort the device you want to control (one for up command, one for down, and maybe one for mute) .

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-01-10 13:09] schweppy opened #214 "Problems"
Hi
I was using this plugin fine until my router failed and since replacing it, the harmony hub is now on a new IP address. HomeKit is now showing 2 instances of the hub, the old IP and the new one. I have tried turning on “clean cache” and also have tried removing cachedAccessories directly from my Pi4 but the old hub is still showing in HomeKit.

The second issue is that every time i restart home

[2020-01-10 13:14] nicoduj commented on #214
Hi, why didn’t you assigned the same fixed up through your new router ? Has mentioned you must have a static ip set for your harmony hub.
If it resets to default room, it is probably because it is seen as a new device each time. If you played with clean cache and cached accessories / persist folder, be sure to turn the option back off, and clean also files for harmony at your homebridge root direc

[2020-01-10 14:28] schweppy commented on #214
I didn’t realise it needed to be static. Have now changed it back to old IP but it is still showing the original duplicate instance in HomeKit.
The option is definitely off for cleancache??
Configure file looks like this -

"platform": "HarmonyHubWebSocket",
"name": "Living Room TV",
"hubIP": "192.168.0.5",
"cleanCache": false,
 "mainActivity": "Apple TV",
"playPauseBehavior": false

[2020-01-10 14:50] schweppy commented on #214
The only real error in the log i can see is this - [Living Room TV] WARNING - configureAccessory - The platform HubName is not there anymore in your config (name property). It won't be loaded and will be removed from cache.

[2020-01-10 22:58] schweppy commented on #214
Have now removed persist folder and completely removed homebridge from HomeKit but when readding the old TV with remote is still there???? I’ve turned off TV accessory in harmony config as well so only showing the one old accessory????

[2020-01-11 07:31] nicoduj commented on #214
You have probably added it once as external accessory just delete it in home app on ios

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-01-11 22:15] schweppy commented on #214
Started from scratch and all working as it should be.

The control centre remote doesn’t work on my Apple TV. Any ideas? iPhone Volume buttons work fine for my AV Receiver.

[2020-01-12 08:35] nicoduj commented on #214
I don’t really understand what you mean , the control center remote bonds it’s command to the one of the current activity (volume, arrows...)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-01-12 10:02] schweppy commented on #214
Yes and all activities the remote works ok except for the Apple TV activities. This does not control the Apple TV like the harmony remote does.

[2020-01-12 12:07] nicoduj commented on #214
You will have to check the logs in debug mode to verify what key binding is in place with this activity . You can always override them in config if needed (see readme)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-01-12 15:48] Phoenix-DH opened #215 "Eposed TV not shown on all devices"
Hey,

since a few days I am experiencing that the exposed TV remote on my devices is not shown on all....

On my iPhone it is missing... on the other 2 additional devices, an iPhone and an iPad it is vissible.

All is working on all devices except the remote is not vissible.

I have no clue to track this issue ...
All are on the same ip range ... same than all devices.

Does anybody else had the s

[2020-01-12 17:21] nicoduj commented on #215
Hi, did you just try to reboot your faulty iOS device ? Seems to be a bug on iOS I think.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-01-12 17:24] Phoenix-DH commented on #215
Sure ... multiple times ...
Sure there must be an iOS issue.

Only want to know if somebody has an idea what I can do or had the same.

[2020-01-12 17:47] nicoduj commented on #215
Are you on the same WiFi network ? (Multiple access points maybe ?) as far as I know it uses bonjour protocol so maybe your iOS device does not discover it .

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-01-12 18:21] Phoenix-DH commented on #215
Yes ... Strange .... Actually visible now 😂

[2020-01-12 21:17] Phoenix-DH commented on #215
Seems that I got it right now...
By ubiquiti needs a downgrade because there was a bug in the fw.
Since then no problems anymore.

[2020-01-17 02:54] sdorilas opened #216 "Mutiple Hub showing extra TV"
**Describe the bug**
Using multiple hubs. One TV is showing twice in Homekit but cannot actually control device

**To Reproduce**
Steps to reproduce the behavior

**Expected behavior**
Homekit should only display two televisions, not 3. Should also be able to control device.

**Screenshots**
![D315EBF3-7122-41CC-9326-AB510D2ADBC8_1_105_c](https://user-images.githubusercontent.com/19697514/72580614

[2020-01-17 05:21] nicoduj commented on #216
Hi, you are publishing everything as external device, I think you might have publish this tv once with a different name . Did you simply try to remove the faulty one on home app manually (long press / settings / delete ) ? External devices not published anymore needs to be removed manually .

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-01-17 05:24] sdorilas commented on #216
Yes, publishing all as external. Both TVs had a different name prior. I added the underscore to both names in order to remove the space between characters. I cannot manually remote from home app. No delete option under settings for the device in question.

Sent from my iPhone.

[2020-01-17 05:46] nicoduj commented on #216
Check in hub section in home app maybe, don’t remember where it is in ios13 but should be somewhere (see #124 ) .

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-01-17 05:53] nicoduj commented on #216
And if you changed the option publish allas external in the same time while renaming, maybe this broken tv device is the first one that you were adding before , and this maybe still in the cache of homebridge. If this is the case, check your homebridge logs to see if it publish it, and if so try first a simple reboot of homebridge . You can also confirm that hypothesis by going to the hub section

[2020-01-17 05:53] #215 closed, assigned to nobody

[2020-01-17 05:56] #212 closed, assigned to nicoduj

[2020-01-17 05:56] sdorilas commented on #216
﻿
﻿Unfortunately I can’t remove any individual device from the homebridge. I can view the device when navigating to the hub but no option to remove.  I did the cleancache true then false a couple times, while stopping and running service in between...nothing. I did notice my working Television is on Living_Room, whereas the one not working is on the older name of Living Room.

Sent from my iPhone.

[2020-01-17 05:59] nicoduj commented on #216
Can you post a screenshot of the properties pane of this tv device , at the very bottom after force touching it, just below the information pane with manufacturer and so on ?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-01-17 06:01] sdorilas commented on #216
Non Working Tv:

Working TV:

Sent from my iPhone.

[2020-01-17 06:03] sdorilas commented on #216
![82DCF6D3-743F-484A-A093-7CEBDAAC81C8](https://user-images.githubusercontent.com/19697514/72588101-33faab00-38c5-11ea-81cc-38920662b33a.png)
![4889AD9C-D8F2-4BAC-990A-EBB1B30B166E](https://user-images.githubusercontent.com/19697514/72588102-34934180-38c5-11ea-8e5e-48eae113cd2f.png)

[2020-01-17 06:05] sdorilas commented on #216
![1AA21899-0679-4121-8782-42CC7BE80CDB](https://user-images.githubusercontent.com/19697514/72588166-6dcbb180-38c5-11ea-921e-f8166d7bbdcf.png)

[2020-01-17 06:15] nicoduj commented on #216
Thank you. Is it listed in hub devices list in the global home options ? (Go to details of homebridge hub in hub section) I would also need homebridge startup log in debug please

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-01-17 06:18] sdorilas commented on #216
It is listed there. And how do I go about getting the log files?

![042A207B-4BBC-4CAA-B170-6EDA881D5D89](https://user-images.githubusercontent.com/19697514/72588708-247c6180-38c7-11ea-8dfd-dd15aeedbb08.png)

[2020-01-18 03:00] jmbwell commented on #216
I just added a second hub, and I’m seeing this behavior too. My original hub started showing up with each activity appearing as a separate device/tile. The new hub worked, however. But then I updated node and homebridge and the plugin (from HEAD), and now both are exhibiting the behavior.

![FA4E15F6-2352-46F4-AE3A-4238B5933FA8](https://user-images.githubusercontent.com/32799077/72657641-5398de80-

[2020-01-18 03:46] sdorilas commented on #216
Welcome. Sorry to hear that but glad I’m not alone. It will get sorted.

Sent from my iPhone.

[2020-01-18 04:18] sdorilas commented on #216
So I just checked and it’s fixed!! I’ve done nothing and it resolved itself. Best of luck.

Sent from my iPhone.

[2020-01-18 04:35] jmbwell commented on #216
Mine is correct now too. Of course, I’ve been fiddling with it, so I don’t know what would have changed.

[2020-01-18 19:00] nicoduj commented on #216
Hi, as I thought it is some HomeKit sync issue . Since ios13 I have seen such strange behaviors, glad to know everything is back to normal !

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-01-18 19:01] #216 closed, assigned to nicoduj

[2020-01-21 05:50] MikeDeltaHH commented on #214
@schweppy
Do you use hoobs or the native homebridge? I switch from homebridge to hoobs in the past and have the same problem that the hub was reset to the default room when i´m restart hoobs - switch this plugin back to my old homebridge installation and this doesn´t occurs again so i think this problem is hoobs related...

[2020-01-23 11:28] TheBassfly opened #217 "Harmony Plugin causes Hoobs-Homebridge to crash"
**Describe the bug**
Since the last update, the Plugin causes Homebridge to crash nearly everyday

**To Reproduce**
Nothing to reproduce, as it happens randomly

**Logs**
This is, what he log produces, before it crashes:

[Homebridge] [1/23/2020, 08:05:05] [HarmonyHub] ERROR - refreshCurrentActivity Error: WebSocket closed with reason: connection failed (1006).
[Homebridge] [1/23/2020, 08:05:05] [

[2020-01-23 12:19] nicoduj commented on #217
Hi, when you say last update , what do you mean ? Hoobs update ? Harmony hub update ? Plugin update ? It seems that the plugin can’t connect to your hub .

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-01-23 12:27] TheBassfly commented on #217
Sorry

I mean the last Update ob the Homebridge Harmony Plugin

And yes, the Log says this. But this was the only thing that I changed and it happens randomly. After a restart of the Homebridge Service everything is fine again for the day.

I also posted the same issue in the Hoobs area, because I'm not sure if it's the plugin or hoobs.

[2020-01-23 12:55] nicoduj commented on #217
Make sure your harmony hub has got a fixed IP and that it does not change .

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-01-23 13:46] TheBassfly commented on #217
I has.
Because of homebridge I always let the important devices get the same IP everytime.

[2020-01-23 15:38] nicoduj commented on #217
Could you tell me versions of node / websocket dependency ? I don’t have hoobs, but I think there is an issue with reconnection while socket is closed between the plugin and the hub. As far as I understand, it works a bit, and then crash that’s it ?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-01-23 15:55] TheBassfly commented on #217
Okay, here the Stats:
Hoobs: 3.1.20
Node: 12.14.0
Homebridge: 0.4.50

And yes, that's exactly the behavior. Until the Update from 21/12/2019 it worked with any issues.

[2020-01-23 16:57] nicoduj commented on #217
Ok, that is strange will check the changes in the code and dependencies , you say 21/12 what was the version you updated from / to ?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-01-23 16:59] nicoduj commented on #217
Ok so web socket lib was indeed updated to websocket-as-promised": "^1.0.1" at least from 0.x ... will investigate

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-01-23 17:01] TheBassfly commented on #217
Cool

Thanks

[2020-01-24 08:42] nicoduj commented on #217
Hi again, I tried to reproduce with no luck for know, by generating an error exactly where you got one. The thing is I am nnot looping on the error itself, like your config seems to do.

Could you please run those commands :

npm -version
npm list websocket-as-promised

I think there might be a problem of dependencies but not quite sure right now.

[2020-01-24 08:45] TheBassfly commented on #217
Okay

So at the end it is because hoops maybe.

NPM Version: 6.13.4
@hoobs/hoobs@3.1.20 /home/hoobs/.hoobs
└─┬ homebridge-harmony@1.2.2
  ├─┬ harmony-websocket@1.5.0
  │ └── websocket-as-promised@1.0.1
  └── websocket-as-promised@1.0.1

[2020-01-24 08:51] nicoduj commented on #217
could you try to modify your package.json in harmony plugin directory (probably  in something like /homebridge/node_modules/homebridge-harmony) and set :

[code]

to
[code]

then run

[code]

and then restart homebridge and see if the problem is still there. I would like also you to check log at startup and ensure that there is no problem at first to get the hub config in the startup process.

[2020-01-24 08:56] nicoduj commented on #217
Just in case, you can also do this :

[code]

[2020-01-24 08:58] TheBassfly commented on #217
To be Honest, I'm not a skilled programmer. I would need help to change jsons or such stuff.

the out put says:
@hoobs/hoobs@3.1.20 /home/hoobs/.hoobs
└─┬ homebridge-harmony@1.2.2
  ├─┬ harmony-websocket@1.5.0
  │ └── websocket@1.0.31
  └── websocket@1.0.31

There is also a Message that a Patch Version for NPM ist available, but I can't update it, as the user I'm using in hoops is not allowed to c

[2020-01-24 09:39] TheBassfly commented on #217
Oh and here is the startup Log from the actually System Situation:

[Homebridge] [1/24/2020, 10:38:24] Loaded config.json with 2 accessories and 3 platforms.
[Homebridge] [1/24/2020, 10:38:24] Loaded plugin: "homebridge-delay-switch"
[Homebridge] [1/24/2020, 10:38:24] Registering accessory "homebridge-delay-switch.DelaySwitch"
[Homebridge] [1/24/2020, 10:38:24] Loaded plugin: "homebridge-fritz"
[H

[2020-01-24 16:08] mkellsy commented on #217
HOOBS installs plugins in ~/.hoobs/node_modules not in the global scope. This may be causing issues, however it shouldn't.

I reviewed the lines of code that are causing this. issue. And I think there might be a memory leak.

In https://github.com/nicoduj/homebridge-harmony/blob/Dynamic-Platform/harmonyBase.js around line 284.
[code]

Doing something like this, putting a half second gap between re

[2020-01-24 16:22] nicoduj commented on #217
Hi, it is not doing a retry, harmonyPlform is not harmonyBase. It is only setting the activity to unset value . that is what is strange to me, since when I generate an error manually in this code, like this :

[code]

I only get the error once,  no retry :

[code]

might be missing something, retry maybe comes from another context at top level .

[2020-01-24 16:25] genfersee opened #218 "Plugin works but does not show activity in log"
Dear all,
I have the homebridge-harmony plugin and it is really great and running fine!
I am just wondering why when I switch TV activities on and off, nothing appears in the homebridge logs. Did I miss some configuration?

Here are the homebridge logs at startup:

`[2020-1-24 17:15:26] Loaded config.json with 0 accessories and 2 platforms.
[2020-1-24 17:15:26] ---
[2020-1-24 17:15:26] Loaded plug

[2020-01-24 16:27] nicoduj commented on #218
Hi,
I made the choice to not log this, only in Debug Mode. Don't like to have a log full of information, but only populated with error / warnings.

[2020-01-24 16:28] nicoduj commented on #218
And by the way glad to see you like it :)

[2020-01-24 16:28] genfersee commented on #218
Hi!
Thanks you for this very fast answer!!
And what means the following?

[Harmony] WARNING - configureAccessory - TV accessory added in your bridge from cache, if another plugin is exposing a TV accessory this one might not be visible in your remote widget

[2020-01-24 16:33] nicoduj commented on #218
It is displayed only at startup. Homebrdige / Homekit only allow one TV accessory exposed from one homebridge bridge. If you have more than one (all plugins), only the first one will be visible in remote app in control center. So, If you have another plugin exposing a tv accessory on your homebridge instance, then you need to set mine to expose it as external accessory (and add it manually in home

[2020-01-24 16:34] genfersee commented on #218
Many thanks, all clear! Thank you so much for the work! :)

[2020-01-24 16:34] #218 closed, assigned to nobody

[2020-01-24 16:38] nicoduj commented on #217
A new version is on its way (1.2.3) that removes unecessary websocket dependency at my plugin level, to see if it helps.

EDIT : it is released, took some times travis had some breaking change :)

@TheBassfly can you try to update and tell us if it is better ?

[2020-01-25 07:40] TheBassfly commented on #217
Hey
I updated the plugin. It will take a few days to see if it‘s crashing again.
But for the las 4 hours it was stable. Let‘s see.

[2020-01-25 07:42] nicoduj commented on #217
Hi, great. How often did it crash before ? you had no update of the harmony hub firmware in the same period as you updated the plugin, right ?

[2020-01-25 07:54] TheBassfly commented on #217
The crash happened every 1-2 days.

As far as I could see, there was no firmware update. Only an update of the harmony app.

[2020-01-25 08:32] MikeDeltaHH commented on #217
Yesterday i made the update to the newest version and at this morning my homebridge was crashed after a long time for the first time - i have to reboot the whole machine from remote, so i haven´t logs at the moment, will investigate this...

[2020-01-25 08:34] nicoduj commented on #217
Hi @MikeDeltaHH, could you please tell us if you are using hoobs, and which update did you do (from / to) ?

@mkells, could you tell me which version of websocket / websocket as promised hoobs depends on ?

[2020-01-25 08:39] MikeDeltaHH commented on #217
Hi @nicoduj i have a hoobs installation and a homebridge installation on two seperate virtual machines for all plugins doesn´t work properly with hoobs  - i´ve made the issue in the hoobs github "Strange problem with the homebridge-harmony plugin #432 " and switched this plugin to the native homebridge installation last week! I update from 1.2.2 to 1.2.3!

[2020-01-25 08:46] nicoduj commented on #217
Interesting. And it is your homebridge without hoobs that failed, right ? logs would be much appreciated, especially since there is quite no difference between 1.2.2 and 1.2.3 (only a dependency in package.json)

[2020-01-25 08:50] MikeDeltaHH commented on #217
Yes... i wake up this moring and my homebridge installation wasn´t responding so i reboot the whole machine with a ssh app on my smartphone - the logs i can see (i´m using Homebridge Config UI X) are from the time after the reboot - any chance to collect logs from the point before i reboot the machine? Sorry, my english isn´t great and i´m not a linux specialist...

[2020-01-25 08:57] nicoduj commented on #217
as far as I know config UI X do not erase logs after a reboot, at least it is the case on my installation.

You should find whole logs there : /homebridge/logs

[2020-01-25 09:09] nicoduj commented on #217
@mkellsy
Interesting changes in underlying websocket lib that might be related : https://github.com/theturtle32/WebSocket-Node/compare/v1.0.30...v1.0.31

[2020-01-25 09:10] nicoduj commented on #217
Did you reboot after updating ?

[2020-01-25 09:24] MikeDeltaHH commented on #217
Searching for the logs... i´m running homebridge as system.d so the rellated logs are stored in /var/log/syslog - investigate the logs but doesn´t find any entries for the crash... my homebrdige do a planned reboot every day at 03:00 and the crash must be in the time windows between 03:00 and 09:00...
Andy yes, do a reboot after update!

------------------------------------------------------------

[2020-01-25 09:32] nicoduj commented on #217
Hi, from the log I see, you have cleanCache option activated ->

Jan 25 03:00:13 homebridge homebridge[892]: [2020-1-25 03:00:13] [HarmonyHub Wohnzimmer] Initializing HarmonyHubWebSocket platform...
Jan 25 03:00:13 homebridge homebridge[892]: [2020-1-25 03:00:13] [HarmonyHub Wohnzimmer] HarmonyPlatform Init
Jan 25 03:00:13 homebridge homebridge[892]: [2020-1-25 03:00:13] [HarmonyHub Wohnzimmer] un

[2020-01-25 09:41] nicoduj commented on #217
And your error is not from harmony :

Jan 25 03:00:24 homebridge homebridge[892]: [2020-1-25 03:00:24] Error: listen EADDRINUSE: address already in use :::51826
Jan 25 03:00:24 homebridge homebridge[892]:     at Server.setupListenHandle [as _listen2] (net.js:1259:14)
Jan 25 03:00:24 homebridge homebridge[892]:     at listenInCluster (net.js:1307:12)
Jan 25 03:00:24 homebridge homebridge[892]:

[2020-01-25 09:42] MikeDeltaHH commented on #217
Ah ok... i wonder why this doesn´t happen in the homebridge installation with the same config... but thanks for the info, will change this option... and thanks again for investigating my logs and finding a problem with an other plugin... :)

[2020-01-25 09:46] MikeDeltaHH commented on #217
@nicoduj my cleanCache option was set to "false"... so, i wonder why this happens...this is my config:

{
            "platform": "HarmonyHubWebSocket",
            "plugin_map": {
                "plugin_name": "homebridge-harmony"
            },
            "name": "HarmonyHub Wohnzimmer",
            "hubIP": "192.168.2.34",
            "cleanCache": "false",
            "publishAllTVAsExternal

[2020-01-25 09:59] nicoduj commented on #217
try removing completely the option . Clearly it sees it as true from your logs ! (or you might have multiple config files) .

or write it like this : "cleanCache": false !

You maybe used configUI X ... might be a bug there !

[2020-01-25 10:13] MikeDeltaHH commented on #217
Removing the option helps... thanks!

Jan 25 11:08:21 homebridge homebridge[2247]: [2020-1-25 11:08:21] [HarmonyHub Wohnzimmer] Initializing HarmonyHubWebSocket platform...
Jan 25 11:08:21 homebridge homebridge[2247]: [2020-1-25 11:08:21] [HarmonyHub Wohnzimmer] HarmonyPlatform Init
Jan 25 11:08:21 homebridge homebridge[2247]: [2020-1-25 11:08:21] [HarmonyHub Wohnzimmer] undefined
Jan 25 11:08:21

[2020-01-25 11:04] nicoduj commented on #217
All your false options are not good, it must be false and not "false", otherwise will be interpreted as true

[2020-01-25 11:09] nicoduj opened #219 "[FEATURE] Improve handling of false value in config"
Boolean options set to "false" and not false in config are interpreted as true.

[2020-01-25 11:15] nicoduj commented on #219
be careful with showTurnOffActivity which is an enum

[2020-01-25 12:11] nicoduj commented on #214
I have improved options handling in 1.2.4, so that cleanCahce option set to "false" and not false is not interpreted as true.

Let me know if it is ok .

See #219

[2020-01-25 12:12] #219 closed, assigned to nicoduj

[2020-01-25 12:28] mensa84 opened #220 "npm ERR! missing: websocket@latest, required by harmony-websocket@1.5.0"
Hello,

after upgrading to latest 1.2.4 version I get following error, do you know why and how to solve this?

[code]

[2020-01-25 12:56] MikeDeltaHH commented on #217
Oh.... i haven´t noticed yet that i have such an error in my config, thanks a lot!

[2020-01-25 12:58] nicoduj commented on #220
Why do you do —depth =0 ? My plugin rely only on harmony-websocket which depends on other libs . The plugin does not work ? I had previously the dep in my package.json but since that might cause some deep problems and I don’t use them directly I removed it

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-01-25 13:07] MikeDeltaHH commented on #217
@TheBassfly Can you provide please an information when the plugin runs stable with hoobs in the next days? I will then switch back the plugin from my homebridge to hoobs, thanks! :)

[2020-01-25 13:21] mensa84 commented on #220
First of all: The plugin is working and I am very thankful that it exists!

I found this "--depth=0" anywhere in the internet and I liked it, because then I only see the installed homebridge plugins.

Now I did uninstall homebridge-harmony and reinstalled and that errors are gone! Perfect.

I only saw that permission errors, do you know why? I ran it as root and withouth any sudo:

[code]

[2020-01-25 13:33] TheBassfly commented on #217
Sure!

[2020-01-25 13:58] nicoduj commented on #217
Like I said on Hoobs topic I have published a new version that should tolerate such difference that can lead to misbehaviours :)

[2020-01-25 14:03] nicoduj commented on #220
The build log could not be wirtten, maybe you did not have the rights while building the dependency.
npmcache behaves strangely sometimes, I think it might have cahced previous dependency .

[2020-01-25 14:03] #220 closed, assigned to nicoduj

[2020-01-25 14:24] Nastras opened #221 "missing: websocket@latest and missing: websocket-as-promised"
Hello @nicoduj

FYI: I just noticed after the update on v1.2.4 is set when calling sudo npm list -g --depth=0

<img width="1058" alt="Bildschirmfoto 2020-01-25 um 14 13 44" src="https://user-images.githubusercontent.com/27686185/73122547-805d7f00-3f86-11ea-9ec2-105c9628cd2e.png">

these missing packages are displayed at the end.

I'm not sure if it will affect your plugin?

Greetings Nastras

[2020-01-25 14:30] nicoduj commented on #221
Hi,

see #220 , I removed unnecessary dependencies but seems that npm cache is messing up at some point. you can try reinstall again , but it should not be a problem if the dep is correctly there for harmony-websocket (which you don't see since you added a --depth=0 parameter)

[2020-01-25 14:30] #221 closed, assigned to nicoduj

[2020-01-25 14:39] Nastras commented on #220
I had not seen that it had already been reported. Sorry. I reinstalled it and now the bug is gone.

Thank you!

[2020-01-25 17:10] jqnatividad opened #222 "“An Accessory is Controlled” automation triggers are not being triggered"
**Describe the bug**
I’m trying to trigger my shades to close when the Harmony TV device or any of the activity switches are turned on, but the triggers are not being fired.

**To Reproduce**
Create “An Accessory is Controlled” trigger on the Harmony TV service or any activity switches.

**Expected behavior**
The On/Off trigger will fire accordingly.

**IOS (please complete the following informati

[2020-01-25 17:16] nicoduj commented on #222
Hi,

as far as I understand, you are trying to do an automation in Home app that reacts to a switch / input change correct ?

Are you seing the same behavior if you trigger the activity through harmony remote and through home app ?

Are you sure at all automations are working (there are known problems with automations on ios 13.3 dependending on hubs / versions / beta enrollment ...)

[2020-01-25 19:02] jqnatividad commented on #222
Hi,
Thanks for the quick response and all your work!  And yes, I’m trying the automation from the Home app to react to the on/off state of the switches.

I originally did the shade automation by leveraging the Home Control features of Harmony when defining an Activity, but I found that once I do that for an Activity, I’d get this error on the HOOBS log if I try to invoke it from HomeKit.

`[Harmon

[2020-01-25 19:10] nicoduj commented on #222
On my experience all automations stopped working when I had hub (Apple TV) on 13.3 and my iPad on 13.3.1 beta . I had to remove my iPad from HomeKit hubs to have them work again. Can you try other automations to see if they work ,like triggering a light when another is set on or something like that ? Concerning your try with harmony, I am interested in more details if you want in order to see if I

[2020-01-25 19:39] jqnatividad commented on #222
I just removed myself from the TVos beta based on your recommendation...  Hopefully, some of these problems will disappear once my Apple TVs are on GA.

As for Harmony/Homekit automation in general, I can confirm that none of the Harmony switches trip the On/Off automation triggers in the Home app even if the Harmony Activity is successfully invoked...

What details can I provide to help you troub

[2020-01-25 20:36] nicoduj commented on #222
Hi, did you try any automation that does not involve harmony ? Just to be sure . And moreover getting out of beta won’t make your Apple TV back on non beta . You must remove it as HomeKit hub and let only hubs in your home that are on non beta to check if it is the cause of your problem.

Unfortunately if the switch is working well I have no way to debug the automation since it is in HomeKit not o

[2020-01-25 21:17] jqnatividad commented on #222
Hi, I have a fairly complicated setup with about 60 accessories and a similar number of automations in the Home app and Eve.  Several of those automations are trigger automations that work without a problem, and right now, its only the Harmony trigger automations that do not fire.

Let me see if I can eliminate some possible causes and I’ll report my findings here.

[2020-01-25 22:01] nicoduj commented on #222
Ok, let’s try maybe with other actions than your shades also . I have some here that works in home app (with smart plugs or hue lights as target, made in home not as a shortcut)

[2020-01-26 16:35] TheBassfly commented on #217
Hello

I update the Plugin to 1.2.4 yesterday

And today the crash came up again:

[Homebridge] [1/26/2020, 17:15:26] [HarmonyHub] ERROR - refreshCurrentActivity TimeoutError: Can't open WebSocket within allowed timeout: 10000 ms.
[Homebridge] [1/26/2020, 17:15:26] [HarmonyHub] ERROR - refreshCurrentActivity TimeoutError: Can't open WebSocket within allowed timeout: 10000 ms.
[Homebridge] [1/26/20

[2020-01-26 17:19] nicoduj commented on #217
Hi, thank you for the update.

So first of all, it is not the same error . Clearly here this happens because the hub is not reachable at the moment.

Secondly, I think that the number of logs is not because of a loop, but because of multiple simultaneous refresh calls to homekit status that needed a connection to the hub to get the status of activities. Maybe that in hoobs memory available for thi

[2020-01-26 17:29] nicoduj commented on #217
By the way, if you could launch homebridge with -D option, I might have more info logs around the crash to see what happens. don't know how to do it with hoobs however.

[2020-01-27 07:52] TheBassfly commented on #217
I can't say it exactly , because it is happening at night, when we ware asleep, and when I look in the log at at the morning, I can't see that much into the past, where and when it happened.

I'm afraid, that Hoops and the standard user is limited in the level of commands. I don't think that I can't start it with debug.

[2020-01-27 15:53] jqnatividad commented on #222
Hi @nicoduj , just wanted to let you know that the issue has been resolved!

I don't know the exact root cause, but it must have been a symptom of one of my other accessories not working...

[2020-01-27 15:53] #222 closed, assigned to nicoduj

[2020-01-27 17:24] nicoduj commented on #217
Hi,

I would really like to narrow this issue, and see if it is an update I make that in certain circumstances provoque the issue or if it is somewhere else.

Could you try to downgrade the harmony plugin ?
I think you can do it in hoobs following this steps (feel free to ask hoobs maintainers since I don't know this environment) :

https://github.com/hoobs-org/HOOBS/wiki/4.0-Plugins#installing-pl

[2020-01-28 11:28] mkellsy commented on #217
Yes that's the way.
1. Make sure the plugin is installed with the UI before doing this.
2. `cd ~/.hoobs`
3. `npm install homebridge-harmony@1.2.1`

[2020-01-28 17:49] DJay-X commented on #217
I also get this error recently and homebridge crashed and reboot.

HarmonyHub] ERROR - refreshCurrentActivity TimeoutError: Can't open WebSocket within allowed timeout: 10000 ms.

I run the plugin for a long time now. Not sure why this happens now.
PI  3 B+ Raspbian 9 (stretch),homebridge@0.4.50 | node@12.14.1 | npm 6.13.6 | n@6.1.3

[2020-01-28 17:51] TheBassfly commented on #217
Small Update:
Haven't had a crash in the last days. I still observe it and will give you information, when it's happening again. But to be sure I'll do the downgrade for now.

[2020-01-28 20:07] nicoduj commented on #217
Hi, Do you have full logs ? Was there multiple ones before the crash ? You are not on hoobs right ?

[2020-01-28 20:08] nicoduj commented on #217
Ok, so let me know if it happens again after downgrading . Thank you

[2020-01-31 20:36] nicoduj commented on #217
any news ?

[2020-01-31 21:53] TheBassfly commented on #217
Nothing happened the last days.

[2020-01-31 22:38] DJay-X commented on #217
I also had an eye on this error the last days but didn't pop up again. Strange hiccup.
Thanks @nicoduj for being interested and tying to help.
For me, everything's okay for now.

[2020-02-01 09:04] nicoduj commented on #217
thank you for the update. May I ask which version your are on ?

[2020-02-01 11:16] TheBassfly commented on #217
I'm still using 1.2.1 like you asked for.

But it shows me an available Update.

[2020-02-01 17:42] DJay-X commented on #217
Today my Homebridge had to stopp and thankfully startet again after the stopp was forced buy the harmony plugin.
Log is showing every second
`Feb 01 18:32:27 raspberrypi-3BPlus homebridge[27252]: [2020-2-1 18:32:27] [HarmonyHub] ERROR - refreshCurrentActivity Error: WebSocket closed with reason: connection failed (1006).`
until
`Feb 01 18:35:09 raspberrypi-3BPlus homebridge[27252]: [2020-2-1 18:35

[2020-02-01 17:52] nicoduj commented on #217
Hi, thank you, the crash is what bothering me indeed. Could you post the full log ? Did you have any problem on your local network / hub accessibility ? (it does not need any internet connection).

I am also interested in any automation involving harmony and if you have any always on device that could pull a refresh on harmony state and/or a refresh at the time of the crash.

[2020-02-01 18:57] nicoduj commented on #217
I pushed another update, that "might" improve . I can't reproduce, but I think it might happen when the hub is not reachable, and there is an update asked from homekit. I think depending on the number of activities / devices exposed, too many websocket calls could be sent. I have tried to limit them.

Let me know.

[2020-02-01 20:30] DJay-X commented on #217
many thanks @nicoduj
I can do the the update and observe the log but probably can't provide a full log before the middle of the week or so. I'll let you know if in the next days something strange happens again.

[2020-02-02 19:24] DJay-X commented on #217
@nicoduj  Unfortunately Homebridge crashed and rebooted 2-3 times today because of the harmony plugin. Also with v1.2.5
The log is crazy filled with error messages from the plugin.
Its >26 MB big log.
https://wetransfer.com/downloads/0199020fba378fbc0389ccfebbeec4d420200202192014/05bd4d6c15e0c481f89a50583089292920200202192014/1f5e26

It is filled with 142970 lines just...
[code]

Last entry sounds

[2020-02-02 19:50] nicoduj commented on #217
Thank you, and I am really sorry for that. Can’t find what is happening since I did not make changes that could explain, must be underlying websocket stack but can’t figure it out (and don’t have it on my setup :( ) . Can you like @TheBassfly downgrade and see if it helps ? If it is ok I will revert back to this version maybe ... however I am also concerned that no other users reported this so the

[2020-02-02 20:37] DJay-X commented on #217
No worries. You do a great job for us all. I go back to v1.2.2 for a few days and will let you know. Thanks again.

[2020-02-02 21:17] QcVictor opened #223 "[Questions]Control Light buttons with the plugin?"
Can I control Light buttons on my harmony companion with the plugin?
**Describe the solution you'd like**
Being able to send http call, with light button "long and short press" with the remote

[2020-02-03 05:13] nicoduj commented on #223
High, not really sure to understand what you mean. If you are talking about home controls on harmony remote there is an option to bind them to a switch in home app through the plugin (see readme). No long / short press however , and it won’t make any http call, only send the command to the hub that is linked to that button in harmony configuration .

<sub>Sent with <a href="http://githawk.com">Git

[2020-02-03 05:14] nicoduj commented on #217
@DJay-X ok let me know, will continue to investigate

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-02-03 12:02] DJay-X commented on #217
Unfortunately I didn't had to wait long. Even with 1.2.2 homebridge crashed and reboot happened.
I again found the system log /var/log/ > 26 GB and the final error message like above.

So from my side I have no idea what's going on. :(

I deleted the big log file.
Then I  removed/uninstalled the plugin

`sudo npm uninstall homebridge-harmony -g`
`sudo npm remove --unsafe-perm -g homebridge-harmony

[2020-02-05 22:51] DJay-X commented on #217
I restored a older backup of my Pi Homebridge and also reset my Router.
After this and updating the plugin again to the latest version, I no longer have any issues since 2 days. No clue why. Fingers crossed.
But I assume at the end the former issue has noting to do with the plugin.
Anyway, thanks again for trying to help and the time you invested @nicoduj .
Wouldn't want to miss homebridge-harmony

[2020-02-05 23:52] QcVictor commented on #223
Thanks for the reply, need http call for control my stuff...

[2020-02-05 23:52] #223 closed, assigned to nobody

[2020-02-06 05:13] nicoduj commented on #217
@DJay-X thank you for the update ! I would be interested in the version of websocket / websocket as promised you have now !

@TheBassfly any news on your side ?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-02-06 09:02] DJay-X commented on #217
I checked with `npm list -g --depth=0`
Result ...
[code]

pi@raspberrypi-3BPlus:~ $ npm -version
6.13.7
pi@raspberrypi-3BPlus:~ $ npm list websocket-as-promised
/home/pi
└── (empty)

pi@raspberrypi-3BPlus:~ $ npm list websocket
/home/pi
└── (empty)

So probably not the lates/required/or any version of websocket installed? However, this works best for me with homebridge-harmony@1.2.5 🤷🏼‍♂️

Anythin

[2020-02-06 09:04] TheBassfly commented on #217
From my side no issues the last days. Everything worked without any trouble.

[2020-02-06 20:44] TheBassfly commented on #217
Today I got a total crash of the raspberry and had to restart it. I don't know what causes it, as the hoobs gui wasn't reachable anymore.

[2020-02-06 21:58] mkellsy commented on #217
That's wired. The hoobs gui is a separate process from homebridge. It actually shows up as 2 different processes.

Could something else be happening. Was there a kernel panic, or did the network stack crash?

`dmesg` time :)

[2020-02-07 08:15] TheBassfly commented on #217
I can't tell it exactly. I just noticed that my Homebridge Accessoires weren't reachable in Homekit and when I tried to reach hoobs via the web browser, nothing happened.
So I restarted the Pi and after a loner period hoobs was reachable again. but the service didn't started because of some connection errors to the harmon plug.
Then I restarted the Service and in the moment everything works again.

[2020-02-10 20:44] maisun opened #224 "Homekit remote buttons"
Hi,
I have a question regarding the button list in HomeKit remote:
REWIND
FAST_FORWARD
NEXT_TRACK
PREVIOUS_TRACK
ARROW_UP
ARROW_DOWN
ARROW_LEFT
ARROW_RIGHT
SELECT
BACK
EXIT
INFORMATION
PLAY
PAUSE
VOLUME_UP
VOLUME_DOWN
MUTE
SETUP

I can only see few of them in my remote. I can't find things like next/previous track, mute, rewind/ff etc. Is it possible to define the layout of the remote or do I miss

[2020-02-10 21:43] maisun opened #225 "playPauseBehavior vs Play/Pause"
Hi, sorry I have another question.
I use Kodi which support play, pause and play/pause command. Should I override the Play/Pause button to use play/pause command from Kodi or it's better to use playPauseBehavior?
If I use playPauseBehavior what if the play state is changed from other channels (Harmony remote for example)?
Thank you in advance!

[2020-02-11 05:21] nicoduj commented on #224
Hi, the remote is fixed, sorry ! I have exposed every command available at api level but only some are there . Volume are bond to physical buttons when the remote is on the screen . I think some gestures are there for some commands but I am not sure , not using it very often myself !

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-02-11 05:23] nicoduj commented on #225
Hi again. If you have separate commands use them . If the plugin handle play pause behavior it won’t be aware of external changes and will send play and pause in sequence no matter what happened somewhere outside its world ;)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-02-11 09:10] maisun commented on #225
Hi Nicoduj,
Thank you! So you recommend to use play/pause command instead of playPauseBehavior, right?

[2020-02-13 05:15] nicoduj commented on #225
Hi, sorry for my late reply. If you have separate play pause command , yes .

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-02-13 05:15] #224 closed, assigned to nobody

[2020-02-13 05:16] #225 closed, assigned to nobody

[2020-02-13 05:22] nicoduj commented on #214
I am closing this since I had no feedback, feel free to re open if necessary

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-02-13 05:22] #214 closed, assigned to nobody

[2020-02-15 18:12] costispavlou commented on #217
facing the same issues here too.

[Homebridge] [2/15/2020, 20:11:29] [HarmonyHub] Error - Error retrieving info from hub : Error: connect EHOSTUNREACH 192.168.0.20:8088-(21)
[Homebridge] [2/15/2020, 20:11:39] [HarmonyHub] INFO - Loading activities...
[Homebridge] [2/15/2020, 20:11:42] [HarmonyHub] Error - Error retrieving info from hub : Error: connect EHOSTUNREACH 192.168.0.20:8088-(22)
[Homebrid

[2020-02-15 18:14] nicoduj commented on #217
I don't think it is the ame issue, since there is 5 seconds between each attemps and the error is clearly that the hub is not reachable : any network change / new IP to the hub ?

[2020-02-15 18:17] costispavlou commented on #217
you're right I didn't noticed til seconds later when I saw what I posted.
Do you know how I can set a fixed ip for my hub?

[2020-02-15 18:18] costispavlou commented on #217
It works again now, but note that if harmony plugin doesn't work, nothing works (no other plugin works) and shows as "not responding".

[2020-02-15 18:58] nicoduj commented on #217
You have to do it in your network router / box . Concerning the issue, it is handled if the hub is reachable at homebridge start (with some slow polling), but not while launching homebridge (since if the hub is not reachabke then, I can't set up devices  and so on).

[2020-02-15 20:00] costispavlou commented on #217
What I'm saying is, if home-bridge-harmony plugin is not working, then all other plugins dont work either. For example, the service is active and running, however all accessories/devices show as not responding. Not just those that have to do with harmony, but lights, shutters, vacuum etc.

Not sure if when the harmony hub is not found that causes the service to stop, i need to check, but I don't t

[2020-02-15 20:17] TheBassfly commented on #217
I'm back :-)

I just got a crash on Tuesday where you could see again a bunch of we socket errors until hoobs killed the homebridge service.
And on Tuesday was again a major crash which resulted in a hard reset of my raspberry. So I don't know if the harmony websocket thing also caused this.
It is better than in de en er but in my view with hoobs far from stable for now.

[2020-02-15 20:45] nicoduj commented on #217
@costispavlou  are you using hoobs ? Concerning the homebridge freeze in cas of trouble, I don’t really know how to improove this and have seen it a lot in homebridge plugin. I could make this in a different way (returning a response immedialtely to homebridge) but there might be some drawbacks if the hub does not respond .

 @TheBassfly don’t know if it is hoobs related or linked to network / har

[2020-02-15 20:52] costispavlou commented on #217
Yes I am. I had no issues at all, other than in this instance, hence the report, so I don't think re-designing your plugin would be a good idea.

[2020-02-16 08:34] MikeDeltaHH commented on #217
This must be an hoobs related issue... switched the plugin in version 1.2.5 to my other homebridge installation and have absolut no problem or crash with it in the last weeks!

[2020-02-16 08:41] nicoduj commented on #217
Agree, that is odd would like to understand what is happening. I think hoobs uses websockets also, might be related .

[2020-02-19 00:36] rixmix123 opened #226 "TV and switches remain after removed and plugin uninstalled"
I know there have been a few issues request put out there about the TV switches and manual switches showing up with multiple hubs and remaining after removal. I tried to look through the old issues and could not find an exact fix for this. Can you please provide?

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior

**Expected

[2020-02-19 19:37] nicoduj commented on #226
Hi, can you check the log at homebridge startup to be sure that everything is uninstalled ?
If you had external tv accessory, you must remove them through home app.
Finally, please be sure to restart all your home connected device (iPhone/ iPad/ Apple TV ...) since sometimes iCloud sync is messing things up .

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-02-21 11:42] TheBassfly commented on #217
Hello

Me again

In the Moment I got a crash every two to three days. Some are with a total crash of the Pi, and some, like yesterday with a Log, like this one:

[Homebridge] [2/21/2020, 05:31:00] [HarmonyHub] ERROR - refreshCurrentActivity Error: WebSocket closed with reason: connection failed (1006).
[Homebridge] [2/21/2020, 05:31:00] [HarmonyHub] ERROR - refreshCurrentActivity Error: WebSocket

[2020-02-21 23:31] GRClark opened #227 "Room Assignments Not Being Saved"
Every time I reboot HOOBS server the room assignments are being reset back to “default room”.

[2020-02-22 07:31] nicoduj commented on #227
Hi, Is it the same issu I replied on Reddit ? Probably because cleancache has been set to true.

https://www.reddit.com/r/homebridge/comments/f7ho4e/harmony_room_assigment/?utm_source=share&utm_medium=ios_app&utm_name=iossmf

Or

https://www.reddit.com/r/homebridge/comments/f73lz9/harmonyhub_plugin_resetting_room_assignments/?utm_source=share&utm_medium=ios_app&utm_name=iossmf

<sub>Sent with <a h

[2020-02-22 07:31] nicoduj commented on #226
Hi, is it ok now ?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-02-22 14:42] rixmix123 commented on #226
I just ended up deleting homebridge and reinstalling. I will close the issue.

[2020-02-22 14:42] #226 closed, assigned to nicoduj

[2020-02-22 14:42] rixmix123 commented on #226
Thank you!

[2020-02-23 16:54] TheBassfly commented on #217
Okay, I think I can make out some kind of reason.
I don't can confirm it, but I think it always happens, when I switch of my system via the Harmony App. So closing the harmony scene seems to end up in this websocket problem.

[2020-02-24 12:57] TheBassfly commented on #217
Hey, me again.

In the Moment I got a Homebridge Crash once or twice a day. So I just uninstalled the Harmony Plugin and wait until the bug is sorted out and an update available.

cheers.

[2020-02-25 00:05] KanG00 commented on #217
Same issue here, but with regular homebridge.
Restarting homebridge solved the issue for now. It started today and yesterday I've made an upgrade of HarmonyHub plugin. Older version was more stable.
Current is:

`/usr/local/lib
└─┬ homebridge-harmony@1.2.5
  └─┬ harmony-websocket@1.5.0
    └── websocket@1.0.31 `

[2020-02-26 08:55] #227 closed, assigned to nobody

[2020-02-26 08:58] nicoduj commented on #217
Hi @KanG00 , could I ask what version you had before ? Not sure it is linked to my update or dependency updates in fact . Was there any event when it happened (like automation, or maybe some hub use through harmony app ? ) . I can't reproduce unfortunately it is rock solid on my setup never had such crash so still trying to figure it out, sorry all for that.

@TheBassfly , will do my best to solve

[2020-02-26 13:33] nicoduj commented on #217
@TheBassfly @KanG00 @MikeDeltaHH @DJay-X I have published a new version, trying to mitigate the issue while it is happening (by simulating it since I can't find a way to reproduce on my setup). I have also added more logs in case it happens.

Would appreciate if you update and give feedback.

Thanks.

[2020-02-26 16:07] TheBassfly commented on #217
I just installed it and it's running now.

Only one message appear every second:
[Homebridge] [2/26/2020, 17:05:46] [HarmonyHub] WARNING - refreshCurrentActivity : Cancelling refresh since a refresh is allready in progress -1

[2020-02-26 16:22] nicoduj commented on #217
Every second ? Do you have some always on home app (like a display for your home control) or an automation that uses a status of an harmony activity ?

[2020-02-26 20:53] TheBassfly commented on #217
Okay I think I figured it out.
The message appears ever timt I open the home app where homekit trys to check for all accessories.

[2020-02-26 21:10] nicoduj commented on #217
Ok more what I was expecting . Let me know if there is any crash or if you notice any other logs . Thanks for your tests and feedback

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-02-26 21:30] GRClark opened #228 "Control Center Remote"
Trying to take advantage of control center remote for Harmony connected television.  So far I can’t get past the searching phase.  Is there something I need to set?  I’ve got three settings that are blank that I don’t know if they should be set and what to set them as.

-Activities to Publish As Input for Tv Mode
-Remote Override Commands List
-Activities to Publish As Accessories Switch

![54964F

[2020-02-26 21:49] KanG00 commented on #217
My previous version was:

homebridge-harmony@1.2.1

No clue what triggered this issue. Just notices that whole homebridge is flooded by logs and not responding.

[2020-02-26 22:06] nicoduj commented on #228
Hi, can you post your config please ? Do you see your tv accessory in home app ?

[2020-02-26 22:09] nicoduj commented on #217
@KanG00 thank you, could you try latest version and update me if you still have issues ?

[2020-02-26 22:18] GRClark commented on #228
I do not see tv accessory in Home app.

{
  "activitiesToPublishAsAccessoriesSwitch" : [

  ],
  "activitiesToPublishAsInputForTVMode" : [

  ],
  "addAllActivitiesToSkippedIfSameStateActivitiesList" : true,
  "cleanCache" : false,
  "devicesToPublishAsAccessoriesSwitch" : [

  ],
  "homeControlsToPublishAsAccessoriesSwitch" : [

  ],
  "hubIP" : "10.0.0.23",
  "mainActivity" : "Watch TV",
  "name

[2020-02-26 22:29] KanG00 commented on #217
It happened just once, but few hours after upgrading.
I've updated and let's see.

[2020-02-26 22:35] nicoduj commented on #228
Since you set "publishAllTVAsExternalAccessory" : true, you have to add it manually through home app. Please read readme carrefully to see if you need to set this option to true

[2020-02-26 22:46] GRClark commented on #228
So if I set this option to false will that correct the issue?

[2020-02-26 22:50] GRClark commented on #228
Ok I guess I’ve got to read the readme because I changed that setting and all fixed.  Thanks.

[2020-02-27 03:20] jeanchrijaz commented on #217
Same issue for me with homebridge-harmony v1.2.6 on macOS Catalina
I use an hackintosh as a server
(_exactement le même problème chez moi_)
sorry for my english...

[2/27/2020, 3:12:47 AM] [Harmony Chambre] WARNING - refreshCurrentActivity : Cancelling refresh since a refresh is allready in progress -1
[2/27/2020, 3:12:47 AM] [Harmony Chambre] WARNING - refreshCurrentActivity : Cancelling refresh

[2020-02-27 07:06] nicoduj commented on #217
@jeanchrijaz the warning is not a problem at all , it was added for getting more information in the case of errors on websocket that leads to a memory allocation failure . It will ba removed in a next version once this issue will be solved I hope

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-02-28 07:30] genfersee opened #229 "[BUG] Error since last release update"
Hi @nicoduj ,

Since the last update, I get some strange logs on both of my setups:

[2020-2-27 8:25:07 PM] Homebridge is running on port 51824.
[2020-2-27 8:27:46 PM] [Harmony] WARNING - refreshCurrentActivity : Cancelling refresh since a refresh is allready in progress 24184793
[2020-2-27 8:27:46 PM] [FritzBox Bern] Getting guest WLAN state
[2020-2-27 8:44:26 PM] [Harmony] WARNING - refreshCurre

[2020-02-28 08:14] nicoduj commented on #229
Hi,

like I said in https://github.com/nicoduj/homebridge-harmony/issues/217#issuecomment-591816684 this log is there until I fix the issue / have confirmation it is fixed.

[2020-02-28 08:14] #229 closed, assigned to nicoduj

[2020-02-28 08:14] #228 closed, assigned to nicoduj

[2020-02-28 08:18] genfersee commented on #229
Thanks! :-)

[2020-02-29 08:01] MikeDeltaHH commented on #217
My homebride without hoobs has now to the first time with the newest version errors that chrash my homebridge:

[2020-2-29 03:01:05] [HarmonyHub Wohnzimmer] WARNING - socket closed
[2020-2-29 03:01:05] [HarmonyHub Wohnzimmer] Error - Error retrieving info from hub : WebSocket closed with reason: Socket Error: read ECONNRESET (1006).-(1)
[2020-2-29 03:01:15] [HarmonyHub Wohnzimmer] INFO - Loading a

[2020-02-29 20:11] Robert91112 opened #230 "Siri Help for newbie"
How can I use Siri for volume and play pause commands. I.e “hey Siri, pause the tv” or “hey Siri, turn up the TV volume? ”

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-03-01 18:02] nicoduj commented on #230
Hi, I don’t know the Siri commands at all, should be like other tv accessories but never found them, sorry. Only turn on / off are working here .

[2020-03-02 18:32] jeanchrijaz commented on #217
@nicoduj if it can help you find a solution, I have 2 harmony remote and the message warnig is just for one (not for another Hub)

[2020-03-02 18:38] nicoduj commented on #217
Are they on the same homebridge instance ? Like I said the warning is not a problem at all (in fact homekit launch multiple refresh of characteristics simultaneously, depending on what room your are displaying / which accessories are involved in an automation). If anyone has a crash with an error (like the one that were happening and involving socket closed) with latest version please let me know.

[2020-03-02 19:35] hstriepe opened #231 "User error!"
**Describe the bug**
Adding a second Harmony Hub as another platform fails. Only the last platform entry is advertised.

**To Reproduce**
Add a second "platform."

**Expected behavior**
See a second device advertised.

** Actual behavior**
Only the last entry is seen.

**IOS (please complete the following information):**
- Version [13.3]
- Device: [iPhone 11]
 - bit also replicates on macOS

**Con

[2020-03-02 19:37] nicoduj commented on #231
Hi, please read the readme you should not use 2 platform but use the property otherplatform instead

[2020-03-02 19:37] hstriepe commented on #231
Yup. I was just editing this!

[2020-03-02 19:38] nicoduj commented on #231
Ok :) so you are all good ? If yes i will close the issue :)

[2020-03-02 19:39] #230 closed, assigned to nobody

[2020-03-02 21:21] jeanchrijaz commented on #217
@nicoduj  they are on the same instance...
i have 2 harmony hub with différents ip and only one have the warning message
[harmony chambre] (harmony ultimate) and another hub [harmony salon] (harmony Elite)

I don't know if it's related  but yesterday I had an other problem
I always had this message even restarting
i was forced to réinstal homebridge on app "Maison"

[3/2/2020, 6:22:35 AM] [Config]

[2020-03-03 17:14] TheBassfly commented on #217
Hey

For the moment, my Hoops is working without any issues for a few days now. In the meantime there where also two updates of Hoops (Now V 3.1.22) and for the Hue Plugin. No issues until now.

[2020-03-03 19:55] nicoduj commented on #217
Great let me know !

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-03-04 21:24] jeanchrijaz commented on #217
@nicoduj your plugin in action with Siri ;)
https://www.youtube.com/watch?v=hr7fixuuwiw

[2020-03-05 18:14] nicoduj commented on #217
@jeanchrijaz gret, are you using switches or a TV accessory with multiple input (in other words, his shield an input name or a switch ?)

[2020-03-05 18:14] #231 closed, assigned to nicoduj

[2020-03-05 20:04] jeanchrijaz commented on #217
@nicoduj as input name but all the scenes are configured in homekit
ex. "allume la TV du salon", "allume la shield du salon" etc...
I add "living room" to the sentence because I have 2 harmony and 2 shield (living room + bed room)
and I did the same in the bedroom

[2020-03-05 22:29] jeanchrijaz commented on #217
@nicoduj like this

![IMG_0FAC290035B7-1](https://user-images.githubusercontent.com/61529425/76032185-a1c46a00-5f39-11ea-9dea-d49662703223.jpeg)

[2020-03-07 15:25] mwkchan commented on #196
I got the same after changed my Harmony configs (removing and creating activities in Harmony App). I tried to clear cache and made sure the "MainActivitiy" is correctly set but still can't fix it. The plugin works fine before I made the changes.

It still works fine if I go into the TV setting and choose my input. Just simple click to turn on TV doesn't work.

[3/7/2020, 11:06:11 PM] [Master Room

[2020-03-07 16:27] nicoduj commented on #196
Hi, Living Room Hub is ok ? Only the master hub produce the error ? You still have the permission error right before ? Did you try another mainActivity ?

[2020-03-07 18:10] mwkchan commented on #196
Living Room Hub is fine. Master Room Hub still got the error. I went so far as to clear the cache, uninstall the plugin and reinstall it and still got the same error. Tried another mainActivity "Apple TV" and "BBC", got the same result. But it was all fine before I change the Harmony activities. Very strange.

Have I successful clear all files by uninstalling the plugin or there would be residual

[2020-03-07 18:12] mwkchan commented on #196
By the way, I don't have permission error. I was not the owner of the original bug. I just found this open issue and I have the same error.

[2020-03-07 18:16] mwkchan opened #232 "[BUG] Refresh Warning keep coming up"
I receive this warning every few seconds apart:

[3/8/2020, 2:08:24 AM] [Master Room Hub] WARNING - refreshCurrentActivity : Cancelling refresh since a refresh is allready in progress 43642481
[3/8/2020, 2:08:42 AM] [Master Room Hub] WARNING - refreshCurrentActivity : Cancelling refresh since a refresh is allready in progress 43642481
[3/8/2020, 2:09:57 AM] [Master Room Hub] WARNING - refreshCurre

[2020-03-07 18:22] nicoduj commented on #232
Hi, As I said in #217 , this is a temprorary log until I am sure the issue is solved.

[2020-03-07 18:22] #232 closed, assigned to nicoduj

[2020-03-07 18:24] nicoduj commented on #196
Hi, there can be some files on the root directory of homebridge  (harmonyPlugin*) , you can try to remove them (they handle renamming of your activities, so maybe the name is not the one you think)
Be aware it is fully case sensitive ..

[2020-03-07 18:44] nicoduj commented on #217
@TheBassfly @MikeDeltaHH @DJay-X no crash with latest version ?

[2020-03-07 18:51] mwkchan commented on #196
Ok, deleted the files, cleared cache, killed all HomeKit apps, restart homebridge, now it works!

[2020-03-07 18:53] nicoduj commented on #196
nice, Noted, maybe there was so confusion in the plugin with old names/ new names and the file cache. I will let this bug open to dig into it when I will have some time, thanks for reporting.

[2020-03-09 14:11] TheBassfly commented on #217
From my side no crash the last days.

[2020-03-10 11:56] clipse2004 opened #233 "Multiple Hubs and TV Accessory will not work"
Hi Dude,

i have a question, is it not possible to show more than 1 TV Accessory in Homekit?
Because i have two Hubs.
When i add the first Hub with TV Accessory it works fine, but after i add the second hub with TV Accessory, it shows me only the last one.
Log says i should add it manually, but there is nothing in homekit.

big thanks for your help

[2020-03-10 18:10] nicoduj commented on #233
Hi,

As said in the log and readme, you have to add it manually . It is done via home app, add device, and enter the code . Demo here : https://twitter.com/dujnic/status/1110644949027041282?s=21

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-03-10 21:02] clipse2004 commented on #233
Yeah now it works, only reinstall plugin has worked :)
Thx

[2020-03-11 22:38] Nasuada commented on #217
I have also the problem with:

`[Harmony Hub] WARNING - refreshCurrentActivity : Cancelling refresh since a refresh is allready in progress 43254284`

This will repeat again and again.
Here are my system Details:

OS | Raspbian GNU/Linux Buster (10)
-- | --
raspberrypi
XXX
XXX
Node.js: v12.13.1
Npm: v6.12.1
homebridge
/var/homebridge
/var/homebridge/config.json

[2020-03-12 16:50] nicoduj commented on #217
@Nasuada hi, as I said in this post this log is only there to help me understand the crash mentionned. If you don’t have any crash, don’t pay attention to it . It will be removed as soon as I am certain the original bug is fixed

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-03-14 13:31] nicoduj commented on #217
I am closing this with latest release after removing unnecessary logs and since nobody has reported a crash since latest version.

[2020-03-14 13:31] #217 closed, assigned to nicoduj

[2020-03-15 10:26] mensa84 opened #235 "Changes in cachedAccessories killing complete Harmony structure"
Hello,

today I removed an old entry (unused power outlet from plugin TplinkSmarthome) so that it will disappear in Apple HomeKit. But the problem is, that everytime I change anything in the file cachedAccessories, that I have to re-create alle automations and set all rooms for each Harmony Hub in HomeKit again.
Why is that?? This is really annoying, cause I have 3 hubs and a lot of automations.

[2020-03-15 12:41] nicoduj commented on #235
Hi, can you explain a bit more what you did exactly ? Purge cachedAccessories folder ?
If plugins don't rely on cache, but on a static "id", indeed they won't behave like this if you clean cache but plugins that behaves on cache should have the same behavior.

On the opposite, as far as I konw, you could have same problems with plugins that don't use cache if they can't publish the accessory for a

[2020-03-15 12:56] mensa84 commented on #235
Hello, I just removed the part below for one device from cachedAccessories file and got the result what I wanted: That this device is gone. I do not complain about any other plugins, I report, that it seems that your Plugins seems to have big problems when one changes something of other plugins in cachedAccessories. All my Harmony icons and automations in HomeKit was mixxed up or stopped working.

[2020-03-15 13:01] nicoduj commented on #235
"why ???" Don't know, especially if you don't share your conf at least first.

Moreover, this plugin is developed as it is, free, and I am doing my best as a hobby developper to support it. You are welcome to code / participate yourself through pull request, learn the not so easy structure of homekit / homebridge plugin, and if you are not pleased with it, choose another plugin .

[2020-03-15 13:09] mensa84 commented on #235
I understand absolutely, and I don't mean something bad. But I just don't understand why removing something of another plugin effects the harmony plugin.

This is my config, is this OK?

[code]

[2020-03-15 14:56] nicoduj commented on #235
The config seems ok, don't know what happened, can you reproduce it or not ?

I add / remove plugins quite often and don't have such problems, but like I said, I never play with the file in cached accessory, don't even know if it is a homebridge or plugin problem, or an error while editing the file.

From my side, accessories are created from cache at startup if they exist. If they were removed, y

[2020-03-15 19:03] claywd opened #236 "[FEATURE] Add capacity to send multiple commands at once with remoteOverrideCommandsList"
**Is your feature request related to a problem? Please describe.**
Its really annoying to have to press the volume key on my homekit remote 50 times depending upon the app/audio stream currently streaming.

**Describe the solution you'd like**
Enable remoteOverrideCommandsList to contain commands which reference sequences... such as "Volume Up 5" which I created to change the volume must faster.

[2020-03-15 19:26] nicoduj commented on #236
Hi, did you try the option «numberOfCommandsSentForVolumeControl » ?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-03-27 11:50] donavanbecker opened #238 "Feature Request: Dynamic Discovery of Hubs"
It would be nice if this plugin would discover hubs that are on the local network and add to Homebridge. This would clean up the need for the other hub option on the config.schema.json and an blacklist option could be added to ignore hubs that are not wanted in HomeKit.

[2020-03-27 12:04] donavanbecker commented on #238
Maybe this will help?
[harmonyhubjs-discover](https://github.com/swissmanu/harmonyhubjs-discover)

[2020-03-27 12:13] nicoduj commented on #238
Will take a look, thx ! Concerning the "other hub section", I don't really understand what you mean, since even if autodiscovery is enabled, I think users should still be able to distinguish options between hubs (activities to expose or not, and so on). But definitely, it would be needed only for advanced users, and the config could be "empty" for default behaviors and even for multiple hubs.

[2020-03-27 12:19] donavanbecker commented on #238
[harmony-api](https://github.com/JordanMartin/harmonyhub-api) and [pyharmony-ws](https://github.com/NickWaterton/pyharmony-ws)

[2020-03-27 13:05] donavanbecker commented on #238
I think I might have not understand how powerful that section is, forget that part of what I said ha.

[2020-03-28 07:52] joobas opened #239 "[FEATURE]General volume control as a slider"
Hello, Thank you so much for this Git.  I am new to all of this and have been working on programming my raspberry Pi with this.  I am learning through trial and error.  One thing I am uncertain, is it possible to add volume control to Homekit with this Git?

I would like to have a volume up and a volume down control.  I have implemented the general mute.

Thank you again.

[2020-03-28 08:40] joobas commented on #239
I tried this in other accessories.  I am using Homebridge config ui.

"devicesToPublishAsAccessoriesSwitch" : ["Pioneer AV Receiver;VolumeDown","Pioneer AV Receiver;VolumeUp"]

But nothing shows up in my Homekit for volume.

[2020-03-28 08:40] jimsmt commented on #239
this feature is already included, just use the physical volume button on your iPhone's side while the itv remote is on

[2020-03-28 08:48] joobas commented on #239
What do you mean the itv remote?  I open Apple Home.  I have different switches included in there.  I can now turn on or off my receiver and TV.  But I do not see any volume controls.  I tried using the physical side buttons on my phone when in Home.  But they do not turn down my receiver volume.

[2020-03-28 08:55] jimsmt commented on #239
if you configure the plugin to work in tv mode, you can use your iPhone's built-in tv remote to control your harmony devices.

if using switch mode, you can also make custom buttons yourself in the home app, by using the `devicesToPublishAsAccessoriesSwitch` command

[2020-03-28 09:15] joobas commented on #239
I tried the devices to publish. But nothin showed up in Apple Home. This was what I put in

"devicesToPublishAsAccessoriesSwitch" : ["Pioneer AV Receiver;VolumeDown","Pioneer AV Receiver;VolumeUp"]

[2020-03-28 09:32] nicoduj commented on #239
H @joobas ,your syntax seems ok at first, can you post your logs ? Be very careful on names, it is case sensitive, did you check with the information listed when you set showCommandsAtStartup to true ? You could alse try to put a name to those switch (and check in default room also if they are not there).

Will think of n option like publishGeneralMuteSwitch for volumeUp / Down ,si I will keep thi

[2020-03-28 17:51] joobas commented on #239
What logs do I post?  I am unsure how to do that.

In the information from startup I do see this.

[3/28/2020, 11:39:42] [Remote] INFO - Command : VolumeDown discovered for device : Pioneer AV Receiver
[3/28/2020, 11:39:42] [Remote] INFO - Command : VolumeUp discovered for device : Pioneer AV Receiver

In Homebridge config ui - settings. I wrote this in Other Accessories

Pioneer AV Receiver;Volum

[2020-03-28 18:15] nicoduj commented on #239
"devicesToPublishAsAccessoriesSwitch": [
"Pioneer AV Receiver;VolumeDown","Pioneer AV Receiver;VolumeUp""
],

Is the the last " a mistake ?

You can try to remove it, or to add a name alike this :

"devicesToPublishAsAccessoriesSwitch": [
"Pioneer AV Receiver|AmpDown;VolumeDown","Pioneer AV Receiver|AmpUp;VolumeUp"
],

[2020-03-28 18:49] joobas commented on #239
Oh wow. Thanks.  The extra " was part of the problem.

Then this
"Pioneer AV Receiver;VolumeDown","Pioneer AV Receiver;VolumeUp"

had to be separated. So I typed in
"Pioneer AV Receiver;VolumeDown".    Then clicked Add device and typed in
"Pioneer AV Receiver;VolumeUp"

So now the config editor shows
"name": "Remote",
            "hubIP": "xxxxxxxxxxx",
            "TVAccessory": false,

[2020-03-28 19:02] nicoduj commented on #239
You can add multiple commands in sequence if you want to send 2 or more up / down on each press

[2020-03-28 20:31] joobas commented on #239
Awesome.  And thank you again.  This works great.

I would still request a feature to have this included, similar to a general mute function.
I am also not sure if there is a way to actually have a volume up and down where we can hold the button and it will keep inputting until you let go?

[2020-03-29 01:35] barneyonline opened #240 "[BUG] refreshCurrentActivity Error: WebSocket closed"
**Describe the bug**
Reoccurring web socket closed error preventing control from HomeKit, Harmony Hub configuration and controlling other services via the Hub (e.g. controlling Hue lights via the remote). Harmony Hub light turns red (offline).

**To Reproduce**
Unsure

**Expected behavior**
None of the above

**Logs**
[3/29/2020, 12:31:37 PM] [Harmony Hub] ERROR (1)- refreshCurrentActivity Error:

[2020-03-29 07:30] nicoduj commented on #240
Hi, does your hub have a static ip assigned by your routeur ? How often does it happen ? Is there any other client on hub websocket ? Is there any network loss problem between homebridge and your hub network ?

[2020-03-29 09:34] barneyonline commented on #240
Hub has a static IP. Occurs about every 5min when an activity is active/on, otherwise every so often. No network issue between the homebridge and LAN network, other homebridge services (homebridge-arlo) are working fine.

How do I check for other clients on the hub websocket?

[2020-03-29 09:55] nicoduj commented on #240
Does harmony app works when it happens ? You said the hub light is red, so it means it is disconnected from network I think.
Are you using hoobs by the way did you try with Lts version of node ? Mainly it is a network error but don’t understand why you are experiencing it .

[2020-03-29 11:06] barneyonline commented on #240
When it happens the app is unable to connect to the Hub or make any configuration changes. I'm not using hoobs. I don't believe it is an issue with my network as no other devices drop out, but I'll dig into that a bit more.

[2020-03-29 12:07] nicoduj commented on #240
You can launch in debug mode and send me the full log when it happens , will try to see might be some timeout problem . Do you have a big setup (lots of devices / activities ?)

[2020-03-29 23:12] barneyonline commented on #240
Here is the debug log, not too many devices or activities.
[Untitled.txt](https://github.com/nicoduj/homebridge-harmony/files/4400089/Untitled.txt)

[2020-03-30 02:44] weekendplaya opened #241 "Unable to Display 2 TV Accessories"
**Describe the bug**
I have 2 Harmony Hubs and am trying to set them both up so they both show as TV Accessories.  Currently, I can get one to show as TV and the other to show as a Switch.

**Expected behavior**
Each Hub will show as a TV Accessory

**IOS (please complete the following information):**
- Version [e.g. 22]
- Device: [e.g. iPhone6]

**Logs**

[Homebridge] [3/29/2020, 22:38:37] [Livin

[2020-03-30 16:59] nicoduj commented on #241
Hi, did you add it manually as mentionned in the readme ? It is publish as an external accessory so you must add it manually from home app

[2020-03-30 17:03] nicoduj commented on #240
I don’t see anything specula in your log at first, only you are using some plugin names automationsswitches : since it seems it uses timers, could you try without it and tell me if the problem still occurs  ?

[2020-03-30 18:36] weekendplaya commented on #241
Thanks a lot. I figured it out. Your directions are right once I figured out what you meant. Great piece of code!!

[2020-03-30 18:48] #241 closed, assigned to nicoduj

[2020-03-30 21:25] dswee999 opened #242 "EHOSTUNREACH"
My harmony plugin quit working for some reason. No changes have been made to my set up that I'm aware of but now the plugin does not work and the log shows the below message over and over again.

[Living Room] INFO - Loading activities...
[Living Room] Error - Error retrieving info from hub : Error: connect EHOSTUNREACH 192.XXX.X.XX:8088-(4904)

I'm on homebridge version 0.4.53, Node 12.16.1, and

[2020-03-31 05:43] nicoduj commented on #242
It seems your hub does not have the same IP address anymore, is it fixed ?

[2020-03-31 11:42] dswee999 commented on #242
Yes it is fixed and I’ve double check the IP address the hub is assigned to in the router and it matches the IP address in the error message.

On Mar 31, 2020, at 1:43 AM, Nicolas Dujardin <notifications@github.com> wrote:

﻿

It seems your hub does not have the same IP address anymore, is it fixed ?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it o

[2020-03-31 11:48] nicoduj commented on #242
did you update the plugin ? Does harmony app on a phone works and show the same IP ? The error is happening at the start of homebridge, so you must have restart for any reason, was there any config file change maybe that were not in action before restart ?

[2020-03-31 11:51] dswee999 commented on #242
It was updated from the release a week or two ago. Harmony app on phone works fine and shows same IP address. I’ve not made any config changes and the error repeats it self over and over not just at start up in the logs.

On Mar 31, 2020, at 7:49 AM, Nicolas Dujardin <notifications@github.com> wrote:

﻿

did you update the plugin ? Does harmony app on a phone works and show the same IP ? The error

[2020-03-31 11:55] nicoduj commented on #242
did you try to ping the ip inside docker ? is the port open ? It is clearly a network connection error. The error is trigered at launch and the plugin can't work without retrieving info from hub so it tries again and again. I think you tired to restart without any success ?

[2020-03-31 12:31] dswee999 commented on #242
Yes I have restarted everything several times including router and hub with no luck.

On Mar 31, 2020, at 7:55 AM, Nicolas Dujardin <notifications@github.com> wrote:

﻿

did you try to ping the ip inside docker ? is the port open ? It is clearly a network connection error. The error is trigered at launch and the plugin can't work without retrieving info from hub so it tries again and again. I thin

[2020-03-31 21:45] dswee999 commented on #242
I just factory restored my hub and set the static ip to different address and it’s still giving the same error but with the new IP.

On Mar 31, 2020, at 7:55 AM, Nicolas Dujardin <notifications@github.com> wrote:

﻿

did you try to ping the ip inside docker ? is the port open ? It is clearly a network connection error. The error is trigered at launch and the plugin can't work without retrieving in

[2020-03-31 22:08] barneyonline commented on #240
Thanks. Removed the plugin (homebridge-automation-switches v3.2.1) but still get the timeout errors. I'm wondering if this is due to a general connectivity issue with the Hub and my Wi-Fi network. I'm going to try a few different configurations on my end and will report back.

[2020-04-03 11:42] barneyonline commented on #240
Played around with my LAN but unfortunately the issue still remains.

[2020-04-03 19:29] nicoduj commented on #242
Hi, sorry to hear that . I don’t really know what is happening, i have quite the same config (oznu image on Synology, only my npm version is 6.13.4) . Would also be interested into the version of npm packages dependencies , especially websocket / websocket as promised .

[2020-04-03 20:16] nicoduj commented on #240
Hi, sorry to hear that. Did you try with a lower version of node ?12.x ?

[2020-04-04 08:28] nicoduj commented on #239
Hi, great. I am thinking about it yes ;p Will try to do something !

[2020-04-04 11:52] barneyonline commented on #240
Downgraded to node 12.16.1 and npm 6.13.4 - seems to have reduced the frequency of errors (from ~20 to 7) but still occurs.

[2020-04-04 15:32] nicoduj commented on #240
It is really strange, I am thinking about something : is there any chance your time is not the same between your hub zone and homebridge zone ?

[2020-04-04 16:00] nicoduj commented on #240
Can you paste a full log ? there shouldbe multiple attemps and some wait between a series, want to check if everything is ok on the error handling side. I Thnik, from my understanding, that the socket is closed while retrieving data, which can be because hub is crashing , or timeout is too "thin".

the values of timeout are the following 👍
HUB_CONNECT_TIMEOUT = 10000;
HUB_SEND_TIMEOUT = 30000;
MAX

[2020-04-04 16:01] nicoduj commented on #242
Can you post a log with multiple attemps of connections, timestamped so that I can see the delay between each try ? Is there any chance it happened after daytime change and your py is not on the same time it should not be an issue, just an idea !)

[2020-04-04 16:07] nicoduj commented on #236
Work in progress.

Something like this will be possible, so that you can optionally specify the number of commands to send :

[code]

[2020-04-04 16:12] nicoduj commented on #239
Work in progress.

New option will be available : publishGeneralVolumeSlider. It will publish a volume slider as a light (no other way), stateless (defaults to 50 if an activity is on), that will send a volume command to current activity. Approximativley, it will send an Up / Down Volume command each 5%. It can be combined with `numberOfCommandsSentForVolumeControl` option to multiply the number o

[2020-04-04 16:15] nicoduj commented on #235
I can't reproduce your problem. If you have any backup of your cachedAccessory file before and after the change, might take a look, but can't do more without .

[2020-04-04 16:16] #196 closed, assigned to nobody

[2020-04-04 16:18] nicoduj commented on #196
Can't reproduce, closing since there was no other report

[2020-04-04 20:25] nicoduj commented on #190
Could be more difficult than I though, will do later :)

[2020-04-04 21:38] #236 closed, assigned to nicoduj

[2020-04-04 21:38] #238 closed, assigned to nicoduj

[2020-04-05 01:24] barneyonline commented on #240
Thanks.

Have checked Hub timezone, changed from manual of "+10 GMT Sydney" to automatic "Australia, Melbourne" which is also +10 GMT. Timezone on Homebridge (MacOS) is already set to automatic "Australia, Melbourne".

Attached is the log since downgrading to node 12.16.1.
[Log.txt](https://github.com/nicoduj/homebridge-harmony/files/4432803/Log.txt)

[2020-04-05 06:30] madcat-nl commented on #239
Super cool, thank you.

Is there a way to have the volume control as a linked service to the TV accessory?
So the volume/light is included into the same component as the tv within homekit?

[2020-04-05 06:36] nicoduj commented on #239
Hi, nice Idea, will try to do so !

https://github.com/nicoduj/homebridge-harmony/issues/244

[2020-04-05 06:37] nicoduj opened #244 "Feature : link volume switch/ mute to tv accessory"
Check if it is possible to link those services to tv accessory if it exists in order to have them on the same screen in home app .

[2020-04-05 07:23] nicoduj commented on #244
Will look like this (on iPhone), unfortunately home app is not really good at this and does not show names of services when grouped !

![image](https://user-images.githubusercontent.com/19813688/78469172-ef8de700-771e-11ea-97c8-542d86c89fea.png)
![image](https://user-images.githubusercontent.com/19813688/78469179-07fe0180-771f-11ea-8faf-7068e8902dda.png)

[2020-04-05 08:19] Phoenix-DH commented on #244
Hey.... again great work!
I implemented the mute and volume slider but not able to group all.

Is this actually possible or are you still working on ... did not really get it.

[2020-04-05 08:46] nicoduj commented on #244
Hi, thx :) It is in latest 1.3.2 only, you have to set a new option : linkVolumeControlToTV to true !

[2020-04-05 08:47] #244 closed, assigned to nicoduj

[2020-04-05 08:54] Phoenix-DH commented on #244
Okay will try with this:
            "publishGeneralVolumeSlider": true,
            "publishGeneralMuteSwitch": true,
            "linkVolumeControlToTV": true,

[2020-04-05 09:00] nicoduj commented on #244
Should do it (only if you have published a tv accessory off course)

[2020-04-05 13:13] nicoduj commented on #240
I see you are on Mac, maybe with WiFi and Ethernet connection? Is there any chance one of the interface drops sometime ? If this is the case, could you try only with Ethernet ? Maybe powernap is enabled  ? The socket connection is dropped, I really think something is wrong on the network side with the websocket that needs to remain connected in order to receive update events if you use physical ha

[2020-04-05 16:38] madcat-nl commented on #239
Cool it works, thanks for the quick patch!
When i set the volume to for example 25%, it looks like it's only sending 1 time a volume down. Should it not al least send 5 times volume down, or in the configuration below 25 times a volume down?
    {
            "name": "Harmony",
            "hubIP": "IP",
            "cleanCache": true,
            "TVAccessory": true,
            "mainActivity": "

[2020-04-05 17:02] nicoduj commented on #239
Hi,

first of all, you have to remove cleanCache Option, otherwise everything will be recreated at each startup and you will loose automations, room assignment and so on.

Concerning the number of commands sent, it should indeed send 5 * 5 volume down command if you slide until 25 % . Will check again, maybe there is some bug, can you activate debug mode and see how much commands it really try to

[2020-04-05 17:10] nicoduj commented on #239
Can confirm there is a bug, working on it.

[2020-04-05 17:18] nicoduj commented on #239
Will be fixed in 1.3.3

[2020-04-05 17:18] #239 closed, assigned to nicoduj

[2020-04-05 17:58] donavanbecker opened #245 "[BUG] Multiple Hubs : autoDiscovery not working"
**Describe the bug**
Homebridge loop when trying to do multiple hubs

**To Reproduce**
Add second hub with dynamic discovery.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Version (please complete the following information):**
- Plugin Version 1.3.3

**Logs**
Your log in debug

[2020-04-05 18:10] nicoduj commented on #245
Thank you for reporting, indeed it can't work the way I did it :( don't have multiple hubs, so blind coding, but it was a miss. Will try to fix that, sorry for the inconvenience.

[2020-04-05 19:01] donavanbecker commented on #245
@nicoduj you are totally fine! Thanks for working on implementing this!!!

[2020-04-05 20:21] nicoduj commented on #245
@donavanbecker I have pushed some changes on Dynamic-Platform Branch of this repo (default branch), would you mind testing with it before I release to NPM ? Otherwise I will do a beta npm release this week, but I don't want to release to mainstream with no testing :)

It would be nice if you could check the following :

1. config of 2 hubs, without any option (no IP, no name for both) -> should lo

[2020-04-05 20:24] donavanbecker commented on #245
Will do!

[2020-04-05 20:24] donavanbecker commented on #245
I can do that, and report back.

[2020-04-05 20:49] donavanbecker commented on #245
Plugin with No Config.
[code]

[2020-04-05 20:56] donavanbecker commented on #245
Config with Plugin with Hub `name` but no `hubname`
[code]
Log
[code]

[2020-04-05 20:58] donavanbecker commented on #245
config of 2 hubs, one with an IP, one without any option (no IP, no name) -> should log an error for second one, first should work,
[code]

[2020-04-05 21:08] donavanbecker commented on #245
3. config of 2 hubs, one with a correct name, one without any option -> same as 2),
[code]
Log
[code]

None Working
<img width="1010" alt="Screen Shot 2020-04-05 at 4 03 58 PM" src="https://user-images.githubusercontent.com/9875439/78509988-ae65f900-7757-11ea-8339-1c94ff1b5651.png">

[2020-04-05 21:12] donavanbecker commented on #245
4.config of 2 hubs, both with a name -> should work :)
[code]
Log
[code]
None Working
<img width="1010" alt="Screen Shot 2020-04-05 at 4 03 58 PM" src="https://user-images.githubusercontent.com/9875439/78510066-377d3000-7758-11ea-8ebb-c2d16e77663b.png">
![IMG_2610](https://user-images.githubusercontent.com/9875439/78510070-3ea43e00-7758-11ea-97ea-db72298fb9c7.jpg)

[2020-04-05 21:15] donavanbecker commented on #245
Config for one Hub
[code]
Log
[code]
No Devices
<img width="1010" alt="Screen Shot 2020-04-05 at 4 03 58 PM" src="https://user-images.githubusercontent.com/9875439/78510141-ba9e8600-7758-11ea-9a83-481154ed3fad.png">

[2020-04-05 21:17] donavanbecker commented on #245
Config with IPs for 2 Hubs
[code]
Log
[code]

[2020-04-05 21:20] nicoduj commented on #245
Thank you for all the tests, something is wrong , can I ask if you add cleaned your cache ? I don’t see any of my error logs must have missed something :(

What bothers me most is the fact that there is a timeout with ips , autodiscovery is not involved in that case ...

[2020-04-05 22:41] donavanbecker commented on #245
@nicoduj I was using the homebridge@beta on this. Once I went back to 1.2.7 and homebridge@beta, it didn't work at all. went to homebridge@latest and the first TV worked and adding the second with ip worked. But doing it with names didn't

[2020-04-06 04:37] mensa84 opened #246 "npm ERR! missing: request@latest, required by harmony-websocket@1.5.0"
Hello,

I am getting that 2 errors in the last lines. Why? And how to fix this?

[code]

[2020-04-06 05:54] nicoduj commented on #245
I am using also the beta for my tests . There is something there I don’t understand ... will check, thanks a lot  for your help .

By any chance do you have the same thing that is mentioned there : https://github.com/nicoduj/homebridge-harmony/issues/246

[2020-04-06 05:55] nicoduj commented on #246
Hi, interesting ... doe it work, or do you have this only when listing dependencies ?

[2020-04-06 06:53] mensa84 commented on #246
It does work yes and the errors I see only when listing by npm list -g --depth=0

[2020-04-06 10:53] barneyonline commented on #240
Correct. Mac is connected via Ethernet only with Wi-Fi switched off. Connection shouldn't drop as it is direct to the modem. PowerNap is turned off. The retry behaviour does seem to work, status does get updated in the Home app. Might just be my Wi-Fi connection to the Harmony Hub, or the Hub itself.

[2020-04-06 10:56] nicoduj commented on #240
Are you on same subnet ? Or WiFi a bit overloaded those days ? The socket is dropped, can be on both side ...

[2020-04-06 11:16] barneyonline commented on #240
Yes same subset, both with fixed IPs. I do have 11 devices on Wi-Fi, but that shouldn't be an issue for the Netgear Orbi modem.

[2020-04-06 11:55] nicoduj commented on #240
I have an orbi also (RBR40 - RBS 40) with a lot more :). Can I ask what firmware you are on / what settings you have ? Especially advanced settings on wifi like Fast roaming / beam forming / mu-mimmo and Wifi multimedia ?

[2020-04-06 13:41] donavanbecker commented on #245
@nicoduj I do not.

[2020-04-06 13:50] nicoduj commented on #245
Did you try to clean cached / persist folder between attemps ? Maybe something is wrong with this

[2020-04-06 15:23] madcat-nl commented on #239
Thanks i can comfirm that the bug is solved.

I did the clean cache, because there was some "garbage accessories".
I see a switch and another "empty" TV, i kinda hoped it would be gone then.

Do you also see these two unusable accessories.

[2020-04-06 16:21] nicoduj commented on #246
strange, might be a problem with npm . It is also not a good way I think to install globaly plugin packages.
My setup gives the following :

/homebridge # npm list -g --depth=0
/usr/local/lib
+-- homebridge@0.4.53
+-- homebridge-config-ui-x@4.13.3
`-- npm@6.13.4

Config UI does not do that, and I think it is better this way.

If you do this command inside your harmony plugin, without -g , I think

[2020-04-06 16:32] nicoduj commented on #246
I also have some errors by the way, seems that it depends on the order of dependencies installation and npm strucure tree.

I would say : if it works: don't bother :)

otherwise you can try but not sure if it will help : https://docs.npmjs.com/cli/dedupe.html

[2020-04-06 17:46] donavanbecker commented on #245
1. config of 2 hubs, without any option (no IP, no name for both) -> should log an error, no hub discovered
[config1.txt](https://github.com/nicoduj/homebridge-harmony/files/4439980/config1.txt)
[log1.txt](https://github.com/nicoduj/homebridge-harmony/files/4439981/log1.txt)

[2020-04-06 17:53] donavanbecker commented on #245
2. config of 2 hubs, one with an IP, one without any option (no IP, no name) -> should log an error for second one, first should work.
[config2.txt](https://github.com/nicoduj/homebridge-harmony/files/4440005/config2.txt)
[log2.txt](https://github.com/nicoduj/homebridge-harmony/files/4440007/log2.txt)

[2020-04-06 17:56] donavanbecker commented on #245
3. config of 2 hubs, one with a correct name, one without any option -> same as 2)
[config3.txt](https://github.com/nicoduj/homebridge-harmony/files/4440019/config3.txt)
[log3.txt](https://github.com/nicoduj/homebridge-harmony/files/4440020/log3.txt)

[2020-04-06 18:00] donavanbecker commented on #245
4. config of 2 hubs, both with a name -> should work :)
[config4.txt](https://github.com/nicoduj/homebridge-harmony/files/4440027/config4.txt)
[log4.txt](https://github.com/nicoduj/homebridge-harmony/files/4440042/log4.txt)

[2020-04-07 01:15] barneyonline commented on #240
I've got the RBR50 and RBS50 with ethernet backhaul and the latest firmware (V2.5.1.8). Wi-Fi settings are pretty much the default, I have turned on any of those additional functions.

I've also done a factory reset of the Harmony Hub but that hasn't had any effect.

![Screen Shot 2020-04-07 at 11 15 08 am](https://user-images.githubusercontent.com/38914183/78619601-108e3d80-78c1-11ea-88a6-8c6ae03

[2020-04-07 15:30] donavanbecker commented on #245
- [config of 2 hubs, without any option (no IP, no name for both) -> should log an error, no hub discovered](https://github.com/nicoduj/homebridge-harmony/files/4445442/1.txt)

- [config of 2 hubs, one with an IP, one without any option (no IP, no name) -> should log an error for second one, first should work](https://github.com/nicoduj/homebridge-harmony/files/4445472/2.txt)

- [config of 2 hubs,

[2020-04-07 16:53] #245 closed, assigned to nicoduj

[2020-04-16 04:01] donavanbecker opened #248 "[FEATURE] Bridge TV Support"
**Is your feature request related to a problem? Please describe.**
No Problem, Just a request.

**Describe the solution you'd like**
Once Homebridge v1.0.0 comes out with Bridge TV/Camera support. It would be nice to have that implemented so that any "TVs"/Hubs added would connect automatically to the Bridge

**Describe alternatives you've considered**
none

**Additional context**
[Bridged TV/Came

[2020-04-16 17:45] dswee999 commented on #242
I ended up wiping my Pi and redoing everything and that fixed. Still do not know what caused it but it is working good now. Thanks for the help!

On Apr 4, 2020, at 12:01 PM, Nicolas Dujardin <notifications@github.com<mailto:notifications@github.com>> wrote:

Can you post a log with multiple attemps of connections, timestamped so that I can see the delay between each try ? Is there any chance it h

[2020-04-16 17:53] nicoduj commented on #242
Hi, thx for the update. I discussed with the dev of one dependency, and made an update to it to fix the request and websocket dep to a version because npm is not really good at handling dependencies from my experience when they are not fixed,  especially if you install globally.

Maybe it works now because before there was some conflict in those dependencies because of previous installs.

[2020-04-16 17:53] #242 closed, assigned to nicoduj

[2020-04-16 17:55] nicoduj commented on #246
Some changes were made to the dependency that could cause such issue, let me know if it is better after a clean install

[2020-04-16 17:57] nicoduj commented on #240
Hi, could you check with an a clean install ? Some changes were made to dependcy declaration in one of the dependency I use, hope it will help.

In my conf, I have enabled beamforming, mu-mimo and fast roaming, but disabled 20/40 mhs coexistence, you can also check that ?

[2020-04-16 17:58] nicoduj commented on #235
Closing, can't reproduce. Since it was a "manual" and undocumented operation, not sure what happened, sorry.

[2020-04-16 17:58] #235 closed, assigned to nicoduj

[2020-04-16 18:01] nicoduj commented on #248
Thanks for the suggestion, will check. Just to confirm, it will allow to expose multiple "external accessories" without adding them manually , correct ?

[2020-04-16 21:07] donavanbecker commented on #248
Never mind closing...

[2020-04-16 21:07] #248 closed, assigned to nobody

[2020-04-17 16:55] DJay-X opened #249 "[FEATURE] Eve App 4.2 Issue with homebridge-harmony devices"
@nicoduj
The lates Eve for HomeKit App v4.2 is causing issues with several Homebridge Plugins.
They changed something so that the serial number of a device is linked somehow in the background. This was not the previous Eve version.
Problems causing now like described here.
https://github.com/homebridge/homebridge/issues/2503

So alle devices/switches from homebridge-harmony can't be sorted anymore

[2020-04-17 17:14] nicoduj commented on #249
Hi, I can make serialnumbers "unique" I think, but it won't help in case of multiple service son the same accessory (since serialnumber is on accessory) . Did you try playing with *AsIndividualAccessories options in roder to see if switches are multiples services of one accessory, the problem persists ?

[2020-04-17 17:19] nicoduj commented on #249
----
EDIT

Let's try 1.3.5 that will be out soon. It should change the serial numbers to be unique after reboot (you will see warning logs), I think there is no need to clean cache (hope so) from my tests. I have also change something to be compatible with next 1.0 version of homebridge, hopping it won't mess up the cache also (did not on my setup)

------

if you are ok doing some test on your se

[2020-04-17 20:10] DJay-X commented on #249
First of all thanks for your fast action. 🙏

I updated to 1.3.6 restarted homebridge but the serial number on my 3 harmony devices and the PowerOff button is still all the same. The IP number.

I deleted "cachedAccessories", and `sudo npm cache clean -f` rebooted the Pi but still the IP without any difference or extension on all devices.

How/where do I have to clean cache the way you are thinking

[2020-04-17 20:13] nicoduj commented on #249
Check in home app please it seems eve does not update it...

[2020-04-17 20:30] DJay-X commented on #249
Correct. Home App is now showing the unique serial numbers for every harmony device.
Eve App is still not changing anything.

Only after deleting Eve App completely and reinstalling it, it now is showing the unique serial numbers as well.
By this, also sorting the devices separately and give each one individual icons is working again. 👍

YOU fixed the Eve App. ;)

Maybe your work with this is a gr

[2020-04-17 20:48] #249 closed, assigned to nicoduj

[2020-04-17 21:24] mensa84 opened #250 "npm WARNINGS during upgrade"
Hello,

I got that warnings during upgrade to 1.3.6

Should I canre about?

[code]

[2020-04-17 21:27] donavanbecker commented on #250
This is just a warning of a dependency, you can ignore. Also you must update your homebridge and node.

[2020-04-17 21:36] nicoduj commented on #250
I have bump dependencies for next version of homebridge, it should work but like @donavanbecker said you should update homebridge and node .
Request was deprecated by its maintainer you can’t do anything about this, but it is still widely used :)

[2020-04-17 21:37] #250 closed, assigned to nicoduj

[2020-04-17 21:37] mensa84 commented on #250
How can I update homebridge, if it's already installed in most current version?

[2020-04-17 21:40] nicoduj commented on #250
If homebridge is fine, just node ( your version of homebridge was not mentioned). Updating method might depend on what kind of install you are using.

[2020-04-17 21:50] mensa84 commented on #250
My node version is the following and looks up to date. OK to stay with it?
[code]

[2020-04-17 22:18] donavanbecker commented on #250
[12.6.0](https://github.com/nicoduj/homebridge-harmony/blob/7c02a2b83968d6d1b750d7ca9ad8d59b3c4d880c/package.json#L17) is what homebridge-harmony is expecting.

[2020-04-17 22:18] donavanbecker commented on #250
[12.6.0](https://github.com/nicoduj/homebridge-harmony/blob/7c02a2b83968d6d1b750d7ca9ad8d59b3c4d880c/package.json#L17) is what homebridge-harmony is expecting.

[2020-04-17 23:24] mensa84 commented on #250
I have upgraded to nodejs v12.16.2 by these commands:

[code]

But now my complete homebridge crashes at startup:
[code]

[2020-04-17 23:33] mensa84 commented on #250
I reinstall homebridge-soundtouch now and it worked.
Should I reinstall every (homebridge)npm package after my upgrade from node 11 to 12? Or houw should one know, when this is possible?

[2020-04-18 03:15] donavanbecker commented on #250
@mensa84 how did you install homebridge?

[2020-04-18 04:41] barneyonline commented on #240
[FIXED] Disabling 20/40 Mhz Coexistence did the trick, haven't had any errors since making that change. Also enabled Implicit Beamforming, MU-MIMO and Fast Foaming but they won't impact the Hub connection. Thanks for all your help mate
![Screen Shot 2020-04-18 at 2 41 23 pm](https://user-images.githubusercontent.com/38914183/79628250-b2940c80-8182-11ea-8264-593bcf5d24dd.png)

[2020-04-18 04:41] #240 closed, assigned to nicoduj

[2020-04-18 08:29] mensa84 commented on #250
Like the homebridge website says. Is this not the way to install it correctly?

`npm -g install homebridge`

[2020-04-18 08:33] nicoduj commented on #250
I am using a docker image, so that is is more "isolated" and easy to update (I update the whole image). Npm can be messy from my experience especially whith global packegs and deps.

By the way, thanks for pointing me on this since I was a bit aggressive with node dependency to V1é, issed the fact that v10 is still in LTS support, so I have lower the dep to >= 10.20.0 .

Sorry for all the trouble

[2020-04-18 08:36] mensa84 commented on #250
I did run that command as user root on a small Debain 10.3 x64 VM.
Did I install it corrextly?

[2020-04-18 11:01] twynne opened #251 "Clarification on volume and mute"
Adding this as a feature request as it's not really a 'bug', but would be great if you could clarify the use of the mute/volume options.  What I'd like to achieve is that when viewing the iOS 'remote', the volume up/down links to iPhone volume up/down and controls whichever activity is active on the Harmony being controlled (as opposed to just the TV).

How should the options be set to achieve tha

[2020-04-18 11:59] nicoduj commented on #251
Hi, this should be the case , volume and remote are linked to the current input of tv (so current activity on harmony) . Can you share your config and log in debug while pressing the up/ down volume ?

[2020-04-19 11:05] superjunky opened #252 "Clarification on cleanCache"
Hi,

Does the global setting "cleanCache" clear ALL the cache of homebridge?
So does it clear the full "persist" and "accessories" dirs, or just the devices created by this plugin?

[2020-04-19 11:06] nicoduj commented on #252
Hi,

devices created by this plugin, by doing an unregister of found accessories after cache retrieval at startup

[2020-04-19 11:58] #252 closed, assigned to nicoduj

[2020-04-21 15:18] twynne commented on #251
Testing further, but I think it’s now mostly working.  Suspect I had a mis-configuration on the Harmony side which I hadn’t realised until looking deeper (meaning Harmony wasn’t controlling Sonos on certain activities).  I’ll continue testing activities and report back if I find any issues.

[2020-04-21 19:38] GRClark opened #253 "iOS Remote Associated Activity"
Cancel

[2020-04-21 21:12] #253 closed, assigned to nobody

[2020-04-24 10:06] #251 closed, assigned to nicoduj

[2020-04-27 11:57] mwkchan opened #254 "Second TV Accessory not responding and cannot be added after upgrading to homebridge 1.0"
**Describe the bug**
Second Hub was not published after upgrading to homebridge 1.0

**To Reproduce**
After upgraded to homebridge 1.0, the 2nd Hub was not responding. Tried deleting the 2nd TV accessory, clearcache, still fail to add back the 2nd Hub TV accessory.

**Expected behavior**
No changes after upgrade, can add back 2nd TV accessory by code.

**Logs**
[4/27/2020, 7:10:30 PM] Master Room

[2020-04-27 12:49] nicoduj commented on #254
will check, some are reporting it working and beta test was ok .

[2020-04-27 13:15] donavanbecker commented on #254
@mwkchan can you show the logs that show the plugin discovering the hubs?

[2020-04-27 13:54] mwkchan commented on #254
@donavanbecker

Here you are:

[4/27/2020, 7:54:41 PM] [Master Room Hub] DidFinishLaunching
[4/27/2020, 7:54:41 PM] [Master Room Hub] (Master Room Hub)INFO - Loading activities...
[4/27/2020, 7:54:41 PM] [Master Room Hub] (Living Room Hub)INFO - Loading activities...
[4/27/2020, 7:54:41 PM] Initializing platform accessory 'Study IR Learn'...
[4/27/2020, 7:54:41 PM] Initializing platform accessory

[2020-04-27 14:00] nicoduj commented on #254
Are you unsing an other plugin that exposes external accessories ? I see in your config that you are publishing All as external, did you try not to ?

[2020-04-27 14:03] mwkchan commented on #254
I used to have another plugin for my LG TV, but have removed that now.

And I fixed it by changing the name of the Living Room Hub to LivingRoom Hub. Seems somehow leftover information stayed somewhere in Homekit preventing it to add the 2nd hub back once it was removed.

[2020-04-27 14:04] donavanbecker commented on #254
@mwkchan so it is fixed?

[2020-04-27 14:06] mwkchan commented on #254
Practically yes, but it is still an issue because normal users would not know they need to change the name of the hub after upgrading

[2020-04-27 14:10] donavanbecker commented on #254
@mwkchan can you explain how it is an issue? what is the name of the hub in the harmony app? and what is the name of the hub in Homebridge? before and after?

[2020-04-27 14:19] mwkchan commented on #254
@donavanbecker

Changing name was just a technique I tried to fix it.

Let me describe again what happened:

1. I upgraded Homebridge to 1.0, everything were working except my 2nd TV accessory created for my 2nd hub, which was named "Living Room Hub" showing "not responding";
2. I cleared the cache of the plugin and restarted Homebridge, the 2nd TV accessory still showing "not responding";
3. I re

[2020-04-27 14:33] nicoduj commented on #254
Thanks for the update. External accessories are not in cache as far as I know, so cleaning cahce will not help. Changing the name must have generate a new accessory. what I don't understand is that one would have been retrieved and not the other one after update (since they were both as external if you did not change your config).

1.0 introduce new way to handle that, will be doing the move (they

[2020-04-27 14:34] Vortec4800 opened #255 "Expose HomeKit devices to Harmony?"
Does this plugin allow me to control HomeKit devices from the smart accessory (yellow) buttons on the Harmony remote? It seems like most of the documentation is focused on going in the opposite direction, controlling Harmony devices from HomeKit.

If this doesn't do that, does anyone know of a plugin that does? Is it even possible?

[2020-04-27 14:37] mwkchan commented on #254
I can confirmed that both are external accessories and I had that config for a few months. It did surprise me when I found only one was not working as I was expecting either both were working or neither.

[2020-04-27 14:59] Vortec4800 commented on #255
I did some more reading and found `publishHomeControlButtons` and the limitations it has. Looks like I'll need to do something like emulate Hue bulbs and attach to those.

[2020-04-27 14:59] #255 closed, assigned to nobody

[2020-04-27 15:04] nicoduj commented on #255
exactly :)

[2020-04-27 15:41] mikesalz commented on #254
I am experiencing the same or a similar issue.  For me, Homebridge will not even start when I upgrade to Version 1.0.1.

[code]

![image](https://user-images.githubusercontent.com/46855061/80391547-df7baa00-887b-11ea-8f48-a801448caec0.png)

[2020-04-27 16:11] nicoduj commented on #254
@mikesalz is it possible for you to try after cleaning cached accessories (and even uninstall / reinstall plugin) ? ensure to have removed external accessories from home app also .

You can also try changing names like @mwkchan did

I am looking into this, but since I don't have multiple hubs it is a bit difficult :)

[2020-04-27 16:26] machineglow opened #256 "[BUG] UUID conflict crashloop with homebridge 1.0.0"
**Describe the bug**
Upgraded to Homebridge 1.0.0 and ran into a crash loop.

**To Reproduce**
1. upgrade to homebridge 1.0.0
2. running homebridge-harmony 1.3.7

**Expected behavior**
Expected homebridge to start up.

**IOS (please complete the following information):**
- Version 13.4.1
- Device: ipad pro 9.7 and iphone SE

**Logs**
[code]

**Config**
[code]

[2020-04-27 16:28] nicoduj commented on #256
did you try 1.0.1 ? there is a problem on homebridge side

[2020-04-27 16:29] nicoduj commented on #256
https://github.com/homebridge/homebridge/pull/2522

[2020-04-27 16:31] machineglow commented on #256
I have not yet.  that was a fast =).  Will try later though I'm a bit gun shy cause I had to downgrade twice before the config would work again.  Not sure why. maybe something to do with the cached/persist files....

[2020-04-27 16:32] nicoduj commented on #256
yes, it is because cache is rewrite at homebridge stop. It has to be deleted while homebridge stopped, or at startup .
like all 1.0.0, there are some things to fix :p

[2020-04-27 16:35] mikesalz commented on #254
@nicoduj I removed the plugin references from cachedAccessories.  There were in fact two references, which is probably what caused the problem.  After a restart, it does seem to be working.  The biggest problem now is that I lost my room assignments and automations, but I can deal with that.  Thanks for your help!

[2020-04-27 16:39] nicoduj commented on #254
yeah, deleting cached accessories will do that :(  thanks for reporting

[2020-04-27 16:45] tooh commented on #256
I experience  the same on v1.0.1

[2020-04-27 16:54] nicoduj commented on #256
@tooh can you post your logs and config please ? It seems that cached accessories / external accessories might be an issue with the upgrade but can’t reproduce for now , might be on homebriddge side or plugin side .
Clean cache seems to make it ok

[2020-04-27 17:01] TheEngineerGuy commented on #256
updated to 1.0.1, getting the same error:

[code]

[2020-04-27 17:07] tooh commented on #256
I cleared cache no solution
My logs are the same as @TheEngineerGuy

[2020-04-27 17:12] nicoduj commented on #256
I need full logs and config to help, sorry guys. Only the error does not help.

@tooh : how did you clean the cache ? Did you do it while homebridge was stopped ?

[2020-04-27 17:18] TheEngineerGuy commented on #256
I cleared cache and accessories, and seems to have resolved itself.

EDIT: But, I do wish to bring your attention to this last part here, we are using a deprecated approach. Should it be updated?

`(node:18222) UnhandledPromiseRejectionWarning: Unhandled promise rejection. This error originated either by throwing inside of an async function without a catch block, or by rejecting a promise which wa

[2020-04-27 17:23] nicoduj commented on #256
@TheEngineerGuy : thanks for the update. Yeah i could definitely do a try / catch around that on the plugin side,  but would not solve the problem at all .

[2020-04-27 17:24] TheEngineerGuy commented on #256
100% agreed. 2 mutually exclusive items.

[2020-04-27 17:58] tooh commented on #256
Here my log
``
Failed to find plugin to handle accessory Harmony-TV
[4/27/2020, 7:55:37 PM] Error: Cannot add a bridged Accessory with the same UUID as another bridged Accessory: 251fd294-4705-48fd-9645-2661664c61f4
    at Bridge.Accessory._this.addBridgedAccessory (/usr/local/lib/node_modules/homebridge/node_modules/hap-nodejs/src/lib/Accessory.ts:413:15)
    at /usr/local/lib/node_modules/homebr

[2020-04-27 18:12] machineglow commented on #256
can someone post the manual steps for clearing the cache?  I'd like to try this before upgrading to 1.0.1.

Thanks,

[2020-04-27 18:18] pponce opened #257 "[BUG] Update to homebridge 1.0.1 "Cannot add a bridged Accessory with the same UUID as another bridged Accessory""
**Describe the bug**
Error on Homebridge start after update to hombridge 1.0.1.

[4/27/2020, 9:37:52 AM] [myHarmonyHub] (myHarmonyHub)WARNING - setupFoundAccessories - TV accessory added in your bridge, if another plugin is exposing a TV accessory this one might not be visible in your remote widget
(node:22092) UnhandledPromiseRejectionWarning: Error: Cannot add a bridged Accessory with the same U

[2020-04-27 18:24] nicoduj commented on #257
@pponce thank you for the difference ! It finally gives me a clue on what is happening

[2020-04-27 18:26] TheEngineerGuy commented on #256
Refresh Homebridge accessories:
[code]

[2020-04-27 18:28] pponce commented on #257
If you need the full lines to see the differences let me know.
I was not sure if any of the UUID values should not be shared on the open internet.  So only pasted the start of the lines. Can DM the full lines to you if that would help.

[2020-04-27 18:30] nicoduj commented on #257
Don't need, thank you. The problem is there if you have declared everything before release 1.3.5 of the plugin, where I changed the platform registration name to handle a warning in upcoming homebridge 1.0
You have to clean cache and delete persist files for extrernal accessories, and reinstall I think

[2020-04-27 18:40] nicoduj commented on #257
For the moment, I don't see any other way to solve than to clear cache / persist and uninstall / reinstall plugin (breaking all automation and so). It seems for some reason that this change had no effect before 1.0.0 of homebridge (I made it on purpose seeing the logs reported in beta, like @donavanbecker pointed me, since I was registering before with a plugin name that was not correct), but with

[2020-04-27 18:40] nicoduj commented on #256
For the moment, I don't see any other way to solve than to clear cache / persist and uninstall / reinstall plugin (breaking all automation and so). It seems for some reason that this change had no effect before 1.0.0 of homebridge (I made it on purpose seeing the logs reported in beta, like @donavanbecker pointed me, since I was registering before with a plugin name that was not correct), but with

[2020-04-27 18:40] nicoduj commented on #254
For the moment, I don't see any other way to solve than to clear cache / persist and uninstall / reinstall plugin (breaking all automation and so). It seems for some reason that this change had no effect before 1.0.0 of homebridge (I made it on purpose seeing the logs reported in beta, like @donavanbecker pointed me, since I was registering before with a plugin name that was not correct), but with

[2020-04-27 18:47] pponce commented on #257
I've in the past done surgical edits of the cachedAccessories file.
Do you think it would be enough to edit that file. remove all HarmonyHub references.
Uninstall and re-install the harmony plugin?

I'm afraid to delete the persist directory contents.  If i do that do you know if I will have to completely re-configure all my homekit setting across all my plugins etc..?
See this comment:  Would lik

[2020-04-27 18:56] nicoduj commented on #257
I fear so yes. You might try just changing the plugin name you pointed into cached accessory file and see if it works. should if you have only one hub

[2020-04-27 18:56] nicoduj commented on #257
- stop homebridge
- change "plugin":"homebridge-harmonyHub" -> "plugin":"homebridge-harmony" in old line
- delete the new line added.
- restart

[2020-04-27 19:33] julien94800 opened #258 "[BUG] Can't publish TV Acccessory as external device, need Homebridge 0.0.47 at least"
**Describe the bug**
I get this message while running homebridge with this plugin since last homebridge version.
Any idea about the rootcause? Thanks in advance

[4/27/2020, 9:25:03 PM] [Harmony Salon] (Harmony Salon)ERROR - readAccessories - Can't publish TV Acccessory as external device, need Homebridge 0.0.47 at least : Error: EISDIR: illegal operation on a directory, read | stdout
-- | --

**T

[2020-04-27 19:38] nicoduj commented on #258
You will need 1.0.1 https://github.com/homebridge/homebridge/pull/2522

But be aware there are issues and you will need probably to clean or modify you cache . See other bug reports

[2020-04-27 19:43] julien94800 commented on #258
Thanks for your quick feedback. I was already in 1.0.1 and I manually cleaned all persists/accessory folders and still get this message.
So I modified publishAllTVAsExternalAccessory to False and now seems to be ok. It was essentially for  your information

[2020-04-27 20:06] #258 closed, assigned to nicoduj

[2020-04-27 21:25] pponce commented on #257
Ok Good news:  I was able to keep all my homekit settings. Didn't have to do an entire reset.
Not sure if all the steps were required. Probably just surgically removing the old harmony entries in cachedAccessories would have done the trick. That and uninstalling then re-installing homebridge-harmony.
But i wanted to revert as i wanted to do the suggested steps of removing all users from homekit be

[2020-04-27 22:42] pponce commented on #256
I followed the advice by ebaauw here:
https://github.com/homebridge/homebridge/issues/2428

If you delete the persist directory you lose everything. It's like a complete reset of homebridge.  If you have a lot of rooms, devices, plugins then it's pain to get everything back the way you had it.
Try first uninstalling the harmony plugin then run homebridge with the -R option to remove only the harmo

[2020-04-28 06:35] nicoduj commented on #257
Hi @pponce , the way you did it seems ok ,thank you for sharing.
Meanwhile, a new homebridge version was released that should handle all this automatically :
- default will be to remove orphaned accessories (thus old one retrieved won't collide with the one)
- improved plugin resolution for cached accessories by searching a best match without conflicts

[homebridge v1.0.2](https://github.com/homeb

[2020-04-28 06:36] nicoduj commented on #256
https://github.com/nicoduj/homebridge-harmony/issues/257#issuecomment-620410122

[2020-04-28 06:36] #256 closed, assigned to nicoduj

[2020-04-28 06:36] nicoduj commented on #254
Could you try the following ? : https://github.com/nicoduj/homebridge-harmony/issues/257#issuecomment-620410122

[2020-04-28 06:59] #257 closed, assigned to nicoduj

[2020-04-28 10:00] #254 closed, assigned to nicoduj

[2020-04-30 13:01] breekpunt opened #259 "Everything back to default after restarting Homebridge"
Everything is working perfect. I've created Homekit automations and assigned the activities to a different room.

But when I restart Homebridge. Everything is back to default. My automations are gone. The activities and hub are set to the default room.

When I check the terminal. It says
[Livingroom TV] DidFinishLaunching
[Livingroom TV] WARNING - Removing Accessories

And then It is creating all

[2020-04-30 13:06] nicoduj commented on #259
Hi, can you share your config ? I guess you have set cleanCache Option to true

[2020-04-30 15:02] breekpunt commented on #259
Hi,

Thank you for the quick response. cleanCache was still set on true.
I was experiencing this issue before I've set it was set on true.
So cleaned it and forgot to turn it back to false. Sorry for that.

But, still 1  switch is returning back to the default room.
Every time a different one.

This is my config file:
        {
            "platform": "HarmonyHubWebSocket",
            "name": "Li

[2020-04-30 16:00] nicoduj commented on #259
Can you share your logs on startup (First and second one ?) It is probably because the switch is recreated.
which switch does that (activity / device ? )

[2020-04-30 16:28] breekpunt commented on #259
**First:**
 Here the TV is in the default room

**Before QR**
[2020-4-30 18:20:44] [Livingroom TV] Initializing HarmonyHubWebSocket platform...
[2020-4-30 18:20:44] [Livingroom TV] HarmonyPlatform Init
[2020-4-30 18:20:44] Loading 0 accessories...
[2020-4-30 18:20:44] [Livingroom TV] WARNING - configureAccessory - The platform HubName is not there anymore in your config (name property). It won't b

[2020-04-30 16:35] nicoduj commented on #259
Your accessories are created at each startup process. I think it is because you mixed "hubName" and "hubIP". Either you autodiscover (only hubname), or either you only use hupIP (but in this case it must be fixed by your network) Will take a look, but those 2 parameters are not expected to be filled together. IF you have only one hub, you can use autodiscover without setting any of these parameter

[2020-05-02 13:28] maisun opened #261 "Need some help with 2 issues seems introduced by version 1.3.x"
Hi,
After upgrading to the latest version 1.3.X I noticed two issues:
1) numberOfCommandsSentForVolumeControl doesn't seem to work any more, I configured to send 2 commands but now only 1.
2) The TV remote sometimes doesn't work - when I click on the action nothing happens. It works when it works, but 50% cases it doesn't work at all.
I experienced both issues since upgrading from 1.2.7 to 1.3.X.

[2020-05-02 13:35] nicoduj commented on #261
Hi,

thanks for reporting. Concerning 1/, probably a bug, will check.
Concerning 2/, may I ask if you have updated to Homebridge 1.0.X meanwhile ? What do you have to do to make it work again ? Just close / reopen the remote ? Change remote to another one ? Restart homebridge ?
Could you also share your config and tell me if it is added as an external accessory or not ?
And you config please (espe

[2020-05-02 13:40] maisun commented on #261
Thanks for the lightening fast reply!
Regarding 2), yes I did upgrade to HomeBridge 1.0.X (sorry didn't mention it because another TV remote for my Sony seems to work w/o problem). When it doesn't work, I close/reopen the remote, and sometimes it solves the issue. I have 4 TV remotes, 3 from HomeBridge and 1 for Apple TV. I noticed from time to time when I open remote I cannot choose other TV remo

[2020-05-02 13:44] nicoduj commented on #261
Concerning the 3 from homebridge, 2 are harmony and one Sony Right ? Both harmony are published as external I guess and not Sony ?

[2020-05-02 13:49] maisun commented on #261
Hi actually 1 Harmony, 1 Sony (homebridge-bravia-tvos v3.0.6) and 1 Samsung (homebridge-samsung-tizen v4.3.2). The Sony remote is internal (there is no option to set external), I think Harmony and Samsung were external. Samsung is in guest room not in use so I cannot verify if it works. Thanks

[2020-05-02 14:00] nicoduj commented on #261
Ok, does it seems possible to activate debug mode on homebridge and sending me the logs when you try to send command and it does not work ?

Concerning first issue I would need your config to check , thanks .

[2020-05-02 14:03] maisun commented on #261
Please see my config below:
 `{
            "platform": "HarmonyHubWebSocket",
            "name": "Logitech Harmony",
            "hubIP": "xxx.xxx.xxx.xxx",
            "publishAllTVAsExternalAccessory": true,
            "cleanCache": false,
            "mainActivity": "Radio",
            "numberOfCommandsSentForVolumeControl": 2,
            "showCommandsAtStartup": true,
            "playPau

[2020-05-02 14:05] maisun commented on #261
Looks like the format is messed up, sry

[2020-05-02 14:11] nicoduj commented on #261
It’s ok thank you will check with this

[2020-05-02 14:44] nicoduj commented on #261
I found the problem for volume. waiting for your logs to check for remote not responding, even if I think it is more homebridge related. Could you please tell me the exact verison of homebridge, and concerning the log maybe use the full DEBUG=* mode of homebridge so that I can see events also ? (log might be a lot bigger however).

Thanks.

[2020-05-04 01:00] mikesalz opened #262 "[BUG] Hubs do not always appear as HomeKit TVs in the Apple TV Remote app"
**Describe the bug**
I have 3 Harmony hubs connected.  They all display in HomeKit and work perfectly.  But in the Apple TV Remote in Control Center, they are very inconsistent.  Sometimes one shows up.  Sometimes they all show up.  Sometimes none of them are there.

**To Reproduce**
Hard to reproduce as there does not seem to be any common scenarios that produce it.  But I suspect it only happens

[2020-05-04 12:24] breekpunt commented on #259
No succes after these steps.

This weekend I factory reset my Harmony Hub. Delete this plugin and reinstalled everything.
And that fixed the issue.

So thank you for the help and keep up the great work.

[2020-05-04 12:25] #259 closed, assigned to nicoduj

[2020-05-04 16:33] nicoduj commented on #259
thank you for feedback and glad to hear everything is working again

[2020-05-04 16:48] nicoduj commented on #262
Hi, I think it was introduced in latest homebridge but not sure, still checking this. logs in full (DEBUG=*) while this is happening could help . Referenced also in #261 I think.

[2020-05-04 16:48] nicoduj commented on #246
will reopen if needed

[2020-05-04 16:48] #246 closed, assigned to nicoduj

[2020-05-04 18:28] mikesalz commented on #262
Here is the log.  Please let me know if this is useful.  Thanks!
[Log.txt](https://github.com/nicoduj/homebridge-harmony/files/4576529/Log.txt)

[2020-05-07 17:41] nicoduj commented on #262
Did not find any usefull info in there. Was the problem occuring in this log ? it seems only to be a startup log

[2020-05-07 17:41] nicoduj commented on #261
Hi, Still investigating the other problem, do you have logs when it occurs (in debug if possible ?)

[2020-05-07 18:31] Phoenix-DH opened #263 "[BUG] numberOfCommandsSentForVolumeControl still working"
Hey,

I got the following config, and the amount of volume changes is not working anymore.
It is always 1. I have sll plugin up to dste.

`"platform": "HarmonyHubWebSocket",
            "name": "Entertain",
            "hubIP": "192.168.xxx.xxx",
            "TVPlatformMode": true,
            "mainActivity": "TV",
            "switchAccessories": true,
            "devicesToPublishAsAccessoriesSw

[2020-05-07 18:57] nicoduj commented on #263
It is a known bug yes, a fix will be released soon I was waiting for another logs for another bug to do a release, sorry

[2020-05-07 19:01] mikesalz commented on #262
Only one of the 3 hubs was showing up at the time that I grabbed the logs.  In fact, I think I have only seen the Loft hub exclusively for quite some time now.  Is there a limitation that only allows one hub into the remote app?

[2020-05-07 19:04] Phoenix-DH commented on #263
Ah okay, haven‘t found anything related 🤷🏼‍♂️
Thanks.

[2020-05-07 19:04] #263 closed, assigned to nicoduj

[2020-05-07 19:17] nicoduj commented on #263
No problem ! #261 : 2 issues :)

[2020-05-07 19:33] nicoduj commented on #262
The fact to  publish them as external accessories was for that purpose . I think it is homebridge / hap related but not sure ... could you try removing one and adding again ?

[2020-05-07 19:51] maisun commented on #261
Hi, sorry but I didn't manage to reproduce it - now sure if the issue was in HB 1.0 but it seems fine after I upgrade to 1.0.4.

[2020-05-07 20:42] nicoduj commented on #261
Thanks . Maybe « Fixed mdns advertising to include all (and only) reachable addresses for the given machine » fixes it in 1.0.4

[2020-05-07 20:42] nicoduj commented on #262
Can you try with homebridge 1.0.4 ? Other users seems to say it is working again (see #261)

[2020-05-07 20:47] mikesalz commented on #262
I am actually on 1.0.4.  One more thought, based on your comment regarding external accessories.  Do I need to include:
    "publishAllTVAsExternalAccessory" : true

I am not currently doing that in my config.  Maybe that was added after I created it, or maybe I missed it?

[2020-05-07 22:22] mikesalz commented on #262
OK, so it is not publishAllTVAsExternalAccessory. I tried that and it did nothing.  So then I tried removing all TVs, and then adding back only the main one I need in the remote widget (Family Room TV).  It did show up then.  Then I added back the other two hubs.  Still, only the Family Room TV shows up in the remote widget.  So I am back to my original issue - Only one TV is showing in the remote

[2020-05-08 07:52] nicoduj commented on #262
Did you remove the whole hub ? From your config, the frist TV was linked to the hub, only second and third had to be removed individually (force touch on the accessory in home app)

Are they visible inside home app ? Did you add the 2nd and 3rd manually ? The log you are seeing is a reminder for external accessories : they are not linked directly to the hub exposed by homekit, and have to be added

[2020-05-08 14:40] mikesalz commented on #262
Sorry, I should have given more detail.  First I completely removed HarmonyHubWebSocket from my config and then restarted Homebridge.  This of course removed it from HomeKit.  I also verified that there were no remaining references in cachedAccessories.

I then added HarmonyHubWebSocket back, with only one hub (Family Room).  I restarted, and this hub showed up in HomeKit and in the remote widget.

[2020-05-08 16:21] nicoduj commented on #262
I think your external accessories are messed up i you did not have to re add them one by one in home app.
They are not cached, only referenced in persists folder, and Is suspect you have to delete them and R-eadd them from home app

[2020-05-08 16:33] mikesalz commented on #262
That sounds plausible.  Do you have a recommendation how to fix it?

Worst case, the primary TV that I want to be able to control in the remote widget IS there now.  So it is not the end of the world if I can't get the other two TVs to show up.  But it would be nice to have them there.

[2020-05-09 06:30] maisun commented on #261
Hi nicoduj, yesterday I noticed once the remote wasn't selectable for another plugin. I doubt it has anything to do with harmony plugin. As I wrote previously only Apple TV works permanently, which suggests it could be related to HB. Anyways I have another issue I'd like to fix. Occasionally when I turn on/off my system for radio/music, the projector also got triggered to turn on. The projector ha

[2020-05-09 06:56] nicoduj commented on #261
Hi, thanks for the update, I am indeed not sure where this problem is ..

Concerning your other issue, harmony plugin  with a basic configuration only send activities change to the hub (like you would do with top buttons of the physical remote or through harmony app activity screen) . I suspect you have some activities / configuration that says your ah needs to be turned off and the problem is mor

[2020-05-09 17:11] nicoduj commented on #262
I discussed with @supereg about this on discord, and here is what he is saying :

Would` be great if you could report back on this, if the issue still persists when running the current, latest versions of everything. There were some changes over the last few versions regarding the underlying dns-sd implementation."

And

We currently are also in the process of creating a new dns-sd aka bonjour imp

[2020-05-09 17:13] nicoduj commented on #261
@maisun I had some disuccion on discord with @supereg , see https://github.com/nicoduj/homebridge-harmony/issues/262#issuecomment-626207433

could you try reinstalling 1.0.4  and report back ?

Thank you !

[2020-05-09 19:29] mikesalz commented on #262
Thanks for the info.  I downloaded the latest docker image today, but unfortunately it is still the same result.  Like I said, it is not the end of the world.  I have the main TV that I want in the remote widget.  The others are just nice to have.

[2020-05-13 08:19] maisun commented on #261
Hi,
Sorry for the late reply - lots of babysitting these days.
I don't actually know how to reinstall HomeBridge as I run in Docker, but I have reloaded the image and upgrade to 1.0.4, and as I wrote I still see issues randomly, only Apple TV works 100% time but other remotes sometimes disappears (I'm more convinced it's an issue with HB). It is also quite random based on my experience in the week

[2020-05-14 22:08] beyerjp opened #264 "[BUG] "publishHomeControlsAsIndividualAccessories" does not show any accessories"
I am unable to get any home devices (or any devices in general) to appear despite numerous attempts at configuration. Harmony Hub, node, Homebridge, and Harmony plugin are all fresh installs to remove any variability. I am not using any secondary authentication (e.g. Facebook, Google) to login to my account. Harmony hub is responding, and when I create an activity with just one light in it (either

[2020-05-15 14:51] beyerjp commented on #264
I have been reading further and it seems this post may have something to do with this:
https://github.com/nicoduj/homebridge-harmony/issues/118#issuecomment-477455911
It appears in the last post, you added the option select the devices you want to expose. Is this the only option? I am still confused since I have added the devices I would like in HomeKit to an array and they still do not show as sw

[2020-05-15 19:44] nicoduj commented on #264
Hi,

the plugin is focused on activities, not device, so with your config you will have a tv accesory with each activity as an input, and a switch for each activity in harmony app.  You can expose "normal" device with some commands (like your LG or yamaha), but for home controls basically it will only expose what you have on the physical buttons on your remote, not devices themselves since they ar

[2020-05-15 20:28] beyerjp commented on #264
Thank you for the reply! Would this be a possible enhancement, or is it not technically possible at all? Would a workaround be creating individual activities for each home control device? Based on that previous post, the poster's Caseta and Hue devices all were exposed so unsure what configuration caused that but that is what I am looking for. Thanks!

[2020-05-15 20:50] nicoduj commented on #264
As far as I know the commands to hue and other home accessories are sent from the app directly and not exposed by the bridge.

My remote does not have home buttons,so I can tell more but users for whom I implemented the feature shared their config and I was only able to implement a binding to physical remote commands button that are understandable by the hub .

I don’t know if you can add home dev

[2020-05-17 11:53] mikesalz commented on #262
Check out this HomeAssistant thread.  It looks like this might actually be a limitation in HomeKit.

https://community.home-assistant.io/t/homekit-new-options-tv-source/98912/84

[2020-05-17 18:44] nicoduj commented on #262
Hi, this is why the second one or all can be exposed as external accessories . It was working fine but it seems that latest homebridge has some problems with that .

[2020-05-17 18:45] nicoduj commented on #262
@donavanbecker could you help us on this and especially what to check with homebridge team ?

[2020-05-18 00:12] SSutherland94 opened #265 "Unable to Add Air Conditioner"
I'm not entirely sure if this is a bug or a feature request, but I seem to be having some trouble adding my Air Conditioner into the plugin. It shows up just fine in my Harmony App, but when I try to add it into the plugin, I don't get a tile for it in my Home app. My two soundbars however, show up just fine. Maybe I'm missing something? Any guidance would be greatly appreciated!

[2020-05-18 01:53] SSutherland94 commented on #265
Apologies. Had to add the Power toggle manually for some reason. Would be cool if Soundbars and Air Conditioners could have actual remote interfaces someday if that's a possibility, instead of a cluster of switches!

[2020-05-18 01:53] #265 closed, assigned to nobody

[2020-05-18 05:37] nicoduj commented on #265
Hi, only activities are added automatically , not devices . Concerning a remote for a device, thinking of it but right now need to be sure that multiple remotes works well again in latest homebridge .

[2020-05-18 14:13] SSutherland94 commented on #265
Sounds good to me! I just got a bit confused when the soundbar power toggles popped up, but not the AC. Great to know that remotes are a thought! Hope you can make it happen somewhere down the line! Until then, I have some very organized clusters of switches for my devices. Thank you!

[2020-05-19 03:14] SSutherland94 commented on #265
Sorry, I hate double posting, but what you said just registered differently to me today. If you're referring to multiple remotes working in the Remote Control Center shortcut, I thought I should mention I have two TV's and two Xbox One X's showing up in there, and seemingly functional so far. Latest everything running on FreeNAS.

[2020-05-19 05:38] nicoduj commented on #265
Hi, are they all exposed from the same hombridge instance , and what is the version of homebridge ? What plugin do you use, harmony for all of them ? Like I said it should work and was working really fine if this is the case due to use of external accessories , but many users are reporting it does not anymore or at least is not reliable (some times you see it but they do not respond ) since homebr

[2020-05-19 13:44] SSutherland94 commented on #265
Apologies, I have separate plugins for my Samsung and Sony TV's and Xbox One. But they are all on the same Homebridge instance

[2020-05-19 14:46] Christian-CFP opened #266 "WARNING - socket closed"
What does this mean?

After this warning this happens...
`WARNING - socket closed
ERROR (2)- refreshCurrentActivity TimeoutError: Can't open WebSocket within allowed timeout: 10000 ms. - Stack : TimeoutError: Can't open WebSocket within allowed timeout: 10000 ms.
    at PromiseController._handleTimeout (/home/hoobs/.hoobs/node_modules/promise-controller/src/index.js:172:19)
    at Timeout.<anonymo

[2020-05-21 08:52] nicoduj commented on #266
Hi, could you sahre your config ? Are you on fix IP or autodiscovery of the hub ? It seems the hub becomes unreachable, maybe in case of IP change.

[2020-05-21 08:53] nicoduj commented on #264
`Based on that previous post, the poster's Caseta and Hue devices all were exposed so unsure what configuration caused that but that is what I am looking for`

Could you explain what you mean, I am not sur I understood after all.

[2020-05-21 15:56] Christian-CFP commented on #266
No, its a fixed IP. And like i mentioned, the hub works. I can even control it via my phone.

 "platform": "HarmonyHubWebSocket",
            "plugin_map": {
                "plugin_name": "homebridge-harmony"
            },
            "name": "TV",
            "hubIP": "192.168.100.221",
            "cleanCache": false,
            "mainActivity": "Fernseher",
            "playPauseBehavior": tr

[2020-05-21 16:00] nicoduj commented on #261
Hi @maisun ,

I finally published 1.3.8 that should solve the volume issue. concerning the other one, I can't reproduce, I have added some new feature called accessControlManaement because it was introduced in 1.0 of homebridge with hap and thought it might be related, but not sure at all.

I am closing this issue and will let the one dedicated to remote widget problem open, feel free to report on

[2020-05-21 16:00] #261 closed, assigned to nicoduj

[2020-05-21 16:01] maisun commented on #261
Thanks a lot!

[2020-05-21 16:03] nicoduj commented on #266
Are you on hoobs ? It is clearly a network problem, double check IP on harmony app / network, firewall and so on ... It can't reach your hub on 8088 port, on the given address

[2020-05-21 16:05] Christian-CFP commented on #266
Yes, I am on hoobs and I checked everything. Seems ok. But from time to time this happens... and I do not know why. Before 1.3.7 or before hoobs 3.2.4 it works just fine.

Or before nodes 12.16.3...

[2020-05-21 16:47] nicoduj commented on #266
I can’t be sure everything works correctly on hoobs sorry, they are doing some stuff out of the my control and I only use legitimate homebridge install sorry !

[2020-05-21 16:52] Christian-CFP commented on #266
No problem, thank you.

[2020-05-21 17:23] Christian-CFP opened #268 "Error with AccessControlManagement 1.3.8"
21.5.2020, 19:15:14 (node:3719) UnhandledPromiseRejectionWarning: TypeError: AccessControlManagement is not a constructor
21.5.2020, 19:15:14 at HarmonySubPlatform.readTVAccessories (/home/hoobs/.hoobs/node_modules/homebridge-harmony/harmonySubPlatform.js:291:23)
21.5.2020, 19:15:14 at HarmonySubPlatform.readAccessories (/home/hoobs/.hoobs/node_modules/homebridge-harmony/harmonySubPlatform.js:158:

[2020-05-21 17:25] nicoduj commented on #268
you need to be on homebridge > 1.0.4. Don't know what version you have on hoobs ...

[2020-05-21 17:27] Christian-CFP commented on #268
Ok, contacting hoobs. THX!

[2020-05-21 17:32] #268 closed, assigned to nicoduj

[2020-05-21 17:32] #266 closed, assigned to nicoduj

[2020-05-21 19:01] atonaltensor opened #269 "[BUG] After 1.3.8 update, devicesToPublishAsAccessoriesSwitch not working"
**Describe the bug**
After upgrading to 1.3.8, none of the devices listed under `devicesToPublishAsAccessoriesSwitches` are responsive. They appear in the iOS Home app correctly, but pressing the buttons does not do anything. (I've tried removing and re-adding the entire Homebridge Bridge from the iOS Home app, but the issue continues.) The same issue is true of the generalized mute switch under '

[2020-05-21 19:05] nicoduj commented on #269
Hi, which version did you upgrade from ? And are you exposing a tv accessory ? I am interested  in Your full config

[2020-05-21 19:07] DMBlakeley commented on #269
Observing the same /similar issue on start of Homebridge:

`[5/21/2020, 3:03:42 PM] [Spectrum] (Spectrum)INFO - configuring Main TV Service
[5/21/2020, 3:03:42 PM] [Spectrum] (Spectrum)INFO - Configuring Main Activity Watch TV
(node:68748) UnhandledPromiseRejectionWarning: Error: Cannot add a Service with the same UUID '000000DA-0000-1000-8000-0026BB765291' as another Service in this Accessory wit

[2020-05-21 19:12] nicoduj commented on #269
Ok, sorry guys will try to reproduce with a similar config new services for access control must collide with others . Can you confirm you are exposing a tv service ? Like I said I would appreciate full config

[2020-05-21 19:13] atonaltensor commented on #269
I upgraded Homebridge Harmony from 1.2.6 to 1.3.8. I also upgraded Homebridge itself from 0.4.53 to 1.1.0.

I should add that all other aspects of Homebridge Harmony is working CORRECTLY, including switching inputs in Homekit, etc.  (Note the general mute switch is also not working).

Here is my full config: (hope it helps)

[code]

[2020-05-21 19:18] BigKrisch commented on #269
Hello,

I get the same error when starting the Homebridge:

[2020-5-21 21:10:51] [Wohnzimmer Sony Bravia KDL-55W905A] (Wohnzimmer Sony Bravia KDL-55W905A)INFO - Configuring Main Activity Fernsehen
(node:623) UnhandledPromiseRejectionWarning: Error: Cannot add a Service with the same UUID '000000DA-0000-1000-8000-0026BB765291' as another Service in this Accessory without also defining a unique 'sub

[2020-05-21 19:19] DMBlakeley commented on #269
Here is my redacted config.json file:

{
    "bridge": {
        "name": "Homebridge C2B9",
        "username": "[REDACTED]",
        "port": [REDACTED],
        "pin": "[REDACTED]"
    },
    "accessories": [
        {
            "name": "Garage Door",
            "username": "[REDACTED]",
            "password": "[REDACTED]",
            "deviceId": "[REDACTED]",
            "accessory": "[REDA

[2020-05-21 19:22] nicoduj commented on #269
Thank you. Can you all tell me from which version you upgraded from ? (Harmony and maybe homebridge if you did)

[2020-05-21 19:28] BigKrisch commented on #269
Update from 1.3.7 to 1.3.8
Homebridge: 1.1.0
Node.js 12.16.3

But before the bug, I only updated the plugin. Homebridge was already running on this version for a few days.

[2020-05-21 19:29] DMBlakeley commented on #269
Updated from harmony 1.3.7. Other details:

node.js: v12.16.3
npm: v6.14.5
homebridge: 1.1.0

[2020-05-21 19:32] nicoduj commented on #269
Ok, one last question : did it happen after a restart ?

[2020-05-21 19:50] BigKrisch commented on #269
The same error message:

[2020-5-21 21:50:10] [Wohnzimmer Sony Bravia KDL-55W905A] (Wohnzimmer Sony Bravia KDL-55W905A)INFO - Configuring Main Activity Fernsehen
(node:480) UnhandledPromiseRejectionWarning: Error: Cannot add a Service with the same UUID '000000DA-0000-1000-8000-0026BB765291' as another Service in this Accessory without also defining a unique 'subtype' property.
    at Accessory._t

[2020-05-21 19:54] BigKrisch commented on #269
Yes, I restarted the Raspberry and since then I get this error message.

[2020-05-21 20:01] mkellsy opened #270 "HOOBS Certification"
We certified this plugin. It is certified to work on version 3.2.5+

You can see the certified plugin here
https://plugins.hoobs.org/plugin/homebridge-harmony

The ranking should get a boost within the next 2-3 hours.

[2020-05-21 20:03] DMBlakeley commented on #269
Yes, on restart of Homebridge. Downgraded to 1.3.7 and error was not present.

[2020-05-21 20:03] atonaltensor commented on #269
My version information is with my config.json above. And as for me, this started happening after restarting all of Homebridge.

FYI, I am running homebridge in a docker container, if it matters.

[2020-05-21 20:04] nicoduj commented on #269
I can reproduce, working on it

[2020-05-21 20:10] mkellsy commented on #270
You can direct all HOOBS user support to us. We will determine if it is our issue or a config issue. We will only notify you if there is a diagnosed issue with your code.

[2020-05-21 20:22] nicoduj commented on #269
1.3.9 on its way, sorry :) You might need to restart twice, Ithe plugin should dleete the faulting service at first start, and will create it again at second start

[2020-05-21 20:30] BigKrisch commented on #269
Perfect. It's working perfectly again.
Thanks for the quick help! 👍

[2020-05-21 20:38] #269 closed, assigned to nicoduj

[2020-05-21 23:51] DMBlakeley commented on #269
Also working again for me. Is there a way to reduce the volume control sensitivity? When I set to 1 (default) the volume increases/decreases quite a bit. I have a Bose system for audio for all devices (TV, Apple TV, DVD).

[2020-05-22 06:46] nicoduj commented on #269
@DMBlakeley You have an option for the number of commands to send called `numberOfCommandsSentForVolumeControl` but it defaults to 1, So if 1 command is to much I can't do anything :) So Putting it to 5 for example will send 5 commands (UP/Down, each time), but can't send less than 1.

[2020-05-22 21:26] bananajoe86 opened #271 "Update 1.3.9 no iOS Remote[BUG]"
With 1.3.7 the iOS included Remote works. After installing 1.3.9 the Harmony is shown but all buttons without work. Downgrade to 1.3.7 and the Remote works again.
Using Config:
{
            "platform": "HarmonyHubWebSocket",
            "name": "Harmony",
            "hubIP": "192.168.178.52",
            "publishGeneralVolumeSlider": true,
            "linkVolumeControlToTV": true,
            "

[2020-05-22 21:36] nicoduj commented on #271
Hi,

Can you check access permissions in your home app and tell me what the settings are ?

[2020-05-22 21:53] bananajoe86 commented on #271
You mean the "control devices remotely" and "add or edit devices"? Everything is activated.
For me from the version 1.3.8 doesn´t work. With 1.3.7 it´s fine. 1.3.8 and 1.3.9 it´s not good for my remote.

[2020-05-23 05:34] Hatika78 commented on #271
Hi,
Same problem here.
I think the mapping doesn't work. I've sold the problem withe the "remoteOverrideCommandsList"

[2020-05-23 06:54] nicoduj commented on #271
Hi there, I can confirm that volume is still working with physical buttons, but not the commands themselves.
@Hatika78 you were on 1.3.7 before and you did not have to override commands ?
@bananajoe86  : I a ma tlaking about the setting in home app (uper lefet icon on home tab, access control option - everyone , everyone on the same network or those who share your home)

Will investigate

[2020-05-23 08:08] Hatika78 commented on #271
Yes I was on 1.3.7 before and all is working without the override commands. I was just used it for Information Button.

[2020-05-23 10:39] nicoduj commented on #271
will be fixed in 1.3.10

[2020-05-23 10:39] #271 closed, assigned to nicoduj

[2020-05-23 11:07] Hatika78 commented on #271
Thank you very much. Et Bravo très bon travail 😉

[2020-05-23 11:16] bananajoe86 commented on #271
Perfekt work....thx a lot

[2020-05-23 11:42] Christian-CFP commented on #266
Further research...
This is a issue with my WiFi Mesh. If the Hub changes WiFi hub/router, ports will not assume.
Already reported this to the manufacturer.

[2020-05-23 11:52] nicoduj commented on #266
What router are you using ? Orbi ?

If yes (or maybe you can check options), check this thread : https://github.com/nicoduj/homebridge-harmony/issues/240#issuecomment-615557487

[2020-05-23 12:04] Christian-CFP commented on #266
No, it is a common one here in germany. FritzBox from AVM.

[2020-05-23 19:08] pascal0906 opened #272 "[BUG] Devices To Publish As Accessories Switch Switcher always switch back to Off"
Hi
if i choose a dDevice from my Harmony hub in [] the device‘s name is on my Home App, everytime i hit the Switch on the App the Device starts, but the Switcher switches back to Status Off?! Any Solutions for that?

[2020-05-23 19:10] nicoduj commented on #272
Hi, device switch are stateless since there is no way to know if a device is on or off through harmony hub. Only activities switch have a status retrieved from the hub.

[2020-05-23 19:10] #272 closed, assigned to nicoduj

[2020-05-23 19:12] pascal0906 commented on #272
wow thanks for the fast reply ;) okay this make sense :)

[2020-05-24 04:06] Corvetteguy19 commented on #266
Not sure if you guys are still looking at this, but I’m having a similar problem with my hubs and my mesh network.  I have four harmony hubs, an xfinity xFi router and pods, and HOOBS keeps crashing when trying to connect to my hubs.  I’m connecting via hub name, but for some strange reason I keep getting a very similar error.  Now my hubs aren’t showing up properly in homekit.  Is this a common p

[2020-05-24 10:12] nicoduj commented on #266
I use mesh router and it works fine. (NEtgear one). some users reported that it works better with 20/40mhz coexistence disabled however (I am running those settings) - see previous comment.

However, it seems that there are more affected users with hoobs, don't really know what they do behind the scene.

[2020-05-26 10:18] OrigReckit opened #273 "HOOBS - No switches for Activities for second Harmony Hub"
**Describe the bug**
I have two Harmony Hubs connected to my Homekit using the HOOBS certified Harmony plugin. The first hub will show up as a device and two switches (for the activities) the second hub will only show up as a device. I've tried everything to expose the activities as switches for the second hub. Any help would be appreciated

**To Reproduce**
Switching between hubs confirms that sw

[2020-05-26 10:51] nicoduj commented on #273
Hi, I think your config should be like this to achieve what you want :

[code]

[2020-05-26 13:52] OrigReckit commented on #273
Thank you so much that fixed my problem

[2020-05-26 13:52] #273 closed, assigned to nicoduj

[2020-05-28 15:54] m4d-maNu opened #274 "[BUG]UnhandledPromiseRejectionWarning: Error: Cannot add a bridged Accessory with the same UUID as another bridged Accessory"
Hi,
on my first Start comes this.

[code]

When i stopp the homebridge an restart again comes this:
[code]

I hope someone can help me

[2020-05-28 15:58] nicoduj commented on #274
Hi, can you share your config and version please ?

[2020-05-28 16:03] m4d-maNu commented on #274
Of course
Homebridge 1.1.0
Homebridge-harmony 1.3.1

and my config

[code]

[2020-05-28 17:53] nicoduj commented on #274
wow,you did this config on the first attempt ? The error is because there is a duplicate deice in your conf I think (Same name) . You will have to clean your cached accessories (if you use latest Config UI you can do it in the UI), and maybe go step by step . Full log might help seeing which one is faulty

[2020-05-28 18:08] m4d-maNu commented on #274
No, this config has grown.

This is my older config and works:

[code]

okay, than I edit my config step by step with die Telekom-DVR Setting.

[2020-05-28 18:29] nicoduj commented on #274
Moreover be aware that there is a limit I think per hub of number of devices (100), so might reach it :)

[2020-05-28 18:42] m4d-maNu commented on #274
Thumps up.

Works now, the problem was in the Telekom-DVR Setting in the config. In a Line stand NUmber and not Number. In a other Line was an : and not an ;

It was to many text for my eyes ;)

[2020-05-28 18:51] nicoduj commented on #274
To be honest , for me also :)

[2020-05-28 18:53] #274 closed, assigned to nicoduj

[2020-05-28 20:44] pro-sumer opened #275 "[BUG] No longer existing platform cannot be removed"
**Describe the bug**
When I first started using this plugin (today) I used `"name": "HubName"` as is on your project page. I then discovered this will be used as the visible name in HomeKit, so I changed it to `"name": "Harmony"`.

Since then I see this in the logs:
[code]

**To Reproduce**

1. Use `"name": "HubName"` in your config
2. Restart Homebridge
3. Use `"name": "Harmony"` in your config
4

[2020-05-29 05:50] nicoduj commented on #275
Hi, I can reproduce. However, There is a problem I think with homebridge there, will try to check with them. When I try to remove the accessory that is loaded from cache, homebridge throw an error (That I catch).
You could still remove it manually from your cache accessory file I think, or through configUI (but since you are using hoobs, ou won't have this option).

Here is what I got when I remov

[2020-05-29 12:35] pro-sumer commented on #275
I’m not (aware of) using Hoobs...

What indicates that I do?

(Trying to learn)

[2020-05-29 12:38] nicoduj commented on #275
sorry, a confusion by my side.

[2020-05-29 13:48] pro-sumer commented on #275
No worries.

How do I manually remove an accessory?

Or in the GUI?

(I would like to prevent removing my other accessories, so not removing entire folders)

[2020-05-29 15:10] m4d-maNu commented on #233
Hi sorry for Opening this Thread, but i have the same problem.

This stand in my Log
[code]

But I can't add this Hub manually in the Home.app. The Code found nothing.

my config:
[code]

The Hubs from otherPlattforms are in my Home.app.

[2020-05-29 15:50] nicoduj commented on #275
in Homebridge Settings (top rgiht ) of config UI -X - Remove Single Cached Accessory

<img width="1393" alt="Capture d’écran 2020-05-29 à 17 49 31" src="https://user-images.githubusercontent.com/19813688/83279076-d4969b00-a1d4-11ea-8391-b84712fe0858.png">

[2020-05-29 15:53] nicoduj commented on #233
IF they are in your home app, you are facing a bug that affects some users since Homebridge 1.0 -> only one is visible in remote control center.

Can't figure out x-why for now, works for me, must be network related / bonjour problem. I know Hap-node js are working on a more reliable implementation.

Are you on hoobs ? Might be a port problem also, dont really know

[2020-05-29 16:26] m4d-maNu commented on #233
No, I use homebridge native.

Okay, than must I be wait and hope.

It worked yesterday, but I was just trying out the device mode you implemented. Now I would have finished trying it out, but the remote no longer appears.

[2020-05-29 16:50] nicoduj commented on #233
interesting ... try to close the remote widget, or even launch it from home app if you have an apple tv, sometimes the behaviour of discovery is really strange. you could also try reverting to your old conf ? let me know, I am interested into info on this since it is not really "narrowed"

[2020-05-29 17:33] nicoduj commented on #275
check 1.3.11 should solve the issue

[2020-05-29 17:34] #275 closed, assigned to nicoduj

[2020-05-29 17:39] m4d-maNu commented on #233
Yes, I have an Apple TV as an control center. I'm not using the remote widget, but the Harmony Touches with my hubs. What is important to me are the separate switches for my Harmony actions, with which I can control my lights automatically. The TV mode is only nice for my rooms in Home.app, then they are also cleaner. The separate switches are located in an additional room.

Now it works again, I

[2020-05-29 17:53] #233 closed, assigned to nobody

[2020-05-30 11:20] pro-sumer commented on #275
Yes, 1.3.11 does solve my issue:

I now have only one Harmony remote in the control center and can control the volume of my amplifier using the physical buttons of my iPhone. Awesome!

Thank you!

[2020-06-01 20:50] inspectorgadjet7 opened #276 "[FEATURE] Sleep timer"
Enable the Harmony sleep timer

Is there any way to set a sleep timer? Using the remote or app you can set a sleep timer to turn off your activity after set intervals, and you can also ask Alexa to set a sleep timer for a specific amount of time. E.g. 23 minutes if you wanted to.

I’d like to either have a switch that sets a predefined sleep timer or the ability to set the sleep timer in the devic

[2020-06-02 13:41] McDin opened #277 "Error after updating in Hoobs"
Hi,

I get following error after updating in Hoobs. I allready tried to install it manually or to use older versions but I always get following error, when I start the services:

[Homebridge] [6/2/2020, 1:23:35 PM] Error: The requested platform 'HarmonyHubWebSocket' was not registered by any plugin.
    at API.platform (/hoobs/node_modules/@hoobs/homebridge/lib/api.js:115:19)
    at Server._loadPl

[2020-06-02 23:59] yaccy123 opened #278 "Wrong input when starting"
When starting an activity (from off) via home(this plugin) it always starting the false activity/input. It seems like there is a default activity/input which always starts when activating it. When i start a scene with input x it doesnt work.

Thanks :)

[2020-06-03 15:16] nicoduj commented on #278
Hi, did you configure main activity ?

Also, please note that from home app there is no way to start on an input, it will always start on the default one. You can however do this via shortcut

[2020-06-03 15:18] yaccy123 commented on #278
Hey how do i configure a main activity? :)
So that means there isnt a chance to start in a special input?

Thanks :)

[2020-06-03 15:20] nicoduj commented on #276
Hi, I am not aware of such a feature . Could you point me to online doc or explain how to set up ? I fear it is not hub based but I can take a look.

However you can still achieve this with shortcut I think

[2020-06-03 15:20] nicoduj commented on #277
Hi, it seems to be hoobs related could you check with their support first ?

[2020-06-03 15:22] nicoduj commented on #278
Check readme, option is documented ;)

And like I said, you can through shortcut but not directly through home app (it is a missing feature there that was possible ont in first beta of ios12) .

[2020-06-03 15:23] inspectorgadjet7 commented on #276
Hi. Does this help? https://support.myharmony.com/en-us/setting-an-activity-sleep-timer

[2020-06-03 15:24] yaccy123 commented on #278
Ahh okay yes i tried with shortcut on iphone but anyway after a few seconds it changes back to „main input“ 🤷🏾‍♂️. That is the Problem.

[2020-06-03 15:26] nicoduj commented on #278
Can you share config and log in debug mode please ?

[2020-06-03 15:27] yaccy123 commented on #278
Thats the config

[2020-06-03 15:29] nicoduj commented on #276
Yes, so it is a remote / app function and not a hub config based , so I can’t mimic it in the plugin easily (need to reproduce the dev inside the plugin ) . I would suggest to try with shortcut app and an automation

[2020-06-03 15:33] nicoduj commented on #278
You Missed a copy paste or file attachement

[2020-06-03 15:34] yaccy123 commented on #278
Ohh sorry now ?!

[2020-06-03 15:35] yaccy123 commented on #278
![D978ECB2-C278-47F8-9359-64D9063BFA1A](https://user-images.githubusercontent.com/65060351/83657066-a9d78880-a5c0-11ea-9b1a-0ce7d2b0f6ca.png)
Now

[2020-06-06 08:56] surrogatextrakt opened #279 "[BUG] Cannot add a Sequence as a bridged Accessory"
My config:
Homebridge: 1.1.0
homebridge-denon-heos v2.8.4
Harmony Hub with a sequence called "Sound umschalten"
iOS: 13.4.1 (iPad / iPhone 11)

If I make the config without the sequences to publish as a accessory switch all works fine.

[code]

After configure the sequence as a accessory the config entry looks like this:
[code]

the following output comes on start up of homebridge:

_(Harmony)INFO

[2020-06-07 18:00] vincentanthony opened #280 "[BUG] All Homebridge accessories disappear form Homekit after 30seconds"
30 seconds after homebridge restart, all accessories on home bridge disappear from HomeKit. Narrowed it down to harmony plugin. Not seeing any errors in the logs. Tried reinstalling everything, still no fix

[2020-06-07 18:06] vincentanthony commented on #280
Seeing this in debug mode:

[6/7/2020, 11:04:31] [Harmony Hub] (Harmony Hub)INFO - refreshCurrentActivity : Refresh needed since last update is too old or current Activity is not set : -1
[6/7/2020, 11:04:31] [Harmony Hub] (Harmony Hub)keysMap is :{"0":"{\"command\":\"Rewind\",\"type\":\"IRCommand\",\"deviceId\":\"30808578\"}|1","1":"{\"command\":\"FastForward\",\"type\":\"IRCommand\",\"deviceId\"

[2020-06-07 18:19] nicoduj commented on #280
Hi, can you share your config and environment ? What do you mean by all accessories ? In no way this plugin can interfere with devices it does not expose itself

[2020-06-07 18:23] vincentanthony commented on #280
Timezone | GMT-0700
-- | --
Raspbian GNU/Linux Buster (10)
homebridge
192.168.7.199
fe80::c1c8:32dd:f3cc:3841
v12.17.0
v6.14.5
pi
/var/lib/homebridge
/var/lib/homebridge/config.json
Yes

Any other info?

As an example, I have the nest and nest cam plugins installed. When harmony is uninstalled, those plugins work fine. As soon as I install Harmony, everything shows up fine for 30 seconds, then eve

[2020-06-07 18:27] nicoduj commented on #280
Are you using regular homebridge ? What is your config.json file ?

[2020-06-07 18:37] vincentanthony commented on #280
{
    "bridge": {
        "name": "Homebridge 17B1",
        "username": "0E:7C:7F:6E:17:B1",
        "port": HIDDEN,
        "pin": "HIDDEN"
    },
    "accessories": [],
    "platforms": [
        {
            "name": "Config",
            "port": HIDDEN,
            "auth": "form",
            "theme": "auto",
            "tempUnits": "f",
            "lang": "auto",
            "platform": "c

[2020-06-07 18:40] nicoduj commented on #280
when you say disapeear, they are no more there ? DO you see harmony exposed activities at all ? Do you have any devices on an old ios version that could cause some Icloud sync issues ?

[2020-06-07 18:43] vincentanthony commented on #280
They aren't there anymore. I don't see them anywhere in the Home App. Don't know if there's any old devices causing issues, but again, everything with home bridge seems to work fine when I uninstall Harmony.

[2020-06-07 18:50] nicoduj commented on #280
i would need the full log while in debug mode when it happens, and check if it is on all your ios device or only one. Please also check if you have any old device (priori to ios 10) on your icloud account with home syn enabled. But once again, if oher devices disappears than the one exposed form harmony, it seems very strange  ... Such kind of issue was never reported ...

[2020-06-07 18:50] nicoduj commented on #280
And by the way, is it a standard homebridge or hoobs install ?

[2020-06-07 18:57] vincentanthony commented on #280
I believe it's just the standard

[2020-06-07 20:32] vincentanthony commented on #280
Also had one device on iOS connected to iCloud / Homekit, so took it off.

[2020-06-08 16:14] vincentanthony commented on #280
Removed the iOS device, still been having the same problem since yesterday. Have removed all plugins to make sure there's nothing else causing the issue.

[2020-06-08 16:19] nicoduj commented on #280
Hi, I am sorry but I don’t know what to do with this . Are they still visible in homebridge itself (config ui ?) did you try eve app ? It could be some cache messed up issue but you would see in your log some removers accessory , still you can try deleting the cached  accessory folder .

[2020-06-08 16:35] vincentanthony commented on #280
They are still visible in Homebridge and turn on / off. I've deleted cached accessories multiple times. Anything else I can try? definitely something specific with the Harmony plugin.

[2020-06-08 16:38] nicoduj commented on #280
reboot your phone ? Do you have multiple ios device in your home ? Or maybe you have some problem with permission, what are the settings of your home app concerning access autorization (everyone, users of the same network, users of the same home, any code ? )

[2020-06-08 16:39] vincentanthony commented on #280
only 2 iPhones in the house, both with full permissions. Two Apple TVs and 3 HomePods that are hubs.

[2020-06-08 16:42] nicoduj commented on #280
and both iphones have the same behavior ? one thing however in your config : remove hubName if you have hubIP set (and fixed on your network)

[2020-06-08 16:43] vincentanthony commented on #280
same behavior on all of our devices. Even computers with home app. Will try the removing hub name

[2020-06-08 16:43] nicoduj commented on #280
and I'd like to know the version of your homebridge / Hap by the way.

[2020-06-08 16:44] vincentanthony commented on #280
1.1.1. Same behavior after removing the name

[2020-06-08 16:44] nicoduj commented on #280
last thing you can do is to launch homebridge on full log (DEBUG=*) and check events when it disappears but like I said first time I hear of such issue.

[2020-06-08 16:47] nicoduj commented on #280
1.1.1 ? It is not released, only 1.1.0 . You checked that it is not back in another room / default room ? Do you have any file named harmony* in the root dir of your homebridge ? If yes you can try to delete them. Also, you did not make multiple trials and error on the same install with config change like publishAsExternalAccessory  ?

[2020-06-08 16:52] vincentanthony commented on #280
Sorry. 1.1.0. Attached a log.

I've tried a number of different settings with the config, still the same thing. Haven't checked for any files in the toor directory.  Not in another room either.

[testlog copy.docx](https://github.com/nicoduj/homebridge-harmony/files/4747382/testlog.copy.docx)

[2020-06-08 16:58] vincentanthony commented on #280
No harmony file in the root dir

[2020-06-08 17:04] nicoduj commented on #280
Everything seems fine in your homebridge log as far as I can tell .
You could try to stop homebridge (first), modify your config to add cleanCache to true, start again. (if it works, set the option back to false, without stopping homebridge)
If that doe not work, stop again, and set publishAllTVAsExternalAccessory to true, and launch .
Then, in home app, add a new device, by code, and enter the co

[2020-06-08 17:23] vincentanthony commented on #280
Not publishing as a TV and just publishing as an external accessory did it. It seems to be working now. Wonder why that would be the issue. It was working like that before for about a month or so.

[2020-06-08 17:26] nicoduj commented on #280
I don't understand what you did. If you don't publish as tV it will not publish anything at all if you don't expose siwtches. Do you have a Tv accessory or not ? If you publish As external accessory, you have to add it manually after.

I think you have messed up your cache at some point, but I don't know in what state is your config.

[2020-06-08 17:32] vincentanthony commented on #280
I switched off TV Accessory and switched on Switches Accessory in HomeKit. On restart it published one switch with my activity options as different switches inside of it. Didn't need to add anything manually.

[2020-06-08 17:50] nicoduj commented on #280
Config and screenshot in home app, not sure I understood what you said . because if I understand you don’t have any tv accessory anymore but only one switch per activity

[2020-06-08 17:54] vincentanthony commented on #280
<img width="752" alt="Screen Shot 2020-06-08 at 10 51 43 AM" src="https://user-images.githubusercontent.com/16532398/84063674-42318c80-a976-11ea-8a15-cd98634df371.png">
<img width="284" alt="Screen Shot 2020-06-08 at 10 52 31 AM" src="https://user-images.githubusercontent.com/16532398/84063720-59707a00-a976-11ea-87fc-0eaf07d7fc0d.png">

[2020-06-08 18:03] nicoduj commented on #280
ok, and if you try to add the option to publish a tv accessory, does it shows up and stay (don't remove switch, you can have both)

[2020-06-08 18:20] vincentanthony commented on #280
Did what you suggested and it disappeared again

[2020-06-08 18:39] nicoduj commented on #280
when it "appears", where does it appear ? in which room ?

[2020-06-08 18:59] vincentanthony commented on #280
Default Room. I'm looking in the home section, see it show up, then disappear. Attached a screen capture of what happens. Just hitting restart on home bridge, not doing anything else.
[Screen Recording 2020-06-08 at 11.47.17 AM.zip](https://github.com/nicoduj/homebridge-harmony/files/4747969/Screen.Recording.2020-06-08.at.11.47.17.AM.zip)

[2020-06-09 20:05] vincentanthony commented on #280
So, been testing this all morning. Disabled the TV Accessory and went back to the switch. Reinstalled my Nest plugins, everything is working as expected. There's clearly something up with the TV Accessory option, or at the least, the way it's interacting with my HomeKit. Not sure if you have any other suggestions, or if I should just stick with the switch options.

[2020-06-10 16:03] mwhaley99 opened #281 "[BUG] Homebridge service stops when Harmony Hub disconnects from network"
**Describe the bug**
Homebridge service on HOOBS device stops when Harmony Hub disconnects from network.
e.g. cut power to device or reboots

**To Reproduce**
cut power to device and plug back immediately

**Expected behavior**
I would expect the device to show not responding until it talks back with Hoobs after it reconnects.

**Logs**
6/10/2020, 8:58:37 AM [Harmony Office] (Harmony Office)WARNIN

[2020-06-11 13:04] nicoduj commented on #279
Hi, will try to reproduce thanks for reporting.

[2020-06-11 13:05] #277 closed, assigned to nobody

[2020-06-11 13:05] nicoduj commented on #276
Hi, there is nothing I can do there, sorry.

[2020-06-11 13:05] #276 closed, assigned to nobody

[2020-06-11 13:06] nicoduj commented on #278
Hi, I need your logs to investigate on this .

[2020-06-20 13:13] jlg89 commented on #280
Same issue here, except it didn’t affect other homebridge accessories, only the Harmony accessories would disappear from the Home screen after ~30s. Disabling “TV accessory in homekit” and enabling “Publish all TV as external accessory” seems to be a workaround.

<code>
        {
            "platform": "HarmonyHubWebSocket",
            "plugin_map": {
                "plugin_name": "homebridge-h

[2020-06-23 12:25] pascal0906 opened #282 "iOS 14 TV Accessory"
is there any possibility to get my TV‘s get to work with newest iOS 14? at the moment they‘re just home Symbols and i cant trigger the with any shortcut.

![DFAA2ED1-B4A1-460B-91BB-C3FC5B606AB2](https://user-images.githubusercontent.com/65828547/85402889-c0885400-b55c-11ea-8dc6-c8a3ccaecabf.jpeg)

![A5CEAAA9-89E6-4A20-A242-AB0865C07409](https://user-images.githubusercontent.com/65828547/85403323-6

[2020-06-23 12:53] dkrizic commented on #282
I observed the same:
![image](https://user-images.githubusercontent.com/1181349/85405795-342c6000-b561-11ea-97c0-0442c32c2598.png)

But I would stay cool, this is the very first beta, many to come.

[2020-06-23 15:04] nicoduj commented on #282
Hi , first beta was released yesterday evening , so I had no chance to check for the moment !. From my setup, the icon seems broken but the inputs are still listed and services reported. I will check ASAP, but can you confirm it does not work at all or only a display issue ?

[2020-06-23 15:06] pascal0906 commented on #282
for me it workes when i push the button in home app, but when i put some devices in a shortcut, i choose the tv but, shortcuts does not recognize it as a tv accessory

[2020-06-23 16:59] nicoduj commented on #282
I have checked, as far as I can tell commands including remote are working on IOS 14, only the icon is not good. When setup it sees it is a TV and asks to rename inputs. but like you said, they are not visible in shortcut app. I think the type is not ok, don't know if it is homebridge / hap related or IOS 14 (probably IOS14 !)

[2020-06-23 17:15] nicoduj commented on #282
Ok, it seems IOS 14 does not like anymore Tv that are bridged. you have to publish them as externalAccessories with this option : publishAllTVAsExternalAccessory

[2020-06-23 17:19] nicoduj commented on #279
Hi, I can not reproduce, do you have any activity / command that would have the same name as your sequence ? Could you post your full hub config ?

[2020-06-23 17:41] pascal0906 commented on #282
i try this but for me it looks like that in homekit:

![image](https://user-images.githubusercontent.com/65828547/85436527-7ec1d280-b589-11ea-91c3-ffe8561a0ac8.jpeg)

 ![image](https://user-images.githubusercontent.com/65828547/85436509-78335b00-b589-11ea-8c76-fe049f25d1f9.png)

any ideas?

[2020-06-23 17:53] nicoduj commented on #282
You have to remove the old cached accessory (through config UI), and then publish the nnew one as external, and add it manually (not added with the bridge) - same code.

[2020-06-23 19:19] pascal0906 commented on #282
got the right icons back, bit in iOS 14 beta 1 still not possible to integrate these TV accessories in shortcuts! thanks for your help :)

[2020-06-26 15:25] joerexlo opened #283 "[BUG] Mute button missing and home button ideas."
i am sorry id this is not a bug. i tried discord but no help. Everything is working fine. but i have 2 issues.

1. mute button missing
2. how do i get home button.

So i have harmony hub connected to old IR bose receiver, LG webos TV and nvidia shield. everything is working in the remote app of ios except the above issue. not sure why this is happening.

[2020-06-29 04:30] SSutherland94 opened #284 "UnhandledPromiseRejectionWarning: Error: Cannot add a bridged Accessory with the same UUID as another bridged Accessory[BUG]"
**Describe the bug**
I recently began to migrate my Homebridge setup from being split across FreeNAS/macOS to a unified Raspberry Pi setup with the Homebridge image. On FreeNAS, this config was 100% functional. Naturally, I copied the contents of the Harmony config, as-is, onto my Raspberry Pi, and removed the FreeNAS instance of Homebridge, where the Harmony plugin initially resided. Now, I recei

[2020-06-29 15:37] nicoduj commented on #284
Hi, this error is happening because a device is added twice . Did you move the cache between installs and rename something meanwhile ? You can try to clean the cached accessories either through plugin option or configui-x .

[2020-06-29 15:42] SSutherland94 commented on #284
Yeah I went through it all, and it seems that the issue was that although I had switches with different names, the command sequences were the same, which although it worked fine on FreeNAS somehow, it seems to not be working on the Raspberry Pi, so I've mitigated the issue in the last hour or so by altering the command sequences for the two conflicting switches. So it seems that even if the names

[2020-07-01 15:46] AdlerCentauri commented on #282
@horst69 was ist das für eine App? Wo Du da alles einstellst.

[2020-07-01 16:19] pascal0906 commented on #282
das is die App hier:

https://apps.apple.com/de/app/homemanager-f%C3%BCr-homebridge/id1440396849

kostet zwar, aber ist auf jedenfall hilfreich

[2020-07-01 22:58] AdlerCentauri commented on #282
Dankeschön @horst69

[2020-07-03 20:10] joerexlo commented on #262
i am having simila issue but for me the second hub is not coming as a remote but in homekit everything is working fine

[2020-07-03 21:27] beckern commented on #280
Hello,
i think, i have the same issue. After installing the plugin all harmony and homematic devices disappear after a few seconds in my homekit. Sometimes the devices appear after reconnect wlan. In homebridge-config-ui-x v all devices are to controlable.
In the log file are no obviously mistkake.
Now i unistall this plugin (and install harmony plugin from @kraigm) and everythink is fine. It is v