[2019-03-26 14:35] nicoduj commented on #118
Hum... i don’t have one my self so I might have done something wrong :) could you tell me what actions are triggered by your home controls button on the physical remote ? Launching in debug mode and giving me your home config would be nice also !

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-26 15:01] mikesalz commented on #118
I have attached the log.  I have three Harmony Hubs.  The family room one is where I enabled publishHomeControlButton.  The buttons SHOULD be controlling these:
1. hue-light.harmony_movie_night (Emulated Hue)
2. hue-light.harmony_movie_end (Emulated Hue)
3. Lutron Caseta Kitchen Lights (Native HomeKit device)
3. Lutron Caseta Kitchen Table Lights (Native HomeKit device)

[Log.txt](https://github.c

[2019-03-26 15:19] nicoduj commented on #118
Thank you will give it a look, indeed from what I see I currently publish everything !

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-26 17:59] dlindberg commented on #118
I was experimenting with this some last night and ended up reading through #67 a couple of times to wrap my head around this one. It does seem to just publish everything that the HarmonyHub knows about, so if you have real devices on real hubs connected to HarmonyHub those would be duplicated if HomeKit also already understands them.

My work around to use the Harmony Remote's home automation butt

[2019-03-26 19:39] nicoduj commented on #54
Needs dynamic platform, moved to Milestone 1.0.0

[2019-03-26 20:50] nicoduj commented on #54
for a quick demo https://twitter.com/dujnic/status/1110644949027041282

[2019-03-26 21:18] nicoduj commented on #118
@dlindberg to be honest I am not sure anymore of the use case for those home automation exposed from harmony.

First, I realized today that there might be no way to map the physical buttons themselves. They send IR command to the hub that maps them to a home device action. The harmony app doesn’t handle those commands , it handles the home device themselves. Thus, there is no information through a

[2019-03-26 21:23] nicoduj opened #119 "Set category to tv for pairing external device"
See @KhaosT comment on twitter ;)

Plus remove non existing 0.0.48 homebridge ref :)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-26 22:33] dlindberg commented on #118
As excited as I was to see this feature in the change log, I think you might be right. Those automation buttons on the remote are really hamstrung by how Logitech has chosen to implement them. Even if you have compatible devices any scenes you might want must be created in the Harmony app as a one off, it doesn’t understand scenes created in Hue, SmartThings or Lutron; I don’t know for sure about

[2019-03-27 02:02] KhaosT commented on #119
I'd suggest you always publish TV accessories as external accessories, instead of having one in bridged mode while the rest as standalone, since there is no guarantee that user don't have any other plugins that published TV service in this way.

https://github.com/nicoduj/homebridge-harmony/commit/897b190d77d33577f60d806ec89f12d7d7db8ff0#diff-55376acb9c67c5556243b9296540fd35R220

[2019-03-27 05:35] nicoduj commented on #119
@KhaosT your damn right thank you for suggestion .

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-27 05:50] nicoduj commented on #118
@dlindberg thank you for testing . If I understand, you setup scenes in harmony app that use a lot of home device and can trigger them once associated to the button on the remote (or a Logitech pop button). Are Logitech pop button visible in your setup as home accessories ? Since they are not HomeKit compatible it could be a way to overcome this , but not sure since I think they are more triggers

[2019-03-27 13:55] Phoenix-DH opened #120 "[DEMO] TV-Mode"
Hey,

I really love this plugin, one of the most used for me.
I configured it perfectly for my need.

I want to give the TV mode a try, but I have no test scenario available and do not want to loose my actual config, because I used several action on hardware wall switches as example.

Can I see somewhere pircutes of the mode?
Is it also possible to use both in combination, like for example "device

[2019-03-27 14:14] maisun opened #121 "TV remote from control centre sometimes work sometime doesn't"
Hi,

Thanks for the great plugin, the TV mode is really well thought and works great great in Home app. I got some strange issue with TV remote in control centre though, sometimes I can see the remote and use it without problem. Other times I don't even see the remote.
No sure if it has some conflict with other TV remote plugins. I can only see one of them - either Harmony remote or the other remo

[2019-03-27 14:26] dlindberg commented on #118
Re-reading my comment I think I got a bit off topic venting some frustrations with how Logitech treats the home automation buttons on the remote, so it got a bit confused.

To me, Logitech's intended workflow is really horrible and feels intentionally hamstrung by Logitech. I'm reticent to make strong statements of what should happen though—because, how I think this should be implemented contradic

[2019-03-27 16:50] nicoduj commented on #120
Hi, if you want to give it a try , are on 0.0.x version of this plugin(I guess so) and don’t have any other Roku or lg web tv plugin that exposes such device in homebridge, you can just add a second platform to your homebridge config with this mode enabled, a different name, and same hub ip.

You have a video on my twitter account https://twitter.com/dujnic/status/1091094270814109696?s=21

<sub>Se

[2019-03-27 18:06] nicoduj commented on #121
Hi,

As described in #54, it is an issue with homebridge / homekit. In currently beta 1.0.0 f my plugin, and latest version oh Homebridge, it is possible to have multiple hubs, but all other plugins you are using should adopt the "external accessory" way. I am continuing my work on this, because current beta might stil have problems since I made a bad choice by not adding the first TV device of my

[2019-03-27 18:06] #121 closed

[2019-03-27 18:07] #120 closed

[2019-03-27 18:36] nicoduj commented on #119
@KhaosT : you were right, so much more beautiful with the category set :)

![IMG_3272ED102F1F-1](https://user-images.githubusercontent.com/19813688/55102807-84e7ab80-50c7-11e9-9214-d3231f7f73e2.jpeg)

[2019-03-27 21:13] durosity commented on #113
I'm getting an error when running Homebridge after installing 1.0.0b9:
[3/27/2019, 9:03:47 PM] [Lounge TV] HarmonyPlatform Init

/usr/local/lib/node_modules/homebridge-harmony/harmonyPlatform.js:26
  for (let i = 0, len = this.plaformsConfigs.length; i < len; i++) {
                                             ^
TypeError: Cannot read property 'length' of undefined
    at new HarmonyPlatform (/usr

[2019-03-27 21:16] nicoduj commented on #113
Hi, I think you did not migrate your config as explained in Readme  :)

[2019-03-27 21:18] durosity commented on #113
RTFM HAHA!  ahh never even thought, just assumed it'd be the same process as usual.  ill have a look shortly!

[2019-03-27 21:25] nicoduj commented on #113
:) I don’t like to do breaking changes like this but it was necessary. I am still not satisfied so there will be other breaking changes(see #117 ) in next betas in this branch. I will only stop while in RC state, so be aware that you will need to change it again (beta is ... beta :) )

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-27 23:22] durosity commented on #113
Oh indeed and it was hardly a massive change... it was just me being lazy and jumping to conclusions.  I should know better.. in my defence though it was a pretty bad day so I’m not on top of my game.  And yes I was having a look at 117, it certainly makes sense to adjust things now.  I’d imagine the vast majority of users would now want the new tv mode by default.. I can’t really think of any rea

[2019-03-28 05:37] #119 closed

[2019-03-28 05:38] nicoduj commented on #118
I have added an option to select the one you want to expose for now. This way you can expose only the one that are not already HomeKit compatible .

[2019-03-28 05:38] #118 closed

[2019-03-28 05:39] #116 closed

[2019-03-28 05:39] #115 closed

[2019-03-28 05:39] #54 closed

[2019-03-28 06:04] Phoenix-DH commented on #120
Hey, if 2 platforms in parallel are working, great... I think I will give it a try.

[2019-03-28 06:15] nicoduj commented on #120
What do you mean by such devices ?

[2019-03-28 06:31] Phoenix-DH commented on #120
Yes, only that hub which is exposed via your plugin to home.

What does that then mean no support for the older versions? Only TV mode? ....

[2019-03-28 06:31] nicoduj commented on #113
@durosity sorry for your day by the way, hope next will be better !

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-28 07:42] nicoduj commented on #120
No, only 1.x version of my plugin which will involve configuration changes

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-28 08:46] overflywingo opened #122 "[FEATURE] Custom name"
Hello

For "devicesToPublishAsAccessoriesSwitch" , is it possible to put in the Config.json our own accessory name ?  I mean the one that will be displayed on the Home app switch ?

For instance,  "devicesToPublishAsAccessoriesSwitch": [
                "TV Samsung;Play", ... in config file

is currently displayed as TV Samsung-Play in the app, but I would like to get something else.

I know I can

[2019-03-28 11:38] nicoduj commented on #122
Hi, this name is generated for unicity purpose, and composed of the name of the device in harmony and the name of the command if you add one. I could definitely add  an option to define their name but I think it becomes too much complicated in terme of configuration since you can in fact rename them in HomeKit . With 1.0 and cached accessories the risk of loosing custom names is also lower, so I a

[2019-03-28 17:29] roberkane212 opened #123 "error"
@nicoduj now i am getting this error

[2019-3-28 16:16:38] [28" Sanyo TV] INFO - Loading activities...
[2019-3-28 16:16:38] [28" Sanyo TV] Error - Error retrieving info from hub : Error: getaddrinfo ENOTFOUND undefined undefined:8088-(4/3)
Unhandled rejection Error - Harmony HUB at undefined is not available - can't start plugin

[2019-03-28 17:31] roberkane212 commented on #123
my config is

"platform": "HarmonyHubWebSocket",
"name": "TV",
"subPlatform": [{
"name": "Harmony Hub",
"hubIP": "192.168.0.5",
"TVPlatformMode": true,
"mainActivity": " The TV"
}]

[2019-03-28 17:35] overflywingo commented on #122
Thanks for the response Nicolas.  In fact the idea behind this suggestion is to be able to use "non-standard" letters & signs in the name.
For instance if you try to rename via the Home App, many

Just have a look of what I did using the "Broadlink RM"  which allows renaming in config.json .. and therofore the use of non-standard signs like EMOJI's.
But this is not not possible with renaming in Ho

[2019-03-28 18:05] nicoduj commented on #122
@overflywingo good point and yes I saw that. However the name in home app is what they call the Siri name, how could your device respond to Siri with such names ?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-28 18:06] nicoduj commented on #123
Hi, are you in 1.0.0 beta ?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-28 18:08] overflywingo commented on #122
Joker ;)  .... But I'm learning EMOJI langage intensively .. It's hard but I 'll be ready to pronounce it before very soon

[2019-03-28 18:09] roberkane212 commented on #123
yes i believe so

[2019-03-28 18:09] roberkane212 commented on #123
how can i check?

[2019-03-28 18:16] nicoduj commented on #123
How did you install :) my guess is you are not from what I see

Nicolas

[2019-03-28 18:17] roberkane212 commented on #123
sudo npm install -g homebridge-harmony

[2019-03-28 18:20] roberkane212 commented on #123
config without sub platforms works fine, not sure what im doing wrong. is my config correct?

[2019-03-28 18:31] roberkane212 commented on #123
i have also tried sudo npm install -g homebridge-harmony@beta , but to this error

Loading 1 platforms...

/usr/local/lib/node_modules/homebridge/lib/api.js:108
  if (name.indexOf('.') == -1) {
           ^
TypeError: Cannot read property 'indexOf' of undefined
    at API.platform (/usr/local/lib/node_modules/homebridge/lib/api.js:108:12)
    at Server._loadPlatforms (/usr/local/lib/node_modules/h

[2019-03-28 18:32] nicoduj commented on #123
You are not on beta but on 0.7.0 version (to install the beta, see [README](https://github.com/nicoduj/homebridge-harmony#work-in-progress-for-dynamic-plugin-mode) :)

However, in 0.4.7, you can make it work with the following config :

[code]

[2019-03-28 18:34] roberkane212 commented on #123
thats the config i currently have, but when i try to find another tv in add accessories there are none

[2019-03-28 18:35] nicoduj commented on #123
Sorry, but I don't follow what version you are on, what config you are using .... and even if you have any other plugin installed . The last log from homebridge doesn't make sense and doesn 't seems to be possible in latest homebridge version

[2019-03-28 18:36] nicoduj commented on #122
Will think of it, if anyone else vote for this :)

[2019-03-28 18:37] roberkane212 commented on #123
0.7.0

[2019-03-28 18:37] roberkane212 commented on #123
that error came with
npm install -g homebridge-harmony@beta

[2019-03-28 18:40] nicoduj commented on #123
ok, so. In 0.7.0, with the following config :   {
    "platform": "HarmonyHubWebSocket",
    "name": "TV",
    "hubIP": "192.168.0.5",
    "TVPlatformMode" : true,
    "mainActivity" : "The TV"
  }
, you have no device in home app, but no error ?
or is it just in control center remote app ?

[2019-03-28 18:42] Krocko commented on #53
I would like this feature too!
Is it possible to have the TV as TVplatform with the HDMI and AV inputs? Like it is now with the activities?

[2019-03-28 18:43] nicoduj commented on #53
that would be the goal of this new feature indeed.It involves a bit of work however, but will put it in the pipeline :)

[2019-03-28 18:48] roberkane212 commented on #123
it is just control center remote app

[2019-03-28 18:48] nicoduj commented on #123
@roberkane212 I am sorry, but I really don't understand while reading this thread what is your problem at all. the error you report is talking about 1.0.0beta, but your log demonstrate that you are in 0.7.0.
After that, you said that you are in 0.7.0, and I don't know if it works or not there. Can you calrify a bit in order me to help ? With full log and so on ? (the report template for bug report

[2019-03-28 18:48] nicoduj commented on #123
ok, and DO YOU have another plugin that exposes a TV to homekit ?

[2019-03-28 18:49] roberkane212 commented on #123
yes roku plugin

[2019-03-28 19:01] nicoduj commented on #123
ok, so your roku is exposing from your homebridge, so you can't have both in 0.7.0 of my plugin.

If you disable your roku, you will see your harmony.

You can try harmony beta by installing it this way :
[code]

Be sure to have update homebridge it self to ***0.4.47***.

Then modify your config like this :

[code]

[2019-03-28 19:09] roberkane212 commented on #123
Ok, how do i add my other tv's?

[2019-03-28 19:10] roberkane212 commented on #123
none show up when i go to add accessories like i saw in the video

[2019-03-28 19:13] nicoduj commented on #123
I really don't understand man . How many TV do you have ? How many hubs ?

Did you read carrefully the readme and especially options :

'publishAsTVAsExternalAccessory' publish all TV accessory as external Accessories. This way, if another plugin on the same homebridge instance as one, the one on harmony will also be visible, but you will have to add them manually after the hub itself. Defaults to

[2019-03-28 19:19] roberkane212 commented on #123
i have 3 tv's 1 hub, just trying to do what i saw done in the video you posted from twitter

[2019-03-28 19:26] nicoduj commented on #123
If you have only one hub you can’t currently , all tv are linked to the same hub . That is what I say in the beginning of the readme  : I expose one hub as a tv and each activity as an input . There is an evolution #53  for doing what I think you want but it is not implemented yet.
If you want to expose your only hub with Roku, just add to the config I proposed to you the option publishAsTVAsExter

[2019-03-29 05:38] nicoduj commented on #123
@roberkane212 did you make any progress on this ?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-30 15:00] jofotoo opened #124 "Hubs linger after renaming."
Homebridge Version 0.4.47
homebridge-harmony v1.0.0-beta10
macOS 10.14.4 (but i only upgraded to this yesterday)

I can successfully add hubs but can't seem to remove old versions after renaming them. In order to get the new version to appear, I have to delete homebridge from my Home config and re-add it.

I tried removing all files highlighted here and restarting: <img width="882" alt="Screen Sho

[2019-03-30 15:06] nicoduj commented on #124
Since you are adding them as external accessories you have to remove them directly in home app in the settings .

Nicolas

[2019-03-30 16:17] nicoduj commented on #123
@roberkane212 any news ? Can I close this or you still have problems ? Have a nice week end !

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-30 17:03] roberkane212 commented on #123
I only have the one hub, so I figured it was a done deal

[2019-03-30 17:05] nicoduj commented on #123
Ok, I though you were not seing your hub with roku. In fact, you can't see one remote per device for the mment, but will do this in the next futur.

[2019-03-30 17:05] #123 closed

[2019-03-31 16:47] DoctorExitus commented on #117
Maybe support for the homebridge-configui-x plugin could also be a way to simplify the setup process. By that you could provide a UI for all the different config parameters. I just setup a different plugin that supported this and it was very easy and straight forward. I don't know how much work implementing support for that is though.

https://www.npmjs.com/package/homebridge-config-ui-x

[2019-04-01 16:34] BetoRn commented on #117
Isn't _activitiesToPublishAsAccessoriesSwitch_   and _activitiesToPublishAsInputForTVMode_ essentially a whitelist of activities for each plugin mode? since those options cannot be used at the same time, maybe a single activitiesWhitelis would be simpler

[2019-04-01 17:23] nicoduj commented on #117
Hi @BetoRn , in fact in the version I am working on, the same platform will be able to expose switches AND a TV accessory (by default only a TVaccessory). Having both options makes possible to have some activities as switch, and some on the TV accessory as inputs, but maybe not all (some asked for this since some activities are not "TV related").

[2019-04-01 18:21] wilbsww commented on #113
getting this after a new install, trying to set up the tv control and replace the switches:

 Loading 1 platforms...
[4/1/2019, 7:18:30 PM] [HarmonyPlatform] Initializing HarmonyHubWebSocket platform...
[4/1/2019, 7:18:30 PM] [HarmonyPlatform] INFO - TVPlatformMode : false
[4/1/2019, 7:18:30 PM] [HarmonyPlatform] INFO - Loading activities...
[4/1/2019, 7:18:30 PM] Loading 1 accessories...
/usr/lib

[2019-04-01 18:49] nicoduj commented on #113
@wilbsww hi, it seems that your config is not in tv platform mode and might not have been migrated to the new format in 1.0.0 . Feel free to post your config if you have a doubt

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-01 18:51] wilbsww commented on #113
@nicoduj  sure thing! Here t'is:

{
	"bridge": {
		"name": "Homebridge",
		"username": "CC:22:3D:E3:CE:30",
		"port": 51826,
		"pin": "031-45-154"
	},

	"description": "This is an example configuration file with one fake accessory and one fake platform. You can use this as a template for creating your own configuration file containing devices you actually own.",
	"ports": {
		"start": 52100,
		"en

[2019-04-01 19:07] nicoduj commented on #113
@wilbsww are you sure your are with 1.0.0 beta and not in 0.7 ? Did you install with the beta tag ?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-01 20:25] nicoduj commented on #113
@wilbsww   Did you try to remove the accessories array in your homebridge config file ? It seems homebridge is trying to load one empty avcessory

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-01 21:51] wilbsww commented on #113
@nicoduj holy shirts batman that was it!! PHEW! Thank you supremely! Really enjoying the functionality already; great stuff

[2019-04-02 23:58] pponce opened #125 "[BUG]"
**Describe the bug**
Not sure if this is a bug or not. I’m running v.70  and using TvMode.
When I select an input other than the input that I set as the main input to be controlled with the “main” on off switch in the home app the tv switch does not show as having been turned on in the home app. The activity gets executed so everything works but the status of the TV in the home app remains as off.

[2019-04-03 03:57] nicoduj commented on #125
Hi, thank you for reporting. Will check but seems like a bug to me indeed .

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-03 04:15] pponce commented on #125
I’m going to test it a bit more. It might just be a long delay that I’m seeing because later in the day I tried again and saw the same issue but after watching for about 1 hour i noticed it did finally engage and show as being on. Not sure how long it took.
I’ll see if it keeps happening and see how long the delay is and if perhaps re-opening the home app impacts things.

[2019-04-03 04:29] nicoduj commented on #125
HomeKit does some update by its side sometimes (and while reopening / changing rooms also but not always) , so it might have set it after some time to on since an active input was set . I probably just need to update silently the on state while activating an activity (except the off activity) .

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-03 04:35] pponce commented on #125
Yeah. I’m familiar with what you are describing in terms of when the home app updates and how to trigger an update by changing rooms.
I was definitely patient when and tried changing rooms when I saw that the state was not changing to “on”.  The previous night I ran into an issue where my scene didn’t turn off the tv so when I noticed today that the on state didn’t take I thought this was why the

[2019-04-04 13:18] homohurre123 opened #126 "[FEATURE]Turn on Device when pressing any button on apple remote like on Apple TV"
I wondered if this would be possible since I think it would add a lot functionality to be able to turn on the TV  by simply pressing any button on the remote app without having to enter Home before.

[2019-04-04 16:08] nicoduj commented on #126
Hi, nice suggestion . What behavior seems preferable : launch the main activity ? Last one ? Indeed keys on the remote are binded per activity so if there is no current activity I currently discards press on them .

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-04 16:10] nicoduj commented on #124
@jofotoo can I close this one ?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-04 16:11] jofotoo commented on #124
Yes thanks. That solved it

[2019-04-04 16:29] #124 closed

[2019-04-04 18:40] julien94800 commented on #113
Hello,
First thing, congratulations for this nice job!
I have one question regarding how we can have buttons in the remote view. If I correctly understand, we can have several buttons into this view (mute, setup, exit...). Nevertheless, I only have three buttons (play/pause, retour and i). These buttons are correctly working and I was even able to remap the i button to the function I want but I do

[2019-04-04 18:47] nicoduj commented on #113
@julien94800  hi, and thank you ! Concerning your question, unfortunately the buttons on the remote app are limited to the one you see per ios design. The logs are here only to give users the list of commands the plugin discovers per activity and therefore that you can remap like you did !

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-04 18:50] julien94800 commented on #113
Bonsoir,
Thanks very much for the feedback. In one of your videos I saw the Menu button so I was looking for it everywhere :)
Now I know that no needs to search! As for Apple Tv there is some more native buttons, I thought that Apple would have add them too...
Anyway, thanks again!

[2019-04-04 18:53] nicoduj commented on #113
@julien94800 indeed there was one more button in first beta of ios 12.2 but they removed it since beta 3 I think. Homekit exposes currently more commands that I mapped but that are not exposed anywhere (fast foreward, mute ...) so maybe it will change in next versions / ios 13 !

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-04 18:59] julien94800 commented on #113
I hope they will add more. It would be perfect to be able to modify the channel, or have a mute button into the remote view. Even the ability to change the input into the remote would be great.
In home app, I have the button "Afficher les réglages du téléviseur" that does not have any effect. Is it normal? I think that it is a native function that does not have any effect for this plugin?

[2019-04-04 19:29] nicoduj commented on #113
@julien94800 it is binded to MENU command for your activity, you can override it like other commands

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-04 19:36] julien94800 commented on #113
Ok that’s why you rename it now SETUP instead of MENU. Indeed it opens the function that I mapped to the setup button! And no need to map the MENU button from homebridge because there is no button!
Thanks very much once again.

[2019-04-04 19:54] nicoduj commented on #113
Yes, correct, SETUP in 1.0.0 !

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-05 12:47] BetoRn commented on #126
My setup already does this

[2019-04-05 15:21] nicoduj commented on #126
@BetoRn can I ask which version of the plugin you are using ?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-05 15:36] BetoRn commented on #126
v0.7.0

[2019-04-05 15:46] nicoduj commented on #126
@homohurre123 and you ?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-05 20:25] reidrichardson opened #127 "[BUG]publishActivitiesAsIndividualAccessories does not work on TV mode"
First of all thank you so much for the hard work on this project.  My apologies if I misread and this is currently not supported in TV mode.

**Describe the bug**
publishActivitiesAsIndividualAccessories defaults as true; however, without it in my config, devices are not published as individual accessories.  if i hardcode it as true, the same behavior occurs.  If I hardcode it as false, behavior i

[2019-04-05 21:01] nicoduj commented on #127
Hi,

This option is only for switch mode currently, and makes no sense currently since activities are inputs in tv mode.

I plan to had an option for tv mode to publish devices as tv accessories but it is not yet available . See https://github.com/nicoduj/homebridge-harmony/issues/53 .

[2019-04-05 21:56] reidrichardson commented on #127
Thanks for the response and issue to the FR.

As to the why - I would enjoy being able to have a one click button available for friends/family, however I have found a work around by creating a scene for an input.

Thanks again for providing this plugin

[2019-04-06 06:01] nicoduj commented on #127
Why don’t you also publish a switch in this case ?

[2019-04-06 09:02] #127 closed

[2019-04-06 09:05] nicoduj commented on #125
Can't reproduce in 1.0.0, I am closing feel free to reopen if you have more details

[2019-04-06 09:05] #125 closed

[2019-04-06 09:11] nicoduj commented on #126
Can't reproduce in 1.0.0 and 0.7.0, in fact homekit set on on activecharacteristic so the default activity will be activated if everything is currently off. The command itself will be ignored however.

[2019-04-06 09:11] #126 closed

[2019-04-06 11:19] #117 closed

[2019-04-06 11:19] #122 closed

[2019-04-07 09:02] nicoduj commented on #53
Ok, i begun to work on this but it involves more work than I expected . There is also the problem of device state which will not be easy to handle since I have to cross some manual state change triggers and activities triggered that involves devices (the hub does not give states on devices themselves). Moreover , on / off function are not always separate so this could lead to some out of sync issu

[2019-04-07 15:43] jasehigh opened #128 "Cannot install homebridge-harmony module on Mac"
When I install Homebridge-harmony (using the command):

`
sudo npm install -g homebridge-harmony@beta
`

The installation creates the "homebridge-harmony" folder in /usr/local//lib/node_modules then (at the installation end), the folder is removed and this error is returned:

`
no such file or directory, chmod '/usr/local/lib/node_modules/homebridge-harmony/node_modules/sshpk/bin/sshpk-conv'
`
`
T

[2019-04-07 15:52] nicoduj commented on #128
Hi, why -h and not -g ?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-07 15:53] jasehigh commented on #128
Sorry, that's a typo, I'am using -g

[2019-04-07 16:12] nicoduj commented on #128
Ok, do you have the full log ? Did you try what is proposed in #90 : sudo npm install homebridge-harmony@beta -g --unsafe-perm ? Or some other propositions in #60 . Seems to be nom / system related

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-07 16:23] jasehigh commented on #128
--unsafe-perm option made no difference. Plugin works fine on raspberry pi, Mac mini is the issue (but have several other homebridge plugins working on the Mac without issue).

Full log below.

Thanks for all your assistance.

Jason.

`
0 info it worked if it ends with ok
1 verbose cli [ '/usr/local/bin/node',
1 verbose cli   '/usr/local/bin/npm',
1 verbose cli   'install',
1 verbose cli   '-g',
1

[2019-04-07 17:34] nicoduj commented on #128
maybe try this option : --no-bin-links or upgrade npm, (compare version on your pi / mac)

[2019-04-07 18:14] jasehigh commented on #128
-no-bin-links did the rick.
Many thanks for this.
Plugin works very well indeed.

[2019-04-07 18:25] jasehigh commented on #128
Although --no-bin-links option appears to have installed homebridge-harmony successfully.

When I run homebridge:

`sudo DEBUG=* homebridge -D -U /users/admin/.harmony`

I get the error:

[code]

[2019-04-07 18:32] nicoduj commented on #128
ok, the problem is around the harmony websocket dep. You can try to install it manaully, or maybe update npm (npm -i npm) before trying again

[2019-04-07 19:14] jasehigh commented on #128
I've updated node to v.10.15.3 and npm to v6.4.1 (same versions of Raspberry pi).
Reinstalled the plugin and everything now appears to be working.

[2019-04-07 19:14] #128 closed

[2019-04-07 21:33] pponce commented on #125
Yeah i've not been able to reproduce recently so might have just been some intermittent issue with my network.  I'll re-open if i'm able to reproduce.
thanks for such a great plugin!

[2019-04-20 17:34] sleepyarmistice commented on #113
I have two harmony hubs configured to be running in two instances of home bridge on the same machine (Mac Mini. One runs fine, but the other seems to become non responsive whenever I leave the house. There are no errors in the terminal window and restarting the bridge doesn't seem to do anything. I've only been able to fix this by removing it from the Home app and then readding it.

[2019-04-22 13:37] Phoenix-DH commented on #113
Only pushing volume buttons once for fast louder/quieter like in the original AppleTV App would be great!

I tried now TV mode one day ... great 👏🏻 Thanks

[2019-04-22 14:30] nicoduj commented on #113
@Phoenix-DH I you can set the number of commands sent for volume through numberOfCommandsSentForVolumeControl option (defaults to 1)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-22 14:32] nicoduj commented on #113
@sleepyarmistice hi, with new 1.0.0 you can have both hubs on the same config / homebridge. Only thing is to add tv devices as external devices . Not sur to understand if you still have issues however !

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-22 14:33] Phoenix-DH commented on #113
Oh, not seen until now, will check... thanks.

[2019-04-22 14:55] sleepyarmistice commented on #113
I actually ended up changing to main version and it was stable for awhile,
but one of my TVs just became nonresponsive again. I'm starting to think
this issue might have more to do with my network than the plugin.

On Mon, Apr 22, 2019 at 10:32 AM Nicolas Dujardin <notifications@github.com>
wrote:

[2019-04-22 15:09] nicoduj commented on #113
Does the light of your hub becomes red when it is unresponsive ? Does the harmony app still works ? Are you sure your hubs have static ip ?

Nicolas

[2019-04-22 15:15] sleepyarmistice commented on #113
I haven't noticed a red light, the app works, and it does have a static ip.
One other strange thing is that the hub shows as not responding in the home
app on my phone, but not on my iPad. I was thinking that maybe the hub is
slow to respond at times, which could make it appear to be not responding,
but I'm not sure. I'm going to try moving it closer to the router tonight.

On Mon, Apr 22, 2019 at

[2019-04-22 16:23] nicoduj commented on #113
@sleepyarmistice you can try to launch in debug this way you will see the time taken between refresh status . It is har codée right now in the const file, will think of an overwrite in conf if you confirm it is the issue

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-23 01:43] sleepyarmistice commented on #113
Well, I was wrong about that! My other television has now also become unresponsive.

[2019-04-23 01:50] rasod commented on #113
Inputs are missing

I'm using 1.0.0-rc1 - iOS 12.2. The Accessory works, however no Inputs are shown it just says "Select an Input". When I go to the settings for the accessory it does show the available inputs.

![IMG_2301](https://user-images.githubusercontent.com/7154349/56546445-8f6f5680-6548-11e9-84cf-a2895e3b75ef.png)

config:

[code]

Logs:

[code]

[2019-04-23 04:59] nicoduj commented on #113
Hi, can you try restarting homebridge ?

Nicolas

[2019-04-23 05:00] nicoduj commented on #113
Hi, ok , could you launch in debug so that I have more logs when it happens ?

Nicolas

[2019-04-24 01:15] sleepyarmistice commented on #113
OK, here you go! I checked the home app around 3:45 or 4:00 today and everything was working fine. So, my guess would be that any problems would be in the later half?

 EventedHTTPServer Server listening on port 51810 +47ms
[4/23/2019, 7:48:05 AM] Homebridge is running on port 51810.
  EventedHTTPServer [fe80::1445:8f66:9d45:39d6] New connection from client +16s
  EventedHTTPServer [fe80::1445:8f6

[2019-04-24 01:23] rasod commented on #113
If there is no Activity running (aka the TV is off) and you start an activity other then the main one using a scene or the input menu it will first switch the selected activity on then switch to the main activity on.

Steps to Reproduce:

1. Turn off TV
2. Open TV with long press
3. Select Inputs
4. Select Input other then main one

Expected Result:

Selected Input (aka Activity Runs)

Observed Re

[2019-04-24 04:45] nicoduj commented on #113
@sleepyarmistice i see a lot of registering of the features in your log but I don’t see any log of my plugin . Could you contact me by email or start a new thread since it is not 1.0 related ? I would also need your config file and a log with -D option at launch . From what I understood of your problem, it happens when you leave home ? Only ? Is it only when you are on cellular network ? What do y

[2019-04-24 04:46] nicoduj commented on #113
@rasod thank you for reporting . Could you just post your config, I will try to reproduce . Can you also confirm that it was ok in 0.8 and that it is happening for all your activities and always (not sometimes ?) thank you !

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-24 11:19] rasod commented on #113
@nicoduj yes it happens every time. It also happens if you create a scene that activates a different input (activity) other then the main one.

‘’’
        {
            "hubIP": "192.168.1.12",
            "name": "TV",
            "platform": "HarmonyHubWebSocket"
        },
‘’’

[2019-04-24 11:28] rasod commented on #113
@nicoduj here is a debug log. You can see it starts the Apple TV then immediately starts the TiVo which is the main activity.

[code]

[2019-04-24 11:28] nicoduj commented on #113
Hi, you did not specify a main activity in your config , can you try by defining one ?

Will check As soon as I can

Nicolas

[2019-04-24 11:32] rasod commented on #113
I tried that too, at first I had defined it, thought maybe that was the problem and removed it, no change.

[2019-04-24 16:25] nicoduj commented on #113
@rasod ok thank you for the log . Will try to fix asap !

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-24 18:14] nicoduj commented on #113
@rasod : I tried to fix in 1.0.0rc2, telle me if it is ok, I don't have access to my hub currently and can't test so I hope I have correctly figured this out.

[2019-04-25 11:15] rasod commented on #113
@nicoduj that seems to have fixed it. I only did some quick test but it worked. Thanks.

[2019-04-25 14:47] Midifreakz commented on #113
Hi @nicoduj I've been having some issues lately and can't seem to figure out what's causing them. Before I post them here I would like to update my version from 0.7.0 to 1.0.0 but I can't seem to do it trough NPM. Can you tell me how I best perform the update? Thanks!

[2019-04-25 19:26] nicoduj commented on #113
Hi, you can if you follow the manual install process described in the readme (@rc command)

Nicolas

[2019-04-26 11:24] misku commented on #64
Thank you all for the discussion and @lopelex for the fix. Using those changes I was able to make a python version working again: https://github.com/misku/pyharmony/commit/41d9691a7d4f4f3aa65989b5e281c8f714a1cef3

[2019-04-26 13:38] rossco57 commented on #113
Updated from 1.0rc1 to rc2 now crashes homebridge some error about no info from hub
Downgrade to rc1 all working again

Are there any config changes required
Is there some other reason for crashing homebridge
Thanks for the work

[2019-04-26 15:55] nicoduj commented on #113
@rossco57 hi, could you please post the full log in debug ? From what I understand the plugin does not retrieve info from the hub , but it should not crash the whole homebridge. There was no intentional change of config between rc1 and 2

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-26 16:06] rossco57 commented on #113
How do I run in debug have it running on pi
Launched at start with sysctrl or something like that
Thanks

[2019-04-26 16:13] nicoduj commented on #113
@rossco57 -D option on the command line

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-26 18:01] rossco57 commented on #113
Resolved thanks

It was smartthings-tonesto7 that was problem I had updated that as well

Lesson learned only do one at a time
Now to try fix that

[2019-04-27 22:51] iandronowicz commented on #113
Great work! Will buy a coffee for sure!

When I’m selecting the tv in the remote app it only shows one of the 3 harmony hubs I have configured with the plugin. Don’t know why, or even if it’s an iOS bug or something...

[2019-04-28 06:27] nicoduj commented on #113
@iandronowicz hi, and thank you ! You have to add the 2 other ones manually through home app . Add a device, you will see them (they are added as external device)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-28 12:16] mikesalz opened #131 "[CONFIG] homeControlsToPublishAsAccessoriesSwitch array names"
Thank you so much for adding the homeControlsToPublishAsAccessoriesSwitch option!  I enabled debug mode and see all of the info in the logs, but am not sure exactly what to look for in order to find the names for the home control buttons.  Can you point me in the right direction?  Thanks!

[2019-04-28 15:47] JangoBritt commented on #18
Although, you could use this to mount "virtual devices" into Homebridge, and then use those to control HomeKit scenes through automation...

create a Device using an old unused remote (like a Xmas light one), and present that to HomeBridge. When your Harmony Remote sends that on/off command, it should register in HomeBridge, right? and then use that device as the trigger for your scene

[2019-04-28 15:51] iandronowicz commented on #113
Thanks for the quick response!

When I added the first one on homebridge it appeared on the remote app, then I added the remaining 2 to the confit.json and they appeared too on the home app (they work fine) but not on the remote app....

[2019-04-28 16:43] nicoduj commented on #113
Could you please share your config ? Are you in 1.0.0 ?

Nicolas

[2019-04-28 16:46] iandronowicz commented on #113
"platforms":[
{
	"platform": "HarmonyHubWebSocket",
	"name": "Harmony Cuarto De Invitados",
	"hubIP": "10.0.1.230",
	"TVPlatformMode": true,
	"mainActivity": "Apple TV"
},
{
        "platform": "HarmonyHubWebSocket",
        "name": "Harmony Cuarto Principal",
        "hubIP": "10.0.1.173",
        "TVPlatformMode": true,
        "mainActivity": "Apple TV"
},
{
        "platform": "HarmonyHubWebSo

[2019-04-28 16:54] iandronowicz commented on #113
I think im in the 0.7 version?

HomerMacMini1:homebridge-harmony homer$ cat package.json
{
  "_from": "homebridge-harmony",
  "_id": "homebridge-harmony@0.7.0",

I installed it from console

[2019-04-28 17:16] iandronowicz commented on #113
Sorry... I'm now realizing about the "1.0.0" beta and this thread, my mistake, will update to the beta and see how it goes.

[2019-04-28 17:46] iandronowicz commented on #113
Tried out the beta and re add the 3 accessories as explained in the README, all working fine! all 3 appear in the remote widget.

THANKS!

[2019-04-28 17:57] nicoduj commented on #113
👍

Nicolas

[2019-04-28 18:20] JangoBritt opened #132 "devicesToPublishAsAccessoriesSwitch not showing device, if PowerOn/PowerOff"
**Describe the bug**

I'm trying to run two instances of the plugin, as separate platforms, as I'd like to set up a device separately to the TV Control.

However, the second one is only showing up the "Harmony Control" as a Not Supported device (with a house icon), but not the Savisto Candles.

I take note that the Candles don't have a PowerToggle command, only PowerOn and PowerOff, but I have tri

[2019-04-28 18:43] nicoduj commented on #132
Hi, I suspect those commands for this device are not in a controlgroup named power. In debug mode you will see the whole config of your hub could you send it to me ?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-28 18:45] nicoduj commented on #131
Hi, Check for that log in debug : INFO - got Home Control

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-28 19:09] mikesalz commented on #131
Thanks for responding.  Unfortunately that does not show up in the debug log.  Do I first need enable a flag or something for it to show up?

[2019-04-28 20:52] JangoBritt commented on #132
Forgive my ignorance... how do you set up a control group?

I set the device power options in the harmony app to use the two options... is that not it?

How do I set debug mode?

[2019-04-29 04:28] nicoduj commented on #132
Hi, just launch homebridge with -D option for debug mode.
Concerning control group, it is something defined by harmony while grouping commands, don’t think you have a way to control this by yourself. As far as I understand, you have set those commands manually ? So maybe they are not identified as power functions in the config and that might explain .

<sub>Sent with <a href="http://githawk.com">G

[2019-04-29 09:56] TheCellMC commented on #113
I'm running into a little hurdle here.
I can't get my homebridge instance to statup with this plugin.
Could you have a look at it?

Here is my platform config:
[code]

And my log:
[code]

[2019-04-29 17:13] Midifreakz commented on #113
So if i get this right...
running:  npm install -g homebridge-harmony@beta  will install the latest version and overwrite?

[2019-04-29 19:21] nicoduj commented on #113
Nicolas

[2019-04-30 08:46] Midifreakz commented on #113
Hi @nicoduj

So i've tried installing v1.0.0.rc2 but i'm not sure if I succeeded. I tried uninstalling the plugin first and then entered the command npm install -g homebridge-harmony@1.0.0-rc.2. However when i'm doing a version check it stil reports back @0.7.0.

Perhaps I am missing something regarding the version check because when I edited the config file to work with v1.0.0 most of the setting

[2019-04-30 09:43] nicoduj commented on #113
@Midifreakz i have deleted your post since you have published a link with personal info / api key for some of your device (nest..) . I encourage you to delete the files on pastbin.

Concerning your issue you are on 1.0.0 for sure . I did not see the issue you show before, it seems that input list is only available when on ... will check but maybe you are on your iPhone on a beta of iOS ?

<sub>Sen

[2019-04-30 10:55] Midifreakz commented on #113
Dang it! I really need to remember deleting the personal info... thanks for deleting...

I'm on 12.3 final release on both iPhone and iPad.

[2019-04-30 13:42] mikesalz commented on #131
Hey @nicoduj - Just wondering if you had any other thoughts or suggestions?

[2019-05-04 02:29] efloyd opened #133 "[BUG] Unhandled rejection Error - Harmony HUB at 192.168.x.xx is not available - can't start plugin"
**Describe the bug**
Came home to Homebridge working, except my Harmony activities were reflecting "No Response".  I rebooted my pi, and now Homebridge won't start because it says the hub "is not available".

**To Reproduce**
I rebooted my Raspberry Pi, and I'm now receiving the error:
Unhandled rejection Error - Harmony HUB at 192.168.2.10 is not available - can't start plugin
See log below for m

[2019-05-04 02:38] efloyd commented on #133
Weird. I decided to reboot my router again, and all is fine now.

[2019-05-04 02:38] #133 closed

[2019-05-04 06:20] nicoduj commented on #133
Hi, the hub was unreachable : network issue clearly maybe it had a wrong IP ?

By the way you don’t need xmpp option with my plugin (uses websocket)

Nicolas

[2019-05-07 01:03] sleepyarmistice opened #134 "TV stops responding"
**Describe the bug**
After running for ~12 hours, the TV accessory becomes nonresponsive. The only way to fix this appears to be to sign out/in of iCloud or to remove the TV from the Home app and then read the bridge.

**To Reproduce**
Let it run, use normally.

**Expected behavior**
The accessory stays accessible.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**IO

[2019-05-07 03:57] nicoduj commented on #134
Hi. Do you have any other older device in your iCloud account that is on iOS 9 or 10 by any chance ? If so try disabling iCloud sync for home app on it ...

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-05-07 04:27] nicoduj commented on #132
@JangoBritt any luck in getting your config ? I would like to be sure I correctly understood your issue before trying to fix .

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-05-07 04:29] nicoduj commented on #131
Hi @mikesalz . Sorry for my late answer. The log should be here, are you launching with -D option ?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-05-07 04:40] nicoduj commented on #134
By the way I am interested into the stop responding issue with one bridge, could you tell me more about it ? Concerning the disappearing issue I checked your logs and definitely it seems like an home app problem, some users already had such problems with an older device on their iCloud account

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-05-07 10:21] mikesalz commented on #131
Yes, I definitely have Debug on.  Here is the log for one of my Harmony Hubs:

37m[5/7/2019, 10:17:36 AM][39m [36m[FamilyRoomHarmonyHub][39m Initializing HarmonyHubWebSocket platform...
[37m[5/7/2019, 10:17:36 AM][39m [36m[FamilyRoomHarmonyHub][39m INFO - TVPlatformMode : true
[37m[5/7/2019, 10:17:36 AM][39m [36m[FamilyRoomHarmonyHub][39m [90mINFO : following activites controls will be

[2019-05-07 12:43] sleepyarmistice commented on #134
No, it’s not an iOS 9 problem. Everything in our house is running 12.2. I’m not really sure what other details to give, especially since I’m not really sure what causes this to happen. Oddly, I’ve had it running with our other TV for about 24 hours now without incident.

[2019-05-07 12:53] nicoduj commented on #134
There is nothing on the side of the plugin / homebridge from what I see . It seems to be an home app problem / sync or maybe a conflict between your homebridge ? Are publishing different names just in case / don’t you have same if somewhere ?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-05-07 13:19] sleepyarmistice commented on #134
I’m starting to suspect the same thing. I’m not sure what you mean by you last two questions, though?

[2019-05-11 15:16] catjamz commented on #113
I am running 1.0.0-rc.2 and am still seeing this behaviour when using a scene which activates a different input from the main/default input. i.e switches on the selected activity briefly before activating the main activity. Works correctly if manually choosing the input. Tried with mainActivity defined, or plugin left to select its own.

[2019-05-23 23:31] alex-w-k opened #136 "[BUG] Error retrieving info from hub : Error: ETIMEDOUT-(1)"
**Describe the bug**
A clear and concise description of what the bug is.

Not able to load activities and does not load the plugin at all

**To Reproduce**
Steps to reproduce the behavior

Start homebridge

**Expected behavior**
A clear and concise description of what you expected to happen.

I expect it to load.

**Logs**
Your log in debug mode (-D option)

[code]

**Config**
Your config section

[2019-05-24 04:41] nicoduj commented on #136
Hi, are you sure of your hub’s ip ? Seems it lacks one digit : 192.168.?.133

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-05-24 05:21] alex-w-k commented on #136
Oof. That’s probably it. Damn. Thanks for catching that.

[2019-05-24 05:21] #136 closed

[2019-05-24 16:02] mikesalz commented on #131
@nicoduj Just wondering if you had any more thoughts on this?  Do you think it is a bug, or do I maybe have something wrong in my config?

[2019-05-25 18:54] nicoduj commented on #131
Hi, sorry I am not a lot on github those days :) Could you confirm you are only on tvplatform mode ? Did you try on switch mode, I d'ont remember bu I think it was not handled well in 0.7 in tvMode. You could give a try to 1.0.0 also.

[2019-05-25 18:57] nicoduj commented on #134
Hi, sorry, there was a lot of typo there :)
I was wondering if your hubs had different names, and if your activities were also with different names ?

[2019-05-29 16:10] slunat opened #137 "UnhandledPromiseRejection homebridge not starting"
Hi,
I have jut tried installing this plugin but upon running I am getting the below. After I get this, my Nest Plugin gets stuck loading and my homebridge won't start up, it just hangs.
If I remove the config for this plugin my homebridge and Nest plugin start up fine. Any ideas?

Error:
[2019-5-29 16:58:05] [Suly's Hub] INFO - Creating Main TV Service
(node:34596) UnhandledPromiseRejectionWarning

[2019-05-29 17:12] nicoduj commented on #137
Hi, you have to use latest version of homebridge !

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-05-29 17:25] slunat commented on #137
updated and now running version 0.4.49 but still having the exact same issue. I've got rid off persists and accessories folders after update and still the same error. Anything else I should update?

[2019-05-29 18:04] nicoduj commented on #137
Hi again,

It is strange since  Service.Television missing is definitely a problem with homebridge version (was introduced in 0.4.46 I think). Did you restart the whole homebridge ? Do you have configUI installed to check the version again ?
What version of my plugin are you running ? stable or 1.0 branch ?

[2019-05-29 19:09] slunat commented on #137
yes i stopped homebridge, updated then tried it again. Not sure what you mean by configUI, but when i run the npm install -g commands for homebridge and your plugin it tells me the version. running 0.7.0 of your plugin.

[2019-05-29 19:15] nicoduj commented on #137
Config ui is an option of homebridge for managing updates and plugin through a web interface .

Strange your error definitely point to homebridge version. Which version of node / npm are you using ? Can you post the full log from the beginning of the start process ?

[2019-05-29 19:35] slunat commented on #137
version of node is 8.11.3
npm is 5.6.0
I just tried reinstalling your plugin as I remember I got an error during install because of no vcbuild.exe. I have just installed vcbuild and reinstalled your plugin with no errors, but still getting the below :(
The Suly's Hub evice is my harmony hub and it never gets any further then what you see below, my homebridge doesnt actually start.

C:\Users\Sulaim

[2019-05-29 20:37] nicoduj commented on #137
Can’t see what can cause this except homebridge / hap node js not up to date.
Check the presence and version of’this file : https://github.com/KhaosT/HAP-NodeJS/blob/master/lib/gen/HomeKitTypes-Television.js

[2019-05-29 21:38] slunat commented on #137
Where abouts should the file be exactly? I've had a look in the npm\homebridhe-harmony folder but couldn't find anything with that file name

[2019-05-30 06:22] nicoduj commented on #137
Hi,

for me it is there : `/usr/local/lib/node_modules/homebridge/node_modules/hap-nodejs/lib`

You can find npm default install dir (`/usr/local` in my case) with

[code]

[2019-05-30 07:08] slunat commented on #137
Ok so I managed to find the file and I checked the package file and it is showing 0.4.49 so thats all correct. I left my homebridge running overnight to see if it timed out after getting stuck loading the nest plugin and it did so I've got a bit more log that may be of use.

C:\Users\Sulaiman>homebridge
[2019-5-29 20:49:26] Loaded config.json with 3 accessories and 4 platforms.
[2019-5-29 20:49:26

[2019-05-30 07:41] nicoduj commented on #137
Hi again,

I checked again to be sure since I am running 1.0.0 but I have no issu with your config file and 0.7.0 version, so it is definitely a problem of installation but can't figure out which one. Are you sure you don't have 2 homebridge instance installed and that maybe in your path you are still launching an old version ?

Waiting won't help I fear, the error is at the init of the service an

[2019-05-30 10:21] slunat commented on #137
these are the debug logs if it makes a y difference.

C:\Users\Sulaiman>homebridge -D
[2019-5-30 08:06:14] Loaded config.json with 3 accessories and 4 platforms.
[2019-5-30 08:06:14] ---
[2019-5-30 08:06:14] Loaded plugin: homebridge-nest
[2019-5-30 08:06:14] Registering platform 'homebridge-nest.Nest'
[2019-5-30 08:06:14] ---
[2019-5-30 08:06:14] Loaded plugin: homebridge-nest-cam
[2019-5-30 08:0

[2019-05-30 10:30] slunat commented on #137
To answer your question, I am certain this is pointing to the correct install. I only have ever had one install on this machine of homebridge, and I can't find any other references to homebridge. The paths shownin these logs are the same paths that I looked in for the television.js and homebridge version number so it should be fine. I don't want to have to uninstall homebridge and start again but

[2019-05-30 13:18] nicoduj commented on #137
OK, don't see anyhting except you have home automation buttons so maybe there is something on this .
Try adding this option in your config : "publishHomeControlsAsIndividualAccessories" : false

[2019-05-30 13:38] slunat commented on #137
Still erroring out. I think I will try reinstalling homebridge.

[2019-05-30 16:10] nicoduj commented on #137
Nice to hear, let me know if you have any other issue / Question.

[2019-05-30 16:24] slunat commented on #137
can confirm its all working as intented. thank you so much for all your help and patience with this!

[2019-05-30 16:24] #137 closed

[2019-06-02 14:07] FelixG28 opened #138 "Play/Pause Separate"
My TV has no Play/Pause Toggle like it is shown on the Apple TV Remote. There are separate Play and Pause Buttons. If I assign the Play/Pause button of the Apple TV remote to my TV, it is only possible to either do a Play or Pause Command.

[2019-06-02 15:27] nicoduj commented on #138
Hi, did you give a try to playPauseBehavior option ?

[2019-06-08 12:35] Midifreakz commented on #113
Also having the issue above.

[2019-06-08 13:18] nicoduj commented on #113
Hi all, there was a change in latest home app version (since latest ios 12 release), and unfortunately the input list is not presented anymore if the device is off.
Has you probably noticed, I d'ont have time to work on this plugin those days, but will check asap (and probably wait for ios 13 changes also)

[2019-06-08 13:31] krazyflipj commented on #113
Don’t worry it comes back in iOS 13

![AD806257-DA3A-4F94-94CA-DA00990E6BC3](https://user-images.githubusercontent.com/10282165/59147957-ee811180-89b6-11e9-9316-acf9ca6b3adc.png)

[2019-06-08 13:33] nicoduj commented on #113
Great news ! Did you see any problem at all in ios 13 with homebridge / this plugin ?

[2019-06-08 13:38] krazyflipj commented on #113
I haven’t seen any issues. Pressing the tv button automatically goes to the list

[2019-06-12 18:59] twynne opened #139 "Remove obsolete devices"
Since moving to to the new 'tv' version of this plugin, I've noticed I have a host of old individual harmony activities showing as devices.  I've tried deleting the cachedAccessories file, but it just regenerates with the same devices.

Is there some simple way to clean this up?

[2019-06-14 18:12] twynne commented on #139
Small update... I've tested further by renaming each of my hubs, and can see the obsolete devices are associated with the 'old' hub names.  Any idea which file/cache these are held in, as it must be something other than cachedAccessories.  Also I'm unable to delete them from the Home app.  I could remove the entire bridge and add it back, but still not sure that will get rid of these devices.

[2019-06-14 18:19] nicoduj commented on #139
Hi, sorry I am ill and can’t really dig into your problem . If you are on 0.7 there is no cached accessory so it could be an iOS iCloud sync issue with old iOS version . Otherwise, on 1.0 you can try starting homebridge with the option to reset everything in my plugin (check the readme of 1.0)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-06-14 18:55] twynne commented on #139
Thanks for the reply, and sorry to hear you're unwell.  I suspect these devices are from a previous iteration of homebridge-harmony as noted above if I change the hub name in your plugin they remain associated with the old name.  Guessing the root issue here is that your plugin uses the same name as other harmony plugins ('homebridge-harmony') and homebridge itself is keeping these accessories aro

[2019-06-14 19:00] twynne commented on #139
Another quick update... I removed the homebridge-harmony lines from config, and uninstalled your plugin.  Restarted homebridge, and unfortunately these rogue devices are still there.  There isn't any longer any harmony plugins installed, so I've really no idea where it is getting these devices.

[2019-06-14 19:12] twynne commented on #139
Further update... took a somewhat 'nuclear' option and managed to get there:

- Removed harmonyhub config
- Uninstalled harmonyhub plugin
- Deleted persist folder
- Deleted cachedAccessories files
- Restarted homebridge
(confirmed all rogue devices gone)
- Installed harmonyhub plugin
- Restored harmonyhub config lines
- Restarted homebridge
(confirmed all rogue devices still gone, correct devices

[2019-06-16 14:15] mensa84 opened #140 "[BUG] Multiple Hubs crashing homebridge"
Hello,

when I add 2 hubs in version 1.0.0-rc.2 with TVmode the homebridge plugin is crashing at every restart with that messages:

[code]

Could you please fix this?

[2019-06-16 15:31] nicoduj commented on #140
Can you post your config please ?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-06-16 15:39] mensa84 commented on #140
This is the config:
(The names are not the same as the Harmony Hub itself is named in the Harmony App. Is that a problem?)

[code]

[2019-06-16 15:44] nicoduj commented on #140
The config is not correct in 1.0 . You must use subplatform, please check readme

[2019-06-16 15:49] mensa84 commented on #140
Thank you, but I don't find anything with keyword "sub" in readme. What exactly do you mean?

[2019-06-16 15:52] nicoduj commented on #140
otherplatforms sorry, but just read through the samples (ans the whole migration guide) :

https://github.com/nicoduj/homebridge-harmony/tree/Dynamic-Platform

Mutliple hubs

"platforms": [
  {
    "platform": "HarmonyHubWebSocket",
    "name": "HubName",
    "hubIP": "192.168.1.XX",
    "otherPlatforms": [{
      "name": "OtherHubName",
      "hubIP": "192.168.1.YY"
      }]
  }
]

[2019-06-16 15:54] mensa84 commented on #140
Thank you!
I did only read that readme: https://github.com/nicoduj/homebridge-harmony

How should I know about your link? I am not sure how one should find that, could you please explain why this is not in the "main" readme?

[2019-06-16 16:06] nicoduj commented on #140
Readme on the main is for 0.7 version which is still the stable release for the moment . Readme on this branch is for the 1.x version ,which you have with it when you install this beta branch .

[2019-06-16 16:17] mensa84 commented on #140
Ok, thank you very much!
Do you have an idea, when a stable release with TVmode will come?

[2019-06-16 16:32] mensa84 commented on #140
Now I made that configuration, but now only the first entry "Wohnzimmer Fernseher" appears in HomeKit.
Why? What did I do now wrong?

[code]

[2019-06-16 16:52] nicoduj commented on #140
Once again please read carrefully the whole readme. Only one hub will be added by default, you have to had the other one manually since it will be exposed as an external accessories in order for the tv remote control to see it .

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-06-16 17:27] mensa84 commented on #140
I did read, but also when I use the option "publishAllTVAsExternalAccessory" : true it does not help.
It makes it even more bad, then don't see any TV. Could you please help me?

[2019-06-16 17:46] mensa84 commented on #140
I removed the previos mentioned option "publishAllTVAsExternalAccessory" and left it to default and found out, that I could add the second TV in HomeKit - but I am unable to do this, because I don't see the code anywhere and also not described in your readme, how to do this.

[2019-06-16 17:52] nicoduj commented on #140
The code is in the log file at homebridge startup. If you don't use any other plugin on the same homebridge that expose a TV accessory, you are fine letting publishAllTVAsExternalAccessory in its default value (false)

[2019-06-16 17:53] mensa84 commented on #140
Thank you sooo much!! It worked now.
Maybe you should mention in the readme, that the code is the same as it is for homebridge itself?

[2019-06-16 17:56] #139 closed

[2019-06-16 17:57] mensa84 commented on #140
But now I have the problem, that for the first TV I can not select any input in the HomeKit app on the iPhone. For the second it is possible, but not for the first one.
Do you know why?

[2019-06-16 17:58] nicoduj commented on #140
Not sure it is always the case (there is a separate log for each external accessory), but surely I will add a mention to it .

[2019-06-16 17:58] #140 closed

[2019-06-16 18:00] mensa84 commented on #140
The startup logfile shows that information now, I think that is not correct. Why is in the first line the name of the first TV and also the second TV mentioned?

[code]

[2019-06-18 18:22] nicoduj commented on #140
[Wohnzimmer Fernseher] is the name of the platform
(Wohnzimmer Fernseher) is the name of the hub

so it is indeed redundant for the first hub but It helped me seprate the logs of devices

[2019-06-18 18:30] mensa84 commented on #140
But did I configure it correct? Or should I change the naming?

[2019-07-12 19:22] durosity commented on #113
So I've been a bit busy and hadn't had a chance to update since beta 3 or something like that.  Unfortunately I'm having an issue.  I've installed rc2 with the latest home bridge and npm versions installed but when home bridge is loading I'm getting this:

[code]

I'm using a very simplistic config file as a test but no joy:

`{
    "bridge": {
        "name": "Homebridge",
        "username": "DD

[2019-07-13 13:34] durosity commented on #111
Sure you don’t want a little donation?  Even to your favourite charity?

[2019-07-13 19:06] nicoduj commented on #113
@durosity hi, I think it might be related to a coached accessory from first versions . Could you empty your cache or use the option cleanCache ?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-07-14 15:45] Phoenix-DH opened #143 "Home Icon after reboot with last changed activity in harmony app"
I rebooted my brisge today after a long period of time. I changed in the meanwhile one activity in harmony app. I changed and renamed it.

Now i have the following icon in home:
![449EEEA3-5293-45FC-A478-5FAA77BD12C5](https://user-images.githubusercontent.com/44058592/61185916-09524000-a65f-11e9-955b-035a12f0f76c.jpeg)

How can I get rid of it. I didnt changed anything else.

[2019-07-17 13:11] senseotech commented on #143
I've also noticed this; the device in the Home app was showing its name as one of the inputs a few weeks back.  I could still turn the device off and on and switch inputs, but I couldn't actually rename it.  I removed and re-added the homebridge instance its running on and this time I got another random activity as the name and the same behavior of being unable to rename.  I had originally chalked

[2019-07-17 14:07] Phoenix-DH commented on #143
Mine has gone now ... without rebooting homebridge or changing something ...
It seems to me that this will only happen when rebooting the bridge and having something active/powered on?

[2019-08-01 05:24] lukasodhner commented on #24
I have this issue also and it seems to be a problem with the Hub itself.  I had it configured and working but something broke and it just can't connect to it while I can connect to my other hub just fine, both are set to Static IPs.  Might have to do a factory reset on the Harmony Hub?

[2019-08-01 06:56] tooh opened #144 "[BUG] WARN notsup SKIPPING OPTIONAL DEPENDENCY: Unsupported platform for fsevents@1.2.9"
**Describe the bug**
Warning about  Unsupported platform for fsevents@1.2.9

**To Reproduce**
[code]

**Expected behavior**
Installation / upgrade without warning

**Screenshots**
If applicable, add screenshots to help explain your problem.

**IOS (please complete the following information):**
- Version [e.g. 22]
- Device: [e.g. iPhone8]

**Logs**
Your log in debug mode (-D option)

[code]

**Conf

[2019-08-02 05:05] nicoduj commented on #144
Hi, could you explain more please ?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-02 05:09] nicoduj commented on #143
Hi, the name in the home app is what you can call siri name. It can be modified inside the home app and then link to the device id. So if you want the default name of the activity you have to clean homebridge cache (or name it with the same name manually). The same is happening for inputs of tv mode, but there there is a custom file that keeps the name at the root directory of your homebridge.

<s

[2019-08-02 08:01] tooh commented on #144
when I run
sudo npm -g install homebridge-harmony

I get this warning

npm WARN optional SKIPPING OPTIONAL DEPENDENCY: fsevents@1.2.9 (node_modules/homebridge-harmony/node_modules/fsevents):
npm WARN notsup SKIPPING OPTIONAL DEPENDENCY: Unsupported platform for fsevents@1.2.9: wanted {"os":"darwin","arch":"any"} (current: {"os":"linux","arch":"arm"})

[2019-08-03 15:23] itsgabraf opened #145 "Siri Commands to Change Activity"
What are the commands to change activity when using Tv Platform

[2019-08-03 23:09] leoneleone commented on #145
Have you tried basics, like:
“Switch the tv to (input name)”?
“Change tv input to (input name)”?

[2019-08-04 12:50] jasehigh opened #146 "Add a dummy switch when any activity is on/off"
A feature request not a bug...

I would like to be able to switch on the living room lamp at sunset if the TV (homebridge-harmony) is not on. From what I can see there is no method by which th is can currently be achieved in homekit.

Therefore I propose a an addition “dummy” switch is made available (configurable) which is set to On when any when homebridge-harmony is on, and set to Off when home

[2019-08-04 14:05] krazyflipj opened #147 "IOS 13 - Issues report thread"
I think this might be a good place to post issues on IOS 13. One issue I’m having is that I can’t move the icon in the home app.

[2019-08-05 04:38] nicoduj commented on #147
I, thx for opening the thread . For this one, I am not sure that it is plugin related but will check as soon as I will move to ios13 (probably in 1 or 2 betas ;) ) . What icon are you talking about however ? Activity for tv, device or other ?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-05 04:42] nicoduj commented on #146
I, thanks for the suggestion. Can’t you use the off switch for that (option showTurnOffActivity). if you set to true, The "switch" will be "on" if and only if there is no current activity, and toggling it while "on" does nothing. You can invert its behavior if you want

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-05 04:43] nicoduj commented on #145
Hi, didn’t find a way in French but still interested if you do in English !

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-05 04:44] nicoduj commented on #144
Hi, thx did you notice any unexpected behavior ?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-05 04:48] krazyflipj commented on #147
![7FFFD2AE-BA5A-4259-8A27-06BB20B020AF](https://user-images.githubusercontent.com/10282165/62439644-7eb2ad00-b701-11e9-8e59-ff33a7cffa3d.jpeg)
When you try and move it, it doesn’t save and disappears. Closing app and relaunching will make it show again.

[2019-08-05 06:34] nicoduj commented on #147
Ok, will check on my iPad tonight . It is the only device that does that ? Do you have any error un homebridge log ? Do you have multiple iOS device which are not all on iOS 13 ?

Nicolas

[2019-08-05 07:44] jasehigh commented on #146
The option showTurnOffActivity looks perfect. Should have read the documentation closer. Many thanks for your reply.

[2019-08-05 07:44] #146 closed

[2019-08-06 04:39] nicoduj commented on #147
Hi again, I checked on my iPad yesterday evening which is on ios13 (my iPhone is not) and can not reproduce your issue in the room. Did not check on the home screen however , will do that also but can you check if moving in the room is ok ?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-06 04:42] krazyflipj commented on #147
Weird. It does it in room too

[2019-08-06 04:43] nicoduj commented on #143
Hi again, After thinking a bit more of it I think it is an input activity which is keeped by HomeKit cache and not sync since it is not recovered at restart (because not here anymore) and this not linked to the tv service . Are you using 1.0.0 or 0.7 ? I am not sure if it is linked to the homebridge cache (only there in 1.0) or not

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-06 04:44] nicoduj commented on #138
Hi, any luck trying this option ?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-06 04:47] krazyflipj commented on #147
![F767EA3D-A843-4518-941A-978A024FA40D](https://user-images.githubusercontent.com/10282165/62511898-9ace5100-b7ca-11e9-8b82-3c7e99dc1c14.gif)

[2019-08-06 04:56] nicoduj commented on #147
Weird indeed ! Which version of the plugin are you using ? I’ll check on iPhone as soon as I will be on ios13 on it , on iPad I don’t have the issue like I said (but I have one where one of my device name - a tplink outlet- is not correct and not the one displayed in properties ....

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-06 04:57] nicoduj commented on #147
Just an idea : did you change the name of the accessory in HomeKit ? If not can you try I. The property tab ?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-06 05:00] krazyflipj commented on #147
On .7  I just changed the name which it saved but still having same issues

[2019-08-06 14:27] senseotech commented on #143
I'm on .7 of the plugin.  Will bumping up to the 1.0 RC resolve the issue?  As it was, I had removed the TV from homekit because the issue made it unusable, so I can upgrade to the RC and re-add it relatively easy to try it out.

[2019-08-06 14:45] nicoduj commented on #147
Hi, since I am on 1.0 maybe it is working there . Will try in 0.7 as soon as I can .

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-06 14:46] nicoduj commented on #143
@senseotech not sure 1.0 will solve this but it could. However before trying can you post your conf and log at startup in debug mode ?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-06 15:00] Krocko commented on #147
I don’t think it’s related to this plugin.
I have the same problem with the homebridge-neato plugin.

[2019-08-06 15:47] senseotech commented on #143
Here's a copy of the log with debug turned on, right after the restart from turning it on.
[homebridge.log](https://github.com/nicoduj/homebridge-harmony/files/3473041/homebridge.log)

Config is pretty basic:

[code]
I ran through adding the homebridge instance and TV back and got the same results where its trying to set the input names as the platform name and then oddly the room (so it was telli

[2019-08-08 01:17] mbhforum commented on #113
Tried setting this up for the first time and I get this error below.  Any ideas why?

Error - Error retrieving info from hub : WebSocket closed with reason: Normal connection closure (1000).-(1/3)

My config.json looks like this:

	{
    		"platform": "HarmonyHubWebSocket",
    		"name": "Playroom Harmony",
    		"hubIP": "192.168.1.47",
    		"TVPlatformMode" : "true",
    		"mainActivity" : "Wat

[2019-08-08 04:45] nicoduj commented on #113
@mbhforum Hello, are you sure your hubIP is correct, static, and can be reached by your homebridge ? Can you post full log in debug mode ?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-08 04:51] mbhforum commented on #113
Should the Harmony Hub be printable?  It has a static IP and I confirmed they matches what I see in the Harmony app.

[2019-08-08 06:05] nicoduj commented on #113
I don't think ping is mandatory, but port 8088 must be reachable since the plugin is establishing a websocket connection to the hub through that port.

[2019-08-08 14:34] mbhforum commented on #113
Weird, now it's working after trying to turn on debug mode.  Unfortunatlely, getting debug logs from my Synology isn't working properly remotely.  The strange thing is, now it does a TV device named "Other" (it should say "Playroom" or "Tivo", correct"?  In the Input of this device, nothing shows and it says "Select an Input", but when I go to settings, I see all of the activities listed.  Turning

[2019-08-08 15:56] nicoduj commented on #113
@mbhforum try restarting again for inputs to show, this issue is random after first creation of services . Concerning the name, do you have any activity named « Other » ? Or maybe it is the room name ? I don’t think I have such a default name in the plugin but will check later

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-08 15:56] nicoduj commented on #113
@mbhforum and by the way if you had a previous harmony plugin it might be good to clear the cache folder

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-08 16:40] mbhforum commented on #113
I restarted and now the inputs appear.  I don’t have any activities named Other but for now I just manually renamed it myself.

[2019-08-09 01:18] mbhforum opened #148 "[BUG] activitiesToPublishAsAccessoriesSwitch isn't working in TVmode"
**Describe the bug**
A clear and concise description of what the bug is.

I have a seperate activity called "Bedroom Fan" and it's not creating a switch for it.

**To Reproduce**
Steps to reproduce the behavior

1: Edit config.json with the below code, and restart homebridge.  Seperate switch does not appear in Homekit, but TVmode device does.

**Expected behavior**
A clear and concise description

[2019-08-09 06:38] nicoduj commented on #148
Hi,

without the log it will be difficult to help. Can you confirm that the turnOff switch is shown ? Since you also add a problem with the mainActivity name if I correctly remmber, I suspect you might have an issue with your activities names. Did you try to use the option "switchAccessories" : true , and see what switches are added ?

Concerning your log, if you have configUI you can always see t

[2019-08-09 12:36] mbhforum commented on #148
I don't have a problem with the activity name for this hub as it shows when I activate it. As you can see in my code, it's not my default main activity.   I do not see any turnOff switches either, which is fine, I actually don't want those and took that code out now.

I tried, "switchAccessories" : "true" and that didn't work either.  I didn't see that variable in the ReadMe, so didn't know about

[2019-08-09 12:50] nicoduj commented on #148
Hi,

You are on 1.0.0 of the plugin right, not 0.7 ?

Nicolas

[2019-08-09 13:09] mbhforum commented on #148
How do I determine this?  In my install.sh, I run "npm install -g homebridge-harmony" upon startup, so I assume everytime I restart the container, it updates?

[2019-08-09 13:56] nicoduj commented on #148
You are on the master branch so on 0.7. Version 1.0.0 is still in Beta testing (branch dynamic platform) . So in 0.7 you must add two instance of the plugin if you want both modes - see #97

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-09 14:03] nicoduj commented on #134
I am closing since there was no news on this, felle free to reopen if the problem persists.

[2019-08-09 14:03] #134 closed

[2019-08-09 14:04] nicoduj commented on #138
I am closing since I have no news on my suggestion, feel free to reopen if it doesn't suits your needs.

[2019-08-09 14:04] #138 closed

[2019-08-09 14:05] nicoduj commented on #111
I have finally added a little paypal button on the readme :)

[2019-08-09 14:06] nicoduj commented on #53
After some testing, the lack of device state makes this unreliable . So I won't consider this anymore.

[2019-08-09 14:06] #53 closed

[2019-08-09 15:54] mbhforum commented on #148
That worked.  Thank you!

[2019-08-09 15:57] #148 closed

[2019-08-11 15:45] mbhforum opened #153 "[BUG] . Error: The requested platform 'HarmonyHubWebSocket' was not registered by any plugin."
**Describe the bug**
A clear and concise description of what the bug is.

Trying to run the harmony dynamic mode on a SEPARATE Homebridge Docker container on my Synology and I get the error below. Please note, I have not removed my existing non-Dynamic Harmony config from my primary Homebridge docker container yet.  I am able to successfully start the second HomeBridge container without the harmon

[2019-08-11 15:50] nicoduj commented on #153
Hi,

the correct command should be npm install -g homebridge-harmony@rc .
The plugin is not installed from homebridge point of view, did you have any error during installatin ? Check the node_modules directory to see if the plugin is there.

[2019-08-11 16:13] mbhforum commented on #153
Looks like that is the issue. This container doesn't have bash installed, so using install.sh doesn't work. When I drop to a terminal prompt, check out the error I get.  I am not able to see that log file in my file system though.

/homebridge # npm install -g homebridge
/usr/local/bin/homebridge -> /usr/local/lib/node_modules/homebridge/bin/homebridge
+ homebridge@0.4.50
updated 1 package in 3.33

[2019-08-11 16:17] nicoduj commented on #153
My bad sorry, the command is : npm install -g homebridge-harmony@beta

[2019-08-11 16:40] mbhforum commented on #153
Thanks, that did it.  Does this support more than 2 hubs? Or do I need to run another container for my other 2 hubs? I have 4 in total. It seems to only accept one more.

[2019-08-11 16:51] nicoduj commented on #153
Should support multiple hubs, with something like this :

[code]

[2019-08-11 17:33] mbhforum commented on #153
Thanks! That fixed it.

[2019-08-11 18:09] #153 closed

[2019-08-13 18:46] jamesdh commented on #144
This can be safely ignored. It's caused because fsevents is a package used for handling file system  events in MacOS and is only used in MacOS. You're likely installing the package in some flavor of linux, and npm is correctly telling you that the package isn't needed/supported there.

I'm guessing it's a transient dependency of one of the devDependencies (best guess is husky). This will not cause

[2019-08-13 20:09] #144 closed

[2019-08-13 20:10] #113 closed

[2019-08-13 20:30] rsonnens commented on #144
I see this too on raspberian "Buster" version. Latest OS that is needed for new pi4.

pi@raspberrypi:~ $ sudo npm -g install homebridge-harmony
npm WARN optional SKIPPING OPTIONAL DEPENDENCY: fsevents@1.2.9 (node_modules/homebridge-harmony/node_modules/fsevents):
npm WARN notsup SKIPPING OPTIONAL DEPENDENCY: Unsupported platform for fsevents@1.2.9: wanted {"os":"darwin","arch":"any"} (current: {"o

[2019-08-13 20:31] rsonnens commented on #144
I did not see this warning on earlier versions.

[2019-08-13 20:36] rsonnens opened #154 "Install warnings on raspberian "buster" OS"
**Describe the bug**
Install warnings that were not present in earlier releases. bug was opened and closed earlier but it is still happening even though it can be ignored. It is however disconcerting.

**To Reproduce**
pi@raspberrypi:~ $ sudo npm -g install homebridge-harmony
npm WARN optional SKIPPING OPTIONAL DEPENDENCY: fsevents@1.2.9 (node_modules/homebridge-harmony/node_modules/fsevents):
npm

[2019-08-13 20:45] nicoduj commented on #154
See #144 , it is linked to a dev dependencies no impact on run (optional means optional ;) )

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-13 20:45] #154 closed, assigned to nicoduj

[2019-08-14 15:04] krazyflipj commented on #147
Upgraded to 1.0. Any way to default a certain input when turning on?

[2019-08-14 15:29] nicoduj commented on #147
@krazyflipj mainActivity option is still supported

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-14 16:42] krazyflipj commented on #147
I remember reading how we can only have 2 remotes at a time. Was this fixed on iOS 12? if so, it isn't working on iOS13. I have roku plugin, apple tv, and this plugin and only shows 2 of the 3

[2019-08-14 17:40] nicoduj commented on #147
You have to publish as external accessories. I think Roku does not support that, my plugin does. please unsure your are publishing as external accessory and add it manually in home app (see README)

[2019-08-14 19:10] Garywoo opened #155 "[BUG] showTurnOffActivity switch still present when setting to false"
**Describe the bug**
The `showTurnOffActivity` switch accessory is still present after setting its config value to `false`.

**To Reproduce**
I upgraded to 1.0.0, and made the appropriate config migration changes. I was previously using the switches mode with `"showTurnOffActivity": true` , but accepted the new default to use the TV mode. I then realised I no longer needed this switch, so set the

[2019-08-14 19:33] Garywoo opened #156 "[BUG] Renaming platform causes crash on initialization"
**Describe the bug**
Renaming my `name` config value from anything other than _Harmony Hub_ causes the plugin to crash during Homebridge initialization. The following is seen in the log output:

[code]

**Reproduce**
I upgraded to 1.0.0, and made the appropriate config migration changes. I was previously using the switches mode, but accepted the new default to use the TV mode. I then realised I sh

[2019-08-14 20:10] nicoduj commented on #155
Did you try cleaning your cache (through the option or manually) ? Once added, since it is cached, it will remain in homekit.

[2019-08-14 20:11] Garywoo opened #157 "[BUG] Input set in a scene is ignored, and main activity is turned on"
**Describe the bug**
I have created a scene in the Apple Home app to turn on my TV accessory and set the input to a secondary input (not the main activity). When I perform the scene, the TV is turned on to the main activity instead.

**To Reproduce**

1. Set a scene to turn on the TV and select an input that isn't the main activity.
1. While the TV is off, perform the scene.

**Expected behavior**

[2019-08-14 20:12] nicoduj commented on #156
are you talking about platform key or name key ? once added, if you change the name, you chould clean your cache I think.
platform can't be changed.

[2019-08-14 20:13] nicoduj commented on #157
Which IOS version ? 12 or 13 ?

[2019-08-14 20:14] Garywoo commented on #156
I'm talking about the name key, which is described in the readme as:

How would you recommend cleaning my cache?

[2019-08-14 20:15] nicoduj commented on #156
you can use the option cleanCache of the plugin, or delete the persist folder (but will affect all your homebridge) . So try cleancache option first.

(you must remove for the next restart, otherwise it will clean at each launch, generate new accesories and thus mess your scene / automations)

[2019-08-14 20:16] Garywoo commented on #157
Sorry missed that in the initial report.

**iOS**
- Version 12.4
- Device: iPhone 6s

[2019-08-14 20:19] nicoduj commented on #157
Just checked and indeed it is not working anymore, will check asap. Thanks for reporting.

[2019-08-14 20:25] Garywoo commented on #155
I had not seen that option in the main readme. I found the documentation in the Dyanmic-Platfrom branch and set `cleanCache` to true. Restarting Homebridge then made the switch disappear from the Home app.

Thanks for the help!

[2019-08-14 20:25] #155 closed, assigned to nicoduj

[2019-08-14 20:26] nicoduj commented on #155
yes, master branch is not 1.0 (but 0.7) -> not a dynamic platform.

[2019-08-14 20:30] Garywoo commented on #156
Ahh thanks. I set the `cleanCache` option to _true_ and restarted Homebridge. I then set `cleanCache` to _false_ and restarted again. I then renamed the `name` value and restarted again, but the plugin is still crashing on startup. 😥

[2019-08-14 20:32] nicoduj commented on #156
correct way to do is :
cleancache to true
restart
stop
cleancache to false
rename
start

[2019-08-14 20:54] Garywoo commented on #156
Thanks for this. Following those steps exactly allowed Homebridge to start after `name` was renamed without error.

[2019-08-14 20:54] #156 closed, assigned to nicoduj

[2019-08-14 21:23] nicoduj commented on #157
Tried to fix it in 1.0.1, from my tests it is ok now but please provide feedback to close the issue !

Thx

[2019-08-14 22:38] Garywoo commented on #157
Wow that was fast!
Updated to 1.0.1 and the problem is resolved.
Thanks for all your help!

[2019-08-15 15:43] Phoenix-DH opened #158 "Merge of 0.7 and 1.0"
Hey,

until today I had 2 instances running ... one for 0.7 with normal mode and one for TV mode:
[code]

Today I merged it to one after the upgrad, but it won't work:
[code]

Did I miss something or does it just notr work.
My goal is to have all single switches back again, I need them for my automations ...

Thanks.

iOS and homebridge are latest. homebridge-harmony is latest prod version. Or do

[2019-08-15 15:54] nicoduj commented on #158
Hi, I will check asap. Are the turnOffSwitch / devices switch there ? Only activities switch are missing ? Did you clean your homebridge cache ?

[2019-08-15 15:59] Phoenix-DH commented on #158
All missing....
Now the bridge is cxrashing ....
You mean cleaning with the switch to do it?

[2019-08-15 16:00] nicoduj commented on #158
try the following sequence :
option cleancache to true in the config
restart homebridge
stop homebridge
cleancache to false
start again

[2019-08-15 16:02] Phoenix-DH commented on #158
will add "cleancache": true to it and try.

[2019-08-15 16:03] Phoenix-DH commented on #158
At the moment it is like I said, homebridge crashing:
[code]

[2019-08-15 16:06] nicoduj commented on #158
I really think your cache is messed up. If cleancach does not work, delete files in perist folder and try again.

The following works for me, which seems pretty the same :

[code]

Log :
[code]

[2019-08-15 16:08] Phoenix-DH commented on #158
I have to try after homebridge is working again .... Thank you for the quick support....

[2019-08-15 16:09] nicoduj commented on #158
clean your persist folder it should be ok :)

[2019-08-15 16:10] Phoenix-DH commented on #158
Service won't start anymore .... Don't know why

[2019-08-15 16:35] Phoenix-DH commented on #158
Aug 15 18:33:27 phoenixpi homebridge[14531]:     at Server.run (/usr/lib/node_modules/homebridge/lib/server.js:90:36)
Aug 15 18:33:27 phoenixpi homebridge[14531]:     at module.exports (/usr/lib/node_modules/homebridge/lib/cli.js:59:10)
Aug 15 18:33:27 phoenixpi homebridge[14531]:     at Object.<anonymous> (/usr/lib/node_modules/homebridge/bin/homebridge:17:22)
Aug 15 18:33:27 phoenixpi homebridge

[2019-08-15 16:37] nicoduj commented on #158
don't see any log plugin related, you can still try to remove the plugin conf and the plugin from the pluigin directory to check. Do you have the beginning of the error ?

[2019-08-15 16:38] Phoenix-DH commented on #158
no... how can I see all the errors?
I will also tryx to reinstall/remove plugins....

[2019-08-15 19:02] nicoduj commented on #158
@Phoenix-DH any luck in restoring your homebridge ?

[2019-08-15 19:36] Phoenix-DH commented on #158
Still on my way ... have to create all new .. rooms ... will try again the next days

[2019-08-15 19:41] nicoduj commented on #158
ok, let me know if there is any problem . D'ont really see why the plugin would have corrupt your homebridge but sorry if it is the case.

[2019-08-16 02:44] Phoenix-DH commented on #158
Can‘t imagine ... everything working again ...
Will check next days and let you know.

[2019-08-16 03:55] nicoduj commented on #158
Glad to here !

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-16 03:55] #158 closed, assigned to nobody

[2019-08-16 07:18] m4d-maNu opened #159 "Change from 0.7 to 1.0.1 and merge my config but only one Hub is founded"
Hi,

I update from 0.7 to 1.0.1 and change my config

old Config:
[code]

to new Config:
[code]

And now found homebridge / HomeKit only 1 Hub.... what make I wrong?

[2019-08-16 07:36] nicoduj commented on #159
second one will be necessary exposed as an external accessory : you have to add it manually in home app. (It is in order to make both available in remote app in control center)

https://twitter.com/dujnic/status/1110644949027041282?s=21

[2019-08-16 13:18] Nastras opened #160 "After update to version 1.0.1 no switch mode available anymore"
Hello @nicoduj ,

i used switch mode so far after updating to version 1.0.1 it has completely disappeared. I assumed that I could use switch and tv mode after the update?

I don't manage to show the switch mode again. Do you have an idea?

Here my Config:

"plugins": [
"homebridge-harmony"
],

"accessories": [
],

"platforms": [
{
"platform": "HarmonyHubWebSocket",
"name": "Multimediahub Wohnzimme

[2019-08-16 14:05] nicoduj commented on #160
Hi,

I think you did not read the migration part of the readme :)

Something like this, if you don't want TV accessory mode :

[code]

In case of any trouble since you launched with a bad config eventually, set option cleanCache to true, launch homebrdge, set option to false and restart.

[2019-08-16 14:32] m4d-maNu commented on #159
Thanks, now works it.

[2019-08-16 14:52] #159 closed, assigned to nicoduj

[2019-08-16 15:53] Nastras commented on #160
Thanks for the quick answer.

It works almost as it should. All switches (harmony actions) are shown to me as their own device in the eve app. Previously these were listed as one device for each Harmony Hub.

I thought this option was responsible that it is not displayed as a separate switch?

"publishActivitiesAsIndividualAccessories": false,

[2019-08-16 15:57] Nastras commented on #160
One more addition. I get this error when restarting the homebridge instance. Is it known to you?
<img width="1051" alt="Bildschirmfoto 2019-08-16 um 17 55 34" src="https://user-images.githubusercontent.com/27686185/63180745-34a9bf80-c04f-11e9-9727-06c9e0a52555.png">

[2019-08-16 17:03] nicoduj commented on #160
Hi,

Ok, for the option I did a mistake and did not follow readme migration also : )
the option is now publish**SwitchActivities**AsIndividualAccessories and not publish**Activities**AsIndividualAccessories. I fear you need to clean cache since the accessories have been cached mostly.

Concerning the other error, it is due to a dependency breaking change I did not notice. Will publish an update as

[2019-08-16 17:03] nicoduj opened #161 "harmony.end is not a function"
One more addition. I get this error when restarting the homebridge instance. Is it known to you?
<img width="1051" alt="Bildschirmfoto 2019-08-16 um 17 55 34" src="https://user-images.githubusercontent.com/27686185/63180745-34a9bf80-c04f-11e9-9727-06c9e0a52555.png">

_Originally posted by @Nastras in https://github.com/nicoduj/homebridge-harmony/issues/160#issuecomment-522059858_

[2019-08-16 17:07] nicoduj commented on #161
Dependency breaking change .

[2019-08-16 17:07] #161 closed, assigned to nicoduj

[2019-08-16 17:27] Nastras commented on #160
Super now everything works as it should. Can you explain these two options to me because I'm not sure what exactly they do? What exactly does home controls mean?

homeControlsToPublishAsAccessoriesSwitch array of home controls you want to publish as switches
publishHomeControlsAsIndividualAccessories option to publish home controls as individual accessories.

[2019-08-16 17:30] nicoduj commented on #160
It is for harmony hubs which can expose devices like hue lamps (those orange icons on the remote) :

https://assets.logitech.com/assets/64812/9/harmony-companion-whole-home-remote-hub-and-app.png

Not really convincing to my opinion but was asked from a user :)

[2019-08-16 17:36] Nastras commented on #160
All right. Got it!

Would be cool if you could write an example like this in the readme behind the certain functions. Then one becomes also directly clear what is meant .-)

I thank you again for your help and wish you a nice weekend!

[2019-08-16 17:36] #160 closed, assigned to nicoduj

[2019-08-16 21:37] rsonnens opened #162 "[BUG] - changing plarform name is not supported after first launch"
**Describe the bug**
I keep crashing at startup, even when I set "cleanCache"

**To Reproduce**
just start home bridge up. Was working I think before I changed the name parameter

*
**Logs**
Aug 16 14:19:10 raspberrypi systemd[1]: Started Node.js HomeKit Server.
Aug 16 14:19:12 raspberrypi homebridge[1450]: [8/16/2019, 2:19:12 PM] Loaded config.json with 0 accessories and 2 platforms.
Aug 16 14:19

[2019-08-16 21:39] rsonnens commented on #162
Oh, running on raspberian BUster release on a pi 3+

[2019-08-16 21:44] reidrichardson commented on #162
I was getting same error last night after updating, mine is basically the same config minus name and IP.  i uninstalled and went back to 0.7 and it is running perfectly again

[2019-08-16 22:04] rsonnens commented on #162
OK, so I see a webscockets build error that I did not notice before if I uninstall and reinstall:

pi@raspberrypi:~ $ sudo npm -g install  homebridge-harmony

sh: 1: cannot create builderror.log: Permission denied

sh: 1: cannot create builderror.log: Permission denied
npm WARN optional SKIPPING OPTIONAL DEPENDENCY: fsevents@1.2.9 (node_modules/homebridge-harmony/node_modules/fsevents):
npm WARN n

[2019-08-16 22:47] rsonnens commented on #162
So I put in a log debug and I saw my accessory name at the point of the crash was "NicoHarmonyHub2-TV" which seems odd! I think that prefix was my OLD name in the config.

[2019-08-16 22:56] rsonnens commented on #162
Well well well, if I change the name back from "TV"  to "NicoHarmonyHub2" it now works again!

Something is being cached somewhere!

[2019-08-17 05:56] nicoduj commented on #162
Hi,

Thank you for those test. I think clencache won’t work with a name change, will try to fix. You can always delete file (or entry in it if you are skilled with json) in homebridge persist folder . 1.0.0 is using homebridge cache of accessories, that is why this is happening when you change the naméof the platform

[2019-08-17 06:59] #162 closed, assigned to nicoduj

[2019-08-17 07:11] nicoduj commented on #147
@krazyflipj is it ok, did you find the way to do it ? I remember to have a small video on a twitter post : https://twitter.com/dujnic/status/1110644949027041282?s=21

[2019-08-17 10:49] niwre2019 opened #163 "Update from 0.7.0 to 1.0.2 failure"
Hello,
unfortunately, my Homebridge does not start making the update anymore.  I do not seem to understand the changes to be adjusted.  Here is my new configuration, what am I doing wrong?
Thanks for your help

    {
      "showTurnOffActivity" : true,
      "sequencesToPublishAsAccessoriesSwitch" : [
        "Ton",
        "TV Ton"
      ],
      "platform" : "HarmonyHubWebSocket",
      "TVAcces

[2019-08-17 18:20] rsonnens opened #164 "Potential Phantom devices remained around when changing hub name"
**Describe the bug**
When I changed the name param, I noticed that phantom devices hung around that were associated with old settings using the other name!

**To Reproduce**
Create an instance not using the new TV remove settings where all devices get listed. Add devices in home app.

Then change the json name param to use a new name, and only use the simple TV mode settings.

When I re-add homebr

[2019-08-17 18:21] rsonnens commented on #164
[thanks for fixing the other related crash yesterday!]

I'm all fixed up but I wanted to get you this info.

[2019-08-17 19:01] knuckleheadsmiff commented on #164
Sorry, above I said “old devices”, but I really was seeing old activities in the home app. Not sure if that matters.

[2019-08-17 20:37] rsonnens commented on #164
Sorry, but I think I can better describe the phantom garbage I was seeing than I did above.

I saw a 'remote' UI with no inputs in the input drop down, and a seperate activity (with a home icon) for each activity that normally would have shown in the remote. These all listed the "model" in the UI using the old name. I had a total of 7 extra homebridge accessories in the home app.

I also correctly

[2019-08-17 20:39] rsonnens commented on #163
Is the ip address correct? think the xxx needs a number there.

[2019-08-17 20:44] niwre2019 commented on #163
yes, the IP address is correct, I have only replaced the last digits with xxx.

[2019-08-17 21:55] nicoduj commented on #164
Hi, thank you for the extra info . I pushed a new release roadway that should fix issue when you rename the hub. Will do more test but should be ok I think

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-17 21:56] nicoduj commented on #163
Hi, what  error do you have ? Did you try with latest version released today just in cas it is related to platform renaming ?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-17 22:09] knuckleheadsmiff commented on #164
Was with the 1.0.3 release. (Sorry for my different git login name.)

As noted I’m now good so I may not see the issue anymore.

[2019-08-17 22:19] nicoduj commented on #164
Ok, thank you will try to reproduce to better understand ;) I am removing old accessories now in case of name change . What I don’t understand is the step where you readd homebridge, if you did that you probably have changed the homebridge is right ?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-17 23:06] knuckleheadsmiff commented on #164
Sorry, by readd, I just mean deleting the homebridge icon in the home app which deletes all the accessories, and then adding it back into the home app (used the same I’d code from the logs) which then in turn adds in the accessories again. I know my teminlogy is confusing here.
, sorry.

[2019-08-18 03:15] mxwlsavard opened #165 "[BUG] 1.0.3 sequencesToPublishAsAccessoriesSwitch switches don't do anything"
**Describe the bug**
Switches published from sequencesToPublishAsAccessoriesSwitch don't activate sequences after I upgraded from 0.7.0 -> 1.0.3. They switch on when activated then switch off a split second later, which seems like expected behavior. My switchAccessories switches do work. I have double checked that I have the right activity active for the sequences.

**To Reproduce**
1. Have a sequ

[2019-08-18 06:46] nicoduj commented on #164
Ok, never did that this way , I never delete in home app relaunching homebridge with config change is enough for me .so the sequence to reproduce should be the following :
-launch homebridge with name1 and switch mode
-add bridge in home app (all switch are added)
-stop homebridge
-delete bridge in home app
-rename with name2 ans tvplatform mode this time
-launch homebridge (the log there should s

[2019-08-18 06:49] nicoduj commented on #165
Hi, From the log I see it does not retrieve the sequence is in your hub config . Maybe the name in the list are not the one in your hub config ? Your hub config, shown at the beginning of the log should telle is if it is the case or if there is a real bug. Will try to reproduce if it is the case .

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-18 06:52] nicoduj commented on #165
Ok, i didn’t see the beginning of the log on githawk but it was there in the mail : the names seems ok will check thank you for reporting

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-18 07:14] nicoduj commented on #165
Found it, have to change line 433 of harmonybase.js from :  service.***S***equenceId to  service.***s***equenceId ... will fix and release ASAP sorry for that regression .

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-18 07:45] niwre2019 commented on #163
Hi, when starting the Homebridge with this configuration I get the error "There was a problem reading your config.json file." In the meantime, I've got it running by setting the two parameters "TVAccessory": true, and "switchAccessories"  : true, removed.  However, I miss so the activities.  Currently I have updated to version 1.0.3.

[2019-08-18 08:13] nicoduj commented on #163
Ok, will check on a computer ASAP since I don’t see anything on my phone :) by the way you don’t need to set tvAccessory option to true since it is default . Only switchAccessories. I suggest you follow the order of the samples in your parameters and especially for mandatory parameters , it will be more readable even if not a problem .

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-18 08:22] niwre2019 commented on #163
Many thanks.  I only have tvAccessory in the configuration to quickly test other configurations.  The order in the configuration was fine as it's so much clearer, but at one point it was suddenly different, I think the Homebridge app was the cause.

[2019-08-18 08:28] nicoduj commented on #163
Ok, so do you still have a problem ? If so, post your full config, if not you can close the issue :)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-18 08:47] niwre2019 commented on #163
I'm slightly irritated now, you wanted to look at the problem, right?  My complete configuration contains too much personal information, so I do not want to post it.  A pity, then I close the issue. :(

[2019-08-18 09:24] nicoduj commented on #163
Off course I want to look at your issue, otherwise I would not bear answering this thread at all. I think I do my best on this github to provide help to users and I don’t understand why you are irritated neither if you have a problem or not. It is fine it you don’t want to post your full config, but since you told the error was homebridge related on the whole config file, it might not be on the pl

[2019-08-18 09:53] niwre2019 commented on #163
Hi, Homebridge has just changed the order of configuration within the plugin, but the whole configuration is fine and the plugin works under version 0.7.0.  I know you're trying to help everyone and I do not want to swap myself with you.  But if the help means to me that I should post my entire configuration, then I do not want to do that.  Of course, I would be very grateful if I could use the pl

[2019-08-18 10:04] nicoduj commented on #163
Can I have the log file then at startup ? Does the faulting config file validated through such service : https://jsonlint.com

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-18 10:21] niwre2019 commented on #163
Yes I can do that.  I'm on the road for the rest of the day and will be in touch tomorrow.  Thank you for your message.

[2019-08-18 15:01] mxwlsavard commented on #165
No worries! Thanks for looking into it!

[2019-08-18 15:24] knuckleheadsmiff commented on #164
When I saw the problem that was the sequence except in the first step I now believe I was in tv platform mode in step one and not in switch mode—switch mode was a red-herring.

Prior to 1.0.3 of course I would crash when starting up homebridge.

I never had it just work in the home app by just relaunching homebridge when changing the name. When you do this is the “model” name in the tv accessories

[2019-08-18 16:29] knuckleheadsmiff commented on #164
I need to let you know, that with my setup it is a pita to play with this a lot as I am using a Pi connected to my TV with a half ass wireless keyboard with trackpad. It is not the best setup for playing with this stuff. I have to sit like 8 feet away while making my edits..... so I was going best from memory of the steps. If you can’t reproduce then that’s OK.

I just wanted you to know what I ha

[2019-08-18 18:04] nicoduj commented on #164
thank you, will add a clean feature of this files also in case of name change just in case, but I don't really understand why it would have been the cause of this (I am more thinking about some icloud sync misalignement of devices).

[2019-08-18 18:06] #165 closed, assigned to nicoduj

[2019-08-18 18:50] Kohle81 commented on #132
@nicoduj

Hi, first thanks for your great plugin, it works fine!!

I have updated to version 1.03 and it is the first time I want to create toggles with devicesToPublishAsAccessoriesSwitch.

But when I (re)start homebridge I get now device command in the log.

When I used version 0.7 there were commands in the log.

Sorry for my bad english ;-)

Greetz, Manuel

[2019-08-18 19:15] nicoduj commented on #132
Hi @Kohle81 , did you try option showCommandsAtStartup in your config ?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-18 19:24] Kohle81 commented on #132
Hi,

oh I did not read the correct read.me 😬😬😬

No, I did not use the command showCommandsAtStartup in config. That‘s it.

"showCommandsAtStartup" : true

Is this the right command and format in config?

Thx for your fast answer!!

[2019-08-18 19:34] nicoduj commented on #132
@Kohle81 that should do it

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-18 21:19] knuckleheadsmiff commented on #164
You may be right. I’m not sure how to force an iCloud resync of the devices—or how the syncing even works. But thanks for looking into it.

[2019-08-18 21:41] Kohle81 commented on #132
It works! Thx!

[2019-08-18 21:48] Kohle81 opened #166 "A general "Mute"-Switch"
Hi nicoduj,

I like your plugin, it works fine and you do a great work!!!

Would it be possible to create a general "Mute"-Switch? If this switch is toggled on or off, the harmony hub should be "mute" the actual activity.

Use case:

If my phone @home is ringing, I could activate the "Mute"-Switch and the devices in the activity are muted.

I hope you understand me and sorry for bad English.

Gree

[2019-08-19 04:39] nicoduj commented on #166
Hi, thank you ! In a way you can I think already do that with multiple switches grouped in home app for each device that handle sound in your setup (probably tv and av-receiver),but I agree handling it in the plugin would be easier and your use case definitely worth it ! Just a question : do you intend to use shortcut to make the trigger (phone ringing ?) or any other means ?

<sub>Sent with <a hr

[2019-08-19 04:45] #132 closed

[2019-08-19 05:14] Kohle81 commented on #166
I want to use my phone at home with using fritzbox router.

But the option with shortcuts would be nice, too; if it is possible.

[2019-08-19 10:08] nicoduj opened #167 "Better handling of cleaning in case of name change / hub parameters change"
Better  handle name changing of hub in config file :
- clean the files for names / inputs order
- ensure all cached accessories are removed if platform is renamed
- ensure accessories are deleted if they are not present anymore (or renamed) in hub config
- ensure services (like input / activities) are also cleaned if not there anymore

[2019-08-19 10:08] nicoduj commented on #164
Will close since I have created a new issue for this cases #167

[2019-08-19 10:08] #164 closed, assigned to nicoduj

[2019-08-19 10:14] nicoduj commented on #163
Just in case, the following config should work (only change ip) :
[code]

[2019-08-19 12:24] niwre2019 commented on #163
Hello,
I renamed my Hub to LogitechHub, installed the latest version 1.04, and adopted your configuration.  What can I say, now it is running again, only PowerOff is now duplicated and can not be cleaned up with CleanCache, but I can live very well with it.  Thank you for your support.
Best Regards

[2019-08-19 12:55] nicoduj commented on #163
Ok, do you see any difference in the properties of the duplicated PowerOff ? Is there any chance you have some old iOS device (iOS 10 or below) that sync your home with iCloud ?

(The option is cleanCache and not CleanCache just in case :) )

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-19 14:02] niwre2019 commented on #163
The old PowerOff does not work anymore, I renamed it PowerOff-Old so I do not accidentally use the old version. Unfortunately, I do not have an old iOS 10 device.

(Sorry, for the wrong parameter, I used the correct spelling in the configuration. :))

[2019-08-19 14:53] nicoduj commented on #163
Ok, i would really like to understand why it is still there, is it possible to check the properties of this switch, and send me the log in debug mode of the plugin at start ?  Is it still listed in the hub devices in home app ? the Jason file I. Homebridge persist folder could be interesting too if possible (or at least the section of it with the 2 switches)

<sub>Sent with <a href="http://githawk

[2019-08-19 15:42] niwre2019 commented on #163
I do not know if I understand everything correctly now, in Linux have unfortunately only rudimentary basic knowledge.  I just copied what I found.

[IdentifierCache.txt](https://github.com/nicoduj/homebridge-harmony/files/3516592/IdentifierCache.txt)
[Log.txt](https://github.com/nicoduj/homebridge-harmony/files/3516593/Log.txt)

[2019-08-20 06:11] m4d-maNu opened #168 "[Question] What is this Icon?"
Hi,
I have 1.0.4 and the Plugin works fine but what is this for an Icon with the house?

![IMG_3360](https://user-images.githubusercontent.com/34382292/63321790-0ca5af00-c322-11e9-82eb-dd8d345b670c.png)

Its called Apple TV but it is from the harmony Plugin.

![IMG_39E29C10B481-1](https://user-images.githubusercontent.com/34382292/63321800-10d1cc80-c322-11e9-9d77-16df0d2c74dc.jpeg)

And it'only fr

[2019-08-20 07:11] nicoduj commented on #168
Hi,

Is it in IOS 13 or IOS 12 that you see this additionnal "accessory" (it does nothing, right ?) ? It could be related to IOS 13 behavior, or maybe to a corrupted cache file in homebridge, maybe due to multiple launches and renaming of platform name / devices. By the way, what means "Ein" ? (sorry, don't speak german).

Concerning the hiding of activities switch in IOS13, it is related to IOS13

[2019-08-20 11:40] m4d-maNu commented on #168
It in iOS12 (the Screenshot in the last post is from iOS12).  And correct, its do nothing.

I deleted the cache from homebridge an restartet it and now is this "accessory"  away.

"Ein" or "Eingeschaltet" is the german word for "ON" or "Switched on"

Okay, thanks for this information.

Ok, that's how it works. But I had to delete my cache from Homebridge, otherwise I would have double switches.

O

[2019-08-20 12:05] nicoduj commented on #168
Ok, thank you ! I will try to better handle config change in a next version in order to avoid manual cache cleaning.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-20 17:09] mikesalz commented on #131
Hi @nicoduj! Now that you have the 1.x version released, I revisited trying to get the home controls working again.  I'm still not having any luck.  I upgraded to the new version and then ran in Debug mode, but still no mention of home control buttons in the logs.  Any ideas?

[2019-08-20 17:30] nicoduj commented on #131
Hi, Could you tell me which harmony do you have ?  I am also interested into your config to check

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-20 18:55] mikesalz commented on #131
Hey, thanks for the quick response!  I have three remotes:

Harmony Elite (Has home control buttons)
https://www.bestbuy.com/site/logitech-harmony-elite-remote-control-and-smart-hub-black/4314901.p?skuId=4314901

Harmony Smart Control (Does NOT have home control buttons)
https://www.bestbuy.com/site/logitech-harmony-smart-control-remote-control-and-smart-hub-black/8574049.p?skuId=8574049

Harmony

[2019-08-20 19:09] nicoduj commented on #131
I fear logs won't be available if nothing is set. Try to add on the hubs that have home controls :
homeControlsToPublishAsAccessoriesSwitch = ["TOTO"]

and then search the log (in debug mode) for
"INFO - getting home controls ..."
and then
'INFO - got Home Control : '

and after that you should have te list

[2019-08-20 19:26] mikesalz commented on #131
Dumb question, but am I literally setting the value to "["TOTO"]" or is that short for something?

[2019-08-20 19:27] nicoduj commented on #131
yeah, to whatever you want, some code logic won't display any logs if the array is not there or empty

[2019-08-20 19:42] mikesalz commented on #131
So this is weird.  I added the array to the MasterBedroomHarmonyHub, which is nested within otherPlatforms.  I did get a "got home controls" but it was listed under FamilyRoomHarmonyHub, which is the first one listed under Platforms.

And I think what is being listed is all devices that are currently controlled by the home control buttons on either remote.
[code]

[2019-08-20 19:45] nicoduj commented on #131
Hum ... Will check, kinda difficult to debug since I have 1 hub with no home controls :)

[2019-08-20 19:48] mikesalz commented on #131
It sounds like we should start a Go Fund Me to raise money to buy you a fancier remote!! :)

[2019-08-20 19:49] mikesalz commented on #131
What should I expect to see? A list of the names of the individual control buttons?  Or the devices that they control?

[2019-08-20 19:58] nicoduj commented on #131
From the log I read, the value that should work in this array are :

hue-switch.harmony_movie_night_switch
hue-light.kitchen_kitchen_lights
hue-light.master_bedroom
hue-switch.harmony_master_bedroom_fan_light_switch
hue-light.family_room
hue-switch.harmony_goodnight_switch
hue-switch.harmony_master_bedroom_fan_switch
hue-switch.harmony_movie_end_switch
hue-light.kitchen_kitchen_table_lights

. Try

[2019-08-20 20:00] nicoduj commented on #131
(I think home controls are indeed available on all hibs, they are more linked to the harmony app than the remote I think)

[2019-08-20 20:57] mikesalz commented on #131
That is working.  Thanks so much!

I had originally hoped that you could expose the button itself, rather than the device it is controlling.  But this will work as well.  I guess you don't have any visibility to the physical button; only the device it is mapped to in the Harmony app?

[2019-08-21 15:21] twynne opened #169 "[BUG] Strange behavior since update"
Had the plugin mostly working fine up to today, but wasn't getting any volume control commands sent at all.  As such, decided to try setting the new option to send '2' to see if that would resolve.

After adding this parameter in config and restarting, my Home app now shows the Bedroom TV with '6 Off' below the device name.  When I hold to open the device in Home app, the list of activities is now

[2019-08-21 15:33] nicoduj commented on #169
Hi, are you on iOS 13 by any chance ? Do you have any logs and config ?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-21 15:36] twynne commented on #169
Yes, I am on iOS 13 (which has been working without issue until I changed the volume parameter above).  Config:

  {
            "platform": "HarmonyHubWebSocket",
            "name": "BedroomTV",
            "hubIP": "192.168.1.169",
            "TVPlatformMode": true,
            "mainActivity": "Sky Q",
            "cleanCache": true,
            "remoteOverrideCommandsList": {

[2019-08-21 15:51] twynne commented on #169
Correction, I've put the    "publishSwitchActivitiesAsIndividualAccessories" back as it was when it was working (set to false), but I'm still seeing in the Home app the TV device showing '6 off' beneath the device name.  When expanded it shows "Off . On . On . On . On . On" beneath the device name and the input selector is blank with no inputs listed.

In the device config in Home, it shows 6 acce

[2019-08-21 16:06] nicoduj commented on #169
Ok so if you have changed this parameter (publishSwitchActivitiesAsIndividualAccessories )you have a messed up cache (you have published new accessories and cached them with the old one) ! You can try option cleancache at first (set it to true/ stop/ start/stop, set it to false, start), or delete files (or portion of it) in your cachedaccessories folder.

I am working on cache clean upon config ch

[2019-08-21 16:08] twynne commented on #169
Thanks, is this not the option I already have set to true ("cleanCache": true,)?

[2019-08-21 16:13] twynne commented on #169
If so, that option isn't working.  I've also just deleted the cachedaccessories file and restarted, still no joy.

Do I need to completely delete the hub from my home?

[2019-08-21 16:15] nicoduj commented on #169
Yes, but try to stop launch homebridge with this option set to true , end it (not kill it !), set the option back to false and launch again

If it doesn’t help then proceed manually with the files. You can also have to delete harmony temp files in the root directory if you have renamed input / device and / or désactivante some  inputs

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-21 16:19] twynne commented on #169
I'm now seeing the following in the log:

[8/21/2019, 5:17:26 PM] [BedroomTV] INFO - Adding Accessory : BedroomTV-TV
[8/21/2019, 5:17:26 PM] [BedroomTV] (BedroomTV)INFO - configuring Main TV Service
[8/21/2019, 5:17:26 PM] [BedroomTV] (BedroomTV)INFO - Creating TV Service
[8/21/2019, 5:17:26 PM] [BedroomTV] (BedroomTV)INFO - Creating Input Service - Sonos
[8/21/2019, 5:17:26 PM] [Config] Console v

[2019-08-21 16:21] nicoduj commented on #169
Just a point : cachedaccessory file has to be deleted while homebridge is stopped
(Otherwise it will be set with current state while stopping so has if you have not delete it)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-21 16:28] nicoduj commented on #169
Definitely your cache is messed up. Delete file with homebridge stopped

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-21 16:28] twynne commented on #169
Ok, I had been using the restart option from configui.  I stopped from terminal, deleted persist and cachedaccessories, deleted the entire hub from home and reconfigured manually.  We're now back where we started at least.  I can again turn the bedroom tv on/off and switch inputs, but volume control does nothing whatsoever.
I've assumed from docs that the volume option does not need to be specifie

[2019-08-21 16:35] nicoduj commented on #169
Yes, correct. However if volume is custom in your activity it might need some override (or not in volume control set of your activities but binded manually to the remote buttons) . To check I need your hub config that you can obtain by launching with -D option.

Thank you by the way for the information of config ui since i think others might have such issues with cleancache option , I did not thin

[2019-08-21 16:37] twynne commented on #169
Thanks.

And sorry, when you say launching with the -d option, do you mean to stop homebridge itself and relaunch with a -d parameter?  Or something else?  Sorry I'm not hugely skilled with terminal!

[2019-08-21 17:03] nicoduj commented on #169
You can also set debug mode in config ui advanced option if I correctly remember

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-21 17:06] nicoduj commented on #168
#167

[2019-08-21 17:06] #168 closed, assigned to nicoduj

[2019-08-21 17:07] nicoduj commented on #131
YEs, unfortunately buttons are not visible at all .

[2019-08-21 17:07] #131 closed

[2019-08-21 17:08] nicoduj commented on #163
#167 .
You can still try to delet file in cachedAccessory, but Homebridge MUST be stopped while doing it.

[2019-08-21 17:08] #163 closed, assigned to nobody

[2019-08-21 19:03] Phoenix-DH commented on #169
Additional question:
Had last time also a problem with the plugin and will try tomorrow...
What will the cleanupcache switch exactly do and what will happen when deleting the cachedaccessories file?

Thanks

[2019-08-21 19:17] nicoduj commented on #169
@Phoenix-DH : cleanCache removes all accessories that were added by the plugin with the platform name used, after launching .It might be buggy stil, and might not always work.

Removing cachedAccessories file will impact all plugins that are using the cache . However, if you do so before stopping homebridge (while running), the cahced file will be created again at stop and thus it will be as you d

[2019-08-21 19:25] twynne commented on #169
Not sure how to achieve this as I'm running homebridge via launchctl.  I don't think I can just pass the -d parameter when launching in this way.  I'll have to research more tomorrow.  Is there any other way to get you the info you need?

[2019-08-21 19:28] nicoduj commented on #169
sorry, no, -D option or in homebridge config UI :
![Capture d’écran 2019-08-21 à 21 27 01](https://user-images.githubusercontent.com/19813688/63462167-93f63e00-c45a-11e9-8d96-35c23b1c1c4c.png)

[2019-08-21 19:28] twynne commented on #169
Tried a different way (with just 'homebridge -D' from terminal) and got the following:

[21/08/2019, 20:26:48] [BedroomTV] Initializing HarmonyHubWebSocket platform...
[21/08/2019, 20:26:48] [BedroomTV] HarmonyPlatform Init
[21/08/2019, 20:26:48] [BedroomTV] INFO : following activites controls will be ignored if they are in the same state : NONE
[21/08/2019, 20:26:48] [BedroomTV] (BedroomTV)(Bedro

[2019-08-21 19:29] twynne commented on #169
Also:

[21/08/2019, 20:26:49] [LoungeTV] WARNING - configureAccessory - The platform BedroomTV is not there anymore in your config (name property). It won't be loaded and will be removed from cache.
[21/08/2019, 20:26:49] [LoungeTV] WARNING - configureAccessory - The platform BedroomTV is not there anymore in your config (name property). It won't be loaded and will be removed from cache.

[2019-08-21 19:34] nicoduj commented on #169
That is the way to do. I need for your volume problem the line that begins with : INFO - Hub config :

Did you migrate your config file for 1.0 ? according to your logs, it seems that you have 2 hubs on 2 platforms ? Not really supported anymore you have to use otherplatforms option (see https://github.com/nicoduj/homebridge-harmony/tree/Dynamic-Platform#migration-from-0x-to-1x)

If that is the ca

[2019-08-21 19:48] twynne commented on #169
I have only the following Harmony bits in config:

        {
            "platform": "HarmonyHubWebSocket",
            "name": "BedroomTV",
            "hubIP": "192.168.1.169",
            "TVPlatformMode": true,
            "mainActivity": "Sky Q",
            "publishSwitchActivitiesAsIndividualAccessories": false,
            "cleanCache": false,
            "remoteOverrideCommandsList": {

[2019-08-21 19:49] Phoenix-DH commented on #169
Thank you concerning the cache ... will only be prepared.
My doubt was that orders in home or rooms will get deleted.

[2019-08-21 19:49] twynne commented on #169
And sadly I don't see this line in the log when running with -D.  What am I doing wrong?

[2019-08-21 20:11] nicoduj commented on #169
@Phoenix-DH it will probably even if I try to generate the same is for HomeKit when recreating (but if you change names then it will be for sure not the same accessory so it will mess up automations and other things like that I think)
@twynne your config is not correct for 1.0 please read migration guide. It is probably why you add issues with cache and you will probably have other problems

<sub>

[2019-08-22 00:28] cmb991 opened #170 "Multi Hubs Not Loading"
Running iOS 13 PB 6, Homebridge with the latest version and the latest plugin version.  One of the devices names won't load correctly and the input selections don't load correctly.  Screenshots below.

Config:
{
    "bridge": {
        "name": "Homebridge",
        "username": "CC:22:3D:FF:3D:AA",
        "port": 51826,
        "pin": "031-45-154"
    },
    "description": "Homebridge setup.",

[2019-08-22 04:50] nicoduj commented on #170
Hello,

First you can remove refeshtimer option.
Then, I think it is because of your cleanCache option, this option is not intended to stay . I suggest you stop homebridge, remove this option, and start again.

If that does not work, you can also delete harmony files that are at the root directory of your homebridge folder and then restart.

If it does not work, you can Clean your cachedaccessorie

[2019-08-22 06:00] Phoenix-DH opened #171 "[BUG] Error: Cannot add a bridged Accessory"
Hey and goog morning,

I now tried again to update to V 1.0.
The good thing is that the bridge is running, but not with all features, the switches are missing.
My config is:
[code]

In addition I saw those errors in the log:
[code]

I already stopped the bridge, cleaned up the cachedAccessories, restarted, but still the same ...

[2019-08-22 06:13] cmb991 commented on #170
Attached is the new pic and config file.  Same issue.  Deleted the files in the root dir too.
![New](https://user-images.githubusercontent.com/30929454/63490348-7b9a1980-c482-11e9-9c60-a3fc8686d637.png)

`    "bridge": {
        "name": "Homebridge",
        "username": "CC:22:3D:E3:CE:30",
        "port": 51826,
        "pin": "031-45-154"
    },
    "description": "Homebridge setup.",
    "platf

[2019-08-22 06:23] Phoenix-DH commented on #171
Argh ... no luck again.... tried a reboot of my PI.... Homebridge won't come up again, exactly the same behaviour than last time....

I only saw in the "service homebridge status" the follwoing:
[code]

How can I see the whole log?

[2019-08-22 06:26] nicoduj commented on #171
Hi, did you launched multiple times after migration ? (Or with the old config) ? You can try cleanCache to true (with a C and not c , and don’t forget to put it back to false). Otherwise try step by step and first remove the devicesToPublishAsAccessoriesSwitch option

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-22 06:41] Phoenix-DH commented on #171
I first have to install backup again, then I can try.
I first changed the config to the latest version, but I think with a small c ...
Then I installed the update.
Then stopped the homebridge, started again, removed the cleanCache and stop/start again, all fine ... but no accessoeries.
Then I decided to reboot and then the bridge crashed.

Exactly like the last time.
Without the latest version of

[2019-08-22 06:47] cmb991 commented on #170
Okay a slight update, I rebooted my Pi and now (same config as above), its showing both TVs but not showing the input select type menu for
![image0 (1)](https://user-images.githubusercontent.com/30929454/63492272-27ddff00-c487-11e9-9e5d-2bfefdeee1ce.png)
![image1](https://user-images.githubusercontent.com/30929454/63492273-27ddff00-c487-11e9-8ad1-8f08df6972cf.png)

[2019-08-22 07:03] nicoduj commented on #171
If your backup contains old cached / tries with beta version it might be a problem .

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-22 07:07] nicoduj commented on #170
Sorry don’t understand the problem you still have , your screen shows input selection

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-22 07:50] Phoenix-DH commented on #171
I created the backup yesterday evening, because I got the fear that something would get wrong.
You mean I shopuld install the beta version of the plugin?

Or what do you mean with old data?

[2019-08-22 08:02] nicoduj commented on #171
Did you try beta version before doing the backup ? What are you restoring at all ?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-22 08:27] Phoenix-DH commented on #171
No, i never used the beta version.
Without having an update I used the following config:
[code]

My backup includes the whole SD card, an image ...
I now restored it and removed the cachedAccessories in front... some of them reappeared now with other names.

Strange thing is, that all is working, okay, the accessoeries are missing, but homebridge will come up without problems.

[2019-08-22 08:42] nicoduj commented on #171
Just to better understand : which switch are not there ? Activities or device ?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-22 08:46] Phoenix-DH commented on #171
The activieties are not there after the Update to 1.0.4 with this config, which replaces in the version 0.7 the other both:
[code]

What is missing is:
[code]

Means only the "TV" is shown ...

[2019-08-22 09:10] nicoduj commented on #171
Don’t understand especially since your log shows the activities switch and turn off switch ... are you sure they are not in another room ? Can you check the hub devices in home app (or in eve app for example)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-22 09:21] Phoenix-DH commented on #171
I haven't found them .... Will create a new backup with an additional test sd-card and try again ...

But my way on how to update is correct or?
Channge config ...
Update ...
Restart ...

[2019-08-22 09:26] twynne commented on #169
Ok - the challenge is that, particularly when using configUI and being informed of updates, there is/was nothing that indicated such changes were needed.  I did go looking on github, but didn't see the above and things like changelog didn't seem to have been updated (still shows 0.7 as last release).  Now that you've pointed it out I've tried to update things.  I can't get the second TV working at

[2019-08-22 09:38] twynne commented on #169
So far so good with the above config.  Having removed the entire homebridge from Home and deleted all caches manually, reconfigured, I've now got the TV working with correct inputs.

The iOS remote, for me, seems to do nothing whatsoever.  None of the buttons function, nor does the volume.

[2019-08-22 10:10] nicoduj commented on #169
Hi,

Indeed, changelog warning for config was only in 1.0.0 and not show in other release through config ui. However you have complete history and not only 1.0 in releases in github . 1.0 is not on the master branch, that is why you don’t see it at first on GitHub.

Concerning your config, you just have to remove cleancache . I don’t really understand why you override commands , and to better unde

[2019-08-22 10:25] twynne commented on #169
I added this initially to try to get the iOS remote working, as it was not doing the correct thing by default.  Let me try removing and see if that improves anything.

Also I still can't get the second TV working.  No matter how I merge it into the config it complains about JSON formatting.  Will have to continue trying to work on that.

[2019-08-22 10:35] twynne commented on #169
Ok, more testing.  So removing the command overrides resolved the volume issue (no idea why), but the other remote buttons do not work correctly by default for the Sky Q activity.  Results as follows:

Play/pause, Back, and Info work fine

Directional keys are not really working as expected, and I suspect this is somewhat an issue with the (limited) functionality of the iOS remote.  In order for t

[2019-08-22 10:45] twynne commented on #169
And another update... it doesn't appear that the command override for INFORMATION is remapping at all.  No matter how I set it, it does the same thing (on Sky this just displays programme info for the current programme).  I've tried setting it to 'Guide' (a Harmony sequence I've defined) and 'Menu'.  It still just shows programme information.

Do you think a clear cache is required to make changes

[2019-08-22 10:58] nicoduj commented on #169
CkearCache won’t help. Can you try with -D option at launch to get your hub config ? I will this way be able to help.

Concerning the 2 hubs, will try to make the conf for you later

Concerning the volume not working anymore if you remap, will check also

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-22 11:00] nicoduj commented on #171
As I said changing config after a first start might mess up things . Try while you do that to keep option cleanCache until it is ok.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-22 11:37] Phoenix-DH commented on #171
I got no change at all ... after reboot I will always getting this error:
[code]

Without updating this package I will have no trouble ...

And I chage the config to the Version for V 1.0.4 before I did the update.
Update made, twice a rrestart, homebridge broken ...

Also removing the plugin and removing the config for it will not fix the bridge ....

[2019-08-22 11:58] twynne commented on #169
This seems to be resolved now that I removed the other overrides.  With just the INFORMATION override in the volume still works.

About to try again with the other hub config.

[2019-08-22 12:05] twynne commented on #169
Found the config error and got the second TV added, but it doesn't appear anywhere in the home app, so maybe I've not done right.  Here's the resulting config:

[code]

Incidentally, is the 'name'  now ignored?  Devices seem to be showing up with 'Default room' and a TV icon.

[2019-08-22 12:07] twynne commented on #169
And here's the INFO from debug:

`[22/08/2019, 13:06:19] [BedroomTV] INFO - Hub config : {"cmd":"vnd.logitech.harmony/vnd.logitech.harmony.engine?config","code":200,"id":"0.15562069936424194","msg":"OK","data":{"dataConsent":false,"sequence":[{"id":"584311","name":"Guide"},{"id":"657694","name":"Recordings"},{"id":"1200207","name":"PIN"}],"global":{"timeStampHash":"7d73c4f9-5a84-4660-aad1-0547f92a

[2019-08-22 12:08] nicoduj commented on #171
Stay on 0.7 so, I really don’t know what to do since your log is incomplete and seems linked to the fact that 2 accessories have the same Id

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-22 12:09] twynne commented on #169
And this I suspect highlights why the override isn't working:

[22/08/2019, 13:06:21] [BedroomTV] WARNING - Did not found Override Command for INFORMATION : Sky DVR/Menu

Will take another look at my Harmony config as I must have put wrong command in.

[2019-08-22 12:09] Phoenix-DH commented on #171
I will keep on fighting ...
You do a great job .... I love this plugin so much ....

Got different scenarios in my mind ...

[2019-08-22 12:09] nicoduj commented on #169
Second tv has to be added manually in homebridge like the log and readme says

Will check your config ASAP

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-22 12:16] twynne commented on #169
Ahh.. I didn't even realise this was possible!  :) . I've now added manually and it has appeared.  Would repeat previous comment that 'name' is ignored and it shows shows up with 'Default room' and a TV icon.

Also found issue (I think) with my override.  The device name was changed from Sky DR to Sky Q Mini Bedroom.  Trying that now.

[2019-08-22 12:17] twynne commented on #169
Success!  The command override is now working.

Thanks so much for help and patience.   I'm learning.  :)

[2019-08-22 12:20] cmb991 commented on #170
There is two TVs listed in my config file.  Only one is showing it’s activities. Not the other.
![DB9205B2-2DD5-4605-A9D1-980C0C303C96](https://user-images.githubusercontent.com/30929454/63514051-b36e8480-c4b5-11e9-9ef0-10310b4c4e42.png)
![53AE90F8-007E-4E4B-B861-9FD32030B5B8](https://user-images.githubusercontent.com/30929454/63514052-b36e8480-c4b5-11e9-890e-4c784219cab4.png)

[2019-08-22 12:48] nicoduj commented on #170
Ok, the second tv has to be added manually like the readme says . Only the first one is added automatically

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-22 12:49] nicoduj commented on #170
https://twitter.com/dujnic/status/1110644949027041282?s=21

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-22 12:51] nicoduj commented on #169
Name is the name of the accessory. Default room is the room where it was added by home at first. You can move it to the right room in home app

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-22 12:54] nicoduj commented on #171
Maybe check your node / npm / homebridge version ... and try maybe without other plugins (or tell me which you are using) there might be a conflict .... if you could recap a situation since I lost trail : config/ config of your hub / what is missing after a fresh install (don’t play with cleancache )

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-22 13:02] Phoenix-DH commented on #171
Actually I updated all except the node version.
Here I am on 11.15.0

Do you know which is the latest supported one from homebridge?

[2019-08-22 13:03] twynne commented on #169
Maybe I'm not explaining well.  The name specified in config used to appear in the Home app.  Now it just shows up with Default room in the Home app. I'm aware I can move it, but shouldn't the accessory default to the name specified in config?

So, for example, the accessory specified as 'LoungeTV' in config, when just added appeared in the Home app with only a TV icon and 'Default room'.  Nowhere

[2019-08-22 13:33] nicoduj commented on #169
Did you check the properties in home app ? I think it is maybe ios13 related , will check but quite sur it is not the case for me .

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-22 13:49] twynne commented on #169
Here's the screen grab showing...  But yes, could well be iOS 13! 😉

Cheers

Tom
On 22 Aug 2019, 14:33 +0100, Nicolas Dujardin <notifications@github.com>, wrote:

[2019-08-22 15:29] twynne commented on #169
![EC478E0D-828F-47BC-949C-7F5FC842642A](https://user-images.githubusercontent.com/43317/63527953-f2262e00-c4f9-11e9-8b03-c230f1372938.png)

[2019-08-22 15:39] nicoduj commented on #169
Check names file in the root directory , maybe at some point it was empty and set to something else by home app. You can rename it in this screen it will be saved

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-22 15:42] nicoduj commented on #171
No, I don’t check on homebridge github page :) your behavior is strange, I really think that there is something in your config that does a conflict. Having full config (without password) temp files and full log in debug might help

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-22 15:57] Phoenix-DH commented on #171
Will first give it an additional try after updating everything ...
Then keep cleanCache out of the config.
And I know now how to see the homebridge logs during start when the crash will appear.
Then I hopefully can see the needed lines...

For today I am through ...

[2019-08-22 16:16] twynne commented on #169
Names file for LoungeTV is called "harmonyPluginNames_LoungeTV_1921681162" if that's what you mean.  It's contents are:

{"0":"Lounge TV","3357583":"TV + Apps","3357584":"AppleTV","4268110":"Watch Blu-ray","20125177":"Watch Sky Q","29338852":"Sonos"}

[2019-08-22 16:20] cmb991 commented on #170
We are now back to the Ghost device showing up, "VizioMasterBedroom".  I have deleted the cacheAccessories file too when homebridge was shut down.
Config:
[code]

![IMG_1121](https://user-images.githubusercontent.com/30929454/63531587-d1001600-c4d6-11e9-9240-4cd012d1692f.PNG)
![IMG_1122](https://user-images.githubusercontent.com/30929454/63531592-d4939d00-c4d6-11e9-99d0-c56dd9739cb9.PNG)
<img widt

[2019-08-22 17:01] nicoduj commented on #170
Hum, just thinking of something, maybe spaces in the Name is not a good idea !

(and Try to avoid             "cleanCache": true, at first, especially after a manual cleanUp)

[2019-08-22 17:45] nicoduj commented on #169
ok, so If you rename in home it is ok ? Can I close this issue then ?

[2019-08-22 17:47] twynne commented on #169
Yes, all good. Thanks for the help.

I need to experiment a bit with the lounge TV config but sure it'll be fine.

Cheers

Tom
On 22 Aug 2019, 18:46 +0100, Nicolas Dujardin <notifications@github.com>, wrote:

[2019-08-22 17:53] #169 closed, assigned to nicoduj

[2019-08-22 17:55] nicoduj commented on #171
Hi have pushed an update that might help, by reviewing cleancache option behavior. Hope it will fix !

[2019-08-22 18:00] nicoduj commented on #170
(from the flow I see that you played again with names vizio 1 / Vizio 2, then Vizio LR Vizio MB ... difficult to follow !
Try the following sequence :
- Update to latest version of the plugin I just released
- Stop homebridge
- Delete file cachedAccessories in accessories folder
- Delete files harmonyPluginNames_* and harmonyPluginVisibility_*
- Add cleanCache to True in config and set "name" prop

[2019-08-22 18:36] SafariKC opened #172 "[BUG] Switch names now all include the Hub Name and the Activity Name when being published as a Switch."
**Describe the bug**
With the latest version of the plugin it would seem the names of all my Activity Switches now include the Hub Name in the Name itself when published to Homekit and thus Siri now expects me to use the full name.  It's breaking all of my flows.  Can we revert this or add yet another setting to only use the literal names again?

**To Reproduce**
Have multiple hubs and enable swit

[2019-08-22 18:39] Nastras commented on #171
Hello @nicoduj I have updated from version 1.0.4 to version 1.0.5 now I also have this bug.

[Untitled.txt](https://github.com/nicoduj/homebridge-harmony/files/3531468/Untitled.txt)

[2019-08-22 18:47] Nastras commented on #171
i'm now back to 1.0.4 the bug is still present. I don't suspect anything good.
![49706AE2-8A67-496A-AC36-B094E897B430](https://user-images.githubusercontent.com/27686185/63541244-febc7d80-c51d-11e9-8e8e-b136045278d2.jpeg)

[2019-08-22 18:55] Nastras commented on #171
I have now reinstalled v1.0.5 and deleted homebridge-harmony from homekit. Accessories and Persist deleted now it works again.

[2019-08-22 18:56] nicoduj commented on #172
Hi, You had this change between 0.7 and 1.X ? Or since you are on ios 13 ? What name are you talking about, since IOS 13 made lots of a mess by grouping services into one accessory ....
You can try to publish everything as individual accesories to have a behavior "nearly" the same in ios 13 than in ios 12, by using publishSwitchActivitiesAsIndividualAccessories option.

And if it is not good, you

[2019-08-22 18:59] nicoduj commented on #171
Hi @Nastras . Just for me to know, are you on ios13 ? Still some issues with cache i fear :(

[2019-08-22 19:00] Phoenix-DH commented on #171
What have dou exactly made?
With the status of a crashed bridge deleted the accessories and persist folder?
Thst means you have to readd everything to home

[2019-08-22 19:00] Nastras commented on #171
No I am still at iOS 12 with all devices.

[2019-08-22 19:04] cmb991 commented on #170
0|homebridge  | [2019-8-22 15:01:51] [VizioLR] DidFinishLaunching
0|homebridge  | [2019-8-22 15:01:51] [VizioLR] INFO - Loading activities...
0|homebridge  | [2019-8-22 15:01:51] [VizioLR] INFO - Loading activities...
0|homebridge  | [2019-8-22 15:01:51] Homebridge is running on port 51826.
0|homebridge  | [2019-8-22 15:01:52] [VizioLR] INFO - Adding Accessory : VizioMB-TV
0|homebridge  | [2019-8-

[2019-08-22 19:07] SafariKC commented on #172
I just went in and renamed all my accessories in harmony to get rid of the duplications.. I'll re-optimize my config and see if it helps as well.   The naming behavior change happened between 1.0.4 and 1.0.5 for me.  I don't think this was related to IOS 13 at all.  But rather how you are now sending names into devices.   I'll see if my naming tweaks help.  I very much was probably a special case.

[2019-08-22 19:07] nicoduj commented on #170
I fear external accessory is a problem there, try to delete files also in persist folder (but you will have to readd everything) . If you manage to start, you can try to delete the device from home app.

[2019-08-22 19:08] Phoenix-DH commented on #171
... and what did you mean with

deleted homebridge-harmony from homekit

Deleted the config or the devices out of the home app?

[2019-08-22 19:13] nicoduj commented on #172
I made a change arround that but it was a test, but maybe it is defaulting to default names and not saved one . Reverting for next version, but not really sure.

However, renaming in harmony app might lead to phantom devices if you do not clean the cache

[2019-08-22 19:15] SafariKC commented on #172
yeah basically it was defaulting to "Hub Name - Activity Name" after the change.  It's fine to do that now as I just renamed everything so it will work :-)  But if it was unintended i suppose i can put it all back.

It would seem that renaming the activities in Harmony and the hubs in config self cleaned up everything in Homekit ok without having to clear the cache.   So far :-)

[2019-08-22 19:16] cmb991 commented on #170
Same error after deleting everything in persist folder, deleting the harmony file in the root folder and deleting the accessorycache

`0|homebridge  | [2019-8-22 15:15:18] [VizioLR] DidFinishLaunching
0|homebridge  | [2019-8-22 15:15:18] [VizioLR] INFO - Loading activities...
0|homebridge  | [2019-8-22 15:15:18] [VizioLR] INFO - Loading activities...
0|homebridge  | [2019-8-22 15:15:19] Homebridge

[2019-08-22 19:19] cmb991 commented on #170
Heres from the update:
pi@homebridge:~/.homebridge $ npm install -g -unsafe-perm homebridge-harmony@latest -g
npm WARN optional SKIPPING OPTIONAL DEPENDENCY: fsevents@1.2.9 (node_modules/homebridge-harmony/node_modules/fsevents):
npm WARN notsup SKIPPING OPTIONAL DEPENDENCY: Unsupported platform for fsevents@1.2.9: wanted {"os":"darwin","arch":"any"} (current: {"os":"linux","arch":"arm"})

+ homeb

[2019-08-22 19:20] Nastras commented on #171
Step 1 - delete the harmony device from hk
Step 2 - stop hb and delete the folder accesories and persist
Step 3 - restart hb
Step 4 - connect hb again

Attention if you don't use instances of hb all devices are deleted after that.

[2019-08-22 19:23] Phoenix-DH commented on #171
Damn ... I don‘t use instances ... have all in one ...
But thank you.

[2019-08-22 19:25] nicoduj commented on #170
fsevents is not a problem at all .
You can try what worked for others : https://github.com/nicoduj/homebridge-harmony/issues/171#issuecomment-524040765

[2019-08-22 19:48] cmb991 commented on #170
Doing that worked one time.  Then I had to stop it and add nest back to my config to generate my 2fa pin for it.  The error came back as soon as I started it up again.  I tried deleting the same files and out of homebridge, but its just continuing to come up.

[2019-08-22 19:49] nicoduj commented on #170
How is cleanCache option set up in your config ?

[2019-08-22 19:54] genfersee opened #173 "[BUG] Some activity switches are disappearing after restart"
Dear team,

I think I have a very common issue. After installing the plugin and have it configured successfully (it is working great!), after some reboots and update to the very latest version 1.0.6, I got some of my activity switches which disapeared.
When checking the homebridge startup logs, we can see the following error:
`[2019-8-22 21:41:34] [Bern] WARNING - setupFoundAccessories - TV access

[2019-08-22 19:55] cmb991 commented on #170
{
            "platform": "HarmonyHubWebSocket",
            "cleanCache": true,
            "name": "VizioLR",
            "hubIP": "192.168.1.13",
            "showTurnOffActivity": false,
            "otherPlatforms": [{
              "name": "VizioMB",
              "hubIP": "192.168.1.16",
              "showTurnOffActivity": false
              }]
        },

[2019-08-22 20:12] genfersee commented on #173
Some more info...
I have 2 hubs in my Harmony account, but only 1 is declared in homebridge config.json
I have installed plugin version 1.0.6

[2019-08-22 20:39] guysbrown opened #174 "[BUG] TV Mode not working with latest update"
Hey,

The latest update broke the TV Accessory for me. It now shows without any Inputs and each activity (input) is show as a separate tile in the home app. None of them do anything when tapped.

See attached image.

![3589849F-6DDC-40AD-88D7-84564543D9AB](https://user-images.githubusercontent.com/46329244/63548003-42ff4c00-c525-11e9-8478-0541840369fb.jpeg)

I tried the clean cache option but it d

[2019-08-22 21:03] Krocko commented on #174
Same for me.
All was working with v.1.0.4
Updated to v.1.0.5 and the error occurred.

Edit: Updated to v.1.0.6 --> Problem solved

Edit2: With v.1.0.6 I have the problem from #175. I am back to v.1.0.4 for now.

[2019-08-22 21:54] BigKrisch opened #175 "[BUG] WARNING - configureAccessory - The platform is not there anymore in your config"
Hello,

since the update to 1.0.5 I get the following error message after the restart. After deleting the folder persist und accessoires the first start works again, but already after the second restart the error message appears again.
Version 1.0.4 runs without problems.

Aug 22 23:44:05 Raspberry-Homebridge homebridge[9690]: 2019-8-22 23:44:05 > [Wohnzimmer HarmonyHub] HarmonyPlatform Init
Aug 2

[2019-08-22 23:43] SafariKC commented on #172
Doh! I did end up with Phantom devices it just didn’t show up right away.  I’ll check the update and refresh my configs next time I’m home (unfortunately away for the weekend to play around right now)

[2019-08-23 02:14] Nastras commented on #171
I have updated to V 1.0.6 and the error occurs again

![3C25CA5F-3197-4CDE-A715-C8915EE7DE52](https://user-images.githubusercontent.com/27686185/63562035-698ca980-c55c-11e9-914b-34c2df624077.jpeg)

[2019-08-23 02:33] pponce commented on #173
I'm also seeing this behavior.
Some activities are disappearing. I had 3 activities missing.
Restarted homebridge  and two of them came back. Restarted again and one of the ones that came back disappeared again.
At the moment i'm missing 2 of my 5 activities as switches.
The activities do appear in the settings list for the tv platform though.
I'm running 1.0.6 and only have one harmony hub.

[2019-08-23 06:03] genfersee commented on #173
I unsintalled the plugin 1.0.6, reinstalled the version 1.0.4
Removed Homebridge bridge from Home app, deleted persist and accessories folders, emptied the trash, launched Homebridge with cleanCache option set to true in the plugin, killed homebridge, rebooted the PI, readded the Homebridge bridge in Home app, and now it looks ok again.

[2019-08-23 06:14] nicoduj opened #176 "-- 1.0.6 bugged - please stay on 1.0.4 --"
Sorry for that will fix as soon as possible

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-23 08:48] genfersee opened #177 "[BUG] TV mode: inputs button not showing when TV accessory is off"
Hello!

I have just configured by TV accessory by enabling "TVPlatformMode" option.
When the TV accessory is ON, I can indeed select an input via the inputs button which is shown on screen.

But when the TV accessory is OFF, the inputs button does not show like on this example:
[https://9to5mac.com/wp-content/uploads/sites/6/2019/01/HomeKit-TV-4.png](url)

Is it a bug, misconfiguration on my side,

[2019-08-23 08:55] nicoduj commented on #177
Hi,

It was changed in iOS 12.3 or 12.4 as far as I remember, maybe back In iOS 13 . Not on the plugin side , however automations can still power on a specified input .

Nicolas

[2019-08-23 08:57] genfersee commented on #177
Many thanks Nicolas,

Waiting for the option to get back in next iOS release then.

Kind regards,
Genfersee

[2019-08-23 08:57] #177 closed, assigned to nicoduj

[2019-08-23 09:19] genfersee opened #178 "[FEATURE] Best practice to handle 2 TV accessories when only 1 hub"
Dear all,

On my setup, I have 1 Harmony hub handling 2 TV sets.
Each TV set has dedicated activities.
What is the best practice to handle that?

Should I declare the same hub 2 times in the config.json homebridge?
Then, should I hide the irrelevant activities within each of the 2 configs?

Thanks in advance,
Genfersee

[2019-08-23 10:50] nicoduj commented on #178
Hi, I would do as you said I think

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-23 10:52] genfersee commented on #178
Many thanks! I will try this was and reopen the issue if needed.

[2019-08-23 10:59] nicoduj commented on #178
Don’t forget to put different names . The second one will have to be added manually . And please use 1.0.4 since .5 and .6 are buggy

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-23 13:36] vzlgdu opened #179 "[BUG]"
Hi, after a restart, I've the following errors.
Homebridge 0.4.50
Homebridge Harmony 1.0.6

ago 23 15:32:03 homebridgea homebridge[16617]: [2019-8-23 3:32:03 PM] [HarmonyHub] WARNING - setupFoundAccessories - TV accessory added in your bridge, if another plugin is exposing a TV accessory this one might not be visible in your remote widget
ago 23 15:32:03 homebridgea homebridge[16617]: (node:16617)

[2019-08-23 14:45] nicoduj commented on #179
Known bug, please stay on 1.0.4

Nicolas

[2019-08-23 15:32] pponce commented on #173
Here was my process to get back to a working config. I didn't have to remove homebridge from the home app or mess with the persist and accessories folders.

While on 1.0.6 i ran it with the "cleanCache": true, option.
Ran homebridge a couple of times for good measure (stopped and started homebridge a couple of times).
I then uninstalled 1.0.6 and the installed 1.0.4.

npm uninstall -g homebridge-h

[2019-08-23 16:32] vzlgdu commented on #179
Ok, thanks for your feedback. How can I download previous version?

Thanks

[2019-08-23 21:12] nicoduj commented on #179
I have published a 1.0.7 that should work as 1.0.4

[2019-08-23 21:12] #179 closed, assigned to nicoduj

[2019-08-23 21:13] #173 closed, assigned to nicoduj

[2019-08-23 21:13] #174 closed, assigned to nicoduj

[2019-08-23 21:13] #175 closed, assigned to nicoduj

[2019-08-23 21:13] #176 closed, assigned to nobody

[2019-08-23 21:15] nicoduj commented on #170
Ther ewas a problem in 1.0.5 / 1.0.6 . Please try again in 1.0.7, from a fresh start . You can follow those steps I think :  https://github.com/nicoduj/homebridge-harmony/issues/171#issuecomment-524040765

[2019-08-24 02:21] cmb991 commented on #170
Works now, thanks!

[2019-08-24 02:21] #170 closed, assigned to nobody

[2019-08-24 09:22] Acemach1ne commented on #179
Same to me after updating to 1.0.7. I cleaned the accessories cache but it doesnt help.

[2019-08-24 09:31] nicoduj commented on #179
follow those steps, https://github.com/nicoduj/homebridge-harmony/issues/171#issuecomment-524040765
or
https://github.com/nicoduj/homebridge-harmony/issues/173#issuecomment-524360232

[2019-08-24 21:31] adavison007 opened #180 "Multiple Hubs"
**Describe the bug**
Multiple hubs does not work using this template...

"platforms": [
  {
    "platform": "HarmonyHubWebSocket",
    "name": "HubName",
    "hubIP": "192.168.1.XX",
    "otherPlatforms": [{
      "name": "OtherHubName",
      "hubIP": "192.168.1.YY"
      }]
  }
]

**To Reproduce**
Use the template

**Expected behavior**
Two hubs in homekit... you see two hubs in the Homebridge U

[2019-08-24 21:57] DJay-X commented on #172
@nicoduj I think I have a similar issue. I noticed that the homebridge-alexa Plugin wasn't working correct and Alexa didn't found any Homebridge device. https://github.com/NorthernMan54/homebridge-alexa/issues/250

With the developer I found out, that the harmony plugin could be the issue because of the device name duplicate and length. In HomeKit the device names are to long like
"HarmonyHub-Appl

[2019-08-25 05:55] nicoduj commented on #180
Hi,

you have to add the second one manuallay in home app, as explained in the log and README, since second one will be necessary exposed as an external accessory . (It is in order to make both available in remote app in control center)
https://twitter.com/dujnic/status/1110644949027041282?s=21.

[2019-08-25 06:01] nicoduj commented on #172
Hi @DJay-X ,

First you can use this kind of syntax as explained in the readme, for devicesToPublishAsAccessoriesSwitch :
Apple TV Gen 4|Button1;Play -> it will add a switch for "Apple TV Gen 4" "Play" command, named Button1.
[code]

But mostly, for all other services (or this one) you just have to rename in home app, and this would -be the Siri name that ios / siri will use.

[2019-08-25 09:39] adavison007 commented on #180
@nicoduj Thanks, OK, so I deleted the plugin in and code, cleaned the cache, reinstalled the plugin and then entered the below config... the first HUB and TV appear fine.... when I go to "Add Accessory" nothing appears to add (I'm trying to add a 2nd Harmony Hub and TV), can you let me know what I have done wrong?

        {
            "platform": "HarmonyHubWebSocket",
            "name": "Harmo

[2019-08-25 09:57] adavison007 commented on #180
OK, worked it out... so you do use the two hub code, then add manually.. simple.... the instructions were a little confusing.... but thanks for the support, love the app.

Code I used

        {
            "platform": "HarmonyHubWebSocket",
            "name": "Harmony-Kitchen",
            "hubIP": "10.173.XX.XX",
            "mainActivity": "Kitchen Sky TV",
            "otherPlatforms": [

[2019-08-25 10:14] nicoduj commented on #180
Feel free to make a pull request on the readme if you think you can describe better how to do it :)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-25 10:14] #180 closed, assigned to nicoduj

[2019-08-25 11:01] DJay-X commented on #172
Can't see the wood for the trees. This was it and worked for me! This of course shortened the system device names directly and by doing this also other Plugins like homebridge-alexa are working now again.
Sorry I had to steal this time from you. I appreciate your work, sharing and your friendly support. 👍

[2019-08-25 12:11] NorthernMan54 commented on #172
@nicoduj The homebridge-Alexa dev here, my plugin is expecting each switch within an accessory to have a unique name, as it includes the name as part of the device identifier.  In the plugin, I don’t have access to name changes made in the Home app, as this is not passed back to homebridge.  I had originally used the HomeKit internal identifiers ( AID AND IID ) as the unique key, but found that th

[2019-08-25 13:44] genfersee commented on #178
Hi Nicolas,

I have tried the following:
`

		{
		"platform": "HarmonyHubWebSocket",
		"name": "Harmony_Sejour",
		"hubIP": "192.168.xx.yy",
		"TVPlatformMode" : true,
		"mainActivity" : "Apple TV Sejour",
		"switchAccessories" : true,
		"activitiesToPublishAsInputForTVMode" : ["Cable Sejour","Apple TV Sejour","PS3 Sejour","Airplay Sejour"],
		"activitiesToPublishAsAccessoriesSwitch" : ["Cable Sej

[2019-08-25 16:38] adavison007 commented on #180
No idea how to do that... some wording

INSTALLATION FOR MULTIPLE HUBS

Firstly use the following code, ensuring that you have fixed IP address applied to your hubs. Then once you have the config in the JSON, restart homebridge.. NOTE - Only the TV for the first hub will appear in Homebridge, the 2nd one, 3rd etc will need you to click ADD ACCESSORY in homekit and add them manually.  (the manual a

[2019-08-25 18:58] genfersee commented on #178
And after a few homebridge restart, I now got some similar issue as with 1.0.5 or 1.0.6:
`
[2019-8-25 20:51:23] Error: Cannot add a bridged Accessory with the same UUID as another bridged Accessory: 7717e79c-aec8-44df-b515-cf0350d252b2
    at Bridge.Accessory.addBridgedAccessory (/usr/lib/node_modules/homebridge/node_modules/hap-nodejs/lib/Accessory.js:268:13)
    at Server._configCachedPlatformAc

[2019-08-25 20:22] nicoduj commented on #178
Sorry, i answered too quickly. You must set only one platform with a second one as subplatform

[2019-08-25 20:25] #172 closed, assigned to nicoduj

[2019-08-26 06:10] genfersee commented on #178
Thanks a lot, clear!

I have reconfigured cleaned and readded homebridge from scratch in Home app. During that process, only the first TV accessory was added (but with the accessory switches of first TV and secondTV), I believe it is normal? Then I added manually the second TV accessory.
Should be ok now.
But I still have the initial problem which is that first TV accessory gets ON if I launch som

[2019-08-26 06:39] nicoduj commented on #178
Hi, will check might be an issue by my side in this particular case

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-27 05:53] RandomMetalhead opened #181 "Use case for Audio"
Hi together,

First of all, thanks a lot for the effort with this plugin!

I am having a use case, which is not fitting perfectly and maybe there is a ootb solution, I am not seeing at the moment.

Following setup:
- Plugin in TV Plattform Mode
- Philips TV
- Audio System controlled via HarmonyHub

Problem:
When I start my audio system, TV in HomeKit also starts, because “Audio System” is a Input

[2019-08-27 17:53] nicoduj commented on #181
Hi,

What is your audio system ? You can always exclude the avtivity from tv and add a switch for it for example i think (options activitiesToPublishAsAccessoriesSwitch And activitiesToPublishAsInputForTVMode)

[2019-08-27 19:04] RandomMetalhead commented on #181
Hi,

I tried to show my usecase in a image.

<img width="1792" alt="Bildschirmfoto 2019-08-27 um 21 00 07" src="https://user-images.githubusercontent.com/1662570/63800269-1032ca80-c90e-11e9-9ecc-b97ba18c73a9.png">

config looks like this

[code]

Problem: I use the "TV turned on" for automatically turn down lights via automation. Which I do not want with Audio. So TV should not turn on, when using

[2019-08-27 19:32] drako86 opened #182 "[BUG]"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**IOS (please complete the following information):**
- Version [e.g. 22]
- Device: [e.g. iPhone6]

**Logs**
You

[2019-08-27 19:37] drako86 opened #183 "[BUG] showTurnOffActivity = False non work"
in configuration, if the string is set to "false" ... the button does not disappear in Homekit

[2019-08-27 19:37] #182 closed, assigned to nicoduj

[2019-08-27 19:38] nicoduj commented on #181
Understood, i think i know what is happening will try to fix (Seems same thing that #178)

[2019-08-27 19:40] nicoduj commented on #183
If you have set it to true then to false, you need to clean your cache in current versions (auto cleaning not supported on accessory level)

[2019-08-27 19:42] nicoduj commented on #171
Hi, is this issu ok for everyone in 1.0.7 ?

[2019-08-27 19:43] nicoduj commented on #143
Grouped with #167

[2019-08-27 19:43] #143 closed

[2019-08-27 19:54] Phoenix-DH commented on #171
Had no chance to try until now.

[2019-08-27 20:00] drako86 commented on #183
Would you be so kind as to tell me how to do it?
Or a link to where to read?
Thank you

[2019-08-28 02:18] Nastras commented on #171
Everything is fine again! Thank you!

[2019-08-28 04:42] nicoduj commented on #183
You can try option cleanCache as mentioned in the readme on this github (branch dynamic platform) first :
- Set cleanCache to true in your plugin config
- Restart homebridge
- Stop homebridge
- set cleanCache to false (or remove property)
- Start Homebridge

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-30 05:59] Acemach1ne commented on #179
My problem is solved.
I had a accessory named "TV" and it only happens with "TV". In older versions that wasn't necessary.

[2019-08-30 06:09] nicoduj commented on #179
Thanks for feedback . Indeed there was no cache mechanism in older version. Introducing cache prevents loosing accessories if homebridge starts with a hub that is not reachable but it is a bit more complicated to handle config changes

[2019-08-30 06:19] vzlgdu commented on #173
Hi all. Only to recap:
I'm with version 1.0.4 and I would upgrade to 1.0.7.
1 -  can I upgrade directly from config ui-x?
2 - should I use before the "cleancache" parameter?
3 - should I uninstall and after install the new version to avoid all errors?
Following my config:

        {
            "platform": "HarmonyHubWebSocket",
            "name": "HarmonyHub",
            "hubIP": "x.x.x.x",

[2019-08-30 07:14] nicoduj commented on #173
@sherazan hi, if you don’t have any problem with 1.0.4 you can just update through config ui-x . 1.0.7 seems fine from user feedback I have

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-30 07:21] vzlgdu commented on #173
Done! No problem after restart! Thanks!

[2019-08-30 08:21] bubez81 opened #184 "ERROR - refreshCurrentActivity TimeoutError: Can't open WebSocket within allowed timeout: 10000 ms"
hello, it's days that often i see the harmony activity "not responding"
 the homebridge log says:
ERROR - refreshCurrentActivity TimeoutError: Can't open WebSocket within allowed timeout: 10000 ms
it's a bug or a problem of my Harmony Hub?

Best regards,
Michele.

[2019-08-30 08:27] nicoduj commented on #184
It seems your hub is not reachable in time on your network . Check the les of your hub (red / green) and your network, try rebooting your hub maybe

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-30 13:15] bubez81 commented on #184
yes, often the led become red and then green again in 1 minute.
Maybe my hub conflicts witch my router? (Orbi netgear mesh)

[2019-08-31 18:20] #166 closed, assigned to nicoduj

[2019-08-31 18:20] #167 closed, assigned to nicoduj

[2019-08-31 18:20] #171 closed, assigned to nicoduj

[2019-08-31 18:20] #178 closed, assigned to nicoduj

[2019-08-31 18:20] #181 closed, assigned to nicoduj

[2019-08-31 18:20] #183 closed, assigned to nicoduj

[2019-08-31 19:01] nicoduj commented on #184
I have an orbi RB40 myself and doesn't have those issues. Can you share your config ?

[2019-09-01 11:36] genfersee commented on #178
Hi Nicolas,
I just updated from 1.0.4 to 1.1.0, I see this is really working great and as expected now with my 2 TV sets under the same hub! Thank you so much for your great work!!
Kind regards,
Genfersee

[2019-09-01 13:03] RandomMetalhead commented on #181
Works perfectly. Thanks for your hard work!

[2019-09-01 15:42] jasehigh opened #185 "remoteOverrideCommandsList not working as expected [BUG]"
I have 3 different harmony remotes, each running in a separate instance of homebridge-harmony. The 3 remotes are:

- Lounge: Harmony Elite
- Media Room: Harmony Ultimate
- Bedroom: Harmony Companion

Each of these remotes have the same activity in the Harmony app:
- "Sky TV"

This activity uses the same device:
- "Sky Q"

I have set-up a remoteOverrideCommandsList for the iOS TV remote control, so

[2019-09-01 15:59] nicoduj commented on #185
Hi, first You can try to activate option showCommandsAtStartup option or launch in debug mode and check hub config / log when pressing the key. What version of the plugin are you using ?

And by the way, why are you using 3 instances (3 homebridge instances, not 3 platform on the same homebridge, right ?), and not the otherplatforms option with externalAccessories if you want the 3 remotes ?

<sub

[2019-09-01 16:22] jasehigh commented on #185
I've set the "showCommandsAtStartup" option to true, and started the bedroom instance in DEBUG mode. Output below...

[code]

[2019-09-01 16:33] nicoduj commented on #185
From what I see your Sky Q device does not have any "Menu" command. Maybe "Home" ? or "?" ? or "Info" ?

[9/1/2019, 5:15:53 PM] [Bedroom] INFO - Command : PowerToggle discovered for device : Sky Q
[9/1/2019, 5:15:53 PM] [Bedroom] INFO - Command : Number0 discovered for device : Sky Q
[9/1/2019, 5:15:53 PM] [Bedroom] INFO - Command : Number1 discovered for device : Sky Q
[9/1/2019, 5:15:53 PM] [Bed

[2019-09-01 16:37] jasehigh commented on #185
Yep... very odd. The Menu button is assigned to Sky Q -> menu and is working on the actual remote. I'll try re-assigning the button in the Harmony app.

[2019-09-01 16:45] jasehigh commented on #185
Change the config to use "Home" instead of "menu" did the trick.

[code]

Odd how this remote is different to the others... maybe a change in the profile on Harmony's side.
showCommandsAtStartup option is really useful.

Thanks for all your assistance.

[2019-09-01 16:45] #185 closed, assigned to nicoduj

[2019-09-01 18:54] nicoduj commented on #147
@krazyflipj do you still have the issue ?

[2019-09-01 18:56] nicoduj commented on #145
Seems it is not possible at all :( Moreover, since IOS 12.4 (and it is the case alos in 13.1), you can't anymore activate on a dedicated input ...

[2019-09-01 18:56] #145 closed

[2019-09-01 18:57] nicoduj commented on #111
closing this one since I finally add my paypal account on readme page :)

[2019-09-01 18:57] #111 closed

[2019-09-01 19:36] bubez81 commented on #184
sure, but I'm thinking this is not the real problem...now I have tested the same configuration on a raspberry...no problems at all....before I used a macmini as a server...

[2019-09-03 11:26] #184 closed, assigned to nicoduj

[2019-09-04 02:42] AdmiralMichael opened #186 "[BUG] TypeError: Cannot read property 'name' of undefined"
I run a dedicated docker container for each Homebridge platform I use. Currently I have my harmony platform setup for three hubs. I added individual platforms in the config file for each hub and it works, that is until I restart the container.

I can fix it by deleting the accessories and persist folders but that resets all my harmony accessories in HomeKit (One reason I run one container per plat

[2019-09-04 03:57] nicoduj commented on #186
Hi, your config is not good , you can’t have 3 platforms on the same homebridge, you must use otherplatforms syntax / see readme / migration guide from 0.7 to 1.x

[2019-09-04 10:04] AdmiralMichael commented on #186
Oh. Well it works on the first load so I figured it was ok to have three.

[2019-09-04 20:42] AdmiralMichael commented on #186
OK I tried what you suggested and it works great now. I now see the bolded paragraph about using the otherplatforms option.

[2019-09-04 20:42] #186 closed, assigned to nicoduj

[2019-09-04 22:43] bonebox opened #187 "[BUG] Hub no longer appears in Home app Add Accessory list after deleting accessory and entering setup code"
**Describe the bug**
If you add the hub to HomeKit as an external accessory via the provided setup code, then delete it from HomeKit and attempt to add it back, it no longer appears in the list after entering the setup code.

**To Reproduce**
1. In the Home app, add Harmony hub as TV-Mode accessory via the setup code provided by homebridge-harmony.
2. In the Home app, delete the accessory.
3. Repe

[2019-09-05 04:42] nicoduj commented on #187
Hi, did you try with publishalltvasexternalaccessories to off ? (Maybe you have another tv accessory in the same hub ?) . When you say remove the hub, you removed the hub OR the accessory ? The first tv is still there or both are missing ?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-09-05 07:13] bonebox commented on #187
Initial config was without `publishAllTVAsExternalAccessory` (so false) but I had two entries under “otherPlatforms” because I was still a little confused on how to migrate my old config. No TV accessories showed up automatically when I ran it like this the first time. So I used the code in the log, and both of my hubs showed up under “add accessories”. I only added one, but then deleted it once I

[2019-09-07 08:10] nicoduj commented on #187
I see you are in ios13, didi you try deleting the hub itself (not the accessory, hub is now in ios13 in home properties) ?
If your homebridge is dedicated / you are not worried about having to reconfigure scenes in homekit with other accessories exposed, you can try also deleting persist folder in homebridge, and add again through homekit.
I will try to reproduce as soon as I can

[2019-09-07 20:24] bonebox commented on #187
Thanks, I deleted the homebridge hub from properties but it wouldn't allow me to add it back until I deleted the persist folder as well. This did allow both harmony hubs to show up again under "add accessories". However, after I add the first one, the second one no longer shows up when I go back to add it, so apparently I'm only able to add one of them.

[2019-09-07 20:36] bonebox commented on #187
Nevermind, it took a couple minutes, but the second one finally showed up in the list. Odd since it showed up almost immediately the first time along with the other one. I had actually sat my phone down and when I came back it was showing in the list, but when I tried to add it it failed. So I tried it again, and again it took a few minutes to show up, but finally did. This time it added successfu

[2019-09-07 20:38] bonebox commented on #187
Back to the original issue, I noticed in the persist folder that there are files that correspond to each accessory. I'm wondering if you can just delete the individual file associated with the TV accessory rather than deleting the entire homebridge hub.

[2019-09-07 20:38] #187 closed, assigned to nicoduj

[2019-09-08 06:10] nicoduj commented on #187
Hi, did you try by entering the code manually without waiting ?

[2019-09-08 12:56] bonebox commented on #187
Yes, I entered the code each time. Before either of my Harmony hubs were added as a TV accessory, they showed up immediately when I entered the code. After adding the first hub then returning and entering the code again, it takes a while for the second to show up for some reason.

[2019-09-09 17:34] Phoenix-DH commented on #171
I tried it now again....
Still the same... from homebridge log:
[code]

What I now figured out, is that when I manually clean up the cachedAccessories file there are always generated 2 entries ... also after reboot etc....

For me it seems that my old config files are used ..... But the config.json is actual ...

Still no clue .... Damn, thought now to be able to use the latest version, will not l

[2019-09-10 12:28] carlovd1991 opened #188 "[BUG] Home shows GeneralMuteSwitch while disabled in config"
**Describe the bug**
My Home app displays the General Mute Switch accessory while I have this field disabled

**To Reproduce**
Restarted Homebridge, docker, rebooted Raspberry Pi. Still no luck.

**Expected behavior**
Home app not showing this accessory while field disabled in config.

**IOS (please complete the following information):**
- Version 12.4.1
- Device: iPhone 6s and iPad Air 1

**Logs*

[2019-09-10 14:56] nicoduj commented on #188
Hi, did you activate it before ?

[2019-09-10 14:58] nicoduj commented on #171
Hi , did you delete files while homebridge was stopped ? It recreates it at shutdown

[2019-09-10 15:01] carlovd1991 commented on #188
Yes, I activated it to see what it was but I don’t need it. Now I can’t get rid of it.

[2019-09-10 15:26] Phoenix-DH commented on #171
Hi, yes I copied the files to my desk, changed them and copied them back when bridge was stopped.

Can imagine than deleting the things in cachedAccessories manuallynis the same than using the cleanCache switch?

[2019-09-10 15:27] nicoduj commented on #188
I quickly checked the code and it should be removed at next start . Will try to reproduce ASAP , but do you see logs like WARNING - Accessory will be Removed ? If you launch in debug , what do you have in confirmed service log ?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-09-10 15:31] nicoduj commented on #171
Are you sure you have deleted everything properly ? Can be tricky I think :( there are also references in persist folder that might be your issue. I fear that the safest way to do so is to remove everything

[2019-09-10 15:59] Phoenix-DH commented on #171
I don‘t know ... I only know about the cachedAccessories file....
In the persist folder I only had a quick look and saw no real hint...

Removing everything is no possibility ...

I will try an additional instance instead.

[2019-09-10 16:20] Phoenix-DH commented on #171
... and thisnis why I asked if this is the same like the cleanCache ... Because this really seems to be the problem in my case.

[2019-09-10 16:27] nicoduj commented on #171
You Can try cleancache but I fear that since you tried a lot there is something messed up . Will check if I can do some modification in the code to better handle your problem, meanwhile you can also send me your cached / persist folder so that I can « check » .

Nicolas

[2019-09-10 16:32] Phoenix-DH commented on #171
Tried a lot in the past ...

But I always restored last working version via backup.
But that would be great.
To which adress should I send the content?
Can took 1-2 days ...

[2019-09-10 16:51] nicoduj commented on #171
Email on my github profile. The thing is I think you have something in your backup ... maybe in persist folder that was there, deleted on the new version is trying to add it again . The problème is to understand which one!

[2019-09-11 21:36] carlovd1991 commented on #188
After reboot, Homebridge restart and Docker container restart I keep getting this in the log:

//

[9/11/2019, 9:34:10 PM] [CarloHarmonyHub] DidFinishLaunching
[9/11/2019, 9:34:10 PM] [CarloHarmonyHub] INFO - Loading activities...

----- Some other plugins -----

[9/11/2019, 9:34:12 PM] [CarloHarmonyHub] (CarloHarmonyHub)INFO - configuring Main TV Service
[9/11/2019, 9:34:12 PM] [CarloHarmonyHub]

[2019-09-14 18:57] nicoduj commented on #188
"publishGeneralMuteSwitch": false
and not
"publishGeneralMuteSwitch": "false"

-> will try to handle this better but currently it is a boolean sorry . Or remove the option it should also work !

[2019-09-14 18:57] #188 closed, assigned to nicoduj

[2019-09-17 18:02] mbial opened #189 "2 hubs, both as TV accessories - can only publish accessory as switch on first hub"
I am running 2 hubs.  Both are using default "TVAccessory": true.

If I use "activitiesToPublishAsAccessoriesSwitch" for a specific activity, it works for ONLY the first listed hub in my config file.

If I add "activitiesToPublishAsAccessoriesSwitch" for a specific activity on the second-listed hub, it doesn't publish.
<img width="610" alt="Screen Shot 2019-09-17 at 1 51 44 PM" src="https://user-i

[2019-09-17 18:05] nicoduj commented on #189
hi,

syntax seems to be bad for activitiesToPublishAsAccessoriesSwitch, it needs to be an **array**, like that :

"activitiesToPublishAsAccessoriesSwitch": ["Listen To Sonos"]

[2019-09-17 18:34] mbial commented on #189
Thank you for the quick response. Unfortunately, when I make the suggested change (and this time included the "activitiesToPublishAsAccessoriesSwitch": ["Listen To Sonos"] for the second hub) I have the same result; only the first hub publishes the specified activity.
<img width="543" alt="Screen Shot 2019-09-17 at 2 33 30 PM" src="https://user-images.githubusercontent.com/8181777/65069187-273a6a8

[2019-09-17 18:38] nicoduj commented on #189
Can you share your logs (in debug mode if possible) ? Are you sure of the name of the activity on the second hub ? Is it published well on the second TV accessory ?

[2019-09-17 18:44] mbial commented on #189
Found my error.  Definitely not a bug on your end.  The name of the activity on the second hub was "Listen to Sonos" with a lower case "t".  So the activities are case sensitive!!  Once I changed the name on my Harmony hub to match "Listen To Sonos" with a capital "T" and restarted Homebridge, everything is working perfectly.  Thanks for all your work on this - it's a great plugin that adds a lot

[2019-09-17 18:45] nicoduj commented on #189
Great, indeed it is case sensitive, maybe I could do it insenstivie indeed since that could lead to a lot of confusion !

[2019-09-17 18:45] #189 closed, assigned to nicoduj

[2019-09-17 18:47] nicoduj opened #190 "Make names in config (activities, commands ..) Case insensitive"
Since everything is case sensitive in config (activities name, device names, commands names ...) maybe it would be great to do it case insensitive to avoid errors

[2019-09-19 12:05] mikesalz opened #191 "Hubs disappeared and can't get them back"
I am hoping you can help! I have 3 Harmony hubs, and all were working perfectly.  Yesterday, my Homebridge crashed.  I couldn't figure out what was wrong, so I restored a backup from a couple of weeks ago.  Since then, 2 of the 3 hubs no longer show up in HomeKit.  I do see them in the Homebridge log, however.

I know that additional hubs need to be added manually through the Home app, but they ar

[2019-09-19 16:19] nicoduj commented on #191
Hi, did you try to enter manually the code while adding a device in home ? ![GitHawk Upload by nicoduj](https://i.imgur.com/4Oze8Va.jpg)![GitHawk Upload by nicoduj](https://i.imgur.com/9qwryHx.jpg)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-09-19 16:32] mikesalz commented on #191
I did... In the Homebridge log it says:
Please add [MasterBedroomHarmonyHub-TV] manually in Home app. Setup Code:
031-xxx-xxx

That is the same setup code as the Homebridge installation.  So when I
enter that code, it tells me the device has already been added.  Am I doing
something wrong?

On Thu, Sep 19, 2019 at 12:19 PM Nicolas Dujardin <notifications@github.com>
wrote:

[2019-09-19 16:38] nicoduj commented on #191
I think you have files in your persist folders for those accessories , maybe they need to be removed .
Maybe I a doing something wrong in this particular case, will check ...

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-09-20 00:19] mikesalz commented on #191
I tried removing from the persist folder the AccessoryInfo files that referenced the Harmony hubs.  But that blew up Homebridge.  I also removed references to the hubs from the accessories\cachedAccessories file, but that did not help either.  Any other ideas?

[2019-09-20 00:48] mikesalz commented on #191
I figured it out!  Stupid me... I needed to remove the "Not Responding" hubs from the Home app.  I did that and removed them from the cachedAccessories file and then I was able to add them back to HomeKit.

[2019-09-20 04:30] nicoduj commented on #191
👍 I thought they were not there anymore :)

Nicolas

[2019-09-20 10:38] dewoert opened #192 "IOS 13 shows extra (Not Supported) accessory?"
I updated one of my iPhones to IOS 13, and having some issues getting the Harmony to show up correctly.
On my IOS 12 iPhone, I have a perfect working icon Harmony. I can select directly witch input i want.
Same HomeKit on IOS 13 gives now the Hamony tile, but "behind" that is an extra accessory called TV.
When i look into HomeBridge Config UI X, is can see an "Not Supported" accessory, in the prop

[2019-09-20 11:39] nicoduj commented on #192
Hi, Tvaccessory includes different services (speaker, inputs ..)
I have no problem on iOS13, did you try restarting homebridge / home app ? Can you share screenshots ?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-09-20 11:45] dewoert commented on #192
![20190920_114228000_iOS](https://user-images.githubusercontent.com/18567064/65324542-cf487180-dbac-11e9-8c4f-6ce51f27afc2.jpg)
![20190920_114255000_iOS](https://user-images.githubusercontent.com/18567064/65324547-d3748f00-dbac-11e9-83ff-1a7bc2e026d3.png)
![20190920_114313000_iOS](https://user-images.githubusercontent.com/18567064/65324553-d8394300-dbac-11e9-953b-e5627d733cf0.jpg)
![20190920_11433

[2019-09-20 11:47] dewoert commented on #192
my current config:
[code]

[2019-09-20 12:03] dewoert commented on #192
Screenshots from HomeBridge Config UI X:
![screenshot_7](https://user-images.githubusercontent.com/18567064/65325555-75957680-dbaf-11e9-9a4f-c9c8c4967712.png)
![screenshot_6](https://user-images.githubusercontent.com/18567064/65325557-77f7d080-dbaf-11e9-915e-1c641734006c.png)

[2019-09-20 13:13] nicoduj commented on #192
Ok, maybe it is because it is published as an external device and iOS 13 messed  with it . Try deleting in home app and readd

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-09-20 15:38] dewoert commented on #192
**Problem solved !**
It turns out that I had an activity with the name "TV".
Also an device named TV.
IOS 12 doesn't seem to mind, but in IOS 13 things have changed.
So I renamed the activity, and now things are working like it should be.

[2019-09-20 15:38] #192 closed, assigned to nicoduj

[2019-09-20 15:42] mikesalz commented on #191
Yeah, I don't know what I was thinking.  I guess I assumed I could not manually remove them from the Home app if they were part of Homebridge.  Anyway, I am good now.  Thanks for your help!  And thanks again for creating an awesome plugin!

[2019-09-20 15:54] #191 closed, assigned to nobody

[2019-09-20 15:55] nicoduj commented on #192
Interesting ... iOS 13 is buggy however so might be a bug there :)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-09-25 18:00] slunat opened #193 "[BUG] Duplicate Dead TV Remote still showing"
I have just reinstalled windows and started my homebridge setup again. THe only thing I carried across was my config file. In the TV remote, I am still getting my old TV show up. I have removed the old bridge from my homekit stup and the old tv device is no longer there but I can still see the old TV remote. When I start homebridge, my config shows the following error:
TV accessory added in your b

[2019-09-26 08:37] nicoduj commented on #193
Hi, Did you check in ios13 if you have removed the old hub ? (and not only the device) . Hubs are now in home properties

[2019-09-26 09:21] Phoenix-DH commented on #171
Hey again,

I tried now the following:
Removed the config for harmony
Restarted the homebridge
Updated the plugin

But now in the logs I see:
[2019-9-26 11:07:46] [homebridge-harmonyHub.HarmonyHubWebSocket] WARNING - configureAccessory - The platform Media is not there anymore in your config (name property). It won't be loaded and will be removed from cache.

And the device is still visible in the

[2019-09-26 09:37] slunat commented on #193
Yes, Before I reinstalled Homebridge and reset it up, I deleted the old homebridge. None of my old homebridge devices show up in the home app, not even the TV. The only location I see a reference of the old TV is in the remote widget, as I now have two tv's to select from, both called "Suly's TV".
In my homebridge log, I can see the following message:
[Sulys TV] WARNING - configureAccessory - TV a

[2019-09-26 09:41] Phoenix-DH commented on #171
I saw that the last ID the device had was the following: 487d4f8b-5b8d-46d0-b579-9f76a783e239

If I check my IdentifierCache.CC223DE3CE30.json file, which is the one from homebridge, I can still find this ID inside, but I do not know how to edit this file ....

Can you maybe help me out if you know how? Thank you.

I sent you the file via mail!

Many thanks!

[2019-09-26 09:58] nicoduj commented on #193
the warning is just in case you have other plugins exposing a TV accessory. The one there is not exposed as an external one since you have only one from what I understand.
Did you simply try to restart your phone ? It is a cache problem on IOS side I think, if the TV is not in home app.

[2019-09-26 10:44] slunat commented on #193
I've not tried that yet, I will give it a go when I am at home later. I also want to see if any of my other devices are showing mutiple TV's.

[2019-09-26 11:01] nicoduj commented on #193
Ok, let's do that and come back to me !

[2019-09-27 08:14] slunat commented on #193
I had a look when i got home and the duplicate remote had disappeared, without me even restarting anything. Looks like you are right and iOS was just caching it and got rid of it. All is showing ok now :)

Thanks!

[2019-09-27 08:14] #193 closed, assigned to nicoduj

[2019-09-29 20:08] wissamoh opened #194 "ERROR - activityCommand : could not SET status, no data"
I activated the Homebridge-harmony plugin and then added the "Simple Config (only TV Accessory)" gson code to the json file and I got the harmony hub showing on HomeKit and all the harmony activities showing as inputs. But surprisingly only one activity is showing the following error in the Homebridge logs each time I select this activity input. An I couldn't get it to work while all the other act

[2019-10-01 04:40] nicoduj commented on #194
Hi, could you try in debug mode to see what activity is retrieved and the code sent while changing to this one ? It would be usefull to have your hub config as well, what kind of activity is it ? The error is because when we send the activity to the hub, it returns no error but also no data at all.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-10-01 04:40] #147 closed

[2019-10-04 16:05] nicoduj opened #195 "Error switch accessories and tv accessory"
If an activity is named TV and you want to publish both a tv accessory and switch accessories , duplicate accessory error will trigger

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-10-04 18:29] nicoduj commented on #194
@wissamoh any news on this ?

[2019-10-05 07:51] #195 closed, assigned to nicoduj

[2019-10-05 07:57] nicoduj commented on #195
Many thanks to @Phoenix-DH on helping fixes this one

[2019-10-06 19:34] wissamoh commented on #194
Hi Nicoduj,
II tried debug mode and here is what I get when I clic on the activity that its having the issue. ( by the way this activity is just having the same devices (TV + sound system) as the working ones....but this one has a satellite receiver while the others are just Apple TV and Fire TV...
the non working activity works perfectly in harmony...I have the issue only in the Homebridge/Homeki

[2019-10-06 20:19] nicoduj commented on #194
Hi, is the activity name OSN ? Could you post the full log since homebridge start and your config ? The error is quite strange

[2019-10-09 19:35] wissamoh commented on #194
Hi @nicoduj, yes actually the activity name is OSN. And I attached the log from the beginning of the hub launching...I tried to remove all the logs related to other platforms than Harmony...
at the end of the log I tried to initiate the Apple TV activity which work well, and then at the end I laughed the OSN activity which failed to start.
Thanks in advance for your time and support, Appreciated.

[2019-10-10 17:55] nicoduj commented on #194
Ok, so I checked your log an this "OSN" activity seems a bit different :
- type is  "VirtualTelevisionN" and not "VirtualGeneric"
- it has rules  [ "start","end" ]

However, I don't really know what it means yet, and don't have such activities by my side. Does it means something to you ?

[2019-10-10 17:57] nicoduj commented on #194
for rules, maybe you set that : https://support.myharmony.com/en-us/schedule-activity ? Could you try without if it is the case ?

[2019-10-10 18:52] wissamoh commented on #194
Hi nicoduj, Well that's very odd, I really don't know why I'm getting the "VirtualTelevisionN" as type and not "VirtualGeneric".
I don't have any rules configured for this activity.

But finally I created a new activity called "testOSN" that has the same inputs and  configuration as OSN activity and it's working perfectly without any issues, and the type is "VirtualGeneric" for it. thanks a lot fo

[2019-10-10 18:53] wissamoh commented on #194
by the way I still have the OSN activity configured if you ever want to further troubleshoot that for any reason.

[2019-10-11 04:41] nicoduj commented on #194
Hi, I will add an issue for this but don’t really no yet if I will be able to fix it and where this type comes from !

Concerning your question, there is no way to show more buttons. However you can override their default behavior per input through your plugin config : see remoteOverrideCommandsList option

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-10-11 17:33] nicoduj opened #196 "[BUG] - activities with type VirtualTelevisionN"
**Describe the bug**
Activities with type "VirtualTelevisionN" can't be activated

**To Reproduce**
Don't know

**Expected behavior**
Activity should be launched like others

**Logs**
[10/6/2019, 10:29:42 PM] [Harmony] (Harmony)INFO - activityCommand : Returned from hub {"cmd":"harmony.activityengine?runactivity","code":401.2,"id":"0.8625857504460019","msg":"Unauthorized policy write haDevice deni

[2019-10-11 17:33] #194 closed, assigned to nobody

[2019-10-11 17:34] nicoduj commented on #196
If anyone knows how to produce such kind of activity, please fill in since I won't be able to fix or try to if I can't reproduce with my own hub

[2019-10-11 17:48] nicoduj commented on #196
needs  to be confirmed since error code means autorisation is not ok, maybe there was some other thing in the ocnfig in the original report I did not see.

[2019-10-17 10:03] mensa84 opened #198 "[BUG]"
Hello I am running homebridge-harmony@1.1.1 with homebridge@0.4.50.

I currently have 3 Harmony Hubs in my LAN but as it seems homebridge-harmony can only handle max. 2.

Could you please check?

My config is the following:
[code]

Then Only 2 television do appear, the third one does not appear.

Config with only 2 hubs works welle:
[code]

[2019-10-18 07:05] nicoduj commented on #198
Hi,

The config seems fine, can you share your logs please ? Did you add manually the 2 other ones in home app ?

[2019-10-18 07:50] mensa84 commented on #198
Sorry, I just forgot that I have to add TVs manually. It worked now :)

[2019-10-18 08:09] #198 closed, assigned to nicoduj

[2019-10-22 01:09] raphaeldavid opened #199 "[BUG] Second hub"
**Describe the bug**
Since the Homebridge docker update, I only see one of my hubs

**To Reproduce**
Add 2 hubs to your config

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
![Capture d’écran, le 2019-10-21 à 21 07 14](https://user-images.githubusercontent.com/10728443/67253658-e21dc280-f446-11e9-9b81-df9140b30761.jpg)

**IOS (please compl

[2019-10-22 04:38] nicoduj commented on #199
Hi, is your second hub still discovered by the plugin ? (Check logs).
If yes you can try first to reboot your phone / HomeKit hub .

If this does not work, and since I think the hub missing is the one that was added manually as an external device, try removing it in home app, and add it again .

I really don’t know what happened, external device relies on bonjour protocol so maybe the update of yo

[2019-10-22 17:49] raphaeldavid commented on #199
Thank's for your quick answer.

I erased it and put it back and it works now.

Thank,

[2019-10-22 17:49] #199 closed, assigned to nicoduj

[2019-10-27 18:30] reffr opened #200 "Second Hub - wants setup code"
I'm trying to add my second hub. If I manually go to add the second hub (from the Home app on iOS) it sees the second hub. I try to add it but it wants a setup code.  What is the code or what am I doing wrong?

Thanks,
Rob
   {
            "platform": "HarmonyHubWebSocket",
            "name": "Greatroom",
            "hubIP": "192.168.1.118",
            "otherPlatforms": [
                {

[2019-10-27 18:33] nicoduj commented on #200
Hi,

the code is written in homebridge log, at startup.

[2019-10-27 18:37] reffr commented on #200
Thank you so much for the quick response and the help. Sorry I missed that detail!!!!

Take care great plug in!
Rob

Sent from my iPhone

[2019-10-27 18:43] nicoduj commented on #200
you're welcome, thank you for the support :)

[2019-10-27 18:43] #200 closed, assigned to nicoduj

[2019-10-29 12:04] mensa84 opened #201 "[FEATURE] Possibility to control other HomeKit device by Harmony remote?"
Hello,

is it possible to control another HomeKit device by a button on the Harmony remote?

For example when I am in activity "TV" and press the button 0 on my Harmony remote my Nuki door lock should unlock the door.

Maybe this i currently already possible?

Or would it be possible in the future for example with a fake device/switch which activates when I press for example button 0 on my remote?